[2022-05-04 08:39] JanStreffing opened #659 "Error when runscript does not exist"
When trying to run a runscript that does not exist, one gets this error message. A simple "runscript with the name $NAME does not exist" would be nice.

[code]

[2022-05-04 09:04] denizural commented on #659
Hi @JanStreffing,
this is actually in my clean-up TODO list that I mentioned in today's meeting. I previously implemented absolute and relative paths for the runscript but better error handling in case of a missing runscript is also a good idea.

[2022-05-11 13:57] jannitzbon opened #666 "Changing output frequency of accumulated variables via mvstreamctl"
**Describe the problem you are facing**
I have a question regarding the output handling of AWI-ESM. I would like to write some output at daily frequency instead of monthly. For
this, I added "mvstreamctl" entries via the runscript to namelist.echam. However, this seems to be working only for some (I think the "non-accumulated") variables, but not for all. In particular, I would like to have precip

[2022-05-11 14:36] chrisdane commented on #666
Hi Jan

The echam mvstream definition is a science on its own. Maybe `/work/ab0246/a270073/out/awicm-test/CMIP6/CMIP_PMIP/dynveg_true/historical/config/echam/namelist.echam` can serve as a template for you. Search for e.g. "echamday".

Cheers,
Chris

btw: this is not really an esm_tools issue, it should rather go to https://code.mpimet.mpg.de

[2022-05-12 08:00] jannitzbon commented on #666
Hi Chris,

Thanks a lot for your answer. I checked the file, and it indeed gives me a lot of examples how to approach this! I will check if it works as intended.

I agree, that this is not really an esm_tools issue. I guess it is rather a question I wanted to ask to AWI-CM/ESM users, but I was (and still am) not sure where to ask these kind of things without annoying individual persons ;-)

For th

[2022-05-12 08:47] chrisdane commented on #666
I agree that feature would be awesome. But from experience you would need a full-time position for a year or so to implement this unbelievably impractical mvstream-method in a modular esm-tools way :|

[2022-05-12 11:03] pgierz commented on #666
I at some point attempted to program the general solution to the `mvstream` business and ended up banging my head against the wall instead. There was an implementation where one could (probably) define the files to be moved based upon parsing the namelist and determining which files should then be produced. It was tested for a basic case, but we came to the conclusion that it was too "magical" to

[2022-05-13 07:46] jannitzbon commented on #666
Hi Paul,
thank you for your reply. I think I just need to used to the `mvstream` "business". It's definitely easier with examples / templates as the one Chris pointed me to. So it might be worth adding such an example to the "Cookbook" section of the documentation?

Btw, it was not possible for me to add multiple `mvstream` entries to the namelist via the runscript entries `add_namelist_changes`.

[2022-05-16 14:00] chrisdane opened #667 "flatten merged lists"
**Is your feature request related to a problem? Please describe.**
I would like to merge two lists li1 and li2 to a new list li3 that contains li1 and li2 in a flattened and not nested way.

**Describe the solution you'd like**
Paste this code in https://yaml-online-parser.appspot.com:
[code]
the result is
[code]
i.e. the entries in li3 are nested and not on the same level. I need:
[code]

**Descr

[2022-05-17 08:00] chrisdane commented on #667
can we use this somehow: https://pyyaml.docsforge.com/master/api/yaml/constructor/SafeConstructor/flatten_mapping/ ?

[2022-05-17 08:13] pgierz commented on #667
Hi Chris,

this may be possible with the special "math" syntax in the ESM-Tools extension for YAML, which effectively tricks Python into do an evaluation of code disguised as a string. It is not something I would recommend leaning on heavily, as it may be error-prone.

[code]
In Python, that translates to:
[code]
Take special notice of where I have quotes, especially in the `eval` statement.

Agai

[2022-05-17 09:49] chrisdane commented on #667
No, the second list2 is ignored in the mergelist.

[2022-05-17 12:49] denizural commented on #667
A solution is found. I willl make a PR later on.
Here: https://github.com/esm-tools/esm_tools/pull/672

[2022-05-19 09:19] pgierz commented on #666
That is because the echam namelist is abusing some of the "rules" for a standard fortran namelist, and the namelist parser we have in esm-tools assumes a standard namelist is being used. Could you show me an example of what you were trying to do? There may be a workaround.

[2022-05-19 14:47] mwerner-awi opened #670 "ECHAM6-wiso in standalone mode: wrong file directories for wiso output and restart files"
When I run ECHAM6-wiso in standalone mode (and not as part of AWIESM-wiso), all *wiso* output and restart files are stored in the directory <EXP>/unknown instead of the directories <EXP>/output/[..] and <EXP>/restart/[..]. Therefore a simulation stops after the first job cycle as ECHAM6-wiso can't find the required wiso restart files in the expected directories.

To reproduce the bug, simply run e

[2022-05-19 15:38] pgierz commented on #670
Hi Martin,

thanks for reporting. It seems to be a relatively easy fix, the relevant output and restart files simply aren't known about:

https://github.com/esm-tools/esm_tools/blob/665ef93274c2efa41f27e5d5d901a585ad28ceb2/configs/components/echam/echam.yaml#L501-L505

Both the `wiso` and `accw_wiso` file tags are behind a switch which was introduced when we unified the AWIESM versions together.

[2022-05-19 15:42] pgierz commented on #670
@mandresm, @denizural: someone should put this on the todo list or make a separate issue.

I think that `rad` in the list up there belongs somewhere else. That has to do with concurrent radiation, and I am not 100% sure if any and all versions of echam floating around also include concurrent radiation. It doesn't hurt, you'll just end up with a warning about a missing file, but just to be clean we

[2022-05-19 18:01] denizural opened #671 "ECHAM Rad issue"
https://github.com/esm-tools/esm_tools/blob/665ef93274c2efa41f27e5d5d901a585ad28ceb2/configs/components/echam/echam.yaml#L501-L505

I think that `rad` in the list up there belongs somewhere else. That has to do with concurrent radiation, and I am not 100% sure if any and all versions of echam floating around also include concurrent radiation. It doesn't hurt, you'll just end up with a warning abou

[2022-05-20 07:02] mwerner-awi commented on #670
Hi Paul,

I've tried your suggestion but it does not fix the problem.

Please note: (i) I already set the switch "with_wiso: True" in the general section of my yaml script. (ii) The files are moved correctly when I run ECHAM6-wiso as part of AWIESM-wiso.

[2022-05-20 07:08] pgierz commented on #670
Hi Martin,

Ok then one of the esm tools team will need to take a deeper look. Can you post the path to your experiment?

[2022-05-20 07:14] mwerner-awi commented on #670
The yaml file is: /home/ollie/mwerner/runscripts/echam6/PI_tag_2tr_1year.test.yaml

The experiment is stored in: /work/ollie/mwerner/echam6-wiso/TAG05

[2022-05-20 15:24] pgierz commented on #670
Moin Martin,
cc @mandresm @denizural @seb-wahl

So two apologies: Sorry for the typo above, that should obviously have been `with_wiso` in the `echam` part of the run configuration instead of `wiso_wiso`, and sorry for the delay, I had some difficulty reproducing this due to walltime timeouts.

@mandresm we should look into why both flags are needed. I think that's a logical error somewhere on the

[2022-05-23 11:30] mwerner-awi commented on #670
Hi Paul,
cc @mandresm @denizural @seb-wahl

The problem is partly solved when I add the following entries to my yaml file:

echam:
    with_wiso: True
    wiso_code: True
    add_streams:
        - jsbach
        - land
        - js_wiso
        - la_wiso
        - ma

Open issues are the following:

(i) The output files *_js_wiso and *la_wiso are stored in <EXP>/outdata/echam. These are JSBACH-re

[2022-05-23 13:11] pgierz commented on #670
Hi Martin,

If you move the add streams into your jsbach section, they will be correctly moved. Make sure to then also include the two streams jsbach and land to the list, as they will active if the next step below works:

Unfortunately setting the lpost via the runscript is not possible.  The echam namelist repeats chapter headings, and thus the standard change mechanism does not work, as we do n

[2022-05-25 08:04] mwerner-awi commented on #670
Hi Paul,

just to confirm that your suggested solution works.

The restart files restart__js_wiso_YYYYMMDD.nc is still stored erroneously in /restart/echam (and a copy is now saved in  /restart/jsbach if I add the stream to the jsbach section), but as the model is running, we can leave it like this for the moment.

Best, Martin

[2022-05-25 08:11] pgierz commented on #670
Hi Martin,

Excellent!

I will still leave the issue open so that @mandresm or @denizural can make sure it gets cleaned up and goes into the defaults.

Best
Paul

[2022-05-30 13:25] vkolatschek opened #674 "Problem with esm_master"
**Describe the problem you are facing**
After installing the esm_tools on levante, I get an error when trying esm_master:
`Something else went wrong
Serious issue with /home/a/a270147/esm_tools/configs//components/fesom/fesom-2.1.yaml, goodbye...`

**System (please complete the following information):**
 - Supercomputer: Levante
 - Version: I'm not sure (there is no esm_versions anymore?) But I do

[2022-05-30 14:15] vkolatschek commented on #674
``>> esm_tools --version``
``esm_tools, version 6.7.0``

[2022-05-30 15:37] #674 closed, assigned to mandresm

[2022-05-30 15:37] mandresm commented on #674
Thanks for reporting that. The solution is now available in `release`. Simply `git pull` and it should start working again. I'll close the issue now, please reopen it if the fix does not work for you.

[2022-06-02 13:36] ackerlar opened #680 "Pool Files on Levante"
**Describe the problem you are facing**
It seems that some pool files are still missing on Levante:
[code]

Did I miss anything or is there a plan to synchronize the pool directories of the different machines?

[2022-06-02 13:57] #680 closed, assigned to nobody

[2022-06-03 11:33] mandresm commented on #670
Hi all,

I've completely miss this issue as I was on holidays and the notifications got lost in the long list of emails as I came back. It seems that there is the need for some generalization in the `yaml` files, so I'll be having a look at that guided by the list @mwerner-awi provided.

@mwerner-awi can you provide a path with your latest "more correct" experiment folder? Can you also keep the ol

[2022-06-03 11:43] pgierz commented on #154
Hello, I am going through old issues: can this one be closed?

[2022-06-09 06:12] pgierz commented on #652
The problem is here:
[code]
There is a missing slash after `config`.

Has this by now been solved? Otherwise I will have a look where that might be
put together and ensure that trailing slashes are used.

Note that there are better ways of handling paths, but that is a topic for the
cleanup phase.

[2022-06-09 06:17] mandresm commented on #652
Yeah, this was solved in #653

Agreed

[2022-06-09 06:17] #652 closed, assigned to mandresm

[2022-06-09 06:25] pgierz commented on #652
This should not be a problem in the current release (commit a10c230f) or using
version `6.7.3`.

In lines 45-52 of `src/esm_runscripts/helpers.py`:
[code]

Slashes are ensured before both `recipe` and `plugins_bare`. That was fixed by @mandresm via commit 711c244f.

I'm closing this issue; please re-open if the problem persists.

[2022-06-09 06:27] pgierz commented on #652
Damnit, @mandresm was faster than I was on pushing the button ;-)

[2022-06-09 06:28] mandresm commented on #652
Yeah, sorry, I wanted to save you the pain of checking, but I was not fast enough...

[2022-06-09 06:41] pgierz commented on #471
This looks simple enough to implement. I'll have a look.

[2022-06-09 07:16] pgierz commented on #630
I think we have everything in one place now; so I will close this. Please re-open if you are confused about which version you should use:

* ECHAM: Use gitlab.awi.de, with branch `6.3.05p2-awiesm-2.1`
* FESOM: Use GitHub.com, with branch `2.1-awiesm-2.1`
* OASIS: Use gitlab.awi.de, with branch `2.8mct-awiesm-2.1`

[2022-06-09 07:16] #630 closed, assigned to pgierz

[2022-06-09 13:15] mandresm commented on #671
Hey @pgierz , is the `rad` stream depending on whether we are running with concurrent radiation code on or not? because we have already a switch for concurrent radiation radiation that this stream could be behing

[2022-06-09 13:34] pgierz commented on #671
Yes, the `rad` stream only exists if `with_concrad` is on (not sure exactly what the switch is called off the top of my head)

[2022-06-09 13:57] mandresm commented on #670
@mwerner-awi, about this, should we include those streams by default in the namelists provided by ESM-Tools by default?

[2022-06-10 16:05] mandresm commented on #670
Hi @mwerner-awi,

The branch `fix/echam_switches_and_version_bug` should have all the fixes a simplified version of your runscript (`/home/ollie/mwerner/runscripts/echam6/PI_tag_2tr_1year.yaml`) to run successfully. Please, see below the simplications you can make, and let me know if that branch solves all the problems of the issue (I tested already and I think it does):
[code]

[2022-06-10 16:12] mandresm commented on #670
I found a last minute problem. I'll solve it for monday and then you can see if it works

[2022-06-12 09:54] mandresm commented on #670
Hi @mwerner-awi, all the problems should be solved now. You can now follow [this post](https://github.com/esm-tools/esm_tools/issues/670#issuecomment-1152516610) to test it and let us know whether all works as it should.

[2022-06-13 13:29] mandresm commented on #148
@joakimkjellsson @ackerlar, do we still need the sanity checks? ESM-Tools error catching bugs were solved during release 6 implementation, or even before, so if you have not experienced this problem anymore, then we can close this issue too.

[2022-06-13 13:51] fernandadialzira commented on #154
From my side, yes. We identified that in my case the issue could be solved by changing the branch, and now there are new switches for bootstrap.

[2022-06-13 13:56] #154 closed, assigned to denizural

[2022-06-13 14:03] JanStreffing commented on #148
I have not experienced any of these broken restarts since release 6. Only now that you mention it I notice that they are gone! For me this is closed.

[2022-06-13 14:32] ackerlar commented on #148
Can be closed for me as well

[2022-06-13 14:45] mandresm commented on #344
After @seb-wahl's fixes to the `generic.yaml` and rcfile feature deletion, this should be supported now. I tried `esm_master get-fesom-2.1` in my laptop and it did the job. Please, reopen the issue if anyone still encounters problems.

[2022-06-13 14:45] #344 closed, assigned to nobody

[2022-06-13 15:54] pgierz opened #694 "Ensure version pins"
For the cleanup phase we should ensure that our requirements have specific versions targeted.

[2022-06-13 18:34] joakimkjellsson commented on #148
Hi guys

We can close this. As you say, Miguel, ESM-Tools manages to catch errors and stop now, so that's fine.
I still think it's a problem that the user rarely knows which executable fails (OpenIFS or FESOM or rnfmap etc), but OASIS is usually pretty good at providing hints, so I don't think ESM-Tools needs to take this on.

Cheers all!
Joakim

[2022-06-14 08:00] mandresm commented on #148
Thanks all for your reply!

[2022-06-14 08:00] #148 closed, assigned to pgierz

[2022-06-16 14:41] mandresm opened #696 "Trigger warnings from yamls"
**Is your feature request related to a problem? Please describe.**
Useful to report warnings to users under certain configurations. For example in the case of #695, if in the future, a new `LU_trans_1850` is set as default for PI simulations, the user needs to be notified about it, so that she/he can decide whether that's okay, or wants to continue an older run with the old file.

**Describe the s

[2022-06-16 15:06] mandresm commented on #375
This is already possible with `esm_runscripts --update-filetypes bin`. Is that a satisfactory solution or should we make `-U` update everything? The downside of doing it through `-U` is that it's not very tunable, while the `--update-filetypes` is very specific and documented in `esm_runscripts -h` help menu.

[2022-06-16 16:06] JanStreffing commented on #375
I think this might be enough as is.

[2022-06-17 07:01] mandresm commented on #375
Then I'll close it. Please, open it again if you'd like further discussion.

[2022-06-17 07:01] #375 closed, assigned to nobody

[2022-06-17 12:21] mandresm commented on #384
Hi all,

I've been looking at this issue for a bit and also to the solution @pgierz offered, that I believe never got merged (esm-tools/esm_runscripts#165). Is that correct?

I see the solutions given to, and used by @chrisdane as provisional solutions, as in my eyes there is a "major" issue as @chrisdane points out, and it's that there is duplication of information. Not only that, but if you add

[2022-06-17 12:28] mandresm commented on #453
What about deactivating conda before running `esm_master` (or any ESM-Tools command)?
`conda deactivate`. Does that get the job done?

[2022-06-17 13:45] chrisdane commented on #384
Hi

The PR https://github.com/esm-tools/esm_runscripts/pull/165 does not work.

I think its close to impossible to build an algorithm that deals with all possible namelist.echam stream definitions. Its a black box.

I think the better solution is to put a list of `streams` (and `streamsnc`) in a separate file next to the used namelist.echam file, overwriting the default `streams`. E.g. `streams1=s

[2022-06-17 13:58] mandresm commented on #384
My idea was not to build a full syntax for the streams, but instead let the user include their modifications to the namelist through the runscript with the same structure of the namelists, with sections and variables, the same way that was done for `namelist_changes` but special to the streams in that repetition of sections would be allowed (which is not the case in `namelist_changes`). That's one

[2022-06-17 19:58] pgierz commented on #384
I would not say close to impossible. After all, there are rules inside of echam for how it produces output and what those files are called. Rules which we could replicate. Yes, it is very echam specific, but we already have specific model things on the tools. See for example Oasis. Plus Echam being sketchy about its documentation should be given as a lesson to anyone who thinks about writing clima

[2022-06-18 06:31] pgierz commented on #453
I think this can safely be closed, it was a rather old problem Fernands had when initially starting out.

[2022-06-20 08:07] chrisdane opened #698 "DSO missing from command line"
Hi

**Describe the bug**
I am trying to install the setup `awicm-1.0-recom` on levante. Installing the echam component stops with this error:
[code]

**To Reproduce**
[code]

**Expected behavior**
Successful compile.

**System (please complete the following information):**
 - Supercomputer: levante
 - Version
[code]

Thanks!
Chris

[2022-06-20 08:13] denizural commented on #698
Hi @chrisdane , I solved that problem. This requires a change in the awicm CMake file. We are currently on the Climate Dynamics retreat but I will show you the solution when I have a stable internet.

[2022-06-20 08:26] pgierz commented on #698
I'm not sure if recom support on levante is in release yet. Deniz can you check and please put that in very soon if not?

[2022-06-20 08:27] pgierz commented on #698
@chrisdane  if you have a small script who spits out your branch, hash, etc info I would be very interested in recycling this.

[2022-06-20 08:51] mandresm commented on #698
No is not released yet, @denizural is taking care of it, but there is no PR yet. Neither is AWICM-REcoM in release (not supported in `release` for any of the HPCs).

[2022-06-20 11:27] chrisdane commented on #698
Eeh sorry I should have added this: the error occurs in the echam compiling step, so independent on recom? But if Deniz already has a solution its ok anyway.

@pgierz:
[code]

[2022-06-20 12:21] pgierz commented on #698
Thanks. It's shell. Merp.

Which echam are you using? We will have some time this evening to get back to you

[2022-06-20 12:28] chrisdane commented on #698
If the esm_tools are not shipped with a needed functionality the users need to help themselves :P

co2_coupling

[2022-06-20 13:21] pgierz commented on #698
Already in progress ;-) https://github.com/esm-tools/esm_tools/pull/690

[2022-06-20 13:43] pgierz commented on #698
Which remote host is that? There are some changes required to the compilation of ECHAM, and that needs to happen on the ECHAM side, not the esm-tools side.

[2022-06-20 13:44] chrisdane commented on #698
Dont know if this answers your question: https://gitlab.dkrz.de/modular_esm/echam6/-/commits/co2_coupling

[2022-06-20 16:31] chrisdane commented on #698
Aaaaaah sorry my mistake: I should have just cherry picked [2334507d](https://gitlab.dkrz.de/modular_esm/echam6/-/commit/2334507dd520cd5ba0acd8f18265b7a1fca200de) into my echam branch *facepalm*

[2022-06-20 22:29] JanStreffing opened #699 "New AWI-CM3.1 setup: ValueError: not enough values to unpack (expected 2, got 1)"
**Describe the problem you are facing**
I'm trying to prepare the release of awicm-3.1. I created a new setup version number, a new coupling, and not component version numbers to this effect. When trying to install the new model version via esm_master I get:

[code]

**To Reproduce**
checkout branch `awi-cm3.1_testruns` and try to run `esm_master install-awicm3-v3.1`

I cannot infer from the error

[2022-06-21 08:05] pgierz commented on #389
Closing as this appears to be a stake issue and there is no more interest. Please re-open this and add appropriate labels if this should be pursued further.

[2022-06-21 08:05] #389 closed, assigned to nobody

[2022-06-21 08:08] pgierz commented on #505
Is this still relevant in the newest version? If yes, please re-open.

[2022-06-21 08:08] #505 closed, assigned to pgierz

[2022-06-21 08:09] pgierz commented on #473
Please re-open if this is still relevant as the original issue is now 8 months old.

[2022-06-21 08:09] #473 closed, assigned to nobody

[2022-06-23 06:30] mandresm commented on #699
Hi @JanStreffing,

I think the problem is here: https://github.com/esm-tools/esm_tools/blob/0481af7e34c90189b1bf7bbc9942c6bdd38479f0/configs/setups/awicm3/awicm3.yaml#L423-L439

A `choose_block` is only catch in the first level of nesting (with the exception of `_environment_changes` and when it is nested inside another choose).

For this case I suggest the following:
[code]

[2022-06-23 07:43] JanStreffing commented on #699
That solved the problem, thank you!

[2022-06-23 07:43] #699 closed, assigned to mandresm

[2022-06-23 09:39] JanStreffing opened #701 "Mistral cleanup"
I suggest we should remove all mentions of mistral from the release branches, as the machine no longer exists. If you want to do something simple on a Friday afternoon that will improve readability...

[2022-06-23 14:50] mandresm commented on #670
@mwerner-awi  mentioned the following via email:

My reply:

I have added the `lpost` changes to the `namelist.echam` in `esm_tools/namelists/echam/6.3.05p2-wiso/` (8bc2ed1) so now the default namelist for the wiso development branch has those file included. I'll discuss with @pgierz about a better strategy for the general AWIESM version, but that won't be done in this PR... It will be probably ad

[2022-06-23 16:36] denizural commented on #698
I am reopening this issue again. The fixes to corresponding ECHAM, FESOM, Recom branches are implemented. I will make a PR on the DKRZ GitLab from my forks. The issue will be closed after esm_master successfully installs everything (currently does on my branch) in the release branch.
All related PRs will be mentioned here.

[2022-06-23 18:04] #670 closed, assigned to pgierz, mandresm

[2022-06-23 18:06] mandresm commented on #671
fixed in #692

[2022-06-23 18:06] #671 closed, assigned to mandresm

[2022-06-26 12:19] #585 closed, assigned to nobody

[2022-06-27 12:45] #487 closed, assigned to denizural

[2022-06-28 15:12] shijian0702 opened #710 "invalid change in namelist_dir of xios in awicm3-v3.1"
**Describe the bug**

Though changing the xios namelist_dir in the yaml file (awicm3-v3.1), it doesn't work, and the model still reads the original xios namelist_dir in the esm_tools directory: ~/esm_tools/namelists/oifs/43r3/xios/. esm_tools seems to overwrite the xios namelist change.

xios:
    with_model: oifs
    nproc: 8
    omp_num_threads: 16
    namelist_dir: "/home/a/a270196/scripts/name

[2022-06-28 15:15] mandresm commented on #710
Can you please provide the ESM-Tools version? (`esm_tools --version`)

[2022-06-28 15:17] mandresm commented on #710
I've had a look at the latest `xios.yaml` and there are no `namelist_dir`, as it is expected, because `xios` does not use namelists for the configuration, but instead `xml` files. Therefore, what you probably want to change is the `xml_dir`.

Please let me know if that solves the problem for you.

[2022-06-28 15:41] shijian0702 commented on #710
Yes it works now. Thanks Miguel!

[2022-06-28 15:56] mandresm commented on #710
Then I'll close the issue :)

[2022-06-28 15:56] #710 closed, assigned to mandresm

[2022-06-30 09:21] mandresm commented on #696
It should also be possible to ignore the yaml warnings by defining `general.ignore_config_warnings: True`.

[2022-06-30 09:29] mandresm commented on #696
also add a similar option for `error`.

[2022-06-30 11:01] joakimkjellsson commented on #696
I think this would be nice.
For example, it is possible to change O3 in OpenIFS 43r3v2 but not v1. Would be nice to have warnings about this.

[2022-07-01 11:19] pgierz commented on #701
I'm assigning this one to myself, I'll do it on my lovely 12 hour train ride tomorrow.

[2022-07-01 12:06] mandresm commented on #667
I'm taking over this one as @denizural is working on the cleanup of https://github.com/esm-tools/esm_tools/pull/665. This is needed for https://github.com/esm-tools/esm_tools/pull/665

[2022-07-01 12:22] #696 closed, assigned to mandresm

[2022-07-01 12:30] mandresm commented on #696
So the feature is now on `release`, you can read on how to use it here: https://esm-tools.readthedocs.io/en/latest/yaml.html#error-handling-and-warning-syntax

[2022-07-01 12:32] #584 closed, assigned to denizural

[2022-07-02 07:20] pgierz commented on #553
This still is broken, for some reason. It seems as if tag pushes are not triggering the CI job. However, since no one is doing `pip install`, this one will take low priority for right now.

[2022-07-02 07:21] pgierz commented on #515
This needs more discussion in the group before we start working on it.

[2022-07-04 03:54] denizural commented on #667
Now, we have a new and better solution: https://github.com/esm-tools/esm_tools/tree/feat/merging_lists
More info will follow.

[2022-07-04 11:21] denizural opened #717 "adding more information to add_ feature"
**Request/contribution description**
https://esm-tools.readthedocs.io/en/latest/yaml.html#append-to-an-existing-list-add

after the PR https://github.com/esm-tools/esm_tools/pull/716 that solves the issue https://github.com/esm-tools/esm_tools/issues/667

**Suggested chapter/section in the documents**
Explain the merging feature

**Is this specific to any model/couple setup or to any ESM-Tools fun

[2022-07-04 12:56] denizural commented on #667
This issue should have been solved by now. A more detailed explanation can be found here: https://github.com/esm-tools/esm_tools/pull/716/
I will also update the documentation on the `add_` command.

[2022-07-04 12:56] #667 closed, assigned to denizural

[2022-07-07 15:06] ackerlar opened #726 "PISM on Levante"
**Describe the bug**
Submission of PISM job fails with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Install esm_tools and esm_pism and submit a pism_standalone job

**System (please complete the following information):**
 - Supercomputer: Levante
 - Version: esm_tools: `release`; esm_pism `main`

**Additional context**
I also tried to set `nproc` or `nnodes` via run config and got th

[2022-07-08 08:03] pgierz commented on #726
Hi @ackerlar, how did you install PISM?

[2022-07-08 08:06] ackerlar commented on #726
I did it via `spack install pism`

[2022-07-08 08:08] pgierz commented on #726
OK, good, so that worked for you. Can you post your loaded modules and your `$PATH`?

[2022-07-08 08:10] ackerlar commented on #726
[code]

[code]

[2022-07-08 09:36] pgierz opened #727 "Extra download during esm_master get-*"
Hello,

I'd like to be able to configure `awiesm-2.1` to have an extra download during the `get` phase of `esm_master install-awiesm-2.1`. This would not be compiled, but would simply be an extra `git clone`

[2022-07-08 14:09] pgierz commented on #726
OK, I have an install of `PISM` and fixed the default config to include `nnodes`, `nproca`, and `nprocb` for Levante. The Slurm error occurs because `spack` is building an `OMPI` by itself without Slurm support. I am looking into how to tell `spack` that it should also use slurm, but that might be a good question for @sebhinck

Also, `spack` seems to be a way better way to install models (at least

[2022-07-08 15:10] sebhinck commented on #726
Hi,
also ich vermute, ihr habt euer Spack so eingerichtet, dass ihr `/sw/spack-levante` als "upstream" eingetragen habt, oder? Das müsst ihr, damit die vom DKRZ installierten Module benutzt werden können

Dann könnt ihr per `spack find -lp openmpi` die installierten OpenMPI versionen finden. Der aHash der angezeigt wird identifiziert genau die jeweilige Installation.

[code]

Installation per spac

[2022-07-08 16:37] ackerlar commented on #726
Thanks @sebhinck and @pgierz, it worked for me!

[2022-07-08 18:59] pgierz commented on #726
I'd still like to keep this open so we can get esm-master to install pism via spack.

Lars, you used my preliminary changes for the new pism configuration, right?

[2022-07-09 06:12] sebhinck commented on #726
If you want to use spack within the esm tools, you have to make sure that it is properly configured.
Then you might want to have a spack-upstream cofig variable in the site-specific configuration of the esm tools...

Also, you then need to make sure that you get the correct MPI, as it was one problem for Lars. I am not sure if this is convenient, but probably you already do have an idea..

[2022-07-09 06:16] sebhinck commented on #726
You should then provide a packages.yaml (https://spack.readthedocs.io/en/latest/build_settings.html#build-settings) that defines things like openmpi or intelmpi for example as buildable:False..
We can talk about it next week..

[2022-07-11 10:01] ackerlar commented on #726
@pgierz Yes, I used your new pism configurations. The installation via spack is really straight forward, the only disadvantage I see is that it (so far) only works for PISM1.1.4 and not PISM1.2.

[2022-07-12 06:06] pgierz commented on #616
Closing this, it is from early March and seems to be solved. Please re-open if needed and say why.

[2022-07-12 06:06] #616 closed, assigned to denizural

[2022-07-12 06:07] pgierz commented on #509
Closing, since it is from November last year. If needed, please re-open.

[2022-07-12 06:07] #509 closed, assigned to denizural

[2022-07-12 09:57] #471 closed, assigned to pgierz

[2022-07-12 10:05] fernandadialzira opened #731 "cmorization missing echam6 streams"
Some of our AWI-ESM2.1 simulations need to have a standard netcdf output file. When I select the `out_filetype=2` switch on the echam section of my run config I still get `accw` streams in grib format, and `echam` and `co2` streams are not written at all.

looking at `esm_tools/configs/components/echam/echam.yaml`, there is the part where the streams are set up:

[code]

I tried including these th

[2022-07-12 10:24] pgierz commented on #731
Hi @fernandadialzira, do you have the experiment path? I would need to look at your `namelist.echam`

[2022-07-12 10:26] chrisdane commented on #731
Hi Fernanda

To save variables from echams `co2` stream, I made added sth like this to the namelist.echam (on levante):
[code]
Feel free to use and adapt.

The `streams` and `streamsnc` definitions in echam.yaml are only needed to move the model output files from `run_yyyymmdd/work` to `outdata/echam/` (ongoing issue: https://github.com/esm-tools/esm_tools/issues/384).

Cheers,
Chris

[2022-07-12 10:41] fernandadialzira commented on #731
Hi @pgierz: the path is `/work/ollie/fmatos/mis3/experiments_testing/GT21G21O21_003_gm2000/`
I did not assign a path for echam namelists, so it was probably the default from esm_tools

[2022-07-12 12:04] #633 closed, assigned to nobody

[2022-07-12 14:03] JanStreffing opened #734 "git feature #690 broken"
It seems to me that the git version feature #690 is not quite working.
After merging release into my current test branch in oder to get the latest levante flags, I recompiled awicm3-v3.1 on levante and tried to run a basic runscript (`/runscripts/awicm3/v3.1/awicm3-v3.1-levante-TCO95L91-CORE2_initial.yaml`)

I get:

[code]

Some of my git "branches" are tags. Maybe this is tripping up the system?

[2022-07-12 14:11] mandresm commented on #734
Indeed, some tests in `esm_tests` CI were marked as `failed submission` instead of the less worrying `files differ`

[2022-07-12 14:16] pgierz commented on #734
...apologies, I'm on it

[2022-07-12 14:35] denizural commented on #734
@pgierz, I think you need to use `active_branch` for that.
See: https://gitpython.readthedocs.io/en/stable/changes.html?highlight=active_branch#repo

[2022-07-12 14:44] mandresm commented on #734
@pgierz, if it takes longer to fix and you need more time, it's always possible to push a fix that comments the two steps in the recipe that trigger the error (easily revert the changes). Let me know if you'd like me to do that so that we buy you some time.

[2022-07-12 14:46] pgierz commented on #734
Seeing as I am already in the train home, please patch it out for now. I'll uncomment it when I add the rest of the fix

[2022-07-13 14:47] pgierz commented on #731
Info also for @christian-stepanek: Before I change the defaults, I need to know what you have discussed with the DKRZ colleagues regarding CMORization

[2022-07-18 13:49] joakimkjellsson opened #741 "Experiment fails to "tidy up" and "resubmit""
Good afternoon all

It is happened to me a few times now that an experiment does not resubmit itself after a finished leg. The most recent example is when running FOCI-OpenIFS on the "feature/focioifs_o12" branch on HLRN (Berlin).

The experiment should do monthly restarts for 5 years (1950-1955), and but stopped after 31 Dec 1951.
Everything in the work directory points to a successful run, i.e.

[2022-07-19 09:24] mandresm commented on #741
Hi Joakim, that's a puzzling issue. I have not seen something like this recently. Could you provide access to an experiment that failed to tidy up, and that was not restarted, so I can have a look?

[2022-07-19 10:12] christian-stepanek commented on #731
Discussion is still ongoing, I suggest to leave this issue open until we have fixed that.

[2022-07-21 15:00] mandresm opened #743 "Oasis restarts"
**Describe the bug**
For a restart, Oasis flux files (`a2o` and `o2a` for `AWICM` for example) are always copied from a file which path has no date-stamp, and this is hardcoded in the `src/esm_runscripts/oasis.py`. This is okay for restarts in ongoing simulations as the file without a time-stamp is a link to the latest time-stamped file. However, it's not correct when there is a need to branch-off

[2022-07-24 08:52] mandresm opened #746 "Generalization of the of SSP scenarios"
### Discussed in https://github.com/esm-tools/esm_tools/discussions/744

<div type='discussions-op-text'>

<sup>Originally posted by **l975421700** July 22, 2022</sup>
Dear developers

I plan to run an equilibrium SSP585 ECHAM6-wiso standalone simulation on ollie. The first step is to run a standard ssp585 simulation without changing any default boundary conditions. However, I met a problem with i

[2022-07-24 08:53] mandresm commented on #746
Hi Qinggang, I think you should be able to run it both in Levante and Ollie, it's up totally up to you.

About the error, there are different components that need to be solved for this to work:

1. **ESM-Tools version**: You are running year 2015, and that version of ESM-Tools tries to copy the following file into the experiment and that file does not exist:
[code]
In that version of ESM-Tools an

[2022-07-24 10:28] QinggangGao commented on #746
Thanks a lot, Miguel. Looking forward to the solution and I will be happy to test it.

[2022-07-25 08:23] pgierz commented on #746
Copying from Levante to Ollie is finished; please test if it all works now and let me know.

[2022-07-25 08:26] mandresm commented on #746
Thanks!

[2022-07-25 09:45] mandresm commented on #746
I'm afraid the pool issue is not yet solved because I did not report the whole list of what it's missing (sorry about that). In summary it seems that the ollie pools for ECHAM and JSBACH are not up to date:
[code]

[2022-07-25 09:56] pgierz commented on #746
Time for more `rsync` then....and time to take a day and make this all automatic. I'll post here once all the copying is finished.

[2022-07-25 10:04] mandresm commented on #746
Thanks a lot Paul!

[2022-07-27 08:48] vkolatschek opened #750 "FESOM-1.4 with ice shelf cavities after compiling not working anymore"
**Describe the problem you are facing**
I am trying to run fesom-1.4 with cavities on Levante. And I have two versions of the model code I'm using. One was compiled on 31 May, the other this week. The problem is that the old version is working, but the new version produces NaNs in the ice shelf cavity and along -180/180 longitude.

**To Reproduce**
Take `/home/a/a270147/fesom-1.4_depthlayerproblem

[2022-07-27 10:26] QinggangGao commented on #746
Thanks both Paul and Miguel

I met another problem, which might also connect to the update of pool. Can you please advise?

ECHAM6 version: 6.3.05p2-wiso
esm_tools version: 6.11.4
scenario: "PI-CTRL"

I run a simulation for 27 years here: `/work/ollie/qigao001/output/echam-6.3.05p2-wiso/pi/pi_m_411_4.9`.
But when I restart it two days ago from its own scripts folder`/work/ollie/qigao001/output/ech

[2022-07-28 10:20] denizural commented on #453
As @fernandadialzira mentioned that again in today's workshop, I am reopening it again. @pgierz, it looks like Fernanda is still having this issue.

[2022-07-28 11:34] JanStreffing opened #751 "For setups, copy comonent bin file in comp script"
Currently when you compile a component manually with a comp script, and that binary is part of a setup, the binary is not copied from the component bin folder into the setup bin folder.

[2022-07-28 12:43] denizural commented on #453
We worked with @fernandadialzira and replaced all executable commands (eg. `cd`, `conda activate`, ...) with Linux aliases. We are having these commands in the `.bash_profile` instead of `.bashrc` because `.bash_profile` is the script that is executed when someone logs in for the first time.
Now we can close the issue safely 😃

[2022-07-28 12:43] #453 closed, assigned to pgierz

[2022-07-29 07:26] denizural opened #752 "year vs syear in echam.yaml"
We just noticed during the workshop (thanks to @fernandadialzira ) that some variables have `!year` and some have `!syear`. It seems to be working but is this a typo?

https://github.com/esm-tools/esm_tools/blob/e4da879b68c3b48958a8ada2463c759b8009add7/configs/components/echam/echam.yaml#L710-L721

[2022-07-29 07:38] JanStreffing opened #753 "Option to control FESOM restart rate through nday nmonth nyear by default"
Low priority feature request:

Some users need the extra level of control, which allows for FESOM restart file writing frequency to be controlled separatly from the run length (e.g. write restart files every year on a 10 year run). However many other users don't use this option. For them it would be nice to use the general section `nday, nmonth, nyear`  as default, and only overwrite from the feso

[2022-08-01 14:47] ackerlar opened #758 "PISM couple in job fails on Ollie"
**Describe the bug**
The "couple in" for PISM fails on Ollie with this error:
[code]

I am not sure since when "~dbarbi/modulefiles" are not available anymore. Maybe it is related to this?

I have run this setup for several 100 years and didn't change anything in the esm_tools or runscripts.

**System (please complete the following information):**
 - Supercomputer: ollie
 - Version:

[code]

Here

[2022-08-02 10:46] mandresm opened #760 "AWIESM with icebergs issue"
We are  encountering problems with the iceberg test (it was working previous to the FESOM merge 2 weeks ago FESOM/fesom2#360 but now is not).

@pgierz  is having a look until 14:00, but if he doesn't figure it out by that time, we will require your help.

The branch of ESM-Tools we are testing is the latest release, with the AWIESM branches being the most up-to-date ones (for FESOM: `2.1-awiesm-2.

[2022-08-02 10:53] mandresm opened #761 "AWICM3 frontiers branch tests failing"
Due to recent updates in the source-code without updating the tools info, the `frontiers` branches are failing the actual tests in ESM-Tools with the following error from FESOM:

[code]

Input from the developers of this changes is required.

Path to the namelist use for that run: `/work/ollie/mandresm/testing/run$ vim awicm3/awicm3-frontiers-TCO159L91-CORE2_initial/run_20000101-20000101/work/name

[2022-08-02 12:44] ackerlar commented on #760
Hi @mandresm FESOM doesn't seem to run with icebergs, e.g. it did not create the `buoys_track.nc` file. Díd you compile your FESOM with `ASYNC_ICEBERGS ON` ?
Maybe this got broken by the latest merge...

[2022-08-03 06:18] mandresm commented on #760
I did not know that was a requirement, I'm pretty sure this was never in release. Why do we need ASYNC_ICEBERGS ON for the small tests and the general version of AWIESM-2.1? Isn't this just an option?

[2022-08-03 08:25] QinggangGao commented on #746
Hi developers

May I ask is there any progress on this issue? If you need somebody to test, I am very happy to do it.

The above FileNotFoundError regarding 'landuseHarvest.*.nc' does not appear anymore.

Regards, Qinggang

[2022-08-03 08:27] pgierz commented on #746
Hi Qinggang,

which files are now still missing? I updated everything yesterday, so you should be good to go. Let me know if anything is not yet in the pool so I can take care of it.

Best
PG

[2022-08-03 08:35] mandresm commented on #746
The generalization of the SSP scenarios is still missing. I put together a branch a week ago to solve the problem (#747): `fix/ssp_generalization_jsbach`. Qinggang, can you checkout that branch of ESM-Tools and give it a try? You'll need to specify:
[code]

[2022-08-03 08:57] QinggangGao commented on #746
Thanks. I tried but failed. A list of files are missing.

I checked out the esm_tools branch `fix/ssp_generalization_jsbach `.
The yaml script is here: `/work/ollie/qigao001/output/echam-6.3.05p2-wiso/ssp5/test_ssp585/scripts/ssp5_echam6_1d.yaml`.
The log file is here: `/work/ollie/qigao001/output/echam-6.3.05p2-wiso/ssp5/test_ssp585/log/test_ssp585_echam_compute_20150101-20150131_16757820.log`.

[2022-08-03 09:04] mandresm commented on #746
Try:
[code]

[2022-08-03 09:14] QinggangGao commented on #746
Same error happened again:

[2022-08-03 09:22] ackerlar commented on #760
Ah okay, this wasn't clear to me. I fixed this here: [https://github.com/FESOM/fesom2/pull/363](url)
It works now for me also when compiled with async_icebergs set off

[2022-08-03 09:29] mandresm commented on #746
Okay, so part of the problem would be solved if the ECHAM r0008 is updated with what it's defined in Levante. @pgierz , can you do that? That would be the folder in levante: `/pool/data/ECHAM6/input/r0008/` (r0008 does not exist in Ollie)

Once we get confirmatuion by @pgierz , you can try the following:
[code]

You'll still meet some missing files but they should be less, and then we can continue

[2022-08-03 09:34] QinggangGao commented on #746
Good, thanks

[2022-08-05 10:29] mandresm opened #764 "Missing modules for PISM compilation"
**Describe the bug**
It is not possible to compile PISM in Ollie anymore due to modules missing:
[code]

 @ackerlar, you mentioned this problem on Tuesday, what was the solution? Do you know if these modules can be found somewhere else?

[2022-08-05 10:31] ackerlar commented on #764
I copied the modules to my home directory `/home/ollie/lackerma/modules_from_dirk` But of course, this cannot be the final solution.

[2022-08-05 10:32] mandresm commented on #764
Thanks! @pgierz, is there somewhere where we can store this folder in a more definitive way? `/work/ollie/pool/PISM/modues`?

[2022-08-05 13:47] pgierz commented on #764
OK, all of Dirk's old module files are now in `/global/AWImodules`. I am not entirely happy, as there is often a root dir set to `/global/AWIsoft/dbarbi` and that one will not vanish I think. Given Ollie is soon going offline, fixing it "properly" probably is no longer worth it. Sebastian or I will make sure this is not such a big problem on Albedo.

[2022-08-05 15:21] mandresm commented on #764
I tried using the new location for the modules and I can now compile PISM. The problems shows up when it comes to running (`/work/ollie/mandresm/testing/run/vilma-pism/vilma1d_1ky-pism_1y/log/vilma1d_1ky-pism_1y_pism_compute_20000101-20001231_16790015.log `). Two things caught my attention:

2 versions of python loaded (the 2.7 is loaded when `module load pism_externals`) and the error in the `enc

[2022-08-05 16:37] #734 closed, assigned to pgierz

[2022-08-09 08:52] vkolatschek commented on #750
I found the reason why I had one working version of the compiled model from March, and the not-working, newer compilation. After some trials and help from the dkrz support, we figured out, that FESOM1.4 with ice shelf cavities apparently does not work when the flag `use_sw_pene` is ON.

Has this problem been documented before?

[2022-08-09 16:07] mandresm opened #775 "Missing ECHAM input files @Levante (?)"
I am trying a cold start of AWIESM-2.1 @Levante but ECHAM crashes because the following input files are not found:

WARNING: File not found: /pool/data/ECHAM6/FESOM2/MESHES_FESOM2.1/core2/tarfilesT63/input/echam6/T63CORE2_jan_surf.nc
2022-08-09 16:14:57.200646
WARNING: File not found: /pool/data/ECHAM6/FESOM2/MESHES_FESOM2.1/core2/tarfilesT63/input/echam6/T63CORE2_VGRATCLIM.nc
2022-08-09 16:14:57.

[2022-08-09 16:12] pgierz commented on #775
If the pools are indeed broken, I need to know (I made the mistake of taking on the task of being pool guru). I've gathered all the important people to contact in the case of incorrect or badly named files and normally email a batch worth of requests each Monday for systems I do not have privilege enough to fix on my own. For more urgent cases, just let me know and I'll make louder noises earlier

[2022-08-09 16:13] mbutzin commented on #775
Update: The new pool directory for AWIESM2.1 at Levante seems to be
/work/ab0246/pool
and the missing input files can be found there
/work/ab0246/pool/FESOM2/MESHES/mesh_CORE2_finaltopo_mean/tarfilesT63/input/

[2022-08-09 16:13] #775 closed, assigned to nobody

[2022-08-09 16:15] pgierz commented on #775
@mbutzin: did you modify a global config or just your local runscript to fix that? In either case, it should wander into the defaults at some point.

But, good that it is working for you now :-)

[2022-08-09 16:20] mbutzin commented on #775
Am 09.08.22 um 18:16 schrieb Paul Gierz:

I have only fixed my personal runscript because I am still in a testing
phase.

[2022-08-10 13:37] pgierz opened #778 "Trouble with vcs_info.yaml"
### Discussed in https://github.com/esm-tools/esm_tools/discussions/774

<div type='discussions-op-text'>

<sup>Originally posted by **fernandadialzira** August  9, 2022</sup>
I am running a pi simulation on levante with a restart rate of 5 years and right after the first 5 years run, the simulation crashes with the following message

[code]

I believe it is related to the #732 update (@pgierz, @m

[2022-08-11 07:37] seb-wahl opened #782 "crash when trying to find vcs control information"
**Describe the bug**
When running FOCI, I get the following error at the end of the first year:
[code]

**To Reproduce**
[code]
**Expected behavior**
Well, no crash

**System (please complete the following information):**
 - Supercomputer: does not matter, blogin or nesh tested
 - Version: latest version (6.13.5)

**Additional context**
I think this commit broke it:
[code]
because after this commi

[2022-08-11 12:52] fernandadialzira commented on #782
I also commented these lines as I created an issue/discussion on the same topic (#778), and it still complains about the vcs files, and the simulations crash.

[2022-08-11 12:59] fernandadialzira commented on #778
By the way, I tried commenting out the part in the recipe as advised in #782, but the simulation does not start, with the verbose in the submission process indicating:

[code]
the log file containing submission information is under `/work/ab0246/a270179/runtime/awicm3-v3.1/run_configs_production/log/submit_mh_tco95_core2_005`

[2022-08-11 13:05] pgierz commented on #782
Hi @seb-wahl, I'm on support today, plus it's my feature that seem to be causing all the headaches :-( Sorry for that.

I don't have access to `/gxfs_home/` (probably HLRN?), so I need a copy of your runscript to understand what is happening. Two things to help me clarify:

+ [ ] Are you doing once-a-year restarts or a different frequency?
+ [ ] This happens *after* the first run, so, when the sec

[2022-08-11 13:53] fernandadialzira commented on #778
Workaround so far for `awi-cm3.1`:

commenting out the lines for vcs info in
`esm_tools/configs/esm_software/esm_runscripts/esm_runscripts.yaml`
`esm_tools/configs/esm_software/esm_runscripts/esm_plugins.yaml`
`esm_tools/configs/components/oifs/oifs.yaml`

[2022-08-11 13:53] pgierz commented on #778
To speed up, Fernanda and I just did a video meeting. Two weird problems popped up that should be looked at while solving this bug:

Problem 1:
* Run Number 1 has the internal config variable `general.run_number: null`
* Run Number 2 has the internal config variable `general.run_number: 1`

Problem 2:
* Monthly restarts exit after March of year number 23 with a FESOM clock mistake (but why then no

[2022-08-12 08:06] fernandadialzira commented on #778
Update on problem 2: the monthly restart test worked past the 23 years in march. I could have been then the SLURM problem.
Update on simulations after commenting out the vcs recipe in the three files abovementioned: they are running well so far (~100y already)

[2022-08-15 09:41] fernandadialzira commented on #778
Update on different systems and models:

Same error when doing a simulation with `AWI-ESM2.1` on `Ollie`

[2022-08-22 12:39] tsemmler05 commented on #761
This is because hegish added the facility to only output every nth level of 3D FESOM output. Therefore, on this branch,

&nml_output_settings
    keep_nth_level = 1
/

needs to be added in namelist.io . keep_nth_level = 1 means that every level is kept. The user could decide to only output every nth level. We won't commit this change right now because we detected that with this option some of the

[2022-08-23 08:27] chrisdane commented on #96
Model output is still not moved from `expname/run_YYYY0101-YYYY1231/work` to `expname/outdata/model` in
[code]
Would be good to have it to save a lot of disk space. Maybe as a switch that the user can decide if copying or moving should be used?

Cheers,
Chris

[2022-08-23 08:29] pgierz commented on #96
That exists. See the handbook: https://esm-tools.readthedocs.io/en/latest/esm_runscripts.html?highlight=movement#setting-the-file-movement-method-for-filetypes-in-the-runscript

[2022-08-23 08:30] pgierz commented on #96
Which model output is left behind? And: Can you also post the path to your runscript? That seems like something in the YAML is (still) misconfigured for the ReCOM variant. AWI-ESM at least never has this problem anymore...

[2022-08-23 08:32] #778 closed, assigned to pgierz

[2022-08-23 08:32] #782 closed, assigned to nobody

[2022-08-23 08:44] tsemmler05 opened #805 "Changes in xios .xml files ignored"
When changing the .xml files in the appropriate esm_tools/namelists directory, the changes are ignored and the default .xml files are used instead.

As an example I changed

/proj/awiiccp5/esm_tools/namelists/oifs/43r3/xios/TCO319_DART/file_def.xml

but in the config file /scratch/awiiccp2/1950c/config/1950c_finished_config.yaml_19030101-19051231 I get the following output - so the file is taken f

[2022-08-23 14:16] shijian0702 opened #806 "AWICM3: very slow start of the first run"
**Describe the problem you are facing**

The awicm3-v3.1 always spends much time to start the first run, dealing with the partial restart files of fesom: over 30 minutes for high-resolution (Tco319-BOLD) and over 20 minutes for low resolution (TCO95-CORE2). For the second run, it just took a few seconds to read the raw restart files.
As far as I know, other climate models, like awi-esm2, have no s

[2022-08-23 16:14] QinggangGao commented on #746
Hi developers

Hope you have a nice summer and holidays.

I tried again. The missing files seem to be less than previous. But I still cannot run it.

esm_tools, version 6.13.1, branch: fix/ssp_generalization_jsbach

experiment on ollie: /work/ollie/qigao001/output/echam-6.3.05p2-wiso/ssp5/test

esm_runscripts warning message:

log file error message:

[2022-08-23 17:23] antoniofis10000 opened #807 "AWI-CM1 in Levante suddenly stops"
Dear Developers.
I do not know why my AWI-CM1 runs in Levante suddenly stop without any apparent reason. This happens in two contexts.

The first is when I try to run a two months extension (same issue in Mistral), see for example: /work/ab0995/from_Mistral/ab0995/a270148/esm-experiments/AWICM/OctoberNovember2020NudgingOldE4. It seems the model suddenly stops after one month, so if I do not kill t

[2022-08-23 21:22] pgierz commented on #807
Moin Antonio

That in both cases sounds like a funky and badly configured namelist. Since you are using AWICM1, that will be ECHAM. Can you post the dt start, dt stop, lresume, putrerun and putdata settings?

I'll also have some time to look in detail, but not until Thursday I'm afraid.

Best
PG

[2022-08-24 07:03] StanleyAgu1 opened #808 "Unknown Error on Levante"
Hello.

I am trying to run some experiments on Levante, I started a historical run and a PI run, then a modified historical run, all starting from the year 1850-2015. After like 2 years, they all stops and I got this error on the log files. I don’t know what seem to be the problem.

**To Reproduce**
Below are my experiments

/work/ab0246/a270162/esm-experiments

1. expA/
2. expA_perturbed_hist/
3.

[2022-08-24 07:56] antoniofis10000 commented on #807
In both cases it seems these parameters are correct (no reason to stop the simulation I think).
In the first case (run stopped after one month instead of running for two months) according to: `/work/ab0995/from_Mistral/ab0995/a270148/esm-experiments/AWICM/OctoberNovember2020NudgingOldE4/run_20201001-20201130/config/OctoberNovember2020NudgingOldE4_finished_config.yaml`
These parameters are:
[code]

[2022-08-24 08:18] joakimkjellsson commented on #741
Hi @mandresm
Unfortunately I deleted the run dir already. My inodes and disk space were way beyond what HLRN allows ;-)
After I ran the "tidy" script, the model restarted and kept going just fine, so it is puzzling.

After talking with HLRN support I have a speculation of what the problem might have been. HLRN have been trying to save energy (as all Germans should nowadays) by putting idle compute

[2022-08-26 08:39] JanStreffing commented on #806
Hello Jian, this is normal. It's making oasis remapping files (rmp_\*). After doing this once, you can store them in a pool directory (e.g. `/p/project/chhb19/shi4/input/oasis/cy43r3/TCO319-HR/${nprocfesom}/rmp_*`) and link them in for all subsequent runs. Be aware that you need a separate set of rmp_* files if you change the number of fesom cores.

You can also send the link to me and @pgierz who

[2022-08-26 08:47] pgierz commented on #806
Moin,

This happens in AWIESM-2 as well, you probably just do not notice it because the "extra" time being used is considerably shorter than in the high-res AWICM3 case since it needs to calculate far fewer re-gridding weights for the typical AWIESM-2 resolution (normally T63 plus CORE2)

@JanStreffing: if we want to store these things in the pool, that is in principle no problem, but we should th

[2022-08-26 09:36] n-beech opened #809 "Invalid reference to ForcingDataPath variable"
After updating esm-tools (6.13.9) and fesom-2.0-master and trying to run fesom2.0 standalone, the simulation doesn't start.

The error in the compute log is:
 "forrtl: severe (19): invalid reference to variable in NAMELIST input, unit 20, file work/ab0995/a270166/runtime/fesom2/tests/2508/reinstall01/run_20010101-20010131/work/namelist.config, line 22, position 21"

Line 22 in namelist.config is:

[2022-08-26 12:04] JanStreffing commented on #805
Hello Tido, was the run `1950c` perhaps done with virtual environment? If so, did `1950u` run with `--open-run`? The virtual environment is mean to protect against these kind of changes to ensure that the namelist defaults and many other defaults stay the same regardless of edits in the esm_tools folder.

I think this could perhaps explain what you see here.

[2022-08-30 04:28] StanleyAgu1 commented on #808
Hi @pgierz

please can you help me here? I can provide more information if needed, or we can arrange a meeting so I can show you my scripts and runs.

thank you

[2022-08-30 05:46] pgierz commented on #808
What esm Tools Version are you on?

[2022-08-30 05:47] StanleyAgu1 commented on #808
Version 2.1

[2022-08-30 05:51] pgierz commented on #808
That's probably you awiesm version, I need to know which version of `esm-tools` you have.

You triggered a bug which I thought I had fixed a few weeks ago, so I suggest updating.

[2022-08-30 05:58] StanleyAgu1 commented on #808
Ok how do I find out which version of esm-tools I have. Is their some way of checking? (Lars helped me set it up)

[2022-08-30 08:19] antoniofis10000 commented on #807
Hi @pgierz.
Do you have any news?

Thanks.
Best wishes,
Antonio.

[2022-08-30 09:19] pgierz commented on #807
Hi @antoniofis10000, I'm on holiday this week so I have not had time to look into it.

To help diagnose further: Does the problem also occur with 1xmonth or 1xyear configurations? Is it only happening with greater than 1?

[2022-08-30 09:20] denizural commented on #807
Hi @antoniofis10000, I am back so I can take over this problem

[2022-08-30 09:42] antoniofis10000 commented on #807
Hi @pgierz and @denizural

Not always, sometimes (as for example restarting on 1st January 2017) I am able to run 6 months (see for example: /work/ab0995/from_Mistral/ab0995/a270148/esm-experiments/AWICM/E3PresFromBegv4)

@denizural Thanks! Please, let me know if you have any new.

Best wishes,
Antonio.

[2022-08-30 10:11] tsemmler05 commented on #805
The run /scratch/awiiccp2/1950c was done by @hegish and yes, I had changed file_def.xml manually in the namelist directory. @hegish, probably you did this run 1950c with virtual environment, i.e. without --open-run?

[2022-08-30 10:31] tsemmler05 opened #811 "Increase speed of tidying up after the simulation has finished"
On aleph I ran one year of simulation with large amounts of output:

/scratch/awiiccp5/1950e/

To compare, I also ran one year of simulation with limited output:

/scratch/awiiccp5/1950c_limitedoutput/

In the case of the limited output the result of

stat /scratch/awiiccp5/1950c_limitedoutput/outdata/fesom/vice.fesom.1900.nc

is:

  File: '/scratch/awiiccp5/1950c_limitedoutput/outdata/fesom/vice.

[2022-08-30 10:37] JanStreffing commented on #806
I just saw that your runscript has lresume=true for oasis. Does this work for you on the first run? I would have thought that for an initial run you need to set this to false, so that it does not try to restart oasis and goes into LEG=0 mode.

[2022-08-30 10:40] hegish commented on #805
I did not create anything in /scratch/awiiccp2/1950c. Is --open-run an esm setting?

[2022-08-30 12:30] tsemmler05 commented on #761
The problem is fixed - this additional namelist entry needs to be before the entry "&nml_list". This is now committed in the aleph_production branch under namelists/fesom2/2.0/awicm3/DART/namelist.io, in awicm-3-frontiers-xios branch under namelists/fesom2/awicm3/frontiers/namelist.io, and in awicm-3-frontiers branch under namelists/fesom2/awicm3/awicm-3-frontiers/namelist.io. I am just not sure i

[2022-08-30 13:07] tsemmler05 commented on #805
--open-run is an esm setting. Sorry @hegish, it was @JanStreffing. @JanStreffing, did you perform your 1950c run that you started on the 1st of August without --open-run? And, to answer your question about my 1950u simulation: yes, this was run with --open-run and therefore considered my manual changes in file_def.xml.

[2022-08-30 13:19] tsemmler05 commented on #805
Actually, if we know already that this is an esm_tools feature that is in place deliberately we know already the reason why in my case the modified file_def.xml was used and in @JanStreffing case not. Therefore, as soon as you confirm, @JanStreffing, that your 1950c run started on the 1st of August was without --open-run, I can close this issue.

[2022-08-30 14:14] n-beech commented on #809
It seems that the problem is in the previous line in namelist.config:
resultpath = '/work/ab0995/a270166/runtime/fesom2/tests/t3008/test10/run_20010101-20010131/work/'

Since removing the forcingdatapath variable or adding another variable after resultpath simply shifts the line and position of the error to the reference following resultpath.

[2022-08-31 08:10] JanStreffing commented on #805
Yes, as this was intended as the production run I used --contained-run

I also suggest this setting for your final production run, as this ensures that you can freely test for subsequent simulations without affecting the running 1950 control.

These settings determine whether esm_tools is using the installation in your home dir, or if it reinstalls itself into the work folder and uses a local inst

[2022-08-31 08:21] tsemmler05 commented on #805
O.k., thanks for the clarification. I did start yesterday evening the production run with --open-run but I suppose as long as I restart the simulation from now on with --contained-run (in case it crashes) there should not be any problem. When the simulation restarts itself automatically which normally is the case (i.e. as long as it doesn't crash) it anyway will use the same installation.

[2022-08-31 08:33] JanStreffing commented on #805
I have not switched from --open-run to --closed run during an experiment before. Perhaps @pgierz or @denizural can comment.
Before you start the contained run, make sure you have committed and pushed all local changes of your esm_tools. In case you don't work on release branch of esm_tools you need to add one more line in the general section of your runscript:

    install_esm_tools_branch: ${name

[2022-08-31 08:38] pgierz commented on #805
I’ve also never done that during the simulation before, only at the beginning. Try it out, as far as I know there is nothing obvious which would prevent it from working.

As to Jan’s second comment: that can either be a branch name, or if you want, a specific commit ID. However, everything needs to be committed, or the changes will not be used on the closed version.

[2022-08-31 09:30] pgierz commented on #809
Hi @n-beech,

The correct way of doing this would be via namelist changes. You can see more in the handbook: https://esm-tools.readthedocs.io/en/latest/cookbook.html#changing-namelist-entries-from-the-runscript

For your concrete example, you could use in your runscript:

[code]

I hope that helps!

[2022-08-31 09:31] denizural commented on #809
Hi Nathan, I am also working on this issue. I will inform you today.

[2022-08-31 09:34] n-beech commented on #809
Hi @pgierz

Unfortunately changing the forcingdatapath variable is not the problem. Regardless of what I set this variable to, I get the same error.

Thanks @denizural !

[2022-08-31 10:10] pgierz commented on #809
Sorry, I read the initial bug report incorrectly. If deniz is working on it, then good. One hint: check that all the parameters you define in your namelist are actually also expected by fesom. It looks to me as if you are defining something fesom does not know about.

[2022-08-31 18:33] denizural commented on #809
Hi @n-beech, the problem is solved. I ran successful simulations on both Levante and Ollie with freshly installed FESOM 2. Here are the runscripts that you need to use. I added my parts with comments:

### For Levante:
[code]

### For Ollie:
[code]

By the way, FESOM-2.1 is available. You can also use it instead. You can give these runscripts a try.

[2022-08-31 20:12] pgierz commented on #809
Hey @denizural: as a hint for the future, you can also use the `diff` tag to a triple back-tick fence to highlight differences 🙂

[2022-08-31 20:14] denizural commented on #809
Yes, I forgot that. Thanks for the reminder 🙂

[2022-09-01 08:50] n-beech commented on #809
Hi @denizural, I think this may have had some side effects.

Now running esm_master or any option with esm_master eg. -install-... returns the following error message:
No targets found for keyword fesom-2.0-esm_interface. Type 'esm_master' to get a full list
of available targets.

I am using esm_tools version 6.13.10 on levante.

[2022-09-01 09:38] denizural commented on #809
Hi @n-beech,

I just installed Fesom 2.0 and 2.1 from scratch on Levante with esm-tool version 6.13.0. Here are the commands:
[code]
What is the command that you executed?

[2022-09-01 09:54] n-beech commented on #809
I just reinstalled esm_tools and now it seems to be working. Thanks for your help!

[2022-09-01 10:02] pgierz commented on #808
Hi Stanley,

Sorry for the late response. You can check the version with:

[code]

The newest version is currently `6.14.0`. If you need to update, just go to your esm-tools folder, do `git pull`, and run `install.sh` again. Check the version after that, it should be newer.

[2022-09-01 10:05] denizural commented on #808
@pgierz, I think the latest version is 6.13.10

[2022-09-01 10:05] pgierz commented on #752
Year is the integer, and syear is the string representation. Potentially 0 padding is missing in the first case.

Since we generally always have 4 digit years, this should not matter.

[2022-09-01 10:05] #752 closed, assigned to nobody

[2022-09-01 10:07] pgierz commented on #808
No: https://github.com/esm-tools/esm_tools/tree/v6.14.0

[2022-09-01 10:10] denizural commented on #808
@pgierz
Do we have a problem: https://github.com/esm-tools/esm_tools/tags
Latest bump is 6 days ago
https://github.com/esm-tools/esm_tools/commit/25a13b91ff3cf6045f474b312cfc40123dafd1fb
I think you bumped your branch rather than the release: https://github.com/esm-tools/esm_tools/commit/56d72b9675f1c62630240c52b22bccd7b714daa0

[2022-09-01 10:13] pgierz opened #814 "Fix Versions and Releases"
The version numbers have diverged. I'll take a day next week to correct everything and maybe also automate the release procedure.

[2022-09-01 10:14] pgierz commented on #808
Ok that's a separate problem. @StanleyAgu1, you should end up on 6.13.10

[2022-09-01 10:16] denizural commented on #814
I thought that the `bump` command would not trigger any version bump action on the branches other than `release`. I am sure GitHub actions have some workarounds for that.

[2022-09-01 10:33] denizural commented on #814
I think I understood what happened
- you wanted to merge the `feat` on to `release`: https://github.com/esm-tools/esm_tools/pull/756
- but you merged `release` on the `feat`
- then you hit `#bump` button
- the tag is pushed to the repo but it only marks the pull request not a commit on the release so when someone pulls the tools they always get the tag that is attached to `release`.

[2022-09-01 10:58] pgierz commented on #814
Well: the reason the tags diverged is because the pull request sat around for so long.

[2022-09-01 13:19] JanStreffing opened #815 "InvalidGitRepositoryError"
**Describe the bug**
On release version 6.13.10 when trying to start awicm3-v3.1 as a contained run
`esm_runscripts awicm3-v3.1-levante-TCO95L91-CORE2.yaml -e compression-0 --contained-run`

ones gets the following error:
[code]

`--open-run` works.

[2022-09-01 13:50] pgierz commented on #815
Does this happen in the very first run, or are you closing the experiment after one or two iterations?

[2022-09-01 13:50] JanStreffing commented on #815
First run.

[2022-09-01 13:53] pgierz commented on #815
Ok, good to know. And one more question: this is still on the login node, right?

I guess it is still useful to get the git info at the time the closed run was started, but that might take some fiddling. I'll make a draft PR for that, but for now the workaround is to remove the vcs elements from your recipe.

[2022-09-01 14:17] JanStreffing commented on #815
Yes I'm still on the login node here. vcs elements? Version Check Something? ;-)

[2022-09-01 14:20] pgierz commented on #815
Version control system ;-)

Have a look in your awicm3 recipe. One of the steps will be record vcs info or something like that. Comment that one out.

[2022-09-01 14:21] JanStreffing commented on #815
close enough!
Thanks, I'll do that if I need it before a fix.

[2022-09-02 06:39] StanleyAgu1 commented on #808
@pgierz Thank you. I updated my esm_tools and ended up on version 6.8.0

[2022-09-02 06:40] StanleyAgu1 commented on #808
After updating it, I restarted my experiment and it started working. But it stopped again after 20 years

[2022-09-02 07:45] n-beech commented on #809
Hi again @denizural

Although I thought the problem was fixed yesterday, I think you ran a successful run with the "detached head" version of fesom rather than the master branch.

By using the command 'esm_master install-fesom-2.0' instead of 'esm_master install-fesom-2.0-master' you get two different versions of fesom with different source code.

So the problem I having with fesom-2.0-master is s

[2022-09-02 08:05] pgierz commented on #809
Hi @n-beech,

`fesom-2.0-master` points to the bleeding edge (with the ongoing refactoring work) if your remote is [github.com/FESOM/fesom2](https://github.com/FESOM/fesom2) and is actually `fesom-2.1`, so you need different namelists. That also explains your Fortran errors: several options changed names or were removed.

What happens if you set the version number to 2.1, as below?

[code]

[2022-09-02 08:07] PengyangSong opened #816 "esm_tools oasis restart (esm_master 6.12.8)"
Hi all,
I run into a problem that oasis cannot restart from another folder.
I wanted to re-run my last 10 years (2141-2150) with some diagnostic outputs.

What I did is below:
[code]
Part of the warning says:
[code]
The former two are right because I do not have "spim" and "rad" streams in the ECHAM6 folder. But the latter two seem to search from the wrong folder and wrong file.  The folder should

[2022-09-02 08:34] pgierz commented on #816
Hi Pengyang,

I'll look into this. I'll give you an update in a bit. Either you uncovered a real bug, or your YAML file needs a small tweak.

[2022-09-02 08:48] denizural commented on #809
Hi @n-beech,

You don't get multiple versions of the model. Remember that during the Git workshop, I told that it is possible to make *time travel* with Git. This is what happens when you run esm_master:

| command | Git action |
| --- | --- |
| esm_master install-fesom-2.0 | `git clone -b 2.0.2 https://github.com/FESOM/fesom2.git fesom-2.0` |
| esm_master install-fesom-2.1 | `git clone -b 2.1.0 h

[2022-09-02 09:23] pgierz commented on #816
Hi Pengyang,

A follow up question: are you giving your experiment a new name?

Best,
Paul

[2022-09-02 09:50] n-beech commented on #809
Thanks I see the problem now.

@pgierz changing version in the namelist to 2.1 did not remove the error but if the master branch essentially points to fesom-2.1, I will just install and use fesom-2.1.

@denizural Sorry I wasn't in the git workshop. But I understand the difference here, thanks.

[2022-09-02 09:50] #809 closed, assigned to denizural

[2022-09-02 09:54] denizural commented on #809
Hi @n-beech,
sorry my bad 🤦‍♂️.  Now, I remember that you were in the ESM-Tools but not in the Git one. You can try it with Fesom 2.1. It is the latest version of Fesom. Just make sure that your model directory does not have the Fesom directory with the same name. Eg. if `Fesom-2.1/` already exists running esm-master to install `Fesom-2.1` may crash because it does not overwrite your directory.

[2022-09-02 10:03] n-beech commented on #809
Yes, sure, but installing fesom-2.0-master creates a directory with the name fesom-2.0.

So if I understand correctly, installing fesom-2.1 shouldn't cause a crash, even if the fesom-2.0 directory contains essentially the same model.

[2022-09-02 10:06] denizural commented on #809
Yes, in this command `git clone -b 2.0.2 https://github.com/FESOM/fesom2.git fesom-2.0` the last argument is the name of the directory to be created. So by default Git would create `fesom2` but we explicitly tell it to create `fesom-2.0`. For Fesom-2.1 this will be `fesom-2.1` as you can see from the post I made above: https://github.com/esm-tools/esm_tools/issues/809#issuecomment-1235239782

[2022-09-02 10:23] PengyangSong commented on #816
Hi Paul, I gave it a new name.

There seems to be two problems:
1. ini_parent_dir in oasis is not working
2. oasis cannot automatically find the correct file by ini_parent_date, we should change the name by hand first.

Best,
Pengyang

[2022-09-05 14:33] JanStreffing commented on #811
Perhaps we can make use of the fact that we are on multi proc machines. In shell I used to find loops with a similar number of elements as there are threads. e.g. a loop over the output variables and put a `&` at the end of the `mv` command.

The equivalent in python might be to encapsulate the `os.sys("mv ${file}")` command inside of a dask delayed section. You can find an example here: https://g

[2022-09-06 06:10] mandresm commented on #746
Hi Qinggang, I just came back from holidays, I will look at this today. The problem is some missing files in Ollie, this time, not the standard pool, but some files that need to be preprocessed from the pool, for ssp simulations. These files already exist on Levante, so I will make sure they get copied into Ollie. Apologies for the delay on the resolution.

[2022-09-06 08:07] JanStreffing opened #817 "documentation for unistall is out of date"
`esm_versions upgrade esm_parser`

`esm_versions` no longer exists

[2022-09-06 08:16] QinggangGao commented on #746
Hi Miguel

Thanks a lot. Pengyang posted a solution here: https://github.com/esm-tools/esm_tools/discussions/673.

I will try it later, could you please also have a check?

Regards, Qinggang

[2022-09-07 14:00] mandresm commented on #746
Dear Qinggang, I think that solution is misleading: the model will run and no files will be reported missing by ESM-Tools but you'll be using Ndepo files of 1850 for every run of your simulation, no matter what year it is currently in. I cannot recommend this approach. Instead, PR #747 should solve that, once finishes. @pgierz just copied the necessary ssp Ndepo files from Levante to Ollie pool, a

[2022-09-07 14:25] QinggangGao commented on #746
Thanks. I'd be happy to test.

[2022-09-08 10:40] #808 closed, assigned to pgierz

[2022-09-08 10:43] pgierz commented on #817
...correct. Who tried this? And which documentation page is referring to the old way of doing things?

[2022-09-08 11:48] JanStreffing commented on #817
Me!
https://esm-tools.readthedocs.io/en/latest/installation.html#uninstall-esm-tools

[2022-09-13 07:37] JanStreffing commented on #805
It was my simulation run with --closed-run.
Case closed, right?

[2022-09-13 09:16] #805 closed, assigned to JanStreffing, mandresm

[2022-09-13 11:49] antoniofis10000 commented on #807
Dear Developers.
Do you have any news about this issue?
We need to have this issue solved by next Monday.

Best wishes,
Antonio.

[2022-09-13 19:37] pgierz commented on #807
Hi Antonio,

Do you have any info for the runs that crash after 6 months? Is it a numerical problem, or at the tools actually acting up? Seeing a copy/paste of a log dump would be useful…

I’ll also ping @mandresm (Sorry Miguel). My own time for support is limited this week as I’m helping with very strange problems on AWI’s new supercomputer so unfortunately I do not know if I will have time to lo

[2022-09-14 07:32] antoniofis10000 commented on #807
Dear Developers.
I think I do not have any simulations crashing after 6 months.

I am not sure if the restarts are properly configured in our run. As I think, it seems ECHAM ends, but it is still waiting for something (FESOM?).
I tried a new 16 days run setting final_date to 2017-01-17 as well as the new oasis3mct restart=TRUE (see it in /work/ba1264/a270148/esm-experiments/AWICM/Test16Days13Sept)

[2022-09-14 07:41] denizural commented on #807
Hi Antonio,
I am working on this issue. It seems like you have many uncommited changes in your ESM-Tools. I am using our latest release to fix this issue.

[2022-09-14 07:44] mandresm commented on #807
Hi Antonio, how long were your runs in mistral? And how long are your runs now?

[2022-09-14 07:49] mandresm commented on #807
@denizural , I'll be having a look at this issue as well. I've been working with Antonio quite heavily recently, and he needs results for Monday, so it's okay to invest 2 people on this to make sure he gets what he needs.

[2022-09-14 08:05] antoniofis10000 commented on #807
Thanks so much.
In Mistral we started to run the simulations with restart every 3 months. But when we reached October 2020 we needed to extend the simulations only 2 months and then this issue appears for the first time (""""""solved""""" using restart every month). (I think I deleted all these simulations from Mistral but I had the same issue in Levante (/work/ab0995/from_Mistral/ab0995/a270148/e

[2022-09-14 10:00] antoniofis10000 commented on #807
Dear Developers.
Another point.
I tried to run a 20 days simulation (/work/ba1264/a270148/esm-experiments/AWICM/Test20Days14Sept/) and it stops after day 4.
Now I do not understand nothing (even less)

[2022-09-14 10:40] antoniofis10000 commented on #807
Neither changing Trigfiles (to 16: /work/ba1264/a270148/esm-experiments/AWICM/Test16Days13SeptTrigFiles or 17: /work/ba1264/a270148/esm-experiments/AWICM/Test16Days13SeptTrigFiles17Days) nor the restart rate (/work/ba1264/a270148/esm-experiments/AWICM/Test16Days13SeptRestartRate1) work.

[2022-09-14 11:37] mandresm commented on #807
when you say "it stops" do you mean it holds as the previous one?

[2022-09-14 11:40] antoniofis10000 commented on #807
Yes, sorry, but instead of day 12 in this case in day 4.

[2022-09-14 11:51] mandresm commented on #807
Can you provide the path to your `esm_tools` installation?

[2022-09-14 11:52] antoniofis10000 commented on #807
/work/ab0995/a270148/ESMTOOLS10August2022

[2022-09-14 11:59] mandresm commented on #807
Do you get any missing files when you submit the 16 days simulation?

[2022-09-14 12:02] antoniofis10000 commented on #807
Yes, some related with OASIS and one with JSBACH, but are the same as in the simulations used for the plot (timeseries and maps) shown today.

[2022-09-14 12:03] mandresm commented on #807
Me too, the oasis ones are very worrying... can you copy the missing oasis files into the oasis restart folder?

[2022-09-14 12:29] mandresm commented on #807
What I am suspecting right now: the remapping files are missing, and in my simulation (copied from yours) it's taking a very long time to build the remapping files. It might be that we are reaching the time wall simply because we are missing the remapping files and then oasis has to build them, and that takes time.?

[2022-09-14 12:45] antoniofis10000 commented on #807
I have copied these OASIS restart files from the 1-year simulation in Levante (/work/ba1264/a270148/esm-experiments/AWICME2FreeRun20172017_2448_6MRRestartOasisTrue) and I have run the 16 days simulation with trigfiles set to 16 days.
No changes can be observed (/work/ba1264/a270148/esm-experiments/AWICM/Test16Days13SeptTrigFilesOasis3).
It is true the computational time is now reduced but I think

[2022-09-14 12:51] mandresm commented on #807
okay, so that was only one minor problem... I am currently running a simulation with the latest `fix/echam_default_namelists_ssp` without your local changes, just in case. I'll report when I have some results

[2022-09-14 13:16] antoniofis10000 commented on #807
FYI not changes when:
     nproca: 24
    nprocb: 48
(Same as in Mistral)
/work/ba1264/a270148/esm-experiments/AWICM/Test16Days13SeptOasis32448

[2022-09-14 15:05] mandresm commented on #807
Antonio, were you able to run 16 days runs ever on mistral with the old tools? If so, do you have an experiment I can look at?

Something new: if you set all the time variables of echam in the `namelist.echam` to have `last` instead of `first` (the ESM-Tools default for most of this variables) including `putrerun`, `putdata`... you get the following error fromFESOMafter day 12:
logfile: `/work/ab0

[2022-09-14 15:22] antoniofis10000 commented on #807
I think finally I did not try it in the old machine (as we were not able to produce daily restart files with the old tools anyway).

Something related with the coupler?

[2022-09-14 15:38] mandresm commented on #807
Looks like, I'm trying with daily runs, and let's see what happens.

[2022-09-14 16:56] pgierz commented on #817
OK! Sorry for the delay. Here is a relevant PR: https://github.com/esm-tools/esm_tools/pull/822.

[2022-09-14 16:58] #817 closed, assigned to pgierz

[2022-09-15 07:46] pgierz commented on #807
Just catching up here, and if you need an oasis insider let me know, I spent some time working on that code.

If it helps, this here:
[code]
might be something like a hardware hiccup. Looks like the memory of that computer just suddenly vanished.

One possible idea to exclude hardware: does this configuration run nicely on, e.g. Ollie? Is Levante just being strange?

[2022-09-15 08:08] mandresm commented on #807
Thanks for the info @pgierz. It's very consistently happening in step 12 for a 16 day simulation, but it also happens in step 1 of a daily simulation. I am now testing with fesom-1.4 standalone. @antoniofis10000 , can you maybe try in Ollie?

[2022-09-15 08:13] denizural commented on #807
I am also getting SIG 11 fault quite a lot on Levante recently.

[2022-09-15 08:35] antoniofis10000 commented on #807
I will try in Ollie but it will take me some time (I have to transfer the data from Levante and probably adapt some .yaml)

[2022-09-15 08:38] mandresm commented on #807
Before that I would recommend that you run a cold run in Levante with 16 days restarts and you see if you are getting the same problem. If you do, then you can try a cold run in Ollie, that should safe you quite some time in terms of how much you have to transfer to Ollie

[2022-09-15 08:43] antoniofis10000 commented on #807
Ok, I will keep you in track

[2022-09-15 09:23] mandresm commented on #761
Thanks for your insights Tido!

[2022-09-15 09:28] antoniofis10000 commented on #807
I think (as also happened in Mistral) is not possible to do a cold run in Levante (at least for ssp370) as the model blows up (/work/ba1264/a270148/esm-experiments/AWICM/ColdRun).

[2022-09-15 09:29] mandresm commented on #807
Fesom-1.4 and ECHAM-6.3.04p1 can run daily standalone simulations. I'm gonna test now a simpler AWICM1-CMIP6

[2022-09-15 11:57] mandresm commented on #807
I can also do daily restarts with AWICM1-CMIP6 and 16 days restart in Levante.

[2022-09-15 11:58] mandresm commented on #807
For the AWICM1 with 16 days restart simulation you can check this experiment folder: `/work/ab0995/a270152/awicm1cmip6_16days`

[2022-09-15 14:03] antoniofis10000 commented on #807
Two points:
Is really surprising to me that you are able to run this cold run. I think using GLOB and different nodes distribution it blows up (/work/ba1264/a270148/esm-experiments/AWICM/PIControl).

In this simulation another significant difference is the use of restart file set to 1. This change seems not to solve the problem (/work/ba1264/a270148/esm-experiments/AWICM/MiguelOption)

[2022-09-15 14:06] antoniofis10000 commented on #807
FYI, I have the same issue extending for 6 months an old MISTRAL simulation (/work/ba1264/a270148/esm-experiments/AWICM/E1HistFrom1018532448RestartTrue), in this case after 3 months (the restart period in Mistral).

[2022-09-16 14:01] #761 closed, assigned to hegish, tsemmler05, mandresm

[2022-09-16 15:42] mandresm commented on #807
1 is converted internally to `true` for the choose_. So it's basically the same thing. The recommendation is to use `true` or `false` instead of `0` and `1`.

[2022-09-21 14:26] mandresm commented on #816
Hi @PengyangSong Penyang, can you please paste your whole runscript here?

[2022-09-22 07:13] PengyangSong commented on #816
I think this is because of the difference naming between the old and new esm_tools releases. Now I solve this by changing file names by hand.
Yesterday I post a wrong reply here because I thought this is the Discussion #673

[2022-09-22 11:33] kinow opened #825 "GH project web site unavailable? www.esm-tools.net"
**Describe the bug**

Learned about `esm_tools` today in a meeting, found via ddg the link to this repository, then clicked on the site, but it's showing some sort of domain parking page, I think?

**To Reproduce**

[www.esm-tools.net](https://www.esm-tools.net/)

**Expected behavior**

Maybe the project docs?

**Screenshots**
![image](https://user-images.githubusercontent.com/304786/191735966-18d

[2022-09-22 12:01] antoniofis10000 opened #826 "OASIS and FESOM restarts not from last day of the experiment in AWI-CM1 and AWI-CM3"
Dear developers.
Currently, by default, I think if somebody wants to branch off an experiment using AWI-CM1 (and AWI-CM3 I think) in the middle of the year (or month), by default the restart states from FESOM and OASIS are readed from the last day of the experiment. E.g. We want to use an experiment running from 01/01/2019-31/01/2019 to branch off another experiment starting on 15/01/2019 the ECHA

[2022-09-22 12:11] mandresm commented on #825
Dear @kinow ,

Thanks for reporting this.

The site is offline due to licensing, and it won't come back soon. However, it was out of date. You can find the useful information you need in this resources:
- https://esm-tools.readthedocs.io/en/latest/introduction.html
- https://github.com/esm-tools/workshops/tree/main/202207_AWI_ESM-Tools

[2022-09-22 12:13] kinow commented on #825
Thanks @mandresm, maybe someone with access to the settings of this repository could change the URL to one of these two (I think the readthedocs one looks like a useful intro). Thanks!!

[2022-09-26 08:47] mandresm commented on #825
Taken your suggestion and have added the docs page there, until we have our page back again.

[2022-09-26 08:47] #825 closed, assigned to mandresm

[2022-09-26 09:41] kinow commented on #825
Thanks @mandresm !

[2022-09-28 10:55] mandresm commented on #816
Is this problem solved? If that's the case the issue can be closed.

[2022-09-28 11:12] #816 closed, assigned to pgierz

[2022-09-29 08:30] chrisdane opened #830 "continue experiment from previous date without renaming experiment"
**Describe the problem you are facing**
I want to continue an experiment from a previous (i.e. already modeled) date without renaming the experiment.

For example, the years 1000 to 1010 were already modeled. Now I want to restart the model from the restart file from year 1005 without renaming the experiment. This implies that model output from years 1006 to 1010 will be overwritten, that is ok. T

[2022-09-29 09:11] mandresm commented on #830
Hi @chrisdane,

What you are experience it's the product of a design choice, I will explain what's that design choice, how to come around it, and we can use the issue to discuss how would we like it to operate ideally.

This is related to #826 (there is already a fix for that issue, I'll be merging today)

Design choice
===========
There are two ways of restarting an experiment:
1. By just submitt

[2022-09-29 09:57] chrisdane commented on #830
Thanks a lot Miguel!

The following worked to continue a `awicm-1.0-recom` run from year 1006 without renaming the experiment:
1. Change `<exp_id>/scripts/*.date` to
[code]
(yes, this is contrary to the year 1005 that Miguel suggested).

2. Correct the oasis restart file links `o2a_flux` and `a2o_flux` that they point to the year 1005. The correct (i.e. from year 1005) restart files will be used f

[2022-09-29 11:09] mandresm commented on #830
- [x] Oasis restarts need to use the time stamp by default #826
- [ ] The documentation on restarts have to be improved with the points above
- [ ] `-r` flag needs to be fixed

[2022-09-29 11:21] mandresm opened #832 "Timing of runs/models/tidy"
**Is your feature request related to a problem? Please describe.**
A user asked in #700:

**Describe the solution you'd like**
When using ESM-Tools we time how much time is spent in the model running thorugh the `time srun <model>` in the `.run` file. We could retrieve this information, together with timing of the tidy part of ESM-Tools to put together a file where one can check for each run how m

[2022-09-30 08:08] chrisdane commented on #358
A follow-up feature request: Currently, links are not dereferenced. For example, the finished config entry
[code]
does not help since its a link that may have changed in the meantime. Thus, I cannot verify which a2o_flux file was used for that specific run.

My request is to dereference all links (if any) in the finished config file.

Thx and cheers,
Chris

[2022-09-30 12:38] mandresm commented on #358
That's a very good point! We are currently half way on redesigning the `filedict` syntax and making it more reliable and understandable. Therefore, I think it's better to only apply this idea for the new implementation of the `filedict`, instead of spending time on it now and also later. I will add this to our FileDict project on GitHub so it doesn't go forgotten.

[2022-10-04 08:39] mandresm commented on #811
The parallel feature will be added during the refactoring of the file dictionaries, I have added to the project so that we don't forget about it.

[2022-10-04 15:19] mbutzin opened #833 "Running AWICM3v-3.1 on JUWELS and FESOM's CMake settings"
I am trying to run AWICM3v-3.1 with resolution TCO95L91 on Juwels. The model quickly crashes with the error message
"ABORT!    1  UPDO3CH: PROBLEM OPENING O3CHEM FILE FOR FIRST MONTH"
As my project is project is hhb20, I looked into the pool directory
/p/project/chhb20/jstreffi/input/oifs-43r3/TCO95L91
to locate the ozone data and discovered that the directories 95_4 and 95l_4 are symbolic links p

[2022-10-05 08:57] mandresm commented on #833
Hi Martin,

I can answer for that point. This was a recommendation from @hegish: changing the source code automatically through ESM-Tools is not advised, not even the `CMakeLists.txt`.

Instead, we set the the `COUPLE` variables during the cmake command, so if you look at the compilation script `awicm3-v3.1/comp-fesom-2.0-awicm-3.1_script.sh` you'll see this line at the end of the file:
[code]

So

[2022-10-06 09:15] mandresm commented on #833
I can also reply to this with what I know (@JanStreffing please feel free to add suggestions): unfortunately, Juwels doesn't have a pool that can be read from all users, and it seems that they are not willing to set that up in the future for security reasons? I thought the solution until now was to have a copy of the input files in each project folder, so I am a bit surprise that the files in `hhb

[2022-10-06 09:43] JanStreffing commented on #833
I turned the link into an actual copy. It seems that when I copied some of the links inside were still pointing to the original.

[2022-10-06 09:46] JanStreffing commented on #833
Regarding the second question of `FESOM_COUPLED OFF` and `OIFS_COUPLED OFF` These are set to ON at compile time by esm_tools with a cmake flag: `cmake -DOIFS_COUPLED=ON -DFESOM_COUPLED=ON ` This way the defaults need not be touched. You can find these flags in the c`omp-fesom-2.0-master_script.sh`

[2022-10-06 09:55] mandresm commented on #833
@mbutzin, feel free to close this issue whenever you test that the problem is solvde

[2022-10-06 12:58] mbutzin commented on #833
Unfortunately, the model still crashes with the same error message related to ozone (see also
/p/scratch/chhb20/butzin1/runtime/awicm3-v3.1/test_initial_2/log):

144:  ABORT!    1  UPDO3CH: PROBLEM OPENING O3CHEM FILE FOR FIRST MONTH
144: MPL_ABORT: CALLED FROM PROCESSOR      1 THRD     1
144:  MPL_ABORT: THRD           1
144:   UPDO3CH: PROBLEM OPENING O3CHEM FILE FOR FIRST MONTH
144:  SDL_TRACEB

[2022-10-06 13:16] mandresm commented on #833
@JanStreffing, I think ESM-Tools (at least for Martin's simulation) is trying to copy the data from `/p/project/chhb20/jstreffi/input//oifs-43r3/43r3/climate/95_l4/` and that folder does not exist. If you compare `/p/project/chhb20/jstreffi/input//oifs-43r3/43r3/climate` and `/p/project/chhb19/jstreffi/input//oifs-43r3/43r3/climate/` you'll see that many folders are missing in the former.

[2022-10-06 13:18] JanStreffing commented on #833
Maybe the problem was never a link, but that the folder on the chhb20 project was out of date:
[code]

its missing some folders, including 95_4 compared to the chbb19 one:

[code]

Did the esm_tools complain in any way about this missing folder when you submitted to job? Can you give it another try?
I have copied over the missing ones.

[2022-10-06 13:21] mandresm commented on #833
A side note: ESM-Tools doesn't complain about wildcarded set of files, and that's what the o3_data files are (it will complain in the future with the refactored filedicts), so I would expect that Martin got no notification of missing files.

[2022-10-06 13:22] JanStreffing commented on #833
makes sense. can't check if it's there if we don't tell esm_tools what's supposed to be there  ;-)
We could check if the folder exists perhaps..

[2022-10-06 13:24] mandresm commented on #833
or if at least one coinciding file is found. I just added this as a ticket in the Filedicts project so that we don't forget about it.

[2022-10-06 14:06] mbutzin commented on #833
Thanks - this solved the problem!
And @mandresm is right that there was no notification of missing files.

[2022-10-06 14:07] #833 closed, assigned to nobody

[2022-10-08 05:44] joakimkjellsson opened #836 "Missing xdgenvpy"
Good morning
I'm still using ESM-Tools branch prep_release_awicm3_geomar (which is at least a year old) on HLRN-Emmy (Gottingen) but now I'm feeling brave enough to checkout "geomar_dev" (which is much newer).

Doing "git checkout geomar_dev" worked fine. To be safe, I also removed my ~/.local folder and ran the "./install.sh" script anew.
But when I try to submit a job, I get this error
[code]
I

[2022-10-10 05:39] seb-wahl commented on #836
Good morning,
I'd first do a complete uninstall as described here: https://esm-tools.readthedocs.io/en/latest/installation.html#uninstall-esm-tools
Does that do the trick?

[2022-10-10 09:41] joakimkjellsson commented on #836
Thanks @seb-wahl

It sort of worked.
This seems to be a problem for me:
[code]

I don't know if this command actually did something or not.
I ran the "./install.sh" afterwards, and now xdgenvpy is installed, so that's good.

But the install script ended with
[code]

Then I re-ran the uninstall and install commands again, and this time it ended with
[code]

But when I try to use esm_tools I get thi

[2022-10-10 18:28] joakimkjellsson commented on #836
Update: I made a new conda environment and ran ./install.sh

Now the ./install script runs fine, but when I try to make an experiment, I get this:

[code]

1) It seems that the package problems come from the HLRN anaconda3 environment. Is the new ESM-Tools version not compatible with this environment?

2) Why does preprocess not work?

Cheers
Joakim

[2022-10-17 18:49] mandresm commented on #836
Hi Joakim, the plugin should install automatically as it is specified in `oifs.yaml`:
https://github.com/esm-tools/esm_tools/blob/ed1d29a4eb167075b40090da35f42033653c2ec3/configs/components/oifs/oifs.yaml#L14-L16

BUT it will only install if you run esm_master to build your model. The good news is that running `esm_master <any_command>-focioifs-<version>` will start by installing those plugins, an

[2022-10-17 18:53] mandresm commented on #836
And by the way, we never really gave support for conda. Now there is a conda `environment.yaml` recently added to `release` (`conda env create -n esm -f environment.yaml; ./install.sh`), and some improvements have been made on that respect, but it is in testing phase. In any case, I think you should be able to run with what you are currently doing with the solution I posted on the message above.

[2022-10-18 07:49] joakimkjellsson commented on #836
Hi @mandresm

I tried the above.
[code]
did not work (see attached error message). This is the same as I get when I made my own empty env and then ran ./install.sh

But, I switched to "release" branch, then "conda deactivate" (to leave env) and then re-installed esm_tools again:
[code]
Then ran
[code]
which installed plugins.
And now it works.

I'm wondering if the "geomar_dev" branch has a differ

[2022-10-18 08:11] mandresm commented on #836
You're welcome! I'll close it for now.

[2022-10-18 08:11] #836 closed, assigned to nobody

[2022-11-04 15:50] JanStreffing opened #841 "Overwrite default executable name by component version"
Bit of background: In esm_runscripts we use the name of the executable in oasis.py as the NBMODEL name:

https://github.com/esm-tools/esm_tools/blob/eb5353984fabd8e9f424074bb280ff55c51b17a9/src/esm_runscripts/oasis.py#L38

This is not really correct, as the oasis name of the model does not have to be the executable name that we use for slurm. It's a variable that each model has hard coded in it's

[2022-11-04 17:42] mandresm commented on #841
On that same yaml (`/p/scratch/chhb19/streffing1/runtime/awicm3-master/smhi_5/run_20000101-20000101/config/smhi_5_finished_config.yaml`) if you look for `version` in the `oifs` section it is `43r3`. I guess it should be `43r3-master` right? That should be triggered simply by stating `general.version: master` as the coupling file is already pointing at the correct OpenIFS version.

[2022-11-07 06:32] JanStreffing commented on #841
I already have `general.version: master` in the run script:
[code]
We have in the past never used the 43r3- before the version. e.g. a working v3.1 runscript looks like:
[code]

You think it should always by 43r3-$something?

[2022-11-07 08:15] mandresm commented on #841
Hi Jan,

Up to now you have never needed to associate the specific version of OpenIFS to AWICM3 during run time (for compilation you did, through the `coupling` files). During run time the version was set here:
https://github.com/esm-tools/esm_tools/blob/9e0bccf415b0b19701e4a91a0afdbf9a7fe0b3ee/configs/setups/awicm3/awicm3.yaml#L87-L88
Then, in `oifs.yaml` is selected **during runtime** (yes, coup

[2022-11-07 08:20] mandresm commented on #841
In summary, the method to select versions is not consistent between compilation and runtime. One of the many reasons we want to rewrite  esm_master, get it to use the esm_parser (as esm_runscripts does), and potentially get rid of the unnecessary coupling files. I'll open an issue, and include it in our cleanup project.

[2022-11-07 08:41] JanStreffing commented on #841
Thanks @mandresm I tried that.

problem is that our input folders are using oifs-43r3 as a path. So do our default namelists... :/

[code]

[2022-11-07 08:51] mandresm commented on #841
I see. There are several ways to tackle this, the simplest one would be to add to the `general.choose_version.master` the `executable: OpenIFS`. That's not ideal because if later on it's decided that we should change the executable name, then we have to change it in two places.

A more generalized option would be to add a new variable `namelist_version` in the `oifs.yaml` and used that variable to

[2022-11-07 09:05] JanStreffing commented on #841
Option 1 means I add `executable: OpenIFS`
https://github.com/esm-tools/esm_tools/blob/9e0bccf415b0b19701e4a91a0afdbf9a7fe0b3ee/configs/setups/awicm3/awicm3.yaml#L35-L41
?
That one did not work:
`- missing source: /p/project/chhb19/streffing1/model_codes/awicm3-master/bin/oifs`

I will try the second option instead.

[2022-11-07 09:19] mandresm commented on #841
Nope, option 1 means add `executable: OpenIFS` here:
https://github.com/esm-tools/esm_tools/blob/9e0bccf415b0b19701e4a91a0afdbf9a7fe0b3ee/configs/setups/awicm3/awicm3.yaml#L143-L166

[2022-11-07 10:17] chrisdane commented on #368
Hi all

I have the same problem: I have a run with annual runs/restarts. Now, I want to run a specific year with monthly runs/restarts. At the end of the first month of this monthly job, I get the same error as Akil:
[code]

This is the run directory of this error run:
[code]
The runscript is
[code]
I use the co2_coupling branch of echam-6.3.04p1 in the awicm-1.0-recom setup on levante (`/home/a/a

[2022-11-07 10:56] pgierz commented on #368
Strictly speaking this is not really an esm tools problem and is one of the infamous "large number bugs" in echam. I will be able to look in detail after lunch and maybe have some hints. Maybe another esm-tools guy has ideas as well.

A few questions maybe useful to help figure stuff out:

Did you give the experiment a new name? Or are you using the same folders/names as before?

What FESOM are yo

[2022-11-07 11:05] pgierz commented on #368
@mandresm are you taking care of this, or should I look?

[2022-11-07 11:15] pgierz commented on #368
Hi @chrisdane, more questions, sorry.

Seems something is messing up in oasis.

[code]

to understand more, I would need to know how you started up your model. Is `oasis` restarting? Is it a cold start? Can you start up the model without changing the output frequency and repeat the year, or is that already going wrong?

[2022-11-07 11:28] mandresm commented on #368
I started looking at it, but if you are around today, feel free to take care of this issue.

[2022-11-07 11:30] mandresm commented on #368
By the way, on my first exploration of the experiment folder and runscript, I have not found anything suspicious or obvious. So I am with @pgierz , in that this is probably an ECHAM bug.

[2022-11-07 12:55] chrisdane commented on #368
@pgierz
I get the same error in both cases: 1) restart the experiment with the same name, i.e. in the same directory (my post from today at 11:17) and 2) restart the experiment with a new name, i.e. in a new directory. This is the directory for the latter case:
[code]

I use the fesom1 branch fesom_recom_1.4_master: `/home/a/a270073/esm/awicm-1.0-recom/fesom-1.4`

I can run this year specific year

[2022-11-07 20:49] pgierz commented on #368
This points more and more to a problem with namcouple. Can you copy/paste that into the post so we have a record of it for the future? Bad guess, and I will be able to look tomorrow, I would assume your oasis is trying to do yearly and echam is trying to do monthly. That's one of the first lines in the oasis config.

[2022-11-08 08:21] pgierz commented on #368
Here is the newest namcouple of Chris' run (without changing the exp dir name):

[code]

[2022-11-08 08:23] pgierz commented on #368
The total runtime points that it should be doing exactly 31 days, which is fine. I'll look at the ECHAM and FESOM settings next. I suspect some kind of time mismatch.

[2022-11-08 10:14] chrisdane commented on #368
Paul figured out the problem: to change from annual to monthly runs/restarts, I have put
[code]
in the runscript. Yes, I did not set `restart_rate` in the respective model sections.

The esm_tools default are (echam.yaml):
[code]
and (fesom.yaml):
[code]

Hence, the default from fesom.yaml lead to (namelist.config):
[code]

That means, fesom continued to run at the end of the first month while ech

[2022-11-08 10:14] #368 closed, assigned to nobody

[2022-11-08 10:14] pgierz commented on #368
Issue ended up being in `FESOM`, as it was configured for running in yearly restart mode rather than monthly restart mode. We could reopen this issue to develop a better strategy for time control, but since the problem is fixed I will close this for now.

[2022-11-08 10:42] mandresm commented on #368
Just a clarification here: I don't think this has anything to do with the hierarchy figure. That figure talks about how the information on files belonging to different hierarchical levels is merged. It doesn't talk about how variables inside the sections interact (i.e. `awicm.yaml` contains info for all sections, `fesom.yaml` only contains the one for fesom), and for almost every case, the variabl

[2022-11-08 15:38] chrisdane opened #842 "all logfiles should contain the jobid in their filename"
**Is your feature request related to a problem? Please describe.**
In an `awicm-1.0-recom` simulation, 5 logfiles are created in the `log/` directory per run:
[code]
Only one of them contains the jobid. If a specific date is computed more than once, the logfiles without the jobid in their filenames will be overwritten.

**Describe the solution you'd like**
All logfiles should contain the jobid in

[2022-11-08 15:48] mandresm commented on #842
Good catch. The good news is that the `compute` one contains all of them in one single file, so the information of the ones that are not stamped with the jobid is not lost.

[2022-11-08 19:42] pgierz commented on #842
If we are opening this part of the runscripts anyway, may I suggest for the PR to be able to fully customise this, but with sensible defaults as suggested? I would say job type, date, slurm ID (maybe also Process ID)

If someone wants to customise and put their logs into blah123 then so be it. I'm happy to look, but I will guess @mandresm alreafy has the relevant parts open in his vim.

[2022-11-08 19:46] pgierz commented on #832
This should be one of the log files. I remember writing an unneedly complex function to compute "human" wall time for each experiment phase and it was politely put unpleasant. Better ways of doing this ate happily welcomed :-)

[2022-11-08 19:48] pgierz commented on #832
Look in esm utilities. There are some preliminaries

[2022-11-09 10:39] JanStreffing commented on #841
The hotfix worked and will be used. Ty @mandresm

[2022-11-09 10:39] #841 closed, assigned to nobody

[2022-11-09 10:40] JanStreffing commented on #815
Should I close this issue?

[2022-11-09 11:27] pgierz commented on #815
Yes, less open issues are better. I think @mandresm and I both have in our heads what needs to get done

[2022-11-09 12:24] mandresm commented on #815
I will also open soon a project for that, so I agree, we can close this.

[2022-11-09 12:24] #815 closed, assigned to pgierz

[2022-11-09 15:29] JanStreffing opened #843 "new fort.4 template can't be modified with f90nml"
Apparently the new fort.4 template that I got from the EC-Earth community does not mesh well with f90nml. This namelist:
https://github.com/esm-tools/esm_tools/blob/feat/ece4-f/namelists/oifs/43r3/awicm3/master/fort.4
seemingly contains a grammatical error or oddity:

[code]
Compare to the old one:
https://github.com/esm-tools/esm_tools/blob/release/namelists/oifs/43r3/awicm3/master/fort.4

I don'

[2022-11-09 15:50] JanStreffing commented on #843
upgrading the version of f90nml from 1.3.0 to 1.4.3 changed the error to:
[code]

[2022-11-09 16:36] mandresm commented on #843
The problem was that the sections `NAERAD`, `NAMPAR0`, `NAEPHY` , `NAMDYN`, `NAMGFL`, `NAMRES`, `NAMPPC` were repeated in the namelist (the repetitions being empty). I just removed them from the namelist and pushed the new namelist without repeated sections. The error is not intuitive at all. I will report an issue to `f90nml` so that the error is clearer (once they fix this we can catch and repor

[2022-11-09 17:42] pgierz commented on #843
Thanks Miguel! The guy who runs f90nml is super nice, so I hope this can go through.

Jan, I'm about halfway done with your xml stuff, I might need you to give me a few more examples.

[2022-11-09 18:37] mandresm commented on #843
Yeah, last time I opened an issue, he fixed super fast :)

[2022-11-11 10:07] JanStreffing commented on #843
problem solved, ty!

[2022-11-11 10:07] #843 closed, assigned to mandresm

[2022-11-11 10:08] JanStreffing commented on #511
bump, as @pgierz is working on this

[2022-11-22 13:57] crodehacke commented on #726
Moin @pgierz and @sebhinck.

I have trouble installing PISM successfully on Levante, and Lars has no idea what I shall do to get it installed.

I use the following modules:
[code]
The error message indicates trouble with HDF5. See below for details.

Do you have any suggestions on how I get PISM running on Levante?

[code]

[2022-11-22 14:18] pgierz commented on #726
Hi @crodehacke, did you bind in the global spack installation as suggested by Sebastian?
https://spack.readthedocs.io/en/latest/build_settings.html#build-settings

And:
https://spack.readthedocs.io/en/latest/chain.html

[2022-11-22 21:16] crodehacke commented on #726
Hej @pgierz,

Thanks for helping.
I'm unsure what you mean in particular. Therefore, I share my two essential configuration files
[code]
and
[code]
What should be different here?

[2022-11-23 06:02] sebhinck commented on #726
Hi Christian,
you already seem to use the "upstream" of DKRZ, as Spack finds all those packages in the Software tree.

I did not dig deep into your error message, but you could try to use one of Levantes pre-build HDF5, or netcdfs.

[code]

-> use the respective hash to enforce usage of that package...

[2022-11-23 06:12] sebhinck commented on #726
You are aware, that the Spack PISM package only supports PISM 1.?

See
[code]

[2022-11-23 08:02] pgierz opened #853 "Run and Compile scripts start a login shell?"
Moin,

I am setting up the `albedo.yaml` file for the new computer, and it seems as if both the compile and run scripts always set `/bin/bash -l`.

Just to open up for discussion: why is this? This is happening in:

[code]

If there are no very good reasons to keep this, I would remove it. Both a compile and a run job are by definition not interactive and therefore don't need to explicitly trigger

[2022-11-23 08:10] mandresm commented on #853
I think the best test one can do is to try to compile AWICM3 in Juwels. AWICM3 in Juwels uses environment variables such as `$USER` to overcome the fact that there is no pool in Juwels and the pools have to be duplicated through out the different projects. If AWICM3 works in Juwels I would expect there are no problems.

[2022-11-23 08:26] pgierz commented on #853
I have not actively worked on Juwels for a long time, so maybe some else can check that much faster than I can?

[2022-11-23 08:27] mandresm commented on #853
I can do that

[2022-11-23 08:30] mandresm commented on #853
Is there a branch with those changes?

[2022-11-23 08:33] pgierz commented on #853
Unfinished, but yes, you can use `feat/albedo` You might still need to click through the `pdb`, I am still debugging some things in `esm-master` (starting the sub shell seems to be causing strange behaviour)

[2022-11-23 09:32] mandresm commented on #853
It can compile AWICM3 without problems in juwels :)

I see, go for it. For the merging of Albedo I will do real tests for every  models so we will have the chance to catch any weird thing in other computers.

[2022-11-25 12:28] chrisdane opened #856 "UnboundLocalError: local variable 'user_config' referenced before assignment"
**Describe the bug**
[code]
raises the error
[code]
But the same command works when the runscript is called `runscript.yaml` instead, i.e. the file ending is provided.

**Expected behavior**
Successfull `esm_runscripts`-call independent of the fiename of the runscript.

**System (please complete the following information):**
[code]

[2022-11-25 12:42] chrisdane opened #857 "fesom configs namelist.config only"
**Describe the bug**
In an `awicm-1.0-recom` experiment, only the `namelist.config` is saved in the `configs/fesom` directory. All other namelists are missing.

**Expected behavior**
All namelists (of any model) should be saved.

**System (please complete the following information):**
[code]

[2022-11-25 13:26] mandresm commented on #857
Hi Chris,

Can you provide a path to the experiment folder?

[2022-11-25 13:37] chrisdane commented on #857
[code]

[2022-11-25 17:21] mandresm commented on #857
Hi again,

I figured out what is going on:
https://github.com/esm-tools/esm_tools/blob/12d6e86e1cace6f5273e2143b68b80e1cd074b96/src/esm_runscripts/filelists.py#L975-L984

Your experiments indeed have all the other fesom namelists, but without a time stamp. The reason for you to have many `namelist.config` with time stamps is because `namelist.config` changes with every run, while the other configs

[2022-11-27 10:27] #856 closed, assigned to mandresm

[2022-11-28 08:55] chrisdane commented on #857
Ah well thats awesome, I would vote to keep that behavior. Just a problem of communication I guess.

[2022-11-28 08:55] #857 closed, assigned to mandresm

[2022-11-28 13:45] fernandadialzira opened #860 "Renaming of runoff mapper grids not possible for master branch"
AWI-CM3 master is now updated to the ECE4 version of the `openIFS` code. For the runoff mapper to work according to the naming of the ECE-EARTH community, the rnfa grid needs to be named `RFNA`, instead of `RfnA`, as it was previously. To do so, I tried adding such a grid only for the `master` branch:

[code]
However, the model would still only try to find the RnfA grid, leading to an error. The o

[2022-11-28 14:09] mandresm commented on #860
Hi @fernandadialzira,

Thanks for reporting this issue. Could you please provide a runscript for me to reproduce the error?

Thanks!

[2022-11-28 14:26] fernandadialzira commented on #860
The script is:
`
/p/project/chhb20/fmatos/runtime/awicm3-master/runscript_testing/awicm3-master-juwels-TCO95L91-CORE2.yaml
`
The part where I chose the grid is commented out.

[2022-11-28 15:25] mandresm commented on #860
After adding the following lines to `awicm3.yaml` in the `rnfmap.choose_general.version."master"`:
[code]

I can report that I cannot reproduce the error, neither with a check run or an actual run. Running the runscript provided (with the user modifications) the namcouple file ends up with an `RNFA` grid in all cases. Further debugging requires exploration of your local changes with potentially `g

[2022-11-28 15:38] mandresm commented on #860
Here you can find the two tests: `/p/scratch/chhb19/mandresm`:
- `i860` obtained by running `esm_runscripts i860.yaml -e i860`
- `i860_c` obtained by running `esm_runscripts i860.yaml -e i860_c -c`

Runscript: `/p/home/jusers/andres-martinez1/juwels/my_scripts/i860.yaml`

[2022-11-29 09:36] christian-stepanek opened #861 "Provide a python installation on albedo that is supported (3.10 is not supported by esm-tools)"
**Describe the problem you are facing**
We probably need version 3.9

**To Reproduce**
just follow the ten-steps howto, loading standard git and python versions available on albedo, until reaching this error:

[code]

**Runscrip and other relevant files**
NA

**Screenshots**
NA

**System (please complete the following information):**
 - Supercomputer: albedo0.dmawi.de
 - Version: happens during in

[2022-11-29 10:57] pgierz opened #862 "compile test FESOM-recom-1.4"
Compiling `fesom-recom-1.4` yields a strange `cmake` error:

[code]

This seems to occur despite this being set:
[code]

[2022-11-29 11:01] pgierz opened #863 "compile test fesom-1.4"
Seems to be the same as #862

[code]

[2022-11-29 11:19] chrisdane commented on #861
Just adding information, with the python bin
[code]
the esm_tools installation works (this py bin is automatically loaded on `module load r`).

[2022-11-29 11:22] christian-stepanek commented on #861
Thanks @chrisdane
So loading R before installing esm-tools helps. Probably it would still be good to have the proper python version available as an won module?

[2022-11-29 12:01] mandresm commented on #861
@pgierz, are you on this? I have a fix for this I made a couple of days ago. I could PR.

[2022-11-29 12:04] mandresm commented on #861
I mean, is obviously not only about changing the `setup.py` python version, but also solving the problems of `collections.Mapping` having changed to `collections.abc.Mapping`.

[2022-11-29 14:36] pgierz commented on #861
The Python in R should **NOT** be used.

You should now have python 3.7 until 3.9

[2022-11-29 14:37] pgierz commented on #861
And no, I can't get rid of the Python in the R module. That's just how it is. I can maybe block it somehow...

[2022-11-29 14:40] pgierz commented on #861
@mandresm, if that is already there to use and just needs a PR, I see no reason to avoid supporting Python 3.10

[2022-11-29 14:48] pgierz opened #864 "AWICM3-v3.0"
There seems to be a problem specifically with OIFS variables. For some reason, these are not added to the generated compile script.

[code]

The problem ends up being that in the generated script any OIFS variables are missing:
[code]

Therefore, a `make -n` on the `rnfmap` Makefile leads to:
[code]

This obviously does not work.

[2022-11-30 10:15] pgierz commented on #861
@chrisdane and @christian-stepanek, you will not get past the `install.sh` (or whatever your preferred workflow for installing esm-tools is), but could you please clean up anything you currently might have and use the module `python/3.9.12`?

[2022-11-30 10:40] mandresm commented on #861
@pgierz, there is a PR (#865) to also get passed python errors in `esm_master` and `esm_runscripts`, once you merge it, ESM-Tools commands should be usable in Albedo.

[2022-11-30 12:07] pgierz commented on #861
Reported also by Christian Stepanek that with module 3.9.12 it works, so, this is now closed.

[2022-11-30 12:07] #861 closed, assigned to pgierz