[2020-04-09 06:58] dbarbi opened #1 "latex compile of sphinx docs doesn't work on ollie"
Running Sphinx v1.8.2
loading pickled environment... done
building [mo]: targets for 0 po files that are out of date
building [latex]: all documents
updating environment: [] 0 added, 1 changed, 0 removed
reading sources... [100%] history
/home/ollie/mandresm/esm_tools/docs/history.rst:1: WARNING: Problems with "include" directive path:
InputError: [Errno 2] No such file or directory: '../HISTORY.r

[2020-04-09 08:13] joakimkjellsson opened #2 "Parallel or serial netCDF on Mistral"
Hi all

I had a go at running FOCI-1.0 on Mistral and found that NETCDFROOT and HDF5ROOT were pointing to serial libraries and not the parallel libraries. In the old esm-environment they always pointed to the parallel stuff.
I've changed NETCDFROOT, NETCDFFROOT and HDF5ROOT to the parallel versions now (in branch foci2).
Was there a good reason why we were not using the parallel libraries? Will so

[2020-04-09 19:00] pgierz commented on #1
Looks like something silly...did you clean up the default files made by the cookiecutter? HISTORY.rst is one of those... it needs to be removed from the index.rst for that error to go away

And latexmk not found is something for Malte to look at...

[2020-04-10 08:27] mandresm commented on #1
In Mistral I get the following error when I try to compile the manual:
[code]

So it seems it's missing _sphinx_, I checked for _latexmk_ and it is also missing it.

[2020-04-10 08:27] #1 closed, assigned to pgierz, dbarbi

[2020-04-14 09:26] joakimkjellsson commented on #2
Update: After talking to DKRZ support, I've figured out that the combination we need is:

        - "HDF5ROOT=/sw/rhel6-x64/hdf5/hdf5-1.8.14-parallel-impi-intel14/"
        - "HDF5_ROOT=$HDF5ROOT"
        - "NETCDFROOT=/sw/rhel6-x64/netcdf/netcdf_c-4.3.2-parallel-impi-intel14/"
        - "NETCDFFROOT=/sw/rhel6-x64/netcdf/netcdf_fortran-4.4.2-parallel-impi-intel14/"
        - "GRIBAPIROOT=/sw/rhel6

[2020-04-15 08:07] pgierz opened #3 "Migrate to Readthedocs"
List of projects that need to be migrated to readthedocs:

+ [x] `esm_calendar`
+ [x] `esm_archiving`
+ [x] `esm_tools`
+ [x] `esm_master`
+ [x] `esm_runscripts`
+ [x] `esm_parser`
+ [x] `esm_version_checker` (No documentation provided)
+ [x] `esm_profile`
+ [x] `esm_rcfile`
+ [x] `esm_environment`

[2020-04-15 08:36] pgierz commented on #3
Example of how the new documentation will look (for the main project): https://esm-tools.readthedocs.io/en/docs/

[2020-04-15 08:43] seb-wahl commented on #3
This first draft looks brilliant, and already has a lot of information I was missing in the past. How can we contribute e.g. to the FAQ? I haven't used readthedocs so far, so I appreciate help to get started.

[2020-04-15 08:52] pgierz commented on #3
You need to do a "development install" and then push commits, which @MiguelAndresMartinez is writing how to do. Until that is in the done, here is what to do:

1. `git clone https://github.com/esm-tools/<REPO_YOU_WANT>`
2. Most of the projects have a subfolder called `docs`, where you can change the prose documentation. In-code documentation will soon follow for some of the projects. Examples of h

[2020-04-15 10:14] JanStreffing opened #4 "Wrong config subfolder"
I ran into the following issue trying to install awicm-3.1:

[code]

There is no `fesom2` folder. There is only a `fesom` folder containing the `fesom-2.0.yaml`. The immediate cause of the error is therefore evident. However I don't see where the folder is set. `setups2models.yaml` does not contain any reference to `fesom2`.

This issue was previously reported at https://gitlab.awi.de/esm_tools/es

[2020-04-15 19:27] joakimkjellsson opened #6 "Input_dir in runscript does not overwrite what is in oifs.yaml"
Hi all
I've put together a runscript for OpenIFS 40r1 standalone. From what I can see it sets the proper bin_dir and copies the binary to the work dir, but all other directories fail.
The problem is that even though I've written
input_dir=/work/bb0519/foci_input2/OPENIFS40R1-TL159/
in the runscript, the input_dir that is used is still what is in the oifs.yaml which is
input_dir: ${pool_dir}

But s

[2020-04-16 13:00] mandresm opened #7 "Error in Mistral trying to load anaconda3"
I a getting the following error when I execute `module load anaconda3` in Mistral:

[code]

I solve the issue provisionally unloading the conflicting package:

`$> module unload netcdf_c/4.3.2-gcc48`

Is that the correct solution to the problem or is the `netcdf_c/4.3.2-gcc48` module needed for something when using the esm_tools?

[2020-04-16 13:44] pgierz commented on #7
that's the correct solution. You can also do:

[code]

[2020-04-16 14:17] mandresm commented on #7
Should I add this to the installation instructions and or in the FAQ?

[2020-04-17 13:57] #7 closed, assigned to nobody

[2020-04-21 07:15] pgierz opened #8 "Missing Models"
So it doesn't get forgotten...

we still need PISM and VILMA support so I can keep working on the coupler.

[2020-04-21 12:07] JanStreffing commented on #4
@dbarbi @pgierz Do you know where the fesom2 entry is? I can't add notifications or assignees on github. I'm not sure if you are getting an email about this as you would on gitlab.

[2020-04-21 13:00] mandresm opened #9 "Installation error after an authentification failure"
When I try to insall a model:

and then I introduce the wrong password here:

[code]

I get an expected error:

[code]

However, if I try to install it again I get the same error message without getting to enter the password.

It is possible to solve this problem by manually removing the directory of the model ('> rm -rf model-version'), but could it be useful that this directory is deleted automa

[2020-04-21 13:12] pgierz commented on #9
Sure, you'd need a try/except block around the esm_master part that actually calls the the mini script that is written. There is a way to use `subprocess` module functions to check the error codes of a system call. In any case, we should go through and make sure we aren't using `os.system` anywhere, since that isn't recommended by the Python community.

@dbarbi knows better where exactly that part

[2020-04-21 13:15] pgierz commented on #4
We really need better error handling, see https://github.com/esm-tools/esm_parser/issues/1.

@JanStreffing, I'll have a look at this tomorrow. Maybe @dbarbi is faster than I am ;-). He also did some changes for how the version numbers are actually handled by the parser and I haven't look at that part of the code yet, so maybe he is the better person to ask.

[2020-04-21 14:09] joakimkjellsson opened #10 "Write namelist in uppercase vs lowercase?"
Hi all

I'm trying to run OpenIFS AMIP runs with ESM-Tools.
OpenIFS tries to find namelist chapters named "NAMCTL" or "NAMPAR0" in the namelist, but the f90nml package writes everything lowercase "namctl" or "nampar0". So OpenIFS can not find the namelist chapters and crashes immediately.

Is there a way we can write namelists in uppercase?
There seems to be a line of code in the f90nml package th

[2020-04-21 14:25] pgierz commented on #10
Fortran shouldn't be case sensitive...? Do you have a traceback? Maybe there's just a spelling error.

[2020-04-21 14:33] pgierz commented on #10
Looking at the f90nml docs: https://f90nml.readthedocs.io/en/latest/usage.html

There's a attribute of `Namelist` objects that specifies uppercase or lowercase. If you can confirm that OpenIFS has case sensitivity, I can add a section to the "general" section where you can specify upper or lowercase namelists.

[2020-04-21 14:41] nwieters opened #11 "Set up a list of variables that can be set in a yaml runscript and say if and which namelist it will affect."

[2020-04-21 14:42] nwieters opened #12 "How to change namelist entries in a yaml runscript."

[2020-04-21 14:42] joakimkjellsson commented on #10
Hi Paul

Yes, I replaced one namelist chapter name by uppercase and that worked. So I know that OpenIFS requires uppercase. If you could add an option for this to esm-tools that would be great!

The reason why it's case sensitive is probably because OpenIFS does everything the hard way. For each namelist chapter to read IFS first does "rewind" to get back to top of namelist, then goes through each

[2020-04-21 14:43] nwieters opened #13 "How to add a new config file to a model or setup."

[2020-04-21 14:44] pgierz commented on #10
... 🤦 this doesn't conform to the fortran standard. Ok, I'll hack something together

[2020-04-21 14:48] nwieters opened #14 "Documentation: Where to find which files/data/output/restart in the folder structure of a model experiment."

[2020-04-21 14:49] joakimkjellsson commented on #10
I guess the correct way would be to do:
REWIND (_namelist_id_)
READ (_namelist_id_, _namelist_chapter_name_)

I don't know why IFS goes about it in such a complicated way...
But it might be nice to be able to control lowercase vs uppercase in ESM-Tools. Might be some other model that does the same thing.

Thanks again!
/Joakim

[2020-04-21 14:59] pgierz commented on #10
OK, can you try using the branch nml_case of esm_runscripts? You can add a new parameter in the openifs yaml:

[code]

If I understand `f90nml` correctly, this **should** now result in what you want. If you need help with installing esm_runscripts specific branches, I think we had written some documentation for that; but basically just clone that repo, switch branches, and `pip install -e`

[2020-04-21 15:19] nwieters opened #15 "forrtl: severe (29): file not found, unit 99, file /work/ollie/nwieters/ESM/Test_esm_tools/esm_experiments//awicm2_yaml_test_001/run_20000101-20000131/fesom.clock"
I have two runscripts for awicm-2.0 which are (at least what I can say) the same. One in old style and the other as yaml file: /work/ollie/nwieters/ESM/Test_esm_tools/esm_experiments/awicm-2.0_runscripts
The yaml runscpript ends up in an error saying
forrtl: severe (29): file not found, unit 99, file /work/ollie/nwieters/ESM/Test_esm_tools/esm_experiments//awicm2_yaml_test_001/run_20000101-2000013

[2020-04-21 15:37] joakimkjellsson commented on #10
Awesome! That fixed it, Paul!
IFS now processes namelists properly.

Thanks again!
Joakim

[2020-04-21 15:49] pgierz commented on #10
Cool. Only 2 lines of code. Python is so much easier than the shell version. Closing this and merging...

[2020-04-21 15:51] pgierz commented on #10
Cool. Only 2 lines of code. Python is so much easier than the shell version. Closing this and merging...

[2020-04-21 20:25] #10 closed, assigned to pgierz

[2020-04-22 07:55] joakimkjellsson opened #16 "Can only do add_forcing_data once per yaml file?"
Hi all

I noticed something odd with my oifs.yaml. In one place there is
[code]
and towards the end of oifs.yaml there is also
[code]

However, only the last one is ever executed. The first "add_export_vars" are never added.
I also tried to have two "add_forcing_files" statements, and only one of them was executed.

Can there only be one "add_forcing_files" or "add_export_vars" or "add_input_files

[2020-04-22 08:26] pgierz commented on #16
That might be a bug in the parser...

I'll try to make a minimal example to check that.

[2020-04-22 08:44] nwieters commented on #15
This error is ALWAYS occuring, not only with runscripts in YAML format.

It seems that this error is depending on the length of the experiment id.
In the example above:
awicm2_test_001: worked
awicm2_yaml_test_001: failed

The error is saying that the path to the fesom.clock file is missing the part 'work/' which is exactly the number of letters that the experimentids differ.
Is there a restrictio

[2020-04-22 09:04] pgierz commented on #15
No.

There is an internal FESOM id length restriction. I think it is exactly the length of `fesom` but I could be wrong

[2020-04-22 09:19] nwieters commented on #15
I have another experiment and it cuts the path always after 100 letters.

[2020-04-22 09:32] nwieters commented on #15
Yes, this is an issue of FESOM. Just found out that it has restriction to character length of 100 for different variables. Never had this problem before.
I will close this issue.

[2020-04-22 09:32] #15 closed, assigned to nobody

[2020-04-22 10:04] nwieters opened #17 "YAML runscript for AWI-CM 2.0: missing files"
--- WARNING: These files were missing:
- /work/ollie/nwieters/ESM/Test_esm_tools/esm_experiments//awicm2_yaml_2/run_20000101-20000131/input/echam//unit.24
- /work/ollie/nwieters/ESM/Test_esm_tools/esm_experiments//awicm2_yaml_2/run_20000101-20000131/input/echam//unit.91
- /work/ollie/nwieters/ESM/Test_esm_tools/esm_experiments//awicm2_yaml_2/run_20000101-20000131/input/echam//unit.90
- /work/ollie

[2020-04-22 10:06] nwieters commented on #17
My YAML runscript looks like this:
[code]

[2020-04-23 09:04] mandresm opened #18 "List of components and authors"
It would be useful for sphinx to generate an authomatic up-to-date list of available components and their authors for the documentation.

[2020-04-23 11:58] #17 closed, assigned to nobody

[2020-04-24 08:58] nwieters opened #19 "AWI-CM 2: Nothing in outdata for FESOM2"
I ran a simulation with AWI-CM 2, monthly restart. I get output except for Fesom2 in outdata. It stays in the work folder of each run_... folder.

esm_archiving : unknown version!
esm_autotests : unknown version!
esm_calendar : 3.0.1
esm_database : 3.1.3
esm_environment : 3.0.2
esm_master : 3.2.1
esm_parser : 3.0.3
esm_profile : 3.0.0
esm_rcfile : 3.0.1
esm_runscripts : 3.2.7
esm_tools : 3.1.4
esm

[2020-04-24 09:43] nwieters opened #20 "AWI-CM 2: Monthly restarts: Last month/restart will not be executed."
The following yaml runscript for AWI-CM 2 will stop before last month. It will only run 11 months allthough final date is 2002-01-01.

  1 general:
  2     setup_name: "awicm"
  3     compute_time: "00:15:00"
  4     initial_date: "2000-01-01"
  5     final_date: "2002-01-01"
  6     base_dir: "/work/ollie/nwieters/ESM/Test_esm_tools/esm_experiments/"
  7     nmonth: 1
  8     nyear: 0
  9
 10 awi

[2020-04-24 11:41] nwieters commented on #12
E.g. change output filetype for ECHAM to netcdf:
- Add to the YAML runscript:
[code]

[2020-04-24 12:12] nwieters commented on #20
[code]

will result in two runs:
run_20000101-20000131
run_20000201-20000229

[2020-04-24 13:15] nwieters commented on #20
if
[code]
I get only
run_20000101-20000131
run_20000201-20000229
run_20000301-20000331
run_20000401-20000430
run_20000501-20000531
run_20000601-20000630
run_20000701-20000731
run_20000801-20000831
run_20000901-20000930
run_20001001-20001031
run_20001101-20001130

[2020-04-24 13:28] nwieters opened #21 "AWI-CM 2: No ECHAM output in outdata for Netcdf output format"
If I run AWI-CM 2 and set in ECHAM namelist out_filetype=2 no output will end up in outdata. It remains in the work folder of the run_xxx folder.

[2020-04-27 13:57] pgierz opened #23 "Merges required before Release 4"
Hi guys,

please add any branches I should merge in before Release 4. I'll do a preliminary merge around 17:00 today, and check again that everything works tomorrow morning:

- [x] `docs` branches for all repos
- [x] `esm_interfaces` (for @nwieters)
- [x] `mpiesm` (for @MiguelAndresMartinez)
- [x] `echam6_concerent_radiation` (for Kai Himstedt)

[2020-04-28 06:30] #23 closed, assigned to nobody

[2020-04-28 06:31] #3 closed, assigned to nobody

[2020-04-28 06:38] #18 closed, assigned to nobody

[2020-04-28 13:37] nwieters opened #25 "Can not add a model in include_models that has a '-' in the name"
Maybe this issue is related to issue #4 ?

[2020-04-28 13:38] nwieters commented on #25
esm_archiving : unknown version!
esm_autotests : unknown version!
esm_calendar : 4.0.0
esm_database : 4.0.0
esm_environment : 4.0.0
esm_master : 4.0.0
esm_parser : 4.0.0
esm_profile : 4.0.0
esm_rcfile : 4.0.0
esm_runscripts : 4.0.2
esm_tools : version="4.0.1"
esm_plugin_manager : 4.0.0
esm_version_checker : 4.0.0

[2020-04-28 13:40] nwieters commented on #25
For example:
If I add 'esm-interface' in the groug 'include_models' in the awicm-2.0.yaml file it will search for a model 'esm'.

[2020-04-28 13:45] dbarbi commented on #25
ja... it assumes the "-" separated model from version number. try to avoid the "-"

[2020-04-28 13:47] nwieters commented on #25
what a pity. ok, thanks. Then I need to change the esm-interface config folder

[2020-04-28 18:52] #25 closed, assigned to nobody

[2020-04-28 18:54] dbarbi commented on #9
I would not automatically remove the folder, as it is well possible the user forgot it exists. But we could have a more sophisticated error message

[2020-04-29 08:45] chrisdane opened #27 "docu: Contribution to esm_tools Package does not work"
Hi

Following the [docu](https://esm-tools.readthedocs.io/en/latest/contributing.html#contribution-to-esm-tools-package) on how to contribute to the esm_rools repo the first step is to fork the repo with
[code]
For me, this yields the error
[code]

[2020-04-29 08:47] chrisdane commented on #27
Sorry, my mistrake. Have to fork first. I described the 2nd step.

[2020-04-29 08:47] #27 closed, assigned to nobody

[2020-04-29 11:37] dbarbi commented on #16
should be resolved with v4.0.1 of esm_parser. please check.

[2020-04-29 13:13] joakimkjellsson commented on #16
Seems to work now, at least for my second "add_forcing_files". I'll make some more tests.
Thanks, Dirk!

[2020-04-30 17:01] JanStreffing commented on #4
This error no longer exists on branch foci2. https://github.com/esm-tools/esm_tools/tree/foci2

[2020-04-30 17:01] #4 closed, assigned to pgierz, dbarbi

[2020-05-02 10:19] joakimkjellsson commented on #16
It seems to work now, so feel free to close this issue
Thanks again!
/Joakim

[2020-05-02 10:31] joakimkjellsson opened #30 "Restart files not moved properly for OpenIFS"
Hi all

I've added restart file information to oifs.yaml, and it all looks good. But when the "tidy_and_resubmit" process starts, ESM-Tools has no idea what the restart files are. I get a bunch of errors like:
"File is not in list: ...."

If you look at "restart_out_files" as it is written in the log file (attached), it looks fine the first time. But ESM-Tools lists all the variables several times

[2020-05-02 11:12] JanStreffing commented on #30
Hey Joakim, nice progress. In your runscript the restart unit is set to one month, while the total runtime is only 5 days. Can you check if setting the restart unit to days makes a difference?

Cheers, Jan

[2020-05-02 15:36] JanStreffing opened #31 "Spearation of information and processes, or the dilemma of postprocessing"
Hello together,

I thought I should explain a bit my thoughts on the postprocessing.

Let's step back a bit and look at old-style runscripts like the MPI-ESM from three years ago. Those were quite lengthy files that conflated information about the model, the computer and the experiment with programming of  e.g. calender functions, namelist modification, hostfile generation, runtime loop etc. This

[2020-05-03 08:21] joakimkjellsson commented on #30
Hi Jan. I will check, but as I understand the "restart_rate" variable does not do anything for OpenIFS. The total run length is set by "initial_data" and "final_date" and the "nday" variable sets the restart rate.
I do get restart files in my work directory and all the names look ok. But somehow ESM-Tools "loses" the filenames and then has no idea what the "srf" files are.

Cheers
Joakim

[2020-05-04 05:41] pgierz commented on #31
...post-processing is still on my (never shrinking) TODO list. I understand that mixing YAML/Python is likely a hurdle to jump for most people wanting to do post-jobs, especially if we don't have a good example of how to do that. Even more so if the colleagues trying to do this aren't Python fluent. Complete separation of programming logic and model information will be akin to Sisyphus and his bou

[2020-05-07 09:07] mandresm opened #32 "Functionality to change component variables from setups in esm_master"
An example of the desired functionality would be to modify the `conf_command` of MPIOM from the MPIESM setup, so that we can run `./config` with different flags if MPIOM is standalone or coupled.

Component configuration in `setups2models`:
[code]

Then we should be able to define a different `conf_command` in the MPIESM setup or coupling, for example:
[code]

[2020-05-07 10:18] joakimkjellsson commented on #31
Hey guys
See my branch "foci2" for examples of this. Look at the end of configs/oifs/oifs.yaml
I took Dirk's plugin "preprocess" and made one called "postprocess".
Then I've written oifs-preprocess.sh and oifs-postprocess.sh scripts and put them in configs/oifs/.

My thoughts on this is:
1) Jan is right. For ECHAM, postprocessing mostly means "cdo after", so that's easy. For OpenIFS it's a mix of

[2020-05-15 14:38] joakimkjellsson opened #33 "I chose an idiotic month: FOCIOIFS"
Hey guys

I lost the ability to compile FOCI-OpenIFS. I haven't done it for a while so it's possible something changed somewhere.
The problem seems to have to do with the dates, but I don't know which dates.
Any help here is much appreciated.

This is using branch "foci2" of esm_tools, and here's the output:

[code]

I know I'm an idiot, but I don't understand why I need a date when I'm trying to

[2020-05-15 15:04] dbarbi commented on #33
HI, just pushed a bugfix to "release" of esm_calendar, please check

[2020-05-15 16:05] joakimkjellsson commented on #33
Awesome! "get" worked and "compile" seems to work too!
Thanks!
/Joakim

[2020-05-18 12:43] #33 closed, assigned to nobody

[2020-05-18 13:30] mandresm opened #35 "Document checklist"
Checklist from Sebastian (Geomar):

- [ ]     Document the variables you rely on e.g. base_dir, model_dir, …

- [x]  Document how the _in_work, _sources and _files things work e.g. how config_files, config_sources, config_in_work play together.

- [x]  Document with examples how add_ blocks work. E.g. just found out that you can combine namelist_changes and add_namelist_changes...

- [x] Document

[2020-05-18 16:12] pgierz commented on #19
I also have this problem, looks there is a problem in the FESOM 2 Yaml files. @dbarbi, maybe this is a good practice exercise for some of the new guys?

[2020-05-22 13:25] mandresm commented on #19
The problem is solved now and the necessary changes in fesom-2.0.yaml merged to the release. However, these changes need of new functionalities implemented by @dbarbi in the esm_runscripts, oifs_stuff branch, so I'll wait @dbarbi  to merge oifs_stuff to close this issue.

In the mean time bump version 4.0.5 offers a solution that is not optimal, but works without the changes in esm_runscripts.

[2020-05-28 09:30] nwieters opened #38 "AWI-CM 2: No output for ECHAM in NetCDF format in outdata"
If I set the output format of ECHAM to Netcdf (out_filetype: 2) then no output will be moved/copied to outdata.

[2020-05-28 09:32] nwieters commented on #38
Duplicate of #21

[2020-05-28 09:32] #38 closed, assigned to nobody

[2020-06-03 07:52] pgierz opened #40 "Monthly/Yearly restarts with AWIESM-2.1"
Hello,

we are having problems running AWIESM-2.1 (which is AWI-CM2 with dynamic vegetation turned on) with yearly restarts. The simulation reaches 1st Feb, hangs, and eventually exists with a wall clock timeout.

A run with monthly restarts works normally.

## Paths
Monthly run is here:
`/work/ollie/stepanek/esm-experiments_v4/myinitialtest/`
Yearly run is here:
`/work/ollie/abose/esm-experiments

[2020-06-03 10:13] pgierz commented on #40
This is a "user error", the `namelist.echam` was configured to write restarts only once at the end of the first month.

To fix this problem, add the following section to your YAML file, which serves as your runscript:

[code]

In total, my run configuration looks like this:
[code]

Please note that a "paleo-friendly" yaml configuration using `awiesm` is in preparation.

[2020-06-03 11:20] christian-stepanek commented on #40
My suggested "solution":

Add the above mentioned additional echam section to any of the example runscripts that are provided by the esm-tools. While brevity is certainly an asset, I think a thus expanded runscript would enable esm newcomers to more safely modify the examples towards standard simulation setups that often are based on annual restarts.

The lack of the echam section in the example r

[2020-06-03 11:22] pgierz commented on #40
...the currently provided example runscripts don't cover yearly restarts, that was a mistake on my end. I incorrectly provided a "example", which was broken. sorry.

[2020-06-03 11:29] christian-stepanek commented on #40
There is no need to be sorry. Your help is greatly appreciated, and even the best example script will only reveal its issues once tested by many different users.

[2020-06-05 10:07] pgierz opened #42 "SSH Option for ESM_Master?"
Hi guys,

it might be nice to provide some sort of option (maybe in the esmtoolsrc file) to allow the user to attempt to use ssh-based downloads for the various bits and pieces of each model provided in esm_master. That way, you could store your ssh key on, e.g. gitlab, and skip the password prompts every single time.

This might require esm_master to iterate through and do some string manipulatio

[2020-06-10 14:10] pgierz commented on #42
This can be overcome by placing the correct username and password in the home folder .netrc

[2020-06-10 14:10] #42 closed, assigned to nobody

[2020-06-11 11:21] pgierz opened #45 "OASIS3mct vs OASIS3-mct"
During the FOCI merge, I ended up with two spellings of oasis. Which one is correct?

`oasis3mct` or `oasis3-mct`???

[2020-06-11 12:45] pgierz commented on #45
Corrected everything to `oasis3-mct`, and removed `oasis3mct`. @seb-wahl can you please do a pull of the `paul_prep` branch before you test the Kiel stuff and make sure your stuff still compiles?

[2020-06-11 15:49] seb-wahl commented on #45
@pgierz done, see https://github.com/esm-tools/esm_tools/pull/46 it also covers the renaming of oasis3-mct impact on FOCI

[2020-06-12 07:50] pgierz commented on #31
Hi @joakimkjellsson and @JanStreffing, we have these general shell plug-ins now. I haven't used them in any of my runs, but do you think this can be a solution to this issue?

[2020-06-12 09:22] pgierz commented on #9
As of esm_master v4.0.4, the program stops and throws an error as soon as any error is encountered, so this shouldn't happen any more.

[2020-06-12 09:22] #9 closed, assigned to nobody

[2020-06-12 10:48] joakimkjellsson commented on #31
Hi @pgierz
The plugins definitely do the trick, but they do have the drawback that the path to plugins must be hardcoded in configs/esm_runscripts/esm_plugins.yaml.
I would prefer if there was native support in ESM-Tools to run a bash script without plugins. I can imagine a few other models might need this as well. For instance, Sebastian has a nice bash script to compress NEMO output.
That would

[2020-06-12 10:52] pgierz commented on #31
I have a way out of the hardcoding problem, you can add an "entry point" and then use `pip install` to make your plugin available. If you have a look at the fesom-mesh prep plugin in the plugin group, you can see what I mean. Still need to discuss that with @dbarbi once he's back from vacation.

 In the end "everything" is a plugin. We just separate between "core" and "user" built ones. The basic

[2020-06-12 13:53] joakimkjellsson opened #49 "Model executable vs model name"
Hi y'all

I started working on focioifs (OpenIFS+NEMO+XIOS+Runoffmapper) and realised that the way ESM-Tools are written we assume that the executable name, i.e. what is generated when compiling, is the same as the model name when OASIS_INIT_COMP is called and what is written under "NBMODEL" in namcouple.

Typically I would write
[code]
in namcouple, but the executables are named "nemo.exe", "mast

[2020-06-15 09:47] #45 closed, assigned to nobody

[2020-06-16 14:55] pgierz opened #52 "Apply ensdiff"
In the old version of the shell scripts, you could apply the disturbance for ECHAM when the wind speed got too high. The disturbance amount is already in echam, but there is no way to apply it to the `dynctl` section of `namelist.echam`

[2020-06-17 06:39] pgierz opened #53 "Installation of ESMs including PISM"
Hi all,

I'm getting errors when compiling AWI-ESM (ECHAM6/FESOM2/PISM). There are a few commands which must be executed for PISM only when building the model, specifically:

[code]

Including them in the other models yields:

[code]

Removing the relevant PISM commands gives:
[code]

This is fairly critical and should be solved quickly as at least 6 colleagues in my department rely on this model

[2020-06-18 13:10] christian-stepanek opened #55 "work folder in run_* is not properly cleaned up after a run"
**Expected behavior:** After completing a run (here: one model year) the model output and restart files should be moved from run_????0101-????1231/work/ to the respective "permanent" locations in experiment subfolders {outdata,restart}/{echam,fesom,hdmodel,jsbach,oasis3mct} in order to leave a clean folder structure. In run_* only those files should remain that cannot be sensibly associated with a

[2020-06-19 11:08] christian-stepanek opened #56 "automatic restart after "high wind speed" warning does not work"
**Expected behavior**: After the esm-tools detect a model instability, decide to kill the current simulation, and resubmit the new simulation with the ENSTDIF-workaround for one year (see the message from the simulation logfile below), the simulation should continue with a new job-ID and the ENSTDIF-workaround being active for one year.
[code]
**Observed behavior:** The simulation run, during whic

[2020-06-19 12:26] christian-stepanek opened #57 "automatic test for model instability (high windspeed) produces wrong positive results"
**Description of the problem:**
The esm-tools come with functionality that detects potential instability of the atmosphere simulation. To this end atmout is parsed for messages of the form:
[code]
Unfortunately, occurrence of these messages is not a sufficient condition for model instability, which apparently the current implementation of the functionality wrongly assumes to be the case.

Occasion

[2020-06-19 13:41] christian-stepanek opened #58 "broken feature: resubmitting simulations with the ENSTDIF-workaround after model crash due to instability"
**Description of the problem:**
Sometimes it is necessary to resubmit a simulation after it crashed due to numeric instability. The traditional method is to slightly increase energy dissipation in the model by increasing the value of the namelist parameter ENSTDIF by 1/10000 for one year only. Normally, this will help the model over the instability and from the following year on the model simulati

[2020-06-19 14:14] christian-stepanek opened #59 "esm-tools are sensitive to use of spaces or tabs in the yaml configuration"
**Description of the problem**
If simulation yaml-files (that replace the traditional run scripts) are modified by hand, the user may fall into the trap to use tabs for aligning the yaml lines while he/she would be supposed to use spaces to this end.

If a tab is employed to align lines in the yaml-file instead of spaces, that leads yaml files that look absolutely correct by eye if displayed in tr

[2020-06-24 13:07] christian-stepanek opened #63 "Major bug (renders esm-tools v4 in their current state **UNUSABLE**): Lack of mandatory files (restart, forcing) does not kill the simulation"
**Description of the problem**
A master student has run a simulation with esm-tools v4. A restart file was not found. The expected behavior is that the simulation run, that discovers lack of a mandatory file, exits with a meaningful message, but does *not* resubmit itself. Yet, in practice, re-submission independently of an error check is exactly what currently happens.

After esm-tools discover a

[2020-06-24 13:09] pgierz commented on #63
One suggestion would be to add the error that is thrown:

"FATAL ERROR in : restart file not available !"

Into the automatic error checking done by ECHAM...

[2020-06-24 13:18] christian-stepanek commented on #63
Should this not work the other way around?

If there is any error, then the simulation should not resubmit. Only in specific cases, when there is a tested robust way to fix the error automatically, a resubmission should occur.

Pseudo code
[code]
Note, that PYTHON does NOT support CASE-STATEMENTS! This is indeed a very nice feature for a high level language ... [sarcasm]

[2020-06-24 13:22] pgierz commented on #63
what does slurm spit back? there's a small shell wrapper that gets fired off. This also hooks up the "resubmit" process. We could just stop that if the model doesn't exit cleanly.

[2020-06-24 13:52] pgierz commented on #63
OK, I know how to fix this after a brief Skype. I'll send a fix and instructions how to use it

[2020-06-24 14:06] pgierz commented on #63
Fixed in version v4.1.3 of esm-runscripts.

Christian, please run `esm_versions upgrade`, and let me know if it works...

[2020-06-24 14:06] #63 closed, assigned to pgierz

[2020-06-26 11:33] christian-stepanek commented on #55
Here is a list of files that are left in work after a run finishes, together with a tentative suggestion where these should be moved.

If somebody of the core developers pointed me to the esm-function, where the list of files to be moved from work to restart and outdata can be adjusted, I can look into a solution myself.

[code]

[2020-06-26 12:12] christian-stepanek commented on #55
Another big junk of data is left at the restart folder inside the run folder:

[code]
Files in restart/fesom could IMHO just get moved to EXPID/restart/fesom, am I right? The files are actually moved to restart, so maybe it is just forgotten to clean these up here?
One has to think about what to do with output in restart/oasis3mct; if these are to be moved to EXPID/restart/oasis3, then it must be

[2020-06-30 10:51] SpontEIN opened #73 "Add "Uninstall ESM-tools" section to Doc"
Add "Uninstall ESM-tools" section to Doc:

something like:

## Uninstall ESM-tools
### Unix-based System:
To uninstall and remove your current installation of ESM-tools, you need to remove the installed python libs and deltete the esm_* executables. Following commands will do the trick:

[code]

[2020-06-30 10:56] pgierz commented on #73
Sure, you can put that as a new section here:

https://github.com/esm-tools/esm_tools/blob/release/docs/installation.rst

At some point it'll be nice to move away from the `install.sh` and instead use regular pip to install everything, but that still needs a little bit of work; in particular how the configs are read (currently, they rely on FUNCTION_PATH in the rc file.) I have a trick for the con

[2020-06-30 11:44] SpontEIN commented on #73
Can I simply commit to the repository?
(Btw.: I am Daniel working at AWI Potsdam)

[2020-06-30 14:37] pgierz commented on #73
No, you need to make a fork and then submit a pull request and either myself or one of the other developers will put it in. There should be some instructions in the user manual. Just click the big "fork" button in the top right of GitHub and then you get your own copy you can work with, commit to, and submit pull requests back to us.

[2020-06-30 14:44] pgierz commented on #58
Hi Christian,

this one is next on my list, because we definitely will need it. Could you please give me an opinion on the following:\

A) The job should resubmit itself (with a counter of how often running, and try resubmitting a max number of times before it gives up)

B) The program should just stop. This normally *would* happen anyway, but it runs into the wall clock barrier at some point.

C)

[2020-06-30 14:58] pgierz commented on #73
Out of curiosity, I am guessing you want to uninstall or reinstall because something went wrong: what went wrong?

[2020-06-30 15:10] SpontEIN commented on #73
Dirk already helped me with the issue. The problem did not become fully clear. But the reinstall helped.
I think it had to do with a previous installation, potentially of an older version of the esm-tools. I already installed the tools some months ago, then forgot about it again (in between change to new github repo) ... so I think it was a problem on my side.

[2020-07-01 05:58] christian-stepanek opened #75 "FESOM2 and ECHAM6 developments lack proper versioning"
It is often necessary to trace down the exact version of a model that has been used for a simulation. With ECHAM6, version numbers are provided with each release. For own further developments of the model, and in particular for FESOM2, where no official version numbers are available, there is a lack of a simple procedure to define version numbers of submodels of AWI-CM/-ESM.

I propose to discuss

[2020-07-01 07:26] mandresm commented on #35
Information about the experiment directory structure added to the user manual in the develop branch. The new sections can be read in:

[https://esm-tools.readthedocs.io/en/develop/esm_runscripts.html](url)

[2020-07-01 13:49] SpontEIN opened #77 "move function"
The basic `echam-mistral-restart-monthly.run` runscript crashes with the following error:

I am using a freshly installed esm-tools version with all packages up-to-date. The account, model dir and work dir are set according to my setup.
`MODEL_DIR_echam=/pf/a/a270119/echam-6.3.04p1/`
`BASE_DIR=/work/aa0238/a270119/esm-experiments/`
Is it possible that the echam runscript has not yet been updated.

[2020-07-01 13:55] mandresm commented on #77
By looking very fast into it (I might need to look more in detail into it), I have found that there are no bins in the folder `/pf/a/a270119/echam-6.3.04p1/bin`. Did echam compile correclty?

[2020-07-01 14:04] SpontEIN commented on #77
I recompiled: `esm_master comp-echam-6.3.04p1`

and get the following error at the very end:

[2020-07-01 14:50] pgierz commented on #77
That was a mistake I made cleaning up and writing docstrings; accidentally erased the `import os`, sorry.

If you update to esm_environment 4.1.1 it should work...

Try:
[code]

[2020-07-02 09:54] SpontEIN commented on #77
I followed your steps and reinstalled echam. esm_env version is at 4.1.1.. No error at end of compilation.
However there is still no executable in `/pf/a/a270119/echam-6.3.04p1/bin`
But there is a new `echam6` executable in `/pf/a/a270119/echam-6.3.04p1/src/echam/bin/`

[2020-07-02 10:11] pgierz commented on #77
Ah, ok, then the "install" part of esm-master didn't work. Two possible solutions:

1) Copy the bin by hand (this is basically what esm_master does for you anyway)
2) We fix that (probably should be done anyway)

For 2...I'm not sure if the "install" e.g. copying the bins only works for setups. Since echam by itself is just a component, that might not happen. Could you post what esm_master spits o

[2020-07-02 10:13] SpontEIN commented on #77
Executing commands in this order:
         git clone -b 6.3.04p1 https://a270119@gitlab.dkrz.de/modular_esm/echam6.git echam-6.3.04p1
         cd echam-6.3.04p1
         mkdir -p build; cd build; cmake ..;   make install -j `nproc --all`
         cd ..
         mkdir -p echam-6.3.04p1/bin

[2020-07-02 10:17] SpontEIN commented on #77
after copying exe to `/pf/a/a270119/echam-6.3.04p1/bin` I still get the same error as in my initial post.

[2020-07-02 10:33] pgierz commented on #77
So, the error is during the run. Are you using a shell or yaml runscript? @MiguelAndresMartinez, do we have an example of how to translate an old shell runscript to a new yaml runscript? The shell ones should be supported but we should encourage people to switch...

[2020-07-02 11:29] SpontEIN commented on #77
Yes, the error occurs, when launching `esm_runscripts echam-mistral-restart-monthly.run -e python_test_esm -c`.

Where `echam-mistral-restart-monthly.run` is the esm-tools default echam-mistral run script from the repository. I just want to run this script to figure out if my esm-tools setup is working properly.

an example of a shell script to YAML conversion would certainly be nice. Maybe this c

[2020-07-02 12:57] mandresm commented on #77
I don't think we have an example on the translation but I can work on that.

I think the first error is solved by substituting `MODEL_DIR_echam` by `MODEL_DIR`. Then, as @SpontEIN mentioned, the restart files in the default runscript do not exist in mistral. Also it complains about not being able to find the binaries inside the `echam-version/bin` folder:

[code]

[2020-07-03 09:28] SpontEIN commented on #77
this helped!

now I am trying to solve the MISSING FILES problems:

looking into: `/work/ab0246/a270064/esm-experiments` I see a lot of echam runs from which to possibly restart. in the old esm-tools version, the default run scenario was `PI-CRTL`.

looking into the `pi` dir (`/work/ab0246/a270064/esm-experiments/pi/restart/echam`): The restarts file here are called e.g. `/work/ab0246/a270064/esm-

[2020-07-03 10:06] mandresm commented on #77
I was trying to solve the binary issue first (esm-tools/esm_master#9), still not merged but it will be merged by the end of the day).

I realised about that yesterday too. I'll be looking into that now.

[2020-07-06 14:11] mandresm commented on #77
The binary copy issue was solved on Friday (esm-tools/esm_master#9) and now all the `.run` standalone runscripts have `MODEL_DIR` instead of `MODEL_DIR_<component>` (#82).

I'll be now addressing this:

[2020-07-07 11:44] mandresm commented on #77
The problem with the restarts is solved now in the default runscript [echam-mistral-restart-monthly.run inside the branch hotfix/echam_standalone_runscripts](https://github.com/esm-tools/esm_tools/blob/hotfix/echam_standalone_runscripts/runscripts/echam/echam-mistral-restart-monthly.run). It will be soon merged into release.

@SpontEIN, in order to get all done correctly I recommend you to follow

[2020-07-07 12:33] pgierz commented on #73
Merged in #74, closing.

[2020-07-07 12:33] #73 closed, assigned to nobody

[2020-07-07 14:36] SpontEIN commented on #77
I followed your steps and got to the point at **Note 2.**
The only missing file is now:

    MISSING FILES:
    --  /work/aa0238/a270119/esm-experiments//python_esm_test/run_20000101-20000131/restart/jsbach//restart_python_esm_test_land.nc:
        --> /work/ab0246/a270064/esm-experiments/lgm_anm20/restart/echam/../jsbach/restart_lgm_anm20_land_38991231.nc

I checked other files endings:   `*40951

[2020-07-07 16:23] pgierz commented on #77
Question from my side: are you using the LGM simply because it was in the default? That is probably one of paleo runs, and might even have come from a different version of echam/jsbach. Maybe you can use a Preindustrial run?

[2020-07-08 06:15] mandresm commented on #77
Yes, I used LGM because it was the default on the runscript. I would gladly change that to a Preindustrial run. @pgierz, could you please provide a suggested run.

I just did it and it worked for me with the exception of the `land` file. Could you please provide a few more details on how that is not working?

[2020-07-08 08:40] SpontEIN commented on #77
I set the following:

[code]
When I execute the runscript (`esm_runscripts -U echam-mistral-restart-monthly.run -e python_esm_test -c`) it still complains that the file with the default `INI_PARENT_DATE_echam` is missing:

`MISSING FILES: --> /work/ab0246/a270064/esm-experiments/lgm_anm20/restart/echam/../jsbach/restart_lgm_anm20_land_38991231.nc`

[2020-07-08 09:17] mandresm commented on #77
@SpontEIN, have you deleted the experiment directory before you run again `esm_runscripts -U echam-mistral-restart-monthly.run -e python_esm_test -c`?

If not, you'll get the old configuration. Please, let me know if that works. I am going to switch to a preindustrial restart, I have already the yaml script, and then I'll merge.

[2020-07-08 09:29] SpontEIN commented on #77
Yes that worked. But I thought the `-U` option will do exactly this ... updating the files in the existing dir.

[2020-07-08 09:31] mandresm commented on #77
ah okay, I'll look into that now

[2020-07-08 12:19] mandresm commented on #77
@SpontEIN, I've been checking the code and the `-U` flag is meant to update ESM-Tools files into the experiment folder, in case ESM-Tools has been updated and you need those updates in your experiment.

Note that runscripts are what we expect for the average user to be modifying. Therefore, the runscripts inside `esm_tools/runscripts` are only defaults, and consequently, not considered to be updat

[2020-07-08 12:43] SpontEIN commented on #77
Thanks for your explanation.

In general I think it is very important for the user to understand, that just relaunching the same experiment with the same call of a runscript, will **not** consider the changes that you just applied to your runscript (without deleting the experiment folder before).

It feels very counter intuitive. I imagine, that this is a pit fall, that many user will stumble over

[2020-07-08 12:54] mandresm commented on #77
I totally agree with you, so I'll be working in documenting this inside the ESM-Runscripts chapter in [readthedocs](https://esm-tools.readthedocs.io/en/develop/). But we will also consider adding a warning, specifying that the original runscript and the new one are different and how user should proceed.

[2020-07-09 13:13] mandresm commented on #59
Hi @christian-stepanek,

In discussion with @pgierz, we came to the conclusion that substituting tabs by spaces might lead to issues difficult to debug. However, we have implemented an exception that clearly states that there are problems with tabs, in which yaml files and returns the line/lines and the location/locations where the tab is.

This is how the error return should look like:
[code]

Yo

[2020-07-09 13:24] pgierz commented on #75
Some notes on how to do this:

1) Adding a new log file is trivial

2) We can get the tag version number from the commit like this: `git describe --exact-match HEAD || git rev-parse --short HEAD`, which will return either the tag name, or the commit ID if it is not a tagged commit.

3) Sure, `git diff @{push}` (See 3rd answer here: https://stackoverflow.com/questions/1800783/how-to-compare-a-local

[2020-07-09 13:32] christian-stepanek commented on #59
Dear @mandresm,

I will give it a try early next week and report here on the outcome.

Thanks a lot for your commitment to fixing and documenting the issue.

Christian

[2020-07-13 12:56] christian-stepanek commented on #59
Dear @mandresm

I can confirm that the enhancement works as expected with the newest versions of esm-tools_v4 components:
[code]

After replacing all tabs by spaces, the simulation got submitted without any further problems. The error message provided the obvious clue on how to fix the issue.

Thanks a lot and kind regards
Christian

[2020-07-13 12:56] #59 closed, assigned to pgierz, mandresm

[2020-07-14 13:13] SpontEIN commented on #77
Hi is there any progress in solving the missing file issue?

I could not locate any file named `restart_*_land_*.nc` in `/pool/data/` nor `/work/ab0246/a270064/esm-experiments/`

[2020-07-14 13:18] mandresm commented on #77
Hi! Sorry for the absence of updates, but I was not able to resume using Mistral until yesterday. I'll be looking at it soon.

I talked to @pgierz and we got to the conclusion that we will change the default echam restart runscript to restart from one default experiment that I will prepare.

[2020-07-17 09:13] nwieters opened #87 "Compiling OASIS in an AWI-CM Version: mkdir: cannot create directory ‘../include’: File exists"
When I do
`esm_master clean-awicm...`
and again
`esm_master comp_awicm...`
I get the following error:

[code]

I guess in the `clean-...` function for oasis, the include folder is not deleted.

I use esm_tools in the version:
[code]

[2020-07-17 09:55] mandresm commented on #87
Hi @nwieters, could you please provide the path of the awicm installation?

I'll have a look at it.

[2020-07-17 10:01] dbarbi commented on #87
I fixed this already, have a look at branch refac_master of esm_tools

Miguel <notifications@github.com> schrieb am Fr., 17. Juli 2020, 11:56:

[2020-07-17 12:20] nwieters commented on #87
Thank you. I was able to fix this in my branch by hand. I will close the issue, because it is going to be fixed in release by the next merge.

[2020-07-17 12:21] #87 closed, assigned to nobody

[2020-07-21 08:55] nwieters opened #88 "Error while recomp"
When doing
`esm_master recomp-awicmmod-2.0-esm-interface-oasis`

I get the following error:

`Missing folder awicmmod-2.0-esm-interface-oasis/awicmmod-2.0-esm-interface-oasis detected. Please run 'make get-awicmmod-2.0-esm-interface-oasis' first.`

But the folder awicmmod-2.0-esm-interface-oasis exists.

Why is `recomp` looking for the model folder in the model folder?

I use esm_tools release ver

[2020-08-04 15:21] ghost opened #90 "ECHAM standalone run crashes in the very beginning"
I submitted a one-year (1850-01-01 -- 1851-01-01) ECHAM6.3 T127 time slice run to Mistral with a yaml runscript (esm_tools Python version). The slurm process terminated after 25 min and the resulting run directory is located at: `/mnt/lustre02/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/yaml_run`

As one can see, two `run*` directory are created within the folder. Whe

[2020-08-05 05:47] mandresm commented on #90
Hi @jobo95,

I managed to run the two years with the following `runscript`:

`/pf/a/a270152/my_scripts/echam_johannes.yaml`

The major problem of your runscript seemed to be that the echam section `restart_unit: "years"` was missing, which is important because by default is setup to be "months" and this conflicts with the general configuration in which you have specified year-length runs.

About t

[2020-08-05 08:42] #16 closed, assigned to nobody

[2020-08-05 09:07] ghost commented on #90
Hi,
I have no access permissions for `/pf/a/a270152/my_scripts/echam_johannes.yaml`. Can you may adapt the permissions? Or just copy it to another location?

[2020-08-05 09:20] mandresm commented on #90
I changed the permissions.

[2020-08-05 09:39] ghost commented on #90
Still not accessible. Maybe just copy it to my scratch folder `/scratch/a/a271093`

[2020-08-05 09:41] mandresm commented on #90
Done

[2020-08-06 08:33] #90 closed, assigned to mandresm

[2020-08-12 07:48] seb-wahl opened #95 "variable expansion in namelist templates"
**BUG**: If I have a yaml runscript that has
[code]
and a namelist template (`/esm_tools/namelists/echam/6.3.05p2-foci/PI-CTRL/namelist.echam`) that contains
[code]
namelist.echam is generated, the vars behind `${restart_rate}, ${restart_unit}` are resolved correctly and the resulting namelist in `run_*/work/namelist.echam` is complete EXCEPT for the `&runctl` section which only contains
[code]
So

[2020-08-12 08:11] mandresm commented on #95
Hi Sebastian,

That is what my suggestion was going to be, to make the default namelist variables not dynamic, and to define anything that you want to define through configuration files using `namelist_changes` or `add_namelist_changes`. I didn't know that you could define variables dynamically in the namelists as I have not seen that done in the models I use to work with, so apparently it can be

[2020-08-12 10:38] #14 closed, assigned to nobody

[2020-08-13 10:55] ghost opened #96 "work directory not tidied up and data saved twice"
Hi,
I simulated to years of ECHAM standalone simulations with located at

`/mnt/lustre02/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/test_run_new2`

My problem is that the directories are apparently not tiedied up correctly. The work directories (e.g. `run_18500101-18501231/work`) still contain all of the output data.
It seems that the output data start to be moved to

[2020-08-13 12:10] mandresm commented on #96
Hi Johannes,

This is a known issue and it is in our TODO list (already mentioned in issue #55).

The reasons for not cleaning these folders are safety related (i.e. trying to restart a model that has crashed before or during moving files around could become a tedious task to debug). We have a few solutions in mind that we want to implement but we still need a bit of time. Maybe this would be a fe

[2020-08-13 12:48] mandresm commented on #96
Can you provide the path of the runscript you are using?

[2020-08-13 12:50] ghost commented on #96
`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/test_run_new2/scripts/echam_johannes.yaml`

[2020-08-18 14:31] christian-stepanek opened #99 "Feature request: Model compilation and source code copying becomes part of job submission"
To make sure that we can always reproduce the source code from which a specific simulation stems, it would be perfect if the esm-tools, or runscripts, would perform the following two additional tasks _before the first model year only_:

1. before copying the model executables to the simulation base dir, trigger a compilation - and quit / do not submit compute job if compilations fails
2. also copy

[2020-08-18 14:39] pgierz commented on #99
Basically we just need to run `esm_master install-<model_name>` during the very first submission, check the exit code, and continue. Sine esm_master install is anyway just a command line wrapper around a python function, planting the function at the right place should be easy.

[2020-08-18 14:42] mandresm commented on #96
Hi Johannes,

I think that ESM-Tools is doing the job as I would expect: please look at the ECHAM configuration file `/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/esm_tools/configs/echam/echam.yaml` in the files section:

[code]

Note that `ignore_in_work` is including the STREAM files of the `next_date` (line 422). `next_date` is a ESM-Tools variable that gives the date of the following tim

[2020-08-19 10:00] ghost commented on #96
Hi Miguel,

Thank you for the clarification of this issue and for the workaround proposal.

About the final date: Yes I was aware of that, but as you can see from the output files in the directory  `/mnt/lustre02/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/test_run_new2/run_18510101-18511231/work`, it seems to somehow finish the entire year despite final date is set t

[2020-08-19 10:02] mandresm commented on #96
Good to know, I'll have a look into that.

[2020-08-31 08:35] pgierz commented on #88
What directory were you in?

[2020-08-31 08:39] nwieters commented on #88
I think I was in the folder just above the model I wanted to recompile.
But I can try again.

[2020-08-31 12:15] nwieters commented on #88
I tested it again and still get the error:
`Missing folder awicm-2.0/awicm-2.0 detected. Please run 'make get-awicm-2.0' first.`
I am in my work folder on ollie. And there is a version of awicm-2.0.
I if do

`esm_master recomp-awicm-2.0`

I get the following output:
[code]

[2020-09-01 06:46] pgierz opened #112 "Delayed Feature: Install required ESM Tools Plugins if a specific model needs them"
For some models, we use a plugin system to get the run going, e.g. in #111 the preprocess plugin is needed.

We can add this to the list of commands executed by the compile step to ensure anyone downloading the model gets access to all the required plugins.

This applies to:
* PISM (later on)
* OIFS (for preprocess)

Note I am not sure how stable this is: what if the user just gets the binary from

[2020-09-01 09:37] christian-stepanek opened #113 "YAML experiment definitions seem not to support adaptation of echam namelist parameter putrerun"
For long simulations it is not useful to store monthly restarts, this unnecessarily bloats disk usage.

Setting the namelist parameter putrerun: [1, 'years', 'first', 0], in order to store restarts only once a year, worked in the past when editing esm-runscripts directly. Yet, if trying to set the parameter change in the YAML-Syntax as follows
[code]
there is apparently a problem with namelist.py

[2020-09-01 09:43] pgierz commented on #113
OK, I found the problem: Try setting `restart_rate: "year"` under the echam section of your yaml file. Changing AWICM settings apparently don't carry over. That needs to be fixed. Also, the other method should also be supported...

However, if the addition to the yaml file works, I suggest we use that for now.

[2020-09-01 09:48] seb-wahl commented on #30
I close this issue as saving restarts from OIFS is fixed in ESM-Tools 4.2

[2020-09-01 09:48] #30 closed, assigned to nobody

[2020-09-01 09:56] christian-stepanek commented on #113
This indeed works, at least the esm-tools do not drop any error anymore:
[code]
This should go into an updated example script file, I make a new issue for that.

[2020-09-01 09:56] #113 closed, assigned to nobody

[2020-09-01 09:57] pgierz commented on #113
The second part can be removed:
[code]

so, it should **only** be:
[code]

[2020-09-01 10:04] seb-wahl opened #114 "Misleading output on missing files when globbing is used"
If we use globbing / wildcards with directories (as we do in OIFS):
[code]
The following output is printed when running `esm_runscript -e <expid> <yaml>` despite the fact that all files in e.g `${input_dir}/${res_number_tl}/*` are found and copied to the work directory:
[code]
It's due to the fact that the globbing feature is NOT recursive, and hence those directories listed above are NOT copied t

[2020-09-01 10:05] christian-stepanek opened #115 "pool on mistral and distributed example run scripts currently not functional for awi-cm2 simulations"
Currently, awicm-2 simulations do not run out-of-the-box on mistral.

1. There is a problem with the fesom pool in that at least for the CORE2 mesh not all necessary files are available
2. The example YAML-file does not provide a working setup without changes "under the hood"

I propose the following two solutions:

1. Update the data pool with regard to the mesh_CORE2_finaltopo_mean that I have c

[2020-09-01 10:10] pgierz commented on #115
To point 1: Talk to tido

To point 2: Please remind me this afternoon once you have your tests finished. I'd do it for you, but I don't want to play with my test branches too much right now...If you'd like to do it yourself:

[code]

Then open a pull request online, and make sure it points to prep_release as the target branch to merge into (and **not** release)

[2020-09-01 10:18] seb-wahl opened #116 "Re-Design of output and logging"
Currently a logger is implemented in all the tools (which is not used) and print statements are used to inform the user on progress of the tools.
Suggestion: Implement proper logging that works across all the tools. With that the verbosity of the output can be easily modified (debug, info, warn, error level settings) in the python logger. This requires a lot of boring work going through ALL the to

[2020-09-01 10:21] seb-wahl commented on #116
Also the print of `esm_runscripts` is very long now e.g. do we really need print all namelist contents. I think it would be better to have a print like: `echam namelist settings: /path/to/namelist/echam/in/run_xxxx-xxxx/work/namelist.echam` etc.

[2020-09-01 14:20] SpontEIN opened #117 "improvement of File Dictionaries documentation"
The documentation on the file dictionaries (https://esm-tools.readthedocs.io/en/latest/yaml.html#file-dictionaries) is very difficult to understand and should be improved, especially by more explicit examples.

This section is crucial for many scientific users. Changing and adding input and forcing files is what we mostly do to run our simulations. There is the function `add_forcing_sources` which

[2020-09-02 10:56] pgierz commented on #117
Could you perhaps make a small list of cases you would like to have examples for?

[2020-09-03 09:58] SpontEIN commented on #117
First of all some more specific questions here:
1. the `option` table (https://esm-tools.readthedocs.io/en/latest/yaml.html#file-dictionaries) refers to the `target` or the `target path`. It is unclear for which dict `option` which `target` is the default?
2. What is the hierarchy of modifications in the different config files? In case of echam we use 3 yaml files (`my_runscript.yaml`, `echam.yaml

[2020-09-03 10:12] nwieters commented on #88
This has been foxed already or will be fixed with next release.

[2020-09-03 10:12] #88 closed, assigned to nwieters

[2020-09-03 10:24] nwieters commented on #21
Is already fixed or will be fixed in the next release.

[2020-09-03 10:44] #19 closed, assigned to denizural, mandresm

[2020-09-03 10:48] #13 closed, assigned to denizural, mandresm

[2020-09-03 15:08] #53 closed, assigned to nobody

[2020-09-03 15:08] pgierz commented on #53
fixed in prep release

[2020-09-03 15:10] pgierz commented on #40
Fixed in prep release, an example is provided in the runscripts folder

[2020-09-03 15:10] #40 closed, assigned to nobody

[2020-09-07 06:49] pgierz commented on #116
If we aren't opposed to a new dependency: https://loguru.readthedocs.io/en/stable/index.html

We get fancy colors, easy routing of logs to multiple files/stdout. I'll have a look over the weekend.

[2020-09-07 07:27] nwieters commented on #21
I reopen this issue because it is still not copying Echam in Netcdf output to outdata.

[2020-09-07 08:54] JanStreffing opened #124 "FYI: new python module on ollie python3/3.7.7_intel2020u2 won't install tools: Unable to get the locale encoding"
With the new release of the esm-tools out the door I wanted to see where things are at. I downloaded the tools anew on ollie:

[code]

I tried installing with the soon to be default python3/3.7.7_intel2020u2 and got the following error:

[code]

I then tried it with python3/3.6.5_intel2019(default) and it worked without a problem. I thought I raise the awareness for this before python3/3.7.7_intel

[2020-09-07 09:09] mandresm commented on #117
The YAML chapter is infact one of the most important chapters and we are still working on it. You can actually check a much recent version in the [prep_release](https://esm-tools.readthedocs.io/en/prep_release/yaml.html) version and this will soon be the default once release 4.2 is out. I'll keep working on this chapter after release and include your comments.

[2020-09-07 09:24] JanStreffing opened #125 "Installing coupled setups fails"
I'm trying out versions:
[code]
I can install standalone components such as fesom-2.0-o or fesom-1.4 but all coupled setup installations, such as awicm-3.1, focioifs-2.0 or awicm-1.0 crash with:

[code]

Modules:
[code]

Am I using the wrong version of something?

[2020-09-07 09:30] seb-wahl commented on #125
esm_environment, esm_master, esm_parser, esm_runscripts have also been upgraded for 4.2 So esm_tools on the prep_release branch will only work if you run the following:
[code]

[2020-09-07 09:35] JanStreffing commented on #125
Ah okay, I am not on prep-release. I'm on release. I thought that was already updated. I'm guessing release esm_tools is lagging behind and I should switch to prep release.

edit: I guess you can't use esm_versions while not being on the release branch?
[code]
doing the git pull leads to the old awi repo that doesn't exist anymore:
[code]

I think I'll just wait for the release. I didn't mean to b

[2020-09-08 06:50] nwieters commented on #20
This seems to be fixed with release 4.2.1 (or previouse ones).

[2020-09-08 06:50] #20 closed, assigned to nobody

[2020-09-08 08:23] JanStreffing commented on #125
With the release out I tried again. This time I just deleted the old esm_environment and upgraded twice. I can now install coupled setups correctly.

[2020-09-08 08:23] #125 closed, assigned to nobody

[2020-09-08 11:10] #21 closed, assigned to nwieters

[2020-09-08 11:26] JanStreffing opened #126 "model setup doesn't show up in esm_master"
Starting from @seb-wahl focioifs.yaml setup I'm trying to write an awicm3 setup. wip can be found in branch [https://github.com/esm-tools/esm_tools/tree/awicm3-on-v4.2](awicm3-on-v4.2)

The model name given is awicm3. However `esm_master awicm3` does not show any options:
[code]

I'm guessing something is configured or formatted incorrectly in my awicm3.yaml.
Any idea what it can be?

[2020-09-08 11:38] seb-wahl commented on #126
You must have something wrong in your esm_tools installation. If I do the following:
[code]
everything looks ok.

[2020-09-08 11:51] JanStreffing commented on #126
Mhm those are the old version numbers 3.0 and 3.1 that I was using before. I decided to use 1.0 since awicm3 is already distinct from awicm by the name of yaml.

[code]

I seem to be using the same esm_tools component versions:
[code]

only difference is: esm_environment: 4.2.0 (development install, on branch: release, describe=v4.2.0). I cloned the esm_environment by hand after deleting a very ol

[2020-09-08 12:40] seb-wahl commented on #126
There's indeed something wrong here:
[code]
I'm a bit lost here. I have the suspicion that something's wrong with the `fesom-2.0.yaml`. @pgierz @mandresm @dbarbi may have an idea what's wrong. I'm a bit lost in your fesom vs fesom-2.0 difference.

[2020-09-08 12:52] seb-wahl commented on #126
In addtion I currently don't have an idea where the 3.0 and 3.1 version numbers come from that `esm_master` prints above. They are NOT in `configs/setups/awicm3/awicm3.yaml :-(

[2020-09-08 12:54] JanStreffing commented on #126
Paul said that may be from the esm_master.pkl file

[2020-09-08 13:37] mandresm commented on #126
Hi Jan, I'm having a look. I have a few questions regarding the `awicm3.yaml`:

- Is the choose block in line 540 incorrectly indented?
- Are the preprocessor and postprocessor sections correctly indented?

Even if I change the indent of these sections I am still facing the same problem as you. I'll keep having a look at it.

[2020-09-08 14:06] pgierz commented on #126
OK, we have discovered the problem. It turns out two things were biting each other:

1. Jan's file had some unfortunate tab/space mixing. Sadly, the yaml loader (not from us, it's 3rd party) is picky about that, and refuses to load the yaml file if you mix these. Please, **only** use spaces.

2. We have an exception handle that actually checks this, and, if you have tabs, it **should** tell you th

[2020-09-08 14:14] JanStreffing commented on #126
Works. Thank you!

[2020-09-08 14:18] pgierz commented on #126
Once the patch goes in I'll close this. @JanStreffing, to keep the code more maintainable, we're trying to start requiring reviews. Github should have bugged you via email to have a look. If the changes are readable and make sense to you, push the big button ;-)

[2020-09-08 15:11] JanStreffing opened #127 "coupling fields defined in components"
One question on my way to an awicm3 setup:
Currently coupling fields are currently defined in the component yamls. Wouldn't the couplings yamls be a better location? When coupling fesom-2.0 to oifs I use different fields than coupling fesom-2.0 into to echam. When coupling oifs to fesom-2.0 I use different fields and grids than when it's coupled to nemo.

In the basic oifs.yaml for example I find

[2020-09-08 16:04] pgierz commented on #127
Hi Jan,

If it's dependent on the fully coupled setup, the best place is in the setup configuration file, which has sections for each component. It might not be clear in the documentation (let Miguel know on that case), but the component specs defined in the setup override the defaults in the pure component, which is assumed to be a standalone case. Have a look at awiesm, maybe that'll guide you..

[2020-09-08 16:11] pgierz commented on #95
Hey @seb-wahl, I'm going through the old issues. Is this still a problem or can we close it?

[2020-09-08 16:12] pgierz commented on #77
Still a problem in 4.2? If not, I'd close this

[2020-09-09 06:57] seb-wahl commented on #95
I need to test it. I'll close it if can't reproduce the bug.

[2020-09-09 07:29] pgierz commented on #126
Hotfix for esm master was merged. The bug should no longer occur as of `4.2.1`. Closing this...

[2020-09-09 07:29] #126 closed, assigned to nobody

[2020-09-09 07:43] SpontEIN commented on #77
hmm ... I checked out the new version 4.2. (via `esm_versions upgrade`)

Did a check run: all the files missing (see further up) are missing **again**?
Starting with the echam6 binary. esm-tools still tries to look for it at the wrong place.

just to be sure:
[code]

[2020-09-09 07:48] mandresm commented on #127
As a matter of fact, this is not yet in the documentation, but I already started working on it.

[2020-09-09 08:35] pgierz commented on #124
Hey Jan,

I can't reproduce this. For me, the following works on ollie:

[code]
then:
[code]

As a note to @denizural and @mandresm: did you guys push the tags for esm_parser, esm_envrironment, and esm_runscripts? Either I deleted my old version incorrectly, or something is going wrong with the install...

[2020-09-09 08:37] pgierz commented on #115
Hey @christian-stepanek, can you double check if this is purely an issue with the pool?

[2020-09-09 08:41] pgierz commented on #75
Closing in favour of #99, these two problems should be merged.

[2020-09-09 08:41] #75 closed, assigned to nobody

[2020-09-09 08:46] pgierz commented on #55
Closing in favour of #96

[2020-09-09 08:46] #55 closed, assigned to nobody

[2020-09-09 16:17] chrisdane opened #129 "model output data is scattered due to disk space; which expid should be used?"
Hi

Due to disk space issues I need to continue a run on another location. Which expid should the continuation have?

If I use the same expid for both runs, i.e.
[code]
is it possible to "combine" all data from /path1 and /path2 in a convenient way? If, e.g., someone gives me disk space on /path1, may I simply copy everything from /path2 to /path1 to have only one directory with the data from y1 t

[2020-09-09 17:12] ghost opened #130 "ECHAM restart problems"
Hi,
I started a 3 year ECHAM standalone time slice simulation on mistral that is located at

`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/test_run_LAMO_HICE_sara_3years/`

with the corresponding runscript at

`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/test_run_LAMO_HICE_sara_3years/scripts/echam_johannes.yaml`

Currently, I am submitt

[2020-09-09 17:52] pgierz commented on #129
Are you using the shell or python version?

[2020-09-09 17:57] chrisdane commented on #129
shell

[2020-09-09 18:26] pgierz commented on #129
Shell is legacy. Good luck 😂

Jokes aside, I’ll have a closer look tomorrow.

[2020-09-10 05:28] mandresm commented on #130
Could you please copy here the output of `esm_versions check`?

[2020-09-10 06:24] pgierz commented on #129
Name both experiments the same, and set `$BASE_DIR` to `/path2` where you have space. It **must** be different from `/path1`, or the old shell version will assume you are continuing the run. Maybe that is what you want anyway, but with space concerns, it's understandable that you need to use a different directory.

This should be possible. I would do the copy with `rsync`, best in a dry-run mode f

[2020-09-10 07:05] chrisdane commented on #129
Thanks. How about the python version?

[2020-09-10 07:05] pgierz commented on #129
I don't think anyone has tried that yet for the Python Version...Would you agree that this is something we should test out, and ideally put into the handbook?

For the shell version, can you try with one year, and let me know if it works?

[2020-09-10 07:14] pgierz commented on #130
...can you also paste a link to the echam docs? That seems like something we definitely should be taking care on.

[2020-09-10 09:15] ghost commented on #130
output of `esm_versions check`:

The simulation I described above I did with the predecessor esm_version before updating to 4.2.
However, I also started a shorter simulation over 3 months with monthly restart files with the current updated esm version located at

`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/3month_restart`

But the problem somehow still remained.

[2020-09-10 09:22] ghost commented on #130
https://mpimet.mpg.de/fileadmin/staff/rastsebastian/echam_6.1_lecture.pdf

These are lecture slides that are referenced in the original echam docs. See page 17/18 under "Starting a rerun" for the statement about `dt_start`.

(The original ECHAM docs may be here : https://icdc.cen.uni-hamburg.de/fileadmin/user_upload/icdc_Dokumente/ECHAM/echam6_userguide.pdf)

[2020-09-10 09:46] mandresm commented on #130
In `esm_tools/configs/components/echam/echam.yaml` I found this lines:
[code]

Those lines should take care of removing `dt_start` from the namelist, so in principle that should do the job. I will look into it in more detail.

[2020-09-11 06:57] mandresm commented on #130
To test this I have been using the runscript `echam-mistral-initial-monthly.yaml` (monthly restarts) for time-saving purposes.

With this runscript, `dt_start` is also not removed from `namelist.echam` in restart runs, and that needs to be addressed (I already found a solution for that). However, when I compare output from the different runs I find that this output is different, so it does not see

[2020-09-14 13:04] ghost commented on #130
Yes, you are right. It doesn't produce exactly the same run for each restart.
However, it's definitely not using the restart files proberbly.

For my monthly restart runs, you may have a look at some difference Plots between January (initial run) and February (rerun)
with
`ncview /work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/3month_diff/diff_Jan_Feb.nc`

or between Jan

[2020-09-14 13:09] mandresm commented on #130
Thanks a lot, we are currently looking at that.

[2020-09-15 08:37] mandresm commented on #130
The problem should be solved now, at least the part in which `dt_start` is removed for restarts. I am currently working on preventing this type of mistakes to happen (overriding `namelist_changes` without notifying the user), but you can have a go, run a simulation and check if ECHAM is doing what is supposed to do.

[2020-09-15 14:03] ghost commented on #130
So I repeated the simulation with monthly restart and it seems to be working properly now. When comparing the monhtly restart simulation with a three month non-restarted simulation the output bascially doesn't differ, except for the first time step of each month it differs very slightly (but I think that's a minor and nonsignificant issue at least for me, maybe to due some differences in  output t

[2020-09-15 14:07] pgierz commented on #130
OK, then, if you're happy we will close this! Let us know if you have anything else.

[2020-09-17 14:04] pgierz opened #142 "Dynveg Sanity Checks"
# Dynamic Vegetation Checks

This feature request will incorporate sanity checks on JSBACH input files, specifically `jsbach.nc`

## Problem

Due to the disorganized nature of the pools on the supercomputers, it is quite easy to accidentally run a simulation without dynamic vegetation in JSBACH, yet use input files intended for dynamic vegetation.

@chrisdane recently ran into this problem with hi

[2020-09-17 14:08] chrisdane commented on #142
Just adding background info: this was the original issue back then: https://gitlab.dkrz.de/esm-tools-old-stuff/esm-runscripts/-/issues/187

[2020-09-23 11:53] khimstedt opened #146 "duplicate key in icon.yaml"
The key "choose_version" is defined twice at the top level in file .../esm_tools/configs/components/icon/icon.yaml (in branch develop)

[2020-09-24 13:06] JanStreffing commented on #127
Good, I think we can move anything to do with coupling from the component file to the coupling file then. Is that okay @seb-wahl?

[2020-09-24 13:08] seb-wahl commented on #127
As long as it works, I'm ok with it. And yes in a way it's cleaner to not have the coupling stuff in the components's yaml file.

[2020-09-25 14:22] denizural commented on #146
Hi Kai, I fixed that and merged into both release and develop. We just made a hotfix with Miguel

[2020-09-25 16:54] mandresm commented on #127
I don't think it is clear in the documentation yet. I still have to write about file hierarchy, but that section should be written soon.

[2020-09-30 12:49] #146 closed, assigned to nobody

[2020-09-30 13:30] seb-wahl opened #147 "remove duplicates in oifs.yaml and foci.yaml"
With the new feature in `esm_parser` (see https://github.com/esm-tools/esm_parser/pull/11), duplicate entries in `oifs.yaml` lead to an error.
TODO: Remove duplicate entries and update `oifs.yaml` and `foci.yaml` to comply with the new rules enforced with https://github.com/esm-tools/esm_parser/pull/11

[2020-10-01 15:20] ghost commented on #130
Hi,
I'd like to come to that small issue I mentioned in the end.
So when comparing a 3-month  simulation with monthly restart

`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/three_month_restart/`

with a 3-month simulation without restart

`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/three_month_norestart/`

then the outdata of both siimu

[2020-10-01 17:05] pgierz commented on #130
To help finding the differences, could you post the namelists (or paths) so we can see what's happening? I suspect this has to do with dt_start, putdata, or similar. There might be small changes with the first/last stuff that leads to the differences you describe

[2020-10-01 20:33] ghost commented on #130
The paths to the namelists you can find in the respective work folders. So for e.g. restart in February

`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/three_month_restart/run_18500201-18500228/work/namelist.echam`

and for the non-restarted run

`/work/bb1152/Module_A/A3_ArcClimEx/a271093_riebold/model_codes/Experiments/three_month_norestart/run_18500101-18500331/work

[2020-10-02 09:53] mandresm commented on #130
Thanks Johannes, I'll be having a look at it ASAP.

[2020-10-05 07:52] joakimkjellsson opened #148 "Catching errors in OpenIFS, ECHAM, NEMO etc."
I'd like to have a feature in OpenIFS to check the log file "ifs.stat" after every run to make sure that the number of time steps completed is the same as ESM-Tools was expecting.
I find that OpenIFS sometimes crashes but ESM-Tools still tries a restart over and over again and it becomes hard to find the origin of the error.
Similar "error catching" could be implemented for NEMO where the time ste

[2020-10-05 13:58] pgierz commented on #148
See also #142: I guess Joakim's imagined feature qualifies as a sanity check? I'll do some brainstorming and post a (maybe) general solution later this week, we need something similar for JSBACH. Something like:

[code]
The user would have hooks to run checks before and after the main job, which might be a compute job, a post job, a couple job, or whatever else...

@joakimkjellsson: you'd need to

[2020-10-06 10:46] joakimkjellsson commented on #148
"Sanity check" is a good word for it! Thanks, Paul.

For OpenIFS, this script would do the trick.
It takes the expected last time step as input and returns the string "OIFS: OK" if all is well.
The script would be very similar for NEMO.

[code]

[2020-10-09 10:54] pgierz opened #154 "ECHAM-6.3.05p2 Runtime Error with Shared Libraries"
**Describe the bug**
When running `AWIESM-2.1` on Ollie, I immediately get an error:
[code]

I preformed a clean install of all the components this morning, and re-installed the model from scratch.

**To Reproduce**
You can use this runscript to reproduce the problem:
[code]

**System (please complete the following information):**
 - Supercomputer: ollie
 - Version:
[code]

**Additional Info**

Pr

[2020-10-09 11:11] pgierz commented on #154
This problem does **not** occur with the regular `AWICM-2.0` model.

[2020-10-09 11:16] pgierz commented on #124
I checked again this morning, and this no longer seems to be happening (at least, in my environment). I'm closing this for now. Feel free to re-open if it appears again.

[2020-10-09 11:16] #124 closed, assigned to nobody

[2020-10-09 11:54] dbarbi commented on #154
Hey Paul, Cray machines don't support dynamic linking, please make sure you
link statically only

Paul Gierz <notifications@github.com> schrieb am Fr., 9. Okt. 2020, 13:11:

[2020-10-09 11:59] pgierz commented on #154
How do I get autotools to do that? Add `-all-static` `$FCFLAGS`?

[2020-10-09 12:36] pgierz commented on #154
Problem (sort of) solved. I reverted all the changes made in `mh-linux`, and now the model runs on ollie. Not sure what we are going to do about compiling on mistral, though....

[2020-10-09 12:37] dbarbi commented on #154
Sorry, can't check as I have to build a toy train track now. I think it
needs to go into LDFLAGS. Natalja knows.

Paul Gierz <notifications@github.com> schrieb am Fr., 9. Okt. 2020, 13:59:

[2020-10-12 09:00] pgierz opened #156 "Ozone Forcing Files Problem with ECHAM-6.3.05-concurrent-radiation"
**Describe the bug**
In the most recent version of all the tools, ECHAM fails during the **second** year with an apparent mismatch of forcing files for ozone:

[code]

However, `namelist.echam` specifically states that the dates are for 2001:
[code]

A "early solution" to this problem was to include `dt_start` in the namelist, which however leads to the repeated initialization (maybe linked to the

[2020-10-13 07:05] pgierz opened #157 "Test issue to see if paleogroup sees it"
Test issue to see if we can push announcements regarding git activity to a channel in paleodyn

[2020-10-13 07:05] #157 closed, assigned to nobody

[2020-10-14 11:26] pgierz opened #158 "Shared Library Error on DKRZ using ECHAM-6.3.05p2-Concurrent Radioan"
After successfully compiling `AWIESM-2.1` on DKRZ using the [`hotfix/dkrz_awiesm_2_1`](https://github.com/esm-tools/esm_tools/pull/153) branch for ESM tools, I attempted a small run. However, the model immediately fails with a shared library error.

[code]

[2020-10-15 16:38] ackerlar opened #159 "Restart files not found when resuming ECHAM"
Maybe related to #130

**Describe the bug**
When restarting AWI-CM-2.0 or ECHAM standalone from a previous experiment, ECHAM crashes with the following error:
`  1: FATAL ERROR in : restart file not available !
  1:  FINISH called from PE: 1`

lresume for FESOM is working fine.

[code]

**System (please complete the following information):**
 - Supercomputer: Ollie
 - Version:
[code]

**Additional

[2020-10-15 17:35] ackerlar opened #160 "Binaries are taken from wrong directory after restart"
**Describe the bug**
The model binaries are not found after a restart when the model directory, given under `model_dir` in the YAML file, is renamed or moved.
[code]
Because of this, I assume the binaries are not taken from `EXP_DIR/bin/` but from `model_dir` given in the YAML file for every restart.

**Expected behavior**
The binaries should be taken from `EXP_DIR/bin/`

**System (please complete

[2020-10-16 07:42] pgierz commented on #160
This may be solved when we implement changes for #99 (see #128 and https://github.com/esm-tools/esm_runscripts/pull/35)

[2020-10-16 08:43] #147 closed, assigned to seb-wahl

[2020-10-16 14:08] joakimkjellsson opened #163 "Copying/moving/linking input/output/restart data?"
Hi all

I have an experiment with OpenIFS running currently on HLRN.
I've noticed that the model execution is ~1h40m, but the whole job can easily take 2h. I think the extra time is copying input data to the work dir and copying output/restart to outdata/restart dirs.
I have checked the compute node towards the end, and it is only one task "esm_runscripts" running, and only using 20-30% CPU.
Since

[2020-10-17 16:17] pgierz commented on #163
Hi Joakmin,

Good idea; properly implementing this will need the following, I think:

- Re-write of the part that copies around files (this is messy and could use a cleanup and docu anyway!)
- Some way to determine if the files you need (in your case, for input files, but this should work for whatever filetype) are links or copies.

Probably the user would then specify something like:

[code]

Wha

[2020-10-18 09:54] joakimkjellsson commented on #163
Sounds like a good idea to me!
Cheers
Joakim

[2020-10-19 07:10] seb-wahl commented on #163
I think this should have high priority as output/restarts/input will be even larger once we add AGRIF operationally. So I suggest the workflow may be as follows (this is roughly how we do it in our old runtime environment based on MPI's mkexp tool):
1. Link all input files to work instead of copying
2. run the simulation
3. once simulation has finished, copy/move restarts in place (can't be done b

[2020-10-19 07:44] #158 closed, assigned to nobody

[2020-10-19 10:50] seb-wahl opened #164 "`choose_version` in `echam.yaml` does not work in standalone setups"
**Describe the bug**
Variables that are set in `choose_version` in `echam.yaml` do not overwrite the defaults. If no defaults are set, the variables defined in `choose_version` are used.

**To Reproduce**
set the following in `echam.yaml`
[code]
You would expect that that `dataset: r0008.yaml` in the final config, but `r0007` is used. If I comment the default value, i.e.
[code]
`dataset: r0008` is

[2020-10-19 12:57] seb-wahl commented on #164
just a hint. for jsbach the `choose_version` stuff on dataset works as expected

[2020-10-20 15:11] mandresm commented on #164
I managed to reproduce this problem, and I narrowed down the bug, but some input is required from other ESM-Tools developers (specially @dbarbi ).

**Versions used to reproduce the issue**
- All `esm_runscripts` versions from 4.2.0 on suffer of this problem, though the problem might have been there since March (most of the lines referred in this post date to the initial commit of the Python versio

[2020-10-20 15:14] mandresm commented on #164
And I add some extra information: the `blackdict` for jsbach contains only the `version` variable, which means that the only thing that cannot be changed by a `choose_` in jsbach is the version.

[2020-10-20 18:04] pgierz commented on #164
@mandresm: thanks for the detailed analysis of the problem. We may have run into a related issue in ECHAM-6.3.05-concurrent-radiation (unfiled, maybe @christian-stepanek will do that tomorrow. we hacked together a workaround so it is not pressing yet still should be solved)

Concerning `blackdict`: I'll see if I can look at it more carefully tomorrow. Perhaps you can do some "manual testing" befor

[2020-10-21 07:52] christian-stepanek opened #168 "module CDO not loaded in mistral.yaml -> run fails at the beginning of the second model year"
**Describe the bug**
On mistral, the module CDO is not loaded. Apparently CDO is involved in generation of restart files of the OASIS coupler, as such are not created after the end of the first year if the CDO module is not loaded. Consequently, AWI-ESM2.1 simulations, that depend on OASIS restart files generated with CDO, will fail at the start of the second year.

**To Reproduce**
Take the relea

[2020-10-21 08:06] pgierz commented on #168
closed via #166 (merged by hand)

[2020-10-21 08:06] #168 closed, assigned to pgierz

[2020-10-21 08:06] christian-stepanek opened #169 "esm_runscripts -c has become invasive"
**Describe the bug**
When using the check switch of esm_runscripts the whole simulation preparation process will be executed but no job submission takes place. Per design that switch should be non-invasive, i.e. after running esm_runscripts -e X -c I should be able to run esm_runscripts -e X and get identical results as if I had not run the command with the check switch before. Yet, currently this

[2020-10-21 09:10] pgierz commented on #169
Hi Christian,

I am unable to reproduce that. It might have been linked to the messy installation we cleaned up together. With a clean install:
[code]
First time in check mode:
[code]
`lresume` is 0 as expected. Second time:
[code]
`lresume` is still 0, as expected.

I will close this for now. Please re-open if this happens again.

[2020-10-21 09:10] #169 closed, assigned to nobody

[2020-10-21 13:09] pgierz opened #173 "Explain how plugin system works for esm_runscripts"
**Request/contribution description**
We should have a page explaining how the plugin system works.

**Suggested chapter/section in the documents**
Under "esm_runscripts" section, we should have a separate page for plugins: where they are loaded from, how to define your own compute recipe for a specific model, usw.

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
S

[2020-10-21 14:10] mandresm opened #174 "Wrong jsbach files for no-dynveg and unnecessary streams"
Vanessa (AWI Bremerhaven) reported the following bug via email.

**Describe the bug**
I am using ECHAM T127, but without dynamic vegetation. But instead of only using jsbach_T127GLOB_11tiles_5layers_1850_no-dynveg.nc , it still searches for jsbach_T127GLOB_11tiles_1851.nc. I know, it takes the info from the config file for jsbach, but I am unsure how to change it. I included dynamic_vegetations: f

[2020-10-21 14:14] mandresm commented on #174
**Provisional solution**
Add the following to the runscript:
[code]

I'll be working asap on a fix.

[2020-10-21 14:18] mandresm commented on #130
@jobo95 pointed out via email:
"The only small thing I currently noticed and could  contribute is about this tiny inconsistency between restarted and non-restarted simulations for the first time step after restart (issue #130)."

[2020-10-21 14:21] mandresm commented on #174
@jobo95 pointed out via email:
"Also a minor point what I think might be a bit confusing is that it is e.g. reporting and looking for these  dynamical vegetation missing files in the beginning, although they are not used at all when  dynamical vegetation is turned off..."

I think this is relevant to this issue so I included here. @jobo95 , feel free to add more details about it.

[2020-10-21 14:31] mandresm opened #175 "Update the runscript feature"
**Is your feature request related to a problem? Please describe.**
Problem was spotted by @SpontEIN in issue #77 (https://github.com/esm-tools/esm_tools/issues/77#issuecomment-655405009) and reported many times by different users via email.

**Describe the solution you'd like**
@SpontEin raised in issue #77 that the flag `-U`  in `esm_runscripts` is not working as intended (https://github.com/esm-

[2020-10-21 14:34] mandresm commented on #35
This issue has been opened now for quite some time. Since most of the docummentation requests of the ECHAM meeting go in line with what @seb-wahl reported here, I added this to the ECHAM project, so that it gets done soon.

[2020-10-21 16:44] ghost commented on #174
Hi, in my case I started an ECHAM standalone simulation with e.g. a runscript of the following form:

[code]

and got some reported missing forcing files:

[code]

I mean, when looking into the JSBACH config file:

[code]

for my PI-CTRL scenario it's just looking for the forcing files stated there (and doesn't find some of them). But I do not see where it distinguishes bewtween dynamic and non-dy

[2020-10-21 18:13] ghost commented on #174
Okay, I think this statement I got a bit wrong ..

[2020-10-23 07:22] mandresm opened #176 "File and information hierarchy"
**Request/contribution description**
I think we want this to be a short chapter by itself. In my opinion it should contain some graphs. We can create this graphs either as jpg but we could also use https://www.sphinx-doc.org/en/master/usage/extensions/graphviz.html
However, learning graphviz might delay us slightly, so we might want to include fast developed jpeg graphs and later on we can move on

[2020-10-23 07:51] mandresm opened #177 "Where to find the logging files"
**Request/contribution description**
I would write this section in esm_runscripts chapter and inside the cookbook. Details about this files are already included in the experiment directory structure table: https://esm-tools.readthedocs.io/en/latest/esm_runscripts.html#experiment-directory-structure

**Suggested chapter/section in the documents**
esm_runscripts chapter and cookbook

**Is this speci

[2020-10-23 07:55] mandresm opened #178 "ECHAM defaults documentation"
**Request/contribution description**
A list of the most important defaults configurations for ECHAM, available configuration sets and scenaries.

Maybe this is the last issue we should address in this project?

**Suggested chapter/section in the documents**
A ECHAM section inside a new chapter for model defaults/description?

**Is this specific to any model/couple setup or to any ESM-Tools functio

[2020-10-23 08:03] mandresm opened #179 "Graph for experiment folder structure"
**Request/contribution description**
Add graph for experiment folder structure.

**Suggested chapter/section in the documents**
Inside the `Experiment Directory Structure` section, in the `ESM Runscripts` chapter.

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
General

[2020-10-23 08:11] mandresm opened #180 "ESM-Tools Variables"
**Request/contribution description**
Complete the `ESM-Tools Variables` section and maybe make it be a short chapter of its own after the `YAML Syntax` chapter.

https://esm-tools.readthedocs.io/en/latest/yaml.html#esm-tools-variables

**Suggested chapter/section in the documents**
Maybe a chapter of its own?

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
Genera

[2020-10-23 08:13] mandresm opened #181 "Cookbook chapter"
**Request/contribution description**
Create the Cookbook chapter

**Suggested chapter/section in the documents**
Cookbook

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
General

[2020-10-23 08:48] mandresm opened #182 "Running runscripts - Cookbook section"
**Request/contribution description**
How to run runscripts.

**Subsections**

- [ ] Initial run
- [ ] restart (with the same exp-id)
- [ ] branching off (different exp-id)
- [ ] branching off and redate

**Suggested chapter/section in the documents**
Cookbook

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
General

[2020-10-23 09:15] nwieters opened #183 "esm_runscripts: Describe the arguments that can be passed"
**Request/contribution description**
Describe the arguments that can be passed to esm_runscripts command.

**Suggested chapter/section in the documents**
ESM-Runscripts

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
docs/esm_runscripts.rst

**Contribution**

[2020-10-23 11:40] mandresm opened #185 "Input and forcing files addition/exclusion"
**Request/contribution description**
How to add/exclude forcing and input files in your experiment from your runscript.

**Suggested chapter/section in the documents**
Cookbook

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
General

[2020-10-23 11:42] mandresm opened #186 "Adding your own namelist file"
**Request/contribution description**
How to add your own namelist file to the work folder from the runscript.

**Suggested chapter/section in the documents**
Cookbook

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
General

[2020-10-23 11:45] mandresm opened #188 "Editing namelists using namelist_changes functionality"
**Request/contribution description**
Editing namelists using namelist_changes functionality from your runscript (instead of specifying a namelist, modify the default namelist).

**Suggested chapter/section in the documents**
Cookbook

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
General

[2020-10-23 11:49] mandresm opened #189 "Move the "How to add a new model" and "... setup" to the cookbook"
**Request/contribution description**
Move the "How to add a new model" and "... setup" from the `Contributing` chapter to the `Cookbook`.

**Suggested chapter/section in the documents**
Cookbook

**Is this specific to any model/couple setup or to any ESM-Tools functionality?**
General

[2020-10-23 12:45] #183 closed, assigned to nwieters

[2020-10-24 15:15] #181 closed, assigned to mandresm

[2020-10-26 10:40] dbarbi commented on #164
ok, I just pushed a hotfix for that, branch is called hotfix/issue164 in esm_parser. Please test before merging.

[2020-10-26 10:57] dbarbi commented on #6
Hi Joakim,
is this still a problem? If so, can you please send me the output of 'esm_versions check', so that I can use the same packages? I think it might be solved already...

[2020-10-26 10:59] dbarbi commented on #32
Hey Miguel... Now that setups2models is gone, that should already work. We use that in awicm.yaml for example, where we set component-specific stuff from the setup. Can you check?

[2020-10-26 11:02] mandresm commented on #32
Sure, I'll check that and commit the necessary changes to MPIESM.

[2020-10-26 12:20] dbarbi commented on #164
hotfix pushed to release and develop of esm_parser, new tag is 4.2.3

[2020-10-26 12:20] #164 closed, assigned to nobody

[2020-10-26 12:55] dbarbi commented on #188
merged

[2020-10-26 12:55] #188 closed, assigned to pgierz

[2020-10-26 13:08] dbarbi commented on #99
merged

[2020-10-26 13:08] #99 closed, assigned to nobody

[2020-10-26 13:22] dbarbi commented on #189
moved to trello board

[2020-10-26 13:22] #189 closed, assigned to nobody

[2020-10-26 13:23] dbarbi commented on #186
moved to trello board

[2020-10-26 13:23] #186 closed, assigned to mandresm

[2020-10-26 13:24] dbarbi commented on #185
moved to trello board

[2020-10-26 13:24] #185 closed, assigned to nobody

[2020-10-26 13:26] dbarbi commented on #182
moved to trello board

[2020-10-26 13:26] #182 closed, assigned to nobody

[2020-10-26 13:28] dbarbi commented on #180
moved to trello board

[2020-10-26 13:28] #180 closed, assigned to nobody

[2020-10-26 13:29] dbarbi commented on #179
moved to trello board

[2020-10-26 13:29] #179 closed, assigned to nobody

[2020-10-26 13:31] dbarbi commented on #178
moved to trello board

[2020-10-26 13:31] #178 closed, assigned to nobody

[2020-10-26 13:31] dbarbi commented on #177
moved to trello board

[2020-10-26 13:31] #177 closed, assigned to nobody

[2020-10-26 13:32] dbarbi commented on #176
moved to trello board

[2020-10-26 13:32] #176 closed, assigned to nobody

[2020-10-26 13:33] dbarbi commented on #173
moved to trello board

[2020-10-26 13:33] #173 closed, assigned to pgierz

[2020-10-26 13:40] dbarbi commented on #35
moved to trello board

[2020-10-26 13:40] #35 closed, assigned to nobody

[2020-10-26 13:41] dbarbi commented on #12
that should be resolved by what Paul added to the documentation, right?

[2020-10-26 13:41] #12 closed, assigned to nobody

[2020-10-26 13:42] dbarbi commented on #11
done by Paul, right?

[2020-10-26 13:42] #11 closed, assigned to denizural, mandresm

[2020-10-26 13:43] #129 closed, assigned to pgierz

[2020-10-26 13:46] dbarbi commented on #31
as this is a big topic we applied for a grant from Helmholtz Metadata Collaboration to solve this

[2020-10-26 14:21] joakimkjellsson commented on #6
Hi Dirk

I think this has been solved somehow. Probably some update of esm_runscripts or so.
Feel free to close the issue.

Cheers
Joakim

[2020-10-26 14:22] #6 closed, assigned to nobody

[2020-10-26 14:31] dbarbi commented on #127
The reason why I put it there is because I thought of it as a first step towards the data handling module... So, the grid for example is something that belongs purely to the component. A data field also, and I thought that if I want a clean description of the data interface, I should explain it in the component - as what is coupled can be seen as part of the components interface. For example, you

[2020-10-26 14:43] dbarbi commented on #95
ok, I don't think esm_tools was designed to replace variables in namelists. I also don't think that is what is happening here - in esm_runscripts we replace the variables in the echam.yaml, and the take those to replace entries in namelists we read from templates.
what I think is happening here is that something goes wrong reading the namelist template - e.g. in the putrerun-entry it looks as if '

[2020-10-26 14:44] dbarbi commented on #96
as Paul wrote above, this has been solved by a feature to be released in version 5.0, near future.

[2020-10-26 18:34] vkolatschek commented on #174
If I understood the comments above correctly, the model will not try to use theses dynamic vegetation files even though it lists the files as missing? Could I then just ignore the missing files?

[2020-10-27 07:25] mandresm commented on #174
@vkolatschek , that is correct, as long as it is copying `jsbach_T127GLOB_11tiles_5layers_1850_no-dynveg.nc` you should be fine.

[2020-10-27 09:02] dbarbi commented on #174
Hi Vanessa, I took over the issue and am currently looking into it. I will get back at you later today.

Hi again,
so, actually the jsbach.nc file that was taken was the correct one, but the cover_fract files weren't, that confiused me a bit. I wrote a hotfix (branch hotfix/issue174 in esm_tools, please get that by typing
    git fetch
    git checkout hotfix/issue174
in the esm_tools folder.
I ca

[2020-10-27 11:10] dbarbi commented on #160
Ok, I checked the code and you are right, nothing is taken from the experiment folder so far. I am writing a hotfix right now. Thanks for reporting.

[2020-10-27 14:06] pgierz commented on #112
Will be solved with https://github.com/esm-tools/esm_master/pull/23

[2020-10-28 09:13] vkolatschek commented on #174
I tried the fix, and it worked. It does not list  jsbach_T127GLOB_11tiles_1851.nc as missing any longer, except for the cover_fract_... file.
And I am now missing nearly the same files as @jobo95:
[code]

[2020-10-28 10:14] dbarbi commented on #174
Ok, I just checked that. There is two issues here, none of which is esm_tools related:

- /pool/data/AWICM/FESOM1/MESHES/glob/       doesn't contain any cover_fract files (nor any other files needed for dynamic vegetation). This is a choice of the FESOM developers, who in general don't care for dynamic vegetation (hence the difference between AWICM and AWIESM...)

- /pool/data/JSBACH/input/r0009/T

[2020-10-30 08:40] nwieters commented on #127
For the setup with the YAC coupler, I placed the coupling fields definition only in the setup.yaml file so far. But I think you can also use YAC for I/O handling.

[2020-10-30 09:02] nwieters commented on #127
But how is the hierachy from setup to coupling?
I have a setup that comes in three versions. Each version has its couplng.

setup.yaml
      -> setup_version1.yaml
      -> coupling1.yaml

[2020-10-30 14:35] seb-wahl opened #202 "globbing files additionally copied to unknown folder"
**Describe the bug**
All files that are "resolved" via globbing (e.g. in `configs/components/nemo/nemo.yaml`)
[code]
are correctly copied to `restart/nemo` but ADDITIONALLY copied to `unknown/`
**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
The files shouldn't be copied to unknown/

**System (please complete the following information):**
 - Supercomputer: blogin, mi

[2020-11-02 11:54] vkolatschek commented on #174
- Yes, the cover_fract_T127_11tiles_*.nc files are indeed in the r0010 dataset, so I changed it.

- The problem is that according to the jsbach.datasets.yaml the path is:

[code]
This translates to: /pool/data/JSBACH/input/r0010/T127/land_use_maps/cover_fract_T127_11tiles_1850.nc

But instead the esm-tools seem to replace the path with /pool/data/AWICM/FESOM1/MESHES/glob/ and I don't know where it

[2020-11-02 12:00] dbarbi commented on #174
That is indeed desired behaviour. The problem is that ocean and land surface model need to agree on the location of the coasts, thats why the JSBACH-files are depending on the ocean resolution. So for every ocean grid of FESOM there are matching JSBACH files, in the fesom mesh folder. So far, so good.
What is really a horrible situation is that this has been done inconsistently, so for example all

[2020-11-02 13:00] vkolatschek commented on #174
Ok, I understand that the coast lines have to be identical. But is it still possible to define the path for the cover_fract-files separatly? (It is, after all, already in the configuration files for jsbach) I ask, because later on, I will change some parts of the mesh (without effecting the coast line), and then the paths to the mesh and the cover_fract-files will be different.

[2020-11-03 07:57] pgierz opened #204 "Branching off experiments doesn't work"
With the latest release versions, I am unable to start a new run branching off from an old run using AWI-ESM 2.1. There are two problems here:

1. The `rad` stream, which is added during a choose block, isn't added to the restart sources.

2. JSBACH and HD restart files aren't found.

To reproduce this, run an AWI-ESM 2.1 job for 2 years. Then, branch off the experiment and try to restart by setti

[2020-11-03 08:25] dbarbi commented on #174
OK, after the following info from Tido/Thomas:

I pushed a commit to hotfix/issue174 in esm_tools. Please try it.

[2020-11-03 09:20] seb-wahl opened #205 "add_namelist_changes not working when used in yaml runscript"
**Describe the bug**
Hi all. Just discovered that if you add a `add_namelist_changes` in a yaml runscript e.g.
[code]
all other `add_namelist_changes` that are found in `oifs.yam`l (there are several in `oifs.yaml`) are NOT applied e.g.
[code]
i.e. the final oifs namelist fort.4 will  NOT have a `LXIOS = .true.` entry.

**To Reproduce**
cd /to/where/you/store/model/codes
esm_master install-oifs-43

[2020-11-03 10:52] mandresm commented on #202
Also related to globing:

**Describe the bug**

Globing marks subfolders inside the targeted path as "to-be-copied", however it does not actually copy them into the experiment dir (in the case for input files using globing, all the files defined in `input_sources` would be copied to `/<base_dir>/<exp_id>/run_<DATE>/forcing/`, but not the subfolders).

The problem comes when `ESM-Tools` tries to co

[2020-11-03 11:10] vkolatschek commented on #174
Yes, that worked. It does not replace the path to the cover_fract_* file with the path to the mesh anymore.

[2020-11-03 13:18] dbarbi commented on #174
Is your issue solved then? Can I close it?

[2020-11-03 13:53] vkolatschek commented on #174
I just realized I have one small question. If It does not use dynamic vegetations, why is it trying to find the information on landuse (landuse_harvest)? Can I just ignore those missing files?

[2020-11-04 12:26] mandresm commented on #205
Hi @seb-wahl, I managed to reproduce the issue in `blogin` using `oifs`, but also in `ollie` using the `sample` component. However, **this is not necessarily a bug**, but a particularity of the `_changes` functionality. I agree that the behavior is somehow weird and we might want to revisit it (and for sure document it), so I will leave this issue open for the other team members to join the discus

[2020-11-05 14:33] mandresm commented on #204
`ini_parent_date: "$(( ${initial_date} - ${echam.time_step}seconds ))"` seems to have solved the issue.

[2020-11-06 15:35] pgierz commented on #156
Closed, you will need to recompile ECHAM, but the relevant changes are now in AWI's paleodyn branch of ECHAM6.

[2020-11-06 15:35] #156 closed, assigned to nobody

[2020-11-06 15:47] pgierz commented on #8
PISM preliminary works, probably will need bugfixes. VILMA is also in the main system now.

[2020-11-06 15:47] #8 closed, assigned to nobody

[2020-11-10 09:53] vkolatschek opened #211 "Error when reading ocean restart files"
**Describe the problem**
I am using AWI-CM (CMIP6) to branch of an existing historical scenario run of the CMIP6 simulations. When reading the ocean restart files, it produces this error:
[code]
Additionally, the model does not crash, but continues to try to read the restart files until the time limit (in this case 2 h) is reached.

**To Reproduce**
Steps to reproduce the behavior:
`esm_runscripts

[2020-11-10 10:05] nwieters commented on #211
I think you are right. The different naming of the time dimension is the issue.
Do you have a local copy of the restart files you are branching off from?
A fast solution is maybe to rename the dimansion variable in the restart files.
`ncrename -d T,time file`

[2020-11-10 14:02] vkolatschek commented on #211
Yes, now it worked.

[2020-11-11 08:48] nwieters commented on #211
Can this issue be closed?
This issue and how it can be solved will be included in the esm-tools cookbook of the usermanual.

[2020-11-11 08:49] #211 closed, assigned to nobody

[2020-11-11 12:54] vkolatschek opened #213 "Missing file aero_coarse_1849.nc"
**Describe the problem**
I am using AWI-CM (CMIP6) to branch of an existing historical scenario run of the CMIP6 simulations. I start in 1851, hist starts in 1850. The optical properties of coarse mode aerosols are extracted form T127_aeropt_kinne_sw_b14_coa.nc. This creates the files aero_coarse_1850.nc, aero_coarse_1851.nc, and aero_coarse_1852.nc.

But because these are aerosols of natural orig

[2020-11-11 12:56] pgierz commented on #213
Hi Vanessa,

How should this file be created? Or is it one of the files that are normally in the pool directory, and then it is not copied correctly?

[2020-11-11 13:15] vkolatschek commented on #213
No, you are right. It was not copied correctly from the pool directory. I just compared T127_aeropt_kinne_sw_b14_coa.nc with aero_coarse_1850.nc, and they are the same. So there is just an error in naming the aero_coarse_*.nc file?

[2020-11-11 13:18] pgierz commented on #213
Likely yes. Does it need to have the year before and after? If yes, have a look at the ozone forcing files, there is something called "additional info, needs before and after" (or similar, I can't remember off the top of my head). It might be that this is missing.

[2020-11-11 13:28] vkolatschek commented on #213
I don't quit know, which files you mean.

(I have three files for aero_coarse_*.nc, namely for 1850, 1851 and 1852. But they are needed for 1849, 1850 and 1851. For ozone, I also have three files for the same years, but I think they are the right years.)

[2020-11-11 13:34] pgierz commented on #213
OK, so the missing files are then:
* aero_coarse_1849
* aero_coarse_1850
* aero_coarse_1851

I'll reproduce the bug now, maybe then I'll understand what is going wrong

[2020-11-12 12:34] dbarbi commented on #160
That should be fixed with branch hotfix/issue160 of packages:

- esm_tools
- esm_runscripts
- esm_master
- esm_plugin_manager

Please check

[2020-11-18 07:55] pgierz commented on #213
Hi Vanessa,

sorry this took me so long to get to. I am able to reproduce that the aero_1849 file is missing. This is, I guess, because you are starting your run in 1851, and the logic is programmed to need one year before and one year after that. Can you figure out why ECHAM also needs 2 years before? I am a bit confused by that, as this has never been the case previously.

By the way, I am not s

[2020-11-18 09:12] vkolatschek commented on #213
The missing files are probably because of missing files. I had to copy the restart files for echam (and other) to an other directory, because they were in different places than expected. Missing permission is probably the reason there are so many. Only missing files I still get when starting the model are the landuse_* stuff, but the model should not use them anyway. I will try to change permissio

[2020-11-18 09:20] pgierz commented on #213
Aha, ok, I think the lightbulb just went on for me. So -- in a historic case, you **always** need 1849-1851 and then on top of that, whatever year you are currently in, plus/minus one. Is that also the case for the RCP scenarios? Might as well fix it all in one go...

[2020-11-18 09:37] vkolatschek commented on #213
In the echam6 userguide, it says that the aerosols of anthropogenic origin is included in  `aero_fine_*.nc`. That seems to be the case:

From echam.yaml:
[code]
From echam.datasets.yaml:
[code]

[2020-11-18 09:45] pgierz commented on #213
I think here:
https://github.com/esm-tools/esm_tools/blob/75c241d3493ae5098983067a9d0c585210672c98/configs/components/echam/echam.yaml#L308-L322

you will need to add another class of files. Maybe call it `aerofinprehuman` or something. That then needs to point to `piaerofin`, and there needs to somewhere be a block in that sets that sets `areofinprehuman` to use the files for 1849 to 1851.

[2020-11-18 10:03] vkolatschek commented on #213
I just looked which datasets it takes for *histaerofin*, and that looks right to me.
[code]
The userguide states that `aero_fine_*` is year dependent, because it also contains some anthropogenic aerosols... Then `aero_fine_*` should also change with the year?

I just realized that the error might just be in the naming of the copied files. Where does that happen?

[2020-11-19 09:29] vkolatschek commented on #213
How do I put a block in? That does not happen in echam.yaml or echam.datasets.yaml.

[2020-11-23 08:09] seb-wahl opened #215 "empty add_ block causes unexpected behaviour"
**Describe the bug**
During a test I ended up with the following block in a yaml file (do you spot the error :-) ):
[code]
In the above case the settings below weren't used as expected and e.g. the export vars not set. **WARNING: I can't exactly recall, whether the setup was exactly as described above, but maybe it's still helpful to check if empty sections are handled correctly.**
**To Reproduce*

[2020-11-23 08:58] seb-wahl opened #216 "select choose block (e.g `useMPI`) in machine yaml not working"
It is not possible to overwrite variables in a machine yaml (e.g. `useMPI`  in `mistral.yaml`).

**To Reproduce**
use the latest release, open e.g. `config/components/oifs.yaml`, add the line `useMPI: intelmpi17`
[code]
(also tried `computer.useMPI`) and do
[code]
You will see that still intel18 is used. If I comment `useMPI` in `mistral.yaml` I get a key error when I try to run `esm_runscripts -e

[2020-11-23 09:43] mandresm commented on #216
This could potentially be solved by the `add_` changes I merged this morning. I'll check in an hour.

[2020-11-23 09:45] vkolatschek commented on #213
The idea was know to add the files to the run script in a way that they will be added to the work directory. But that is not working. Here is what I added to the run script:

[code]
Do I need to add something else?

[2020-11-23 14:59] vkolatschek commented on #213
When I added this

[code]

to my run script, it did not copy the year 1849, but after sorting the lines into echam.yaml and echam.datasets.yaml, it now copies the files aero_coarse_1849.nc into the work directory. I do not think, it is an ideal solution, because I have to do it for each year separately (so, three times), but for now it seems to work.

[2020-11-24 09:37] #160 closed, assigned to dbarbi

[2020-11-24 10:17] #213 closed, assigned to pgierz

[2020-11-24 15:23] #204 closed, assigned to nobody

[2020-11-27 12:17] vkolatschek commented on #174
I think, you can close this issue.

[2020-11-30 15:10] dbarbi commented on #163
solved in release 5

[2020-11-30 15:10] #163 closed, assigned to nobody

[2020-11-30 15:10] dbarbi commented on #116
solved by paul in release 5

[2020-11-30 15:10] #116 closed, assigned to pgierz

[2020-11-30 15:12] #175 closed, assigned to mandresm

[2020-11-30 15:13] #174 closed, assigned to dbarbi

[2020-11-30 15:13] #117 closed, assigned to nobody

[2020-11-30 15:15] dbarbi commented on #159
i think this is fixed in release 5, please check

[2020-11-30 15:15] #159 closed, assigned to dbarbi

[2020-11-30 15:23] mandresm commented on #77
With release 5 the enhancement for `-U` is added. Now `-U` really updates the runscript. See #175 for more details about it.

All the restart file issues for `ECHAM` should be also solved with release 5.

Therefore, I close this issue.

[2020-11-30 15:24] #77 closed, assigned to pgierz

[2020-12-01 12:58] dbarbi commented on #127
So, as this is now documented, and not an issue at all (but a question of philosophy, let's say) I will close this now. You have all the options

[2020-12-01 12:58] #127 closed, assigned to nobody

[2020-12-02 08:28] seb-wahl opened #228 "File links in pool / input data dir cause strange behaviour"
**Describe the bug**
If an input file in the pool (or in our foci pool) is a link e.g.
[code]
the file is not found during experiment setup, and also the path `esm_tools` "thinks" the file should be in is completely weird:
[code]
Note that esm_tools tries to find the file in `scripts/`!!!
If I remove the link, i.e.
[code]
everything works normal.

**To Reproduce**
Go to input directory, e.g. ECHAM

[2020-12-02 08:38] seb-wahl opened #229 "venv not working when preprocess plugin is required."
**Describe the bug**
As we have to install the preprocess plugin for OIFS manually at the moment:
[code]
it is not installed during the venv generation and hence and OIFS runscript fails after the venv has been created.

**To Reproduce**
Run an OIFS of FOCIOIFS runscript in a venv.

**Expected behavior**
Plugins should be installed automagically, I remember that @pgierz mentioned at some point tha

[2020-12-02 08:39] seb-wahl commented on #216
Did you test whether this works now?

[2020-12-02 08:43] seb-wahl commented on #202
One of the updates to the globbing seems to have solved this issue. I close it for now.

[2020-12-02 08:43] #202 closed, assigned to nobody

[2020-12-02 08:45] seb-wahl commented on #114
This has been solved by ignoring directories.

[2020-12-02 08:45] #114 closed, assigned to seb-wahl

[2020-12-02 08:46] seb-wahl commented on #229
See also https://github.com/esm-tools/esm_tools/issues/112

[2020-12-02 09:06] pgierz commented on #229
Magic may not be needed here, but I'll have a look :-) Can you check if the plugin is written down in your YAML file?

The venv_bootstrap program installs any plugins listed:

https://github.com/esm-tools/esm_runscripts/blob/2916a282ced46f1a988dc8b54adfadb37cca7793/esm_runscripts/virtual_env_builder.py#L87-L94
[code]

So, in your OIFS yaml, you would need to have a section:
[code]

Although, looki

[2020-12-02 09:45] seb-wahl commented on #229
I tried what you suggested, and I still get the same error when I try to run FOCIOIFS. I added the require_plugins line to `oifs.yaml`.

[2020-12-02 10:47] pgierz commented on #229
Ok, I have a fix, can you please test https://github.com/esm-tools/esm_runscripts/pull/46?

[2020-12-02 10:48] pgierz commented on #229
And, this is why you aren't getting your plugin installed :-(

[code]

[2020-12-02 12:07] mandresm commented on #216
I'm going to test it now.

[2020-12-02 13:21] seb-wahl commented on #229
Still the same error. I used:
[code]
and committed all my changes to `feature/geomar-setup` before starting the test, except for the yaml runscript itself (if that's relevant)

[2020-12-02 14:49] nwieters opened #232 "mail_type and mail_user variables have no effect"
**Describe the bug**
When setting the variables `mail_type` and `mail_user` in the runscript, it does not have any effect.

**To Reproduce**
[code]
When setting this, no email notification through slurm will be sent.

**Expected behavior**
This way it works:

[code]
I receive an email at start and end of my simulation.

But I guess it should work for the variables `mail_type` and `mail_user`.

**S

[2020-12-02 15:58] mandresm commented on #216
I confirm this is still a problem, I working already in the solution so I assign this issue to myself.

[2020-12-03 08:04] seb-wahl commented on #216
Together with the issue that @nwieters reported (https://github.com/esm-tools/esm_tools/issues/232) I think a general cleanup of the interplay between the `slurm.yaml` and the machine.yaml's could help. I'm always lost if I try to modify the `SBATCH` header of the `.sad` runscript. Thank you @mandresm for having a go at this.

[2020-12-03 09:26] dbarbi commented on #228
Can you try that again please, but with "-v", and send me the output?

[2020-12-03 09:57] seb-wahl commented on #228
Here we go

--
Dr. Sebastian Wahl
Scientific Programmer
Maritime Meteorologie
GEOMAR Helmholtz-Zentrum für Ozeanforschung Kiel
Düsternbrooker Weg 20
24105 Kiel, Germany
-------------------------------------------------------------------------
Telefon: +49+431-600-4062
Telefax: +49+431-600-4052
swahl@geomar.de
www.geomar.de/~swahl

blogin3:~/esm/esm_tools/runscripts/foci $ esm_runscripts -e f_linke

[2020-12-03 10:00] dbarbi commented on #228
ok I have an idea

[2020-12-03 10:15] nwieters commented on #95
I tried to reconstruct the issue and found that the namelist template you mentioned doesn't have these dynamic variables for `${restart_rate}` and `${restart_unit}` anymore (release branch of version 5.0.0):
[code]

I did a test with setting
[code]
and the resulting line in the echam namelist is
`putrerun = 2, 'months', 'first', 0`

I also tried to set this via a `namelist_changes `in my runscrrip

[2020-12-03 10:20] nwieters commented on #95
Can someone explain how you can set this correctly in a runcript:
[code]
Should result in
`putrerun = 3, 'months', 'first', 0`

not

`putrerun = '3, months, first, 0'`

[2020-12-03 10:22] dbarbi commented on #228
pushed a bugfix to branch hotfix/broken_links. please check.

[2020-12-03 10:57] mandresm commented on #95
have you tried `putrerun: "3, 'months', 'first', 0"`?

I think that having vars called from the namelist is not a good idea. I would personally prefer to see all the changes in the namelist occuring in namelist_changes, in this way unnecessary potential conflicts are avoided and we only need to instruct the user once about how to do this. Can anyone report a case in which having variables called d

[2020-12-03 11:03] nwieters commented on #95
I don't mean to have variables in the namelist. And I am not sure whether this is just an old thing that remained from the old bash version? As placeholders, not sure.

But there are runscript variables that you can set (like
echam:
    restart_rate: 2
    restart_unit: "months"

that change a namelist. And I guess there are more variabels that do this (or?).

[2020-12-03 11:06] pgierz commented on #95
make it a list. Then it will work. See also the f90nml docs: https://f90nml.readthedocs.io/en/latest/index.html

You need:
[code]
or
[code]

The example of the docs is "layout"
[code]
becomes:
[code]

[2020-12-03 11:17] nwieters commented on #232
I think that the `choose_mail_type:` block in `slurm.yaml` will not be entered at all.

I tried this

[code]
(because it seems to work for accounting),

and set
[code]
in my runscript, but it doesn't have any effect on the sbatch header.

[2020-12-03 11:24] seb-wahl commented on #95
I think if all the namelist templates are checked for "illegal" statements ${...} entries and "repaired" accordingly, we can close the issue. But I'm not sure if it will work for all variables, e.g. `${EXP_ID}`?
Thanks for following up on this and especially thanks to @pgierz for pointing to the f90nml documentation.

[2020-12-03 11:33] seb-wahl commented on #228
works, thanks for fixing this

[2020-12-03 11:46] dbarbi commented on #228
ok. merged into release, patch 5.0.1 of esm_runscripts

[2020-12-03 11:46] #228 closed, assigned to dbarbi

[2020-12-03 12:05] StanleyAgu1 opened #234 "Error message while setting up mistral"
steps I took before getting the error message.

- I cloned git "git clone https://github.com/esm-tools/esm_tools.git"

- $ module load git
$ module load anaconda3

From the esm_tools, I did ./install.sh and get the following error message below;

 Note: I already added

export LANG="en_US.utf8"
export LC_ALL="en_US"

to my Environment but it still doesn’t work.

[code]

`

[2020-12-03 12:18] nwieters commented on #95
But are these ${} statements evaluated by anything (e.g. esm_parser)? Or are they just strings?

[2020-12-03 13:17] nwieters commented on #95
I (not knowning) tested with a namelist for echam that doesn't have any ${} in it, not even ${EXP_ID}. I think these 'variables' do nothing (except causing @seb-wahl problem). I will replace these statements in all namelist with default/fill values.

[2020-12-03 14:28] nwieters commented on #95
In case of echam namelists these ${} are removed now. In other "namelist" I think these are real shell variables.
Can we close this issue now?

[2020-12-03 14:30] nwieters commented on #232
I think that the `choose_mail_type:` part in the `slurm.yaml` will not be entered at all.

I tried the following:
[code]
and set
[code]
in my runscript, but this also has no impact on sbatch header.

[2020-12-03 14:30] dbarbi commented on #95
closed

[2020-12-03 14:30] #95 closed, assigned to nwieters

[2020-12-03 17:17] dbarbi commented on #234
I don't really know how to debug that yet, as I can't reproduce the error, and haven't seen anything similar. The error tells me that python3 (from the anaconda3-bleeding_edge) is trying to install something that is python2 ( "reload(sys)"). My guess is that you have something installed locally in your mistral HOME, but I don't have the permissions to look.
Maybe we need to fix that together, in a

[2020-12-03 19:24] StanleyAgu1 commented on #234
Monday works for me too.

[2020-12-04 08:02] dbarbi opened #236 "HORRIBLE bug with namelist.echam runctl"
**Describe the bug**
For some (also the default awicm ) settings, the first timestep in the output data is wrong. The problem is only really visible if you look at daily data, as the signal might be too small for monthly data. As far as we can see, potentially all echam standalone and awicm / awi-esm run potentially run into that problem; foci might be safe.

**To Reproduce**
Standard run with awi

[2020-12-04 08:07] dbarbi commented on #236
At the moment, a possible solution seems to be to make sure all these settings perfectly fit together:

putrerun, putdata and interval:
* if one setting is 'last', all of them should be 'last'
* if one setting is 'first', all of them should be 'first'

putrerun, dt_resume:
* if putrerun is 'first', make sure dt_resume is set to time 0,0,0
* if putrerun is 'last', make sure dt_resume is set to time

[2020-12-04 08:10] dbarbi commented on #236
Some good news:

All of the settings are already in foci.yaml. I suggest to move them to echam.yaml to make them the standard for everybody.
To take care of the 'interval' setting, I suggest a hotfix, to make a copy of each namelist.echam in the namelist folder, on with 'first', the other with 'last', and set in echam.yaml which one to take. not nice, but might help quickly.

[2020-12-04 08:14] dbarbi commented on #236
Further explanation:

The 'last' setting is as a standard used by MPIESM and FOCI communities for climate research, to make sure that Nov 1, 0,0,0 is actually in the november mean and not the october one. Weather prediction uses 'first', because they want to restart exactly at 0,0,0.
I don't know why, but the standard setting for awi-cm has always been 'first' for the reruns. That was always annoy

[2020-12-04 08:30] vkolatschek opened #237 "AWI-CM stops without error message"
**Describe the problem**
I am using AWI-CM (CMIP6) to branch of an existing historical scenario run of the CMIP6 simulations.
After starting the simulation, the model stops working without a error message in the log files. The Problem also is, that this hang-up does not come consistently at the same step after starting a new run.
Sometimes, it stops while loading the grid, sometimes after the firs

[2020-12-04 08:48] nwieters commented on #237
Hi,
do you mean experiments hist1_trial_12 and 13?

[2020-12-04 09:03] dbarbi commented on #236
Additional information:

*dt_start and dt_resume should have the same time, so safest would be if dt_start is one year before dt_resume (if it has to be set at all).
* dt_resume ONLY NEEDS TO BE SET at the first year of a run, and only if you want to change the date that is in the restart file  you start from. For example if you have a spinup that goes until year 6000, and then want to reset that

[2020-12-04 09:05] vkolatschek commented on #237
Yes, but all runs with the addition of '_crash' and '_crash_flux'. I added that to keep the overview.

[2020-12-04 09:08] nwieters commented on #237
Ok. I just checked your experiments hist1_trial_12 and 13 and they both ran into TIME LIMIT

See /work/ba1150/a270147/awicm-CMIP6/hist1_trial_13/run_18510101-18510131/scripts/hist1_trial_13_compute_18510101-18510131_26292819.log:
0: slurmstepd: error: *** STEP 26221764.0 ON m10174 CANCELLED AT 2020-12-02T12:53:45 DUE TO TIME LIMIT ***

[2020-12-04 09:14] vkolatschek commented on #237
Yes, but, that happens after it was sometime in limbo. If you compare hist1_trial_4 with hist_trial_13, both crash while loading the mesh. hist1_trial_4 had a time limit of 10 min, while hist1_trial_13 had a time limit of 2 hours. That means the model crashs, but the run does not stop until the time limit is reached.

Additionally, I did not change anything between starting hist1_trial_12 and hist

[2020-12-04 09:22] nwieters commented on #237
I will have a look.

[2020-12-04 09:32] dbarbi commented on #236
I have the namelists ready, they are in branch hotfix/horrible...

[2020-12-04 10:16] dbarbi commented on #236
ok, i have a hotfix. when running awicm with restart_firstlast = 'last' i get for the first month:

[code]
and with restart_firstlast = first:
[code]
looks about right. I will now run a few test to see how the following months look.

[2020-12-04 10:18] pgierz commented on #229
So, for me, this works. I have the following:

1) A test script to emulate "preprocess" from the shell
[code]
2) A up-to-date installation of all the packages to version 5.0
3) A development install of esm-runscripts to branch `hotfix/venv_install_plugins`
4) A slightly modified echam.yaml file to include the preprocess plugin:
[code]
5) This runscript:
[code]

Important part os the modified compu

[2020-12-04 10:36] nwieters commented on #237
Hi @vkolatschek
but then I don't know how run hist1_trial_12 fits into this, since it can read in the mesh and starts calculating.
I also noticed that you changed the time_steps for both models compared to run hist1_trial_4.
My guess now is that runs hist1_trial_4 and hist_trial_13 ran into time limit while reading the mesh (for whatever reason, maybe mistral was very busy, filesystem was slow).
A

[2020-12-04 11:53] vkolatschek commented on #237
I can try it again with a higher compute time, but I am not sure if this helps. The mesh is read during the first 10 min and some runs (e.g. hist1_trial_10) did read the mesh without problem and started calculating in the short time.
The shorter time steps might play a role, however that does not explain why the runs crash at different points  of the simulation without any changes from my side (hi

[2020-12-04 12:16] dbarbi commented on #237
I don't know if it helps or adds to the confusion, but I am running awicm-CMIP6 (T63-CORE) over and over again today for testing, and I didn't see this sort of hangup

[2020-12-04 12:30] nwieters commented on #237
That's what I ment and tried to say. A longer compute time can help you to find out whether something realy crashes or just takes very long time before the calculation starts.

And there was a Hardware Maintenance on Nov 26 on Mistral.

[2020-12-04 12:51] dbarbi commented on #236
there was still a little bug, now i get for the 'first':

month 1:
[code]
month 2:
[code]
As far as I can see that is what should be there, right?

[2020-12-04 14:08] dbarbi commented on #236
ok there seems to be an issue related to jsbach here too...
Here's another little piece of the puzzle (that was a bit tricky to find): in namelist.jsbach , hydrology_ctl, there are two settings called gethd and puthd. they need to be set to:

'last':
gethd = 24, 'steps', 'exact', 0
puthd = 24, 'steps', 'exact', -450

'first':
remove both values from the namelist

[2020-12-04 17:05] dbarbi commented on #236
also, it is not that easy to run awicm with putrerun = 'last'. With all settings correct, I now get an error message from oasis telling me that the runs exceeds the maxtime. don't know how but it seems oasis starts counting at echams start, and never reaches fesoms end, as time is over.
i am trying with a dirty hack on the namcouple at the moment, but will also start my weekend in a minute

[2020-12-07 09:55] vkolatschek commented on #237
So, the last run also stopped working while reading the mesh (hist1_trial_14). Somewhere, there has to be a problem. And it can't be not enough time. 5h should be more then enough. Especially for a process that should be finished during the first 10 min.

[2020-12-07 09:59] nwieters commented on #237
Ok. Just another idea. Are you sure all input files are there? I am not sure if Fesom 1 or any other model had a problem when a file isn't existing/readable and does not crash/stop the simulation but keep on going until time limit.

[2020-12-07 10:11] nwieters commented on #232
Does anybody has an idea why this choose_mail_type is not evaluated and where/how to debug this? Is this part of the esm_parser?

[2020-12-07 10:29] vkolatschek commented on #237
All the files the esm tools copy are where they are supposed to be. The grid files area also all in this folder:
[code]

And it occasionally got past this hurdle of mesh loading (hist_trial_12)...

[2020-12-07 10:53] StanleyAgu1 commented on #234
@dbarbi @JanStreffing Please what time should we meet today?

Best,
Stanley.

[2020-12-07 11:48] dbarbi commented on #234
Hey, sorry I am busy trying to fix something else. At 2 maybe?

On 07.12.20 11:54, Stanley Agu wrote:

--
Dr. Dirk Barbi
Alfred Wegener Institute
Helmholtz Centre for Polar and Marine Research
Bussestr. 24
D-27570 Bremerhaven
Germany

Tel.: +49 (471) 4831 1561
Skype: dirk.barbi
Email: Dirk.Barbi@awi.de
ORCID: 0000-0002-5053-1788
www.awi.de
www.esm-tools.net

[2020-12-07 12:01] StanleyAgu1 commented on #234
Ok 2 is fine for me. on skype?

On Mon, Dec 7, 2020 at 12:48 PM dbarbi <notifications@github.com> wrote:

--
Stanley Agu.

Universität Bremen
Institut für Umweltphysik
Otto-Hahn-Allee 1
D-28359 Bremen
Germany.

Tel: +4915217086598
Email: agu1@uni-bremen.de

Paleoclimate Dynamics

Alfred Wegener Institute (AWI)
Helmholtz Centre for Polar and Marine Research

Bussestraße 24
D-27570 Bremerhaven
Germa

[2020-12-07 12:07] dbarbi commented on #234
here:

https://awi.webex.com/meet/dirk.barbi

On 07.12.20 11:54, Stanley Agu wrote:

--
Dr. Dirk Barbi
Alfred Wegener Institute
Helmholtz Centre for Polar and Marine Research
Bussestr. 24
D-27570 Bremerhaven
Germany

Tel.: +49 (471) 4831 1561
Skype: dirk.barbi
Email: Dirk.Barbi@awi.de
ORCID: 0000-0002-5053-1788
www.awi.de
www.esm-tools.net

[2020-12-07 12:18] StanleyAgu1 commented on #234
Ok

[2020-12-07 12:45] JanStreffing commented on #234
Hey Stanley, I'll be at the FESOM days and not participate with this meeting. Let me know if my help is needed and I can jump in for a few minutes.
Cheers, Jan

[2020-12-07 12:51] StanleyAgu1 commented on #234
Alright.

[2020-12-07 15:01] dbarbi commented on #234
fixed together

[2020-12-07 15:01] #234 closed, assigned to dbarbi

[2020-12-07 15:08] #205 closed, assigned to mandresm

[2020-12-07 15:36] dbarbi commented on #237
Hi Vanessa,
I discussed that with Dima, and we have two ideas:

1. upgrade your esm-tools packages, then your runscript automatically includes the setting
ulimit -s unlimited
That should increase stack size.
2 set
general:
       use_hyperthreading: False
Hyperthreading means that you put two threads onto one processor, and as that saves resources, it is turned on by default on mistral. Turning it

[2020-12-07 18:40] vkolatschek commented on #237
I don't think everything went as is should when upgrading:
[code]

Shouldn't esm_tools also be a higher version?

[2020-12-08 04:28] seb-wahl commented on #229
I was able to get it to work now. With both `esm_tools` and `esm_runscripts` being on the same branch than the one I set in the runscript:
[code]
I haven't tested though whether I can be on another branch of `esm_tools` when creating the runtime environment...

[2020-12-08 07:57] pgierz commented on #229
OK, then I will merge this into release and develop for `esm_runscripts`

On Dec 8, 2020, at 5:28 AM, seb-wahl <notifications@github.com<mailto:notifications@github.com>> wrote:

I was able to get it to work now. With both esm_tools and esm_runscripts being on the same branch than the one I set in the runscript:

general:
   install_esm_tools_branch: "feature/geomar-setup"
   install_esm_runscript

[2020-12-08 08:05] #229 closed, assigned to pgierz

[2020-12-08 08:14] nwieters commented on #237
Hi @vkolatschek ,
can you please check if you are in another branch than "release" of esm_tools?
It looks as you are in branch "hotfix/issue174" and did some changes there.
Maybe you can change into branch "release" and do the upgrade again.

[2020-12-08 08:59] vkolatschek commented on #237
I switched to release, but the version did not change after upgrading. I am still on esm_tools 4.1.6.

[2020-12-08 12:54] pgierz commented on #112
Closing, as the related merge request is now included (as of v5.0.0)

[2020-12-08 12:54] #112 closed, assigned to seb-wahl

[2020-12-08 14:32] nwieters commented on #237
Ok. Can you then do a `git pull` in branch release of the esm_tools, please. And check again. I have version 5.0.1 now.

[2020-12-08 15:10] vkolatschek commented on #237
No, I still have 4.1.6.
[code]

[2020-12-08 15:13] nwieters commented on #237
Is `git status` giving any output?

[2020-12-08 15:16] vkolatschek commented on #237
[code]

[2020-12-08 15:18] nwieters commented on #237
You did changes in release branch. Thats why it is not updated by esm_versions and also git pull warns you about.
Do you need these changes?

[2020-12-08 15:22] vkolatschek commented on #237
Yes, they add the background aerosol files that were missing (#213).

[2020-12-08 15:31] nwieters commented on #237
@pgierz It #213 solved in the recent verision of release?

[2020-12-08 15:40] vkolatschek commented on #237
No, it's not included.
[https://github.com/esm-tools/esm_tools/blob/c3768472b38252f682dc3385bca922c205c797af/configs/components/echam/echam.yaml#L303-L317](url)
[code]
It's missing:
[code]
And some other lines to compliment this further down, and in the file echam.datasets.yaml.

[2020-12-08 15:52] nwieters commented on #237
If these changes are going to be in the release of esm_tools, than you could get these changes with updating the esm_tools.
Or you put your changes in its own branch.

[2020-12-08 16:18] vkolatschek commented on #237
So, I put my changes on its own branch, returned to 'release' and tried `git pull` again. But I have still version 4.1.6.

[2020-12-08 16:22] nwieters commented on #237
Maybe we can have a look together tomorrow.

[2020-12-08 16:36] christian-stepanek opened #239 "esm_master breaks with old info in ~/.esmtoolsrc"
**Request/contribution description**
If a previous version of esm-tools has been used before, in a fresh install of esm-tools v.5 esm_master crashes. This is related to the following information stored in ~/.esmtoolsrc:

[code]
After removing these lines esm_master works as expected.

**Suggested chapter/section in the documents**
I suggest to add a remark to step 5 of "TEN STEPS TO A RUNNING MODE

[2020-12-08 16:38] mandresm commented on #239
Is anyone working on this already? Cause I can just do it very fast.

[2020-12-08 16:58] mandresm commented on #239
I close this as the changes are now included in the documentation. Thanks @christian-stepanek for your contribution!

[2020-12-08 16:58] #239 closed, assigned to nobody

[2020-12-08 18:16] pgierz commented on #239
Out of interest, can we get it to **not** break? I had built checks around most of the other parts (at least in the runscripts part) to ensure everything still worked even if you had `FUNCTION_PATH` defined...

[2020-12-09 09:44] dbarbi commented on #236
ok, here's some detail i didn't post before - default_output always writes instantaneos data, no means. so it is to be expected that the data in the default output should not be affected by the first/last problem

also, s. rast could not exclude the possibility that mvstream averaging might or might not use default_output data for the averaging, and wasn't sure what happens if the default output i

[2020-12-09 10:18] dbarbi commented on #130
This has a lot of links to issue #236, please check there too.

[2020-12-09 13:40] dbarbi opened #242 "verbose.log in runscript folder"
**Describe the bug**
Sometimes after a run a file called verbose.log ends up in the original runscripts folder

**System (please complete the following information):**
 - Supercomputer: mistral (doesn't matter I think)
 - Version 5.x

[2020-12-10 09:56] vkolatschek commented on #237
After some direct help from @nwieters to upgrade the esm tools to v5 I started a standard initial run of awicm. That worked without any problems, including the loading of the glob mesh.
When I start my own restart set-up it crashes before even submitting the job.
[code]
Any idea where I should start looking? I was thinking a typo in the runscript or something like that.

[2020-12-10 15:21] StanleyAgu1 opened #246 "Problem starting my experiment on awiesm."
I am starting my first experiment on awiesm version using mistral, but I keep getting a lot of these errors;

`291: /mnt/lustre02/work/ab0246/a270162/esm-experiments/stanleymistral4/work/./echam6: error while loading shared libraries: libpnetcdf.so: cannot open shared object file: No such file or directory
 293: /mnt/lustre02/work/ab0246/a270162/esm-experiments/stanleymistral4/work/./echam6: error

[2020-12-10 15:27] mandresm commented on #242
I can confirm that the system does not matter. I just reproduced it in ollie. Already working on it.

[2020-12-10 22:15] pgierz commented on #246
That looks like a `LD_LIBRARY_PATH` issue. To help use debug, could you please post the output of:

[code]

as well as the `module load` commands at the top of your `.sad` file? That might give us a hint.

To clarify, which ECHAM version are you using?

[2020-12-10 22:16] pgierz commented on #246
Also note: from the output, this looks like the shell version of esm-tools

[2020-12-10 22:19] pgierz commented on #242
Miguel, it might be enough to tell this `logger.sink` command (or `set_sink`, I can't remember) where to write it's file. If the log folder is known at that point, then we can use that, alternatively, we can add the `verbose.log` file to part of the files that are cleaned up. As far as I understand, the cleanup job can also operate on files outside of the experiment tree.

[2020-12-11 09:21] seb-wahl opened #247 "plugins re-installed upon every run of esm_master"
**Describe the bug**
If you have a dependency for a plugin coded into your components setup (e.g. `oifs.yaml`)
[code]
`esm_master` will re-install it every time you run it.
**To Reproduce**
`esm_master comp-oifs-v43r3-v1 -c`
`esm_master comp-oifs-v43r3-v1 -c`

**Expected behavior**
esm_master should only re-install the plugin if it is not installed or outdated.
Current workaround it to comment the

[2020-12-11 09:24] pgierz commented on #247
...that should not be happening. This bit:
https://github.com/esm-tools/esm_master/blob/7d9daac71504d95d03406d7a0155c6af87318759/esm_master/task.py#L371

just runs `pip install <plugin>` where `plugin` is one of the things you put in `required_plugins`. Since there is no `-U` option given to the pip call, it should not "reinstall", but just say "dependency already satisfied". It should take a mini

[2020-12-11 09:58] ackerlar opened #248 "Problems downloading awiesm-2.1 (and other models)"
**Describe the problem you are facing**
I cannot download/install awiesm-2.1 via `esm_master install-awiesm-2.1` on mistral.

**To Reproduce**
Steps to reproduce the behavior:
run `esm_master install-awiesm-2.1`

**Runscrip and other relevant files**
Include the runscript and/or other relevant files that you modified (indicate file paths if necessary).

**Screenshots**
Error message:
[code]

**Sys

[2020-12-11 11:32] nwieters commented on #237
@vkolatschek can you please post what `esm_versions check` gives.
The error should be fixed already.

[2020-12-11 11:34] vkolatschek commented on #237
[code]

[2020-12-11 11:37] nwieters commented on #237
Please make `esm_versions upgrade` and check again.

[2020-12-11 11:56] vkolatschek commented on #237
[code]

[2020-12-11 12:01] denizural commented on #246
Hi Stanley,
could you please post your runscript here. Then I can help you to migrate that to the new version of ESM-Tools

[2020-12-11 12:02] nwieters commented on #237
Ok. That looks upgraded. Can you try your experiment again?

[2020-12-11 12:07] vkolatschek commented on #237
[code]

[2020-12-11 13:34] mandresm commented on #248
Dear @ackerlar ,

Patch 5.0.5 of esm_runscripts should fix the issue. To try that please execute `esm_versions upgrade`.

Please, let me know if that worked out.

[2020-12-11 13:51] ackerlar commented on #248
Thank you @mandresm ,
I got the "esm_tools directory is not clean" error [https://github.com/esm-tools/esm_version_checker/issues/16](url) during the upgrade but downloading and compiling of awiesm-2.1 works. I will close this issue.

[2020-12-11 14:26] ackerlar commented on #248
Unfortunately, the compiling of echam does not work:
[code]

[2020-12-11 15:26] nwieters commented on #237
Hi @vkolatschek ,
just for couriosity. Why are you using restart files for oasis from a different folder than for echam and fesom?

[code]

[2020-12-11 15:38] vkolatschek commented on #237
Because I had to pick them from different locations. The original CMIP6 historical simulation had a different file saving structure. The model needs the restart files for oasis in one directory. In the fesom restart files I had to replace T by time (#211).

[2020-12-11 18:50] mandresm commented on #248
Hi again @ackerlar ,

I get it to compile which is kind of weird. I also compared my `comp-echam-6.3.05p2-concurrent_radiation-paleodyn_script.sh` and yours (`/mnt/lustre01/pf/a/a270124/comp-echam-6.3.05p2-concurrent_radiation-paleodyn_script.sh`) and they are identical. I've also check for differences in the `esm_tools` folder with respect to origin (`git diff`) and that gave me no clue. Can you

[2020-12-14 09:54] ackerlar commented on #248
Dear @mandresm,
I tried to make a clean installation but still got the same error: `/pf/a/a270124/comp_awiesm-2.1.log`

esm_versions check now looks like this:
[code]

[2020-12-14 09:58] denizural commented on #248
Hi Lars, just a small comment. The output of `esm_versions check` might be different since I implemented responsive design for different terminal sizes. If your terminal width is smaller than 150 characters, the packages are printed one after another to prevent the table breaking in an ugly way.

[2020-12-14 09:59] nwieters commented on #237
Maybe this issue is now related to issue #248 ? But it occures during `esm_runscripts`.

[2020-12-14 11:14] mandresm commented on #248
Dear @ackerlar , I'm working on it

[2020-12-14 12:48] StanleyAgu1 opened #249 "Error while installing awicm-2.0"
While Installing esm_master install-awicm-2.0, I got the following error message. I don’t know what is going on here

`a270162@mlogin100% esm_master install-awicm-2.0
Traceback (most recent call last):
  File "/pf/a/a270162/.local/bin/esm_master", line 8, in <module>
    sys.exit(main())
  File "/pf/a/a270162/.local/lib/python3.6/site-packages/esm_master/cli.py", line 75, in main
    from .esm_mas

[2020-12-14 13:45] ackerlar commented on #248
The model compiled finally, when I used `mistral.dkrz.de `to log in instead of `mistralpp.dkrz.de`
I close the issue. Thank you again for your help!

[2020-12-14 13:45] #248 closed, assigned to mandresm

[2020-12-14 13:50] denizural commented on #248
You are welcome!

[2020-12-14 15:48] pgierz commented on #249
It looks like your install is broken. Can you try updating everything to the latest version?

[code]

If that doesn't work, you can erase your files by hand and make a new install. There is a uninstall section in the handbook: https://esm-tools.readthedocs.io/en/latest/installation.html#uninstall-esm-tools

[2020-12-14 16:02] dbarbi commented on #249
please type
`git diff`
in your esm_tools folder and post the result, or send it to me via email

[2020-12-14 20:37] StanleyAgu1 commented on #249
Hi @dbarbi, this is the output I got

`a270162@mlogin104% git diff
diff --git a/esm_tools/__init__.py b/esm_tools/__init__.py
deleted file mode 100644
index 5368e0d..0000000
--- a/esm_tools/__init__.py
+++ /dev/null
@@ -1,234 +0,0 @@
-"""
-=================================
-ESM Tools (Package Documentation)
-=================================
-
-This package contains almost no code, but instead is

[2020-12-14 20:41] StanleyAgu1 commented on #249
Hi @pgierz,

` $ esm_versions check
 $ esm_versions upgrade`

both return the output

`command not found`

[2020-12-15 15:07] nwieters commented on #237
Sorry for being not up to date. Are there any updates related to this issue or #248 that Vanessa can try out?

[2020-12-16 10:09] vkolatschek commented on #237
I upgraded again:
[code]
Now, I get a different error, when trying to start the model:
[code]
Is it possible to return to esm-tools v4? Because there, the model at least started.

[2020-12-16 11:54] nwieters commented on #237
Hi,
I think your esm_tools is not up to date. Can you please do a `git pull` in release branch.

I am not sure what the best way would be to go back to release 4.
@denizural or @pgierz any ideas how to proceed?

[2020-12-16 12:13] denizural commented on #237
It is possible to checkout to a desired tag via git:
`git checkout <tag-num>`

This requires a manual installation of esm-tools. To do that you can manually clone the repositories and cd into these directories. Then `pip install -e .` will take the installation from `site-packages` to the manual directory. This will create the `egg files` in the `site-packages` that direct it to the manual directo

[2020-12-16 12:26] mandresm opened #255 "namelists not copied"
**Describe the bug**
`esm_runscripts` is not copying namelists to the `work` directory if their name do not start with `namelist` string. I found that while implementing MPIESM, where MPIOM namelists are named `OCECTL` and `NAMELIST_BGC`. If I rename these namelists to include `namelist` at the beginning (i.e. `namelist.ocectl` or `namelist.bgc`) then they are copied correctly. I would expect the

[2020-12-16 12:26] mandresm commented on #255
I'm already working on a solution

[2020-12-16 12:43] vkolatschek commented on #237
@nwieters: Do I have the newer version now?
[code]
Because there seems to be something wrong with the mistral.yaml file:
[code]

[2020-12-16 12:44] seb-wahl commented on #255
Now I understand why Joakim put at some point:
[code]
into `oifs.yaml`.

[2020-12-16 12:59] mandresm commented on #255
That `config_sources` is there to copy the file, and is the same syntax I am using currently for MPIOM. I think the problem is with the file itself not being `namelist.fort.4`. I wonder if with the current configuration and the latest version `esm_runscripts`, it still copies the `fort.4` correctly.

[2020-12-16 13:05] denizural commented on #237
Yes, I am aware of this issue. I will talk with Miguel about that since this needs to be solved as a hotfix. We need to delete one redundant line in the mistral.yaml

[2020-12-16 13:05] seb-wahl commented on #255
Yes it does if you have `~/.esmtoolsrc`, because in this case `${namelist_dir}` is defined, and the file can be found. I discovered this just during the last days, when I tried a clean install without a `NAMELIST_PATH=...` entry in `~/.esmtoolsrc`.

[2020-12-16 13:08] joakimkjellsson commented on #255
Always thought it was weird that namelists had to be put under “config” files. ;-)
Well, I’ve never had a problem of missing namelists, and I do not want to rename namelists since it would require some changes in the OpenIFS source code.

Cheers
Joakim

[2020-12-16 13:11] seb-wahl commented on #255
No the tools will be updated in a way that namelists can have arbitrary names.

[2020-12-16 13:57] pgierz commented on #237
@denizural, maybe something to fix in future; I noticed that `version` and `tag` aren't porting to the same thing...

[2020-12-16 15:31] denizural commented on #237
@vkolatschek, could you please git pull the latest version of esm_tools. I fixed the duplicate variable error and it should not appear again.

[2020-12-16 16:18] vkolatschek commented on #237
@denizural: Yes, that fixed that issue. Now I am back to the last long error message I posted above.

[2020-12-17 10:35] #249 closed, assigned to nobody

[2020-12-17 10:51] denizural commented on #237
@vkolatschek, did this work with a previous version of ESM-Tools? Then as an easy fix we can first switch to that.

[2020-12-17 11:36] vkolatschek commented on #237
Yes. With v4 the model was able to run with my runscript.

[2020-12-17 15:55] #242 closed, assigned to mandresm

[2020-12-17 15:56] #216 closed, assigned to mandresm

[2020-12-22 11:51] vkolatschek commented on #237
With a lot of help from @denizural  and @nwieters I downgraded to v4 of the esm-tools. Now, the model is able to finish preparations. I started one short test run (only 10min run time, hist1_trial_16), and that went of without a hitch. Gaining confidence, I started a job with a time limit of 5h, but this one got stuck again while reading the mesh.
[code]
So, now I am back to the 'beginning'.
Next,

[2021-01-04 08:51] pgierz opened #261 "Wind Speed Bug does not lead to model stop"

[2021-01-04 08:52] #261 closed, assigned to nobody

[2021-01-04 08:53] pgierz opened #262 "Wind Speed Bug does not lead to model stop"
When running simulations with ECHAM6, the wind speed bug does not lead a clean
exit of the simulation, and the jobs continue to resubmit themselves.

See, for example:

[code]

In this case, the wind speed bug occurs, the job crashes, and many follow-up jobs are created.

Note that currently, the "auto exit" is turned off, see below:

https://github.com/esm-tools/esm_tools/blob/259bd3ac10a6ebae503

[2021-01-04 09:00] seb-wahl commented on #262
I always said we should check if ECHAM6 ends with return code `0` or `128` (model experiment finished). If yes --> everything is ok, if not --> something went wrong, notify the user and stop the simulation. I don't remember the reason but @dbarbi once mentioned that he doesn't like the idea or that it's difficult to catch the return code in the current way the Tools work. Joakim has the same probl

[2021-01-04 15:06] pgierz opened #263 "date: argument list too long"
Gregor reported an issue that seems to be connected to logging of the experiment run times.

The sad file contains a command (similar):

[code]

In some cases (no clear pattern found yet), this yields the following error:

[code]

Could it be that the `:` character is breaking things, as it is shell for "do nothing" (i.e. `pass`)? If yes, why does this only happen sometimes? In any case, would the

[2021-01-04 22:21] denizural commented on #263
Hi @pgierz,

I looked at the errors and have some solution candidates. I checked the `sad ` files, not the ones related to these log files since they don't exist but the other ones.

It is really strange to get these "`Argument list too long`" errors. Usually these happen when the number of arguments exceed the system defined maximum and using xargs is the fix.

What I would start with is changing

[2021-01-07 15:50] joakimkjellsson opened #264 "arrays in add_namelist_changes"
Happy New Year all

I'm trying to add some new functionality to OpenIFS in ESM-Tools v5, and I need to be able to add an array as a namelist value.
For example, what I've done now in oifs.yaml is:

[code]

NVEXTRAGB is an integer array, so the values above should be given as 25 integers.
However, when the namelist is assembled by ESM-Tools, I end up with this:

[code]

So it has interpreted this a

[2021-01-07 16:29] pgierz commented on #264
Hi Joakim,

f90nml can definitely handle arrays, so it's probably our parser that's causing you headaches. Before I dive deeply into the code, can you check something? Does it work if you make `NVEXTRAGB` into a list? Just surround it with square brackets. Fingers crossed that already helps, if not, we will look into it...

All the best,
Paul

[2021-01-07 16:34] denizural commented on #264
Hi @joakimkjellsson,

I was actually looking at it. Could you also please provide a runscript so that I can replicate it.

Cheers,
Deniz

[2021-01-07 22:14] denizural commented on #264
Dear @joakimkjellsson and @pgierz,

Problem is solved. Here is the trick. I worked it on ECHAM and I am sure the OIFS will also run just as fine.

In my sample runscript I added:

[code]

For debug purposes I also printed the data inside the namelist.py

[code]

When the esm_runscript runs it prints

[code]
and in the verbose mode the namelist section is printed as

[code]

The important trick is

[2021-01-08 15:34] joakimkjellsson commented on #264
Hey guys
Thanks for the super-quick answer! Yes, using a list with [ ] did solve the problem.
Phew, that saves me the effort of saving a bunch of templates!

Have a good weekend!
/J

[2021-01-11 05:17] denizural commented on #264
Thanks for you kind compliments Joakim. Have a nice week!

[2021-01-11 05:17] #264 closed, assigned to nobody

[2021-01-12 09:46] vkolatschek commented on #237
The ideas from @dbarbi did not make a difference. However, I seem to be able to say with confidence that the one factor that seems to make the difference is the time limit.

When the time limit is set to 30 min it runs without a problem
when the time limit is set to >2 hours, it stops without error.

I could not find any other common factor between all the trials I started.

[2021-01-12 11:01] vkolatschek commented on #237
I contacted dkrz and got this reply:

ldd fesom
zeigt, dass inkompatible Intel MPI Bibliotheken (impi/2018.5.288 und impi/4.1.3.049) beim Ausführen des Modells benutzt werden:
libmpicxx.so.12 => /sw/rhel6-x64/intel/impi/2018.5.288/compilers_and_libraries/linux/mpi/intel64/lib/libmpicxx.so.12 (0x00002b5297698000)
libmpifort.so.12 => /sw/rhel6-x64/intel/impi/2018.5.288/compilers_and_libraries/linux/

[2021-01-12 13:02] #255 closed, assigned to mandresm

[2021-01-12 13:30] joakimkjellsson opened #268 "Continuing run from release 4 with release 5"
Good afternoon all

I'm trying to continue a run that I started last year using ESM-Tools release 4. Since then I've moved to release 5, but now struggling with continuing the run.
If I'm reading the error messages correctly, the problem is with the linking of restart files. The old release 4 did not link, but made copies of restart files.

Here's my full output:
[code]

Does anyone know how to so

[2021-01-12 18:49] denizural commented on #268
Dear @joakimkjellsson,
I found the error. This is actually not a bug in `esm_tools` but something to consider due to the infinite linking in UNIX.

First of all, it looks to me like you are not using the latest version of esm_tools by
`esm_versions upgrade`

Consider this command: `ln -s endless_link endless_link`

This is a perfect UNIX command although it is useless. We just created a symbolic l

[2021-01-13 17:02] joakimkjellsson commented on #268
Hi @denizural
Thanks for the help! I realised that my attempt to continue the run had created a bunch of broken links etc, so it took a while to fix.
But I managed to get there.

However, I did have to comment out the two lines with "config" in your fix. Otherwise I got an error that config does not exist.
[code]

Cheers
Joakim

[2021-01-13 18:27] denizural commented on #268
Hi @joakimkjellsson,

I am glad that it worked. `config["general"]["verbose"]` only works in the most recent version. But commenting out is of course a quick solution. Can you now run your model without any problems?

Cheers,
Deniz

[2021-01-18 11:19] #268 closed, assigned to denizural

[2021-02-15 16:10] koldunovn opened #280 "Can't install/download fesom2 with current develop branch (fine on release)"
**Describe the bug**
Can't install/download fesom2 with current `develop` branch. It's working on the release branch:
Command:
[code]
Error:
[code]

Same command in the `release` branch works fine. Maybe it's a bad idea to switch between branches after the installation, but I have also tried to switch branches and reinstall with the same effect.
**To Reproduce**
- Install esm_tools according to do

[2021-02-15 16:16] koldunovn commented on #280
Sorry, here is the complete list with versions:

<details>
<summary>Versions</summary>

[code]

</details>

[2021-02-15 16:23] mandresm commented on #280
Currently, if you use `develop` branch in `esm_tools` you'll also need `develop` branch in the following packages:
- esm_runscripts
- esm_parser

In order to get `develop` in these packages you need to perform an editable installation of those:
1. `cd <your_desired_location>` (avoid to navigate and clone into the `esm_tools` package)
2. `git clone https://github.com/esm-tools/<the_package_of_choic

[2021-02-15 16:25] mandresm commented on #280
Also an additional note, seems that `esm_runscripts` for the `develop` branch is currently broken (I found out 15 min ago) and I am working on fixing it. Once it is fixed, you'll need to pull from the packages installed in editable mode.

[2021-02-15 17:34] koldunovn commented on #280
Thanks a lot, @mandresm ! It make sense that one should use most recent versions of all of packages to use the latest features.

I was thinking of adding fesom2.1 to esm_tools, but not sure yet if I would have to do some development of it, or just editing a couple of configs will do the job :)

[2021-02-19 06:21] joakimkjellsson opened #282 "Crash in cleanup stage"
I'm running an AMIP experiment on blogin with OpenIFS starting 1 Jan 1979 and using monthly restarts. Everything is ok until the 13th leg, i.e. 1980-01-01 to 1980-01-31. In this leg, OpenIFS finishes and seems ok, but ESM-tools then crashes in the cleanup stage:

[code]

Does anyone what the problem might be and how to solve it?

Many thanks
Joakim

I'm using the following versions of things:
[cod

[2021-02-19 09:28] denizural commented on #282
Dear @joakimkjellsson,
I am able to generate the isolated error from Python and I think I know what it wrong there. Could you please send the result of these commands from your blogin shell:

[code]

Main reason why Python throws a ValueError here is that the null byte (`\x00`) goes into the path string. Eg.
[code]

If your locale settings are fixed (if they were not set up correctly), this could

[2021-02-19 09:57] joakimkjellsson commented on #282
Hi Deniz

Ah, I think my problem is with LC_ALL then.

[code]

I should define this on my local machine and then it propagates to blogin when I log in, right?

Cheers
Joakim

[2021-02-19 10:39] denizural commented on #282
Hi Joakim,

could you please repeat the `locale` command after these exports. They worked in an issue with another colleague. I hope that it works again.

[code]
If `locale` command does not complain again, then you can put them into your shell login file (eg. `.bashrc`, `.bash_profile`, etc)

If the error continues then it would also be a good idea to inform the blogin admins, so that they can fi

[2021-02-22 07:10] mandresm commented on #280
@koldunovn , was the issue solved?

[2021-02-22 07:11] mandresm commented on #282
@joakimkjellsson , is the issue solved now? can we close it?

[2021-02-22 07:46] denizural commented on #280
Hi @koldunovn, as the solution is both merged to the release and develop branches `esm_versions upgrade` should take you to the latest version.

[2021-02-22 08:27] joakimkjellsson commented on #282
Hey @denizural @mandresm
Yes I think it's solved now. I've added the above lines to my .bashrc and restarting seems to work just fine now.

Thanks again!
/J

[2021-02-22 08:37] denizural commented on #282
Thank you very much for your feedback @joakimkjellsson. I am closing the issue now.

[2021-02-22 08:37] #282 closed, assigned to denizural, mandresm

[2021-02-22 09:03] joakimkjellsson opened #284 "in_date_folder not found"
Good morning @mandresm and @JanStreffing

I just tried to re-compile oifs-43r3-v1 with the new geomar_awicm3 branch of esm-tools and develop branches of esm-parser, runscripts, and rcfile.
But the "clean" or "comp" commands do not work properly. It's looking for an in_date_folder, which does not exist (see message below).

I think it worked before @mandresm made some new changes to the geomar_awic

[2021-02-22 09:36] mandresm commented on #284
I'm working on it

[2021-02-22 09:49] joakimkjellsson commented on #284
Ok, so if I copy this from awicm3.yaml to oifs.yaml, then it seems to work.

[code]

I guess it's something new that needs to be defined?

/J

[2021-02-22 09:50] mandresm commented on #284
Correct, I'm ready to push the fix, if that's okay with you

[2021-02-22 09:51] joakimkjellsson commented on #284
Go for it! ;-)
/J

[2021-02-22 09:57] mandresm commented on #284
Done. You can pull now from `geomar_awicm3`

[2021-02-22 10:30] koldunovn commented on #280
Thanks a lot! I will check today.

[2021-02-24 13:57] koldunovn commented on #280
I actually get the new error:

[code]

It might well be that I screwed up my installation. Do you have an instruction on how to install everything from scratch in development mode? :)

[2021-02-24 14:01] mandresm commented on #280
There has been some updates into the development branches. Pulling from those packages installed manually (`esm_runscripts`, `esm_parser`, `esm_tools`, `esm_rcfile`) should be enough. Let me know if that does not work.

[2021-02-24 23:36] koldunovn commented on #280
I guess the question for me is how to properly install the packages manually. What I did is to remove everything with
[code]
switch to `develop` branch of `esm_tools` and run installation with `./install.sh`. I guess this pools all other packages and install them in my case to `/home/ollie/nkolduno/.local/lib/python3.8/site-packages/`.

Then I clone each of the packages you suggested (`esm_runscri

[2021-02-25 08:11] mandresm commented on #280
It all sounds correct. Could you paste here the output of `esm_versions check`?

[2021-02-25 08:34] koldunovn commented on #280
Well it gives me another error (it worked before):

[code]

[2021-02-25 11:34] mandresm commented on #280
I think this was finally solved over a Webex meeting, so I'll close the issue now.

[2021-02-25 11:34] #280 closed, assigned to denizural

[2021-02-25 11:42] koldunovn commented on #280
Thanks a lot Miguel! The solution was to:
* Remove everything that was installed before (in conda environment and in .local)
* clone `esm_tools`, change to `develop` branch and install it with `install.sh`
* Then clone, change to `develop` and install with `pip install -e .` the following packages in THIS SPECIFIC ORDER: `esm_runscripts, esm_parser, esm_rcfile`.
* Check with `esm_versions check` e

[2021-03-01 10:42] pgierz opened #285 "Database IO Error causes run to stop"
Hi,

I ran into the following problem just now:
[code]

no idea what is causing that. A clean resubmit helped, but it would be nice to catch that error, as otherwise the entire job just stops.

[2021-03-05 15:24] JanStreffing opened #291 "OpenIFS nproc vs nproca*nprocb"
In the oifs.yaml we currently set:
https://github.com/esm-tools/esm_tools/blob/d84b6a2a16a05800a6fefee0ec11894042c8be6e/configs/components/oifs/oifs.yaml#L524-L535
This implies that we manually set MPI grid decomposition of `NGPTOTG` into `NPROCA*NPROCB`. In reality we use `NPROCA` as if it were `NPROC` and we leave it up to OpenIFS to calculate a good grid decomposition once the simulation starts

[2021-03-08 08:09] joakimkjellsson commented on #291
Agreed! It's only like this because I copied the echam.yaml file...
Cheers
Joakim

[2021-03-08 08:22] JanStreffing commented on #291
Perfect, I'll get to it.
@mandresm What branch to I best branch off of and make a pull request for?

[2021-03-08 08:27] mandresm commented on #291
I would recommend to do that in the `geomar_awicm3` branch.

[2021-03-08 08:28] JanStreffing commented on #291
Thank you!

[2021-03-08 09:06] JanStreffing commented on #291
I did not touch `nproca*nprocb` for nemo. I saw that in the components yaml it uses `nproca*nprocb,` but in some of the runscript yaml files the nemo section acutually had `nproc`. I believe this `nproc` will be ignored and the default values will be used.
Just a head up!

[2021-03-08 09:10] joakimkjellsson commented on #291
Good. The nproca and nprocb are important for NEMO. There is a lot of work that goes into finding the optimal settings for a given resolution on a given machine.

[2021-03-10 09:00] denizural commented on #232
Hi everyone,

After the merge (both release and develop):
https://github.com/esm-tools/esm_parser/commit/70ebbb25682e3d76f32106e2e17cc27d22552575

This should no longer be an issue. I tried the following

[code]

and the sad file contains:
[code]

The changed files in the commit contains comments on how the problem is solved. I am closing this issue now.

[2021-03-10 09:00] #232 closed, assigned to nobody

[2021-03-11 10:14] JanStreffing commented on #291
I think this was merged into the relevant branches that will eventually be merged into release. I'll close this here.

[2021-03-11 10:14] #291 closed, assigned to joakimkjellsson, JanStreffing, mandresm, seb-wahl

[2021-03-11 16:33] ackerlar opened #296 "pism_standalone not working with esm_tools"
Hi,

I try to run pism standalone with the esm_tools. It worked for me with an earlier version. I now want to use the same *yaml except for a different ocean forcing.

I tried it with `esm_runscripts` on `release` and got this error:
[code]

and with `esm_runscripts` on `feature/pism` and got this error:
[code]

My *yaml file can be found here: `/work/ollie/lackerma/awicm_pism_tests/pism_antarctic

[2021-03-12 10:54] pgierz commented on #296
Trying merging the duplicate variables branch into the one you were using yesterday, that may help

[2021-03-12 11:08] pgierz commented on #247
OK, I know now why that is happening. As soon as pip detects that you give `git+...` it **needs** to redownload everything, as it has no way of consistently caching the result. If we published our packages on PyPI that might circumvent that.

[2021-03-12 11:56] ackerlar commented on #296
Unfortunately, this does not help. I tried it yesterday already.

[2021-03-17 19:06] JanStreffing opened #300 "OpenIFS long run restart workaround"
OpenIFS has memory and runtime explosion issues with runs where the time between the start of the leg and the inital date gets too large. I devices a workaround in the legacy tools that I am trying to transfer over to the python tools. The general idea is:

Instead of making the time between init and current larger with every simulation leg, start from the 3rd leg we move the inital time forward.

[2021-03-18 08:48] mandresm commented on #300
The problem here is that you need to specify it's in the `general` chapter:
[code]
Then, a new problem rises complaining about `seconds_since_initial`. I'm already looking at it.

[2021-03-18 08:56] mandresm commented on #300
The next problem is that there is a problem with the curly braces in the last line of the `awicm3` preprocessing:
[code]

This in particular:
[code]

[2021-03-18 09:04] JanStreffing commented on #300
Ah i get the first one.
Second one I must have just been tired. It should be:` ${oifs.time_step} ${oifs.seconds_since_initial}`
Ty!

[2021-03-19 11:30] mandresm commented on #247
This should be solved now so I close it.

[2021-03-19 11:30] #247 closed, assigned to mandresm

[2021-03-25 19:56] JanStreffing opened #305 "computer.fc not found"
Hey everyone,
I'm working on a new machine file for [aleph.iccp.kr](https://ibsclimate.org/research/facilities/aleph-supercomputer/). I'm trying to install-awicm3-1.0-deck there and I'm getting this error:
[code]
I'm using:
[code]
Branch: https://github.com/esm-tools/esm_tools/commits/aleph_machine_file

I printed out rhs in esm_parser just before the crash and I found that this happens on the fir

[2021-03-25 20:24] denizural commented on #305
Hi @JanStreffing,
such errors occur when a variable is encountered but it is not resolved in the base YAML files. Here, I think what is going on is `fc` variable which is likely to be in the `computer` section of the config is not assigned to any value and the parser is complaining about that it does not have any value.

I checked the branch that you provided. It looks like `fc` variable is not fi

[2021-03-26 07:34] JanStreffing commented on #305
Hey Deniz,
thank you for having a look at this. This was also the conclusion I reached yesterday. I tried to fix this in the second commit: https://github.com/esm-tools/esm_tools/commit/d51328aea14f3157cde790cb424098b62c880153
As you can see I provide the correct fortran compiler for cray (ftn) and I do so without any choose block or the need to read ${FC} from the environment:

https://github.com

[2021-03-26 15:52] JanStreffing commented on #305
Turns out that those lines 57-62 are case sensitive and must be lowercase. Thanks @mandresm for the fix.

[2021-03-26 15:52] #305 closed, assigned to dbarbi, JanStreffing, denizural, mandresm

[2021-03-29 12:20] #300 closed, assigned to pgierz, dbarbi, JanStreffing, denizural, mandresm

[2021-04-10 17:31] JanStreffing opened #313 "Using module that is not the default"
Compiling XIOS requires `netcdf_par.h` to be available within the netcdf library. Our default `netcdf/4.6.2_intel` on ollie does not have parallel netcdf / `netcdf_par.h`, however the older module `netcdf/4.4.1.1_intel_mpi` does. Is there a nicer solution than just append a `module unload netcdf; module load netcdf/4.4.1.1_intel_mpi` to the end of the list of module commands as it's done for ICON?

[2021-04-12 07:23] mandresm commented on #313
Hi @JanStreffing, at the moment there is not such a feature. The improvements on the environment behavior happen mainly in the `export_vars`. This could be easily extended to module_actions, but I would need to work on that.

[2021-04-12 07:54] JanStreffing commented on #313
Ok not a big deal. We can keep this open as a wishlist issue. I will go ahead and load -> unload -> load for now.

[2021-04-12 09:59] JanStreffing opened #314 "FESOM2 default repository"
I posed the question of the FESOM2 default repository on the FESOM2 repo:
https://github.com/FESOM/fesom2/issues/94
To quote @koldunovn:

- Q: Is still this reflective of the policy of the FESOM developers? Has the default changed to github?
A: The policy is now that the default is github, gitlab is only synced sporadically. We have not decided on gitlab's fate yet. I would close it, but there are

[2021-04-12 13:48] koldunovn commented on #314
@dbarbi I would love to know the easy way to do it automatically. Currently I have to run this by hand:

[code]

[2021-04-13 13:02] JanStreffing opened #316 "Add module load gcc to mistral.yaml?"
Hey everyone.

The latest FESOM2 code contains a lot more c code than before, courtesy of Jan Hegewalds threaded parallel IO. As a results FESOM2 does not compile with the default mistral gcc anymore.

Would it be save to add a load gcc to mistral.yaml? Or do you think this has to go into the fesom-2.0.yaml? It seems kinda reasonable to me to load a relatively modern version of gcc by default on e

[2021-04-13 13:03] JanStreffing commented on #316
The only setup that I'm not sure if it likes this change would be AWI-ESM.

[2021-04-14 05:41] seb-wahl commented on #316
As far as I know all the C code that is in FOCI (e.g. CDI lib, the complete XIOS code) is compiled with icc (the intel c compiler) that comes with the Intel module. If that still works and if we don't get module conflicts, I'm fine with the change. On the other hand we most likely won't run FOCI in ESM-Tools on mistral operationally before it's shutdown by the end of the year.

[2021-04-27 08:25] JanStreffing opened #324 "Modification of fesom2 namelist.io"
At the moment the esm_tools overwrite pretty much all changes to a namelist.io from fesom-2.0.io.yaml. Users of all kinds of climate models, including FESOM2, are used to namelists not just being templates but a control interface for simulations.

It took me an half an hour to figure out why none of my changes to the namelist.io were making it into the experiments, and that's for a user that has b

[2021-04-27 08:58] JanStreffing commented on #324
Maybe its better explained with a hypothetical example:

Lorenzo is currently starting on coupling Icepack in AWI-CM3. He has 3-4 Years of experience with standalone FESOM2 and it's native runscripts. He knows by heart that FESOM2 output is controlled from the namelist.io.

He starts working with esm_tools and the first thing he does with the IO, is adding his Icepack variables (thickness classes,

[2021-04-27 09:26] mandresm commented on #324
Hi @JanStreffing, how you use `namelist_changes` is ultimately up to you and the users/developers. @mathanase and I put together this `fesom-2.0.io.yaml` instead of just leaving them into her runscript, so that other users can use this feature.

If you want to remove it, please go ahead and do so (just remove the respective `further_reading` in `awicm3.yaml`). It can even go on the runscripts so @

[2021-04-27 09:31] JanStreffing commented on #324
Ah, so this is an AWI-CM3 thing! I though it is a general FESOM2 thing and might come from AWI-ESM where certain FESOM2 output is always needed for PISM coupling. Ok yeah let's remove it. As explained above, I think this feature is dangerous to those that don't know it's there.

If Marylou want's to control output in this way it can go as further reading in her runscript, or she could use a differ

[2021-04-27 09:42] koldunovn commented on #324
@JanStreffing I think it's a good idea to remove the output from the default `fesom-2.0.yaml`, since sane defaults should be in the namelist.io and if someone wants to modify it, it can be done in experiment configuration yaml.

However here comes the conceptual question of ether you use namelists to control configuration (things that developers get used to), and then probably only use esm_tools t

[2021-04-27 10:08] JanStreffing commented on #324
I would say that I would personally like to keep the esm_tools modifications of the namelists down to a minimum.  However, especially when it comes to dangerous switches, such as the default `surf_relax_S=1.929e-06`, some control of esm_tools over the namelists is an invaluable asset. Overwriting this by default for all AWI-CM3 simulations will save tens of thousands of nodehours and Euros, as wel

[2021-04-27 11:13] koldunovn commented on #324
I would not argue against the fact that controlling simulations through the namelists is more convinient for the developers, and will stay so. However in defense of esm_tools - yaml files should only indicate changes from defaults in the namelists, so it's not that big of a burden to support them.

At the end the namelists in your simulation folder, whether created by scripts, or modified by hand,

[2021-04-27 11:24] mandresm commented on #324
Such a tool can be implemented relatively fast. If you think this tool would be of great value, let's discuss and come out with a clear idea of how the output of such a tool should be, and when and where this output should be produced. Then, the development team can take care of its development.

[2021-04-27 12:18] JanStreffing commented on #316
After a bit of testing i can say that gcc/7.1.0 did work for FESOM2, but not for OpenIFS. I settled on gcc/4.8.2, the one that is also used in the native FESOM2 env.

[2021-05-08 14:52] dchari opened #329 "fesom standalone (FESOM2.0)"
Has anyone a fesom standalone runscript for FESOM2.0? I would like to make a comparison with my own runscript.

The path to my experiment  is "/work/ba1006/a270151/esm-experiments/core/ scripts/"...
 the version is fesom2.0.

 I initiated the run from "/pf/a/a270151/esm-master-legacy/esm-runscripts/runscripts/fesom2".

 The error I got was basically:
  "cdo    settime: Open failed on >/work/ba1006

[2021-05-10 15:27] dchari opened #330 "Fesomstandalone error message."
I made a fresh installation of the esm_tools and I ran a fesomstandalone simulation but ended up with the error below...

'''
Traceback (most recent call last):
  File "/pf/a/a270151/.local/bin/esm_runscripts", line 11, in <module>
    load_entry_point('esm-runscripts', 'console_scripts', 'esm_runscripts')()
  File "/mnt/lustre01/pf/a/a270151/esm_runscripts/esm_runscripts/cli.py", line 199, in mai

[2021-05-10 15:27] #329 closed, assigned to nobody

[2021-05-11 10:11] mathanase opened #331 "experiment ID (expid) cannot be defined in the runscript"
The documentation (User Manual, section 8.1.2.) describes the possibility of defining the experiment ID directly in the runscript, as:

instead of using the -e flag when calling esm_runscripts.

However, when doing so, my experiment ID is not recognized and the experiment folder is automatically named "test" as a default.

It would make sense to implement this feature to avoid using the -e flag, o

[2021-05-11 10:58] pgierz commented on #331
Hi @mathanase,

I was taking care of the venv stuff. That should definitely be in release by now, so I could try upgrading and seeing if the problem persists.

[2021-05-11 11:01] pgierz commented on #285
Solved in esm runscripts 5.1.8

[2021-05-11 11:01] #285 closed, assigned to nobody

[2021-05-12 14:46] mathanase opened #333 "Problem branching off a parent experiment"
Hi,

I have been trying to take advantage of the **ini_parent_exp_id** and **ini_restart_dir** variables to submit an experiment that branches off a short awicm3 spin-up run.

I followed instructions in section 15.2 of the ESM tools documentation (see "Branching off: An experiment that restarts from a previous experiment but with a different experiment id"). I thus defined **ini_parent_exp_id** an

[2021-05-12 14:55] mandresm commented on #333
Hi Marylou,

You are absolutely right, the `ini_parent_date` variable needs to be also defined, if it is missing ESM-Tools will complain about it. There are two things missing here: a clearer error message and including the `ini_parent_date` into the documentation and cookbooks, sorry about that, I'll work on both at the endo of the week.

Please, let me know if including `ini_parent_date` does th

[2021-05-12 15:08] mathanase commented on #333
Thanks, Miguel.

Adding `ini_parent_date` removed the initial error but then I got a similar error for a `ini_parent_dir` variable:

After adding `ini_parent_date` and `ini_parent_dir` as follows:

my job was successfully submitted. I hope I got the architecture right, but thanks!

[2021-05-12 16:37] chrisdane commented on #239
Hi Miguel

I just ran into the same error (having an old `~/.esmtoolsrc`). The note in `ten_steps.rst` about this issue is too far down. I got stuck following the ten steps.

Also, one solution is simply to remove the already existing `~/.esmtoolsrc` before running `/install.sh`.

I was wondering if this check could be included into the installation process by default? It would clean the ten steps

[2021-05-14 08:46] chrisdane opened #334 "general.account not found"
Hi

**Describe the bug**
Following the [Ten Steps to a Running Model](https://esm-tools.readthedocs.io/en/latest/ten_steps.html), I have this error when submitting the job:
[code]

**To Reproduce**
[code]

**Expected behavior**
Running job (with or without `-c`).

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version: `esm_versions check` (the output of  `esm

[2021-05-14 08:50] mandresm commented on #334
Hi @chrisdane ,

I think the problem is that you are using an `ollie` runscript in `mistral`. The main difference in the runscripts is that `ollie` does not have the `account` variable which you need for `mistral` to submit the simulation.

Adding `account: <your_project_ID>` to the `general` section of your chapter should solve the issue.

[2021-05-14 08:51] pgierz commented on #334
You need to set general.account. The error message isn't particularly friendly.

Try if this works:
[code]

[2021-05-14 08:51] pgierz commented on #334
....damnit Miguel was faster than I was

[2021-05-14 08:52] chrisdane commented on #334
Yes that works. Thanks!

Could you include default runscripts for mistral?

[2021-05-14 08:53] mandresm commented on #334
I think I will reopen it, cause more than a mistral runscript we need a better error that tells you what to do in this case. Then, I'll leave it open until we make a fix for the error handling.

[2021-05-14 08:59] chrisdane opened #335 "fesom2 warning namelist.diag somepath pool data not found"
Hi

**Describe the bug**
Running
[code]
yields the warnings
[code]

**To Reproduce**
[code]

**Expected behavior**
No warnings.

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version

| package_name        | version   | file                                                          | branch   | tags   |
|---------------------|-----------|----------------------

[2021-05-16 09:03] #296 closed, assigned to nobody

[2021-05-17 05:48] denizural commented on #330
Hi @dchari,

Sorry for the late response. I would say that this is a small bug in our system, that I also met previously. Could you please delete (or better `mv`) the file `.esmtoolsrc`. Eg. `mv .esmtoolsrc __esmtoolsrc`

Things have changed since the previous versions and the contents of the `.esmtoolrc` need to be refreshed. It seems like the default uninstall process does not remove the `.esmto

[2021-05-17 07:25] mandresm commented on #330
Hi @dchari

The problem is that you don't have the most up to date `esm_rcfile` package. Please, follow this steps:

1. `esm_versions clean`
2. `rm ~/.local/lib/python3.<your_version>/site-packages/esm*`
3. Install ESM-Tools again

[2021-05-17 15:34] mandresm commented on #335
Hi @chrisdane , it should be solved now if you pull from `esm_tools`.

[2021-05-17 15:39] chrisdane commented on #335
Yes that works, thanks Miguel!

[2021-05-17 15:40] #335 closed, assigned to mandresm

[2021-05-17 15:43] chrisdane opened #339 "fesom2 hydrography phc3.0_winter.nc missing on mistral"
**Describe the bug**
Running a default fesom2 initial experiment on mistral with `pool_dir: "/pool/data/AWICM/FESOM2/"` in the runscript results in the missing file error `/pool/data/AWICM/FESOM2/hydrography/phc3.0_winter.nc`.

**To Reproduce**
Run default fesom2 initial experiment on mistral.

**Expected behavior**
Fesom2 initial run should find initial data.

**System (please complete the follow

[2021-05-17 15:48] chrisdane opened #340 "trailing slash path ambiguity"
**Describe the bug**
Using `mesh_dir: "/pool/data/AWICM/FESOM2/MESHES/CORE2/` in the runscript works, but using `mesh_dir: "/pool/data/AWICM/FESOM2/MESHES/CORE2` does not work since the trailing slash is missing for paths constructed based on `mesh_dir`.

**To Reproduce**
Run a default fesom2 experiment with `mesh_dir: "/pool/data/AWICM/FESOM2/MESHES/CORE2/` (works) and with `mesh_dir: "/pool/data

[2021-05-18 06:56] pgierz commented on #340
ESM tools already checks if all paths that you provide exist. We even check if the paths needed by namelists exist (that wasn't a feature in the vintage shell version).

What we could do is put all paths through either `pathlib.Path` or `os.normpath`.  In either case that removes all trailing slashes and any double slashes. As an example:

[code]
Response:
[code]

@koldunovn, thoughts from the FES

[2021-05-18 06:59] pgierz commented on #339
That's a pool issue, and has been an ongoing discussion for at least 3 years. Someone really needs to put the hat one and fix the pools at some point.

For now, you can download a set of "nonstandard pool files". Have a look here: https://gitlab.awi.de/paleodyn/boundary-conditions/nonstandard_pool_files

[2021-05-18 08:51] chrisdane opened #341 "maximum recursion depth exceeded in comparison"
I tried to enhance `/pf/a/a270073/esm/esm_tools/configs/components/fesom/fesom-2.0.yaml` by adding the lines
[code]
However, running `esm_runscripts /pf/a/a270073/esm/runscripts/fesom2-mistral-initial-monthly.yaml -e test -U -c` yields
[code]

esm_tools
├─ version: 5.1.1
├─ path: /mnt/lustre01/pf/a/a270073/esm/esm_tools
├─ branch: fesom2-mistral-config
└─ tags: v5.1.1-1-g4120f7d-dirty

[2021-05-18 09:22] dbarbi commented on #341
Hi Chris,
the problem is that you are trying to do:
pool_dir: ${pool_dir}/blabla
That would be perfectly Ok in a shell language, but here it leads to a recursive function trying to resolve that without conflict. The way to resolve that is to use different variable names, like so:
actual_pool_dir:${pool_dir}/blabla
or
pool_dir: ${base_pool_dir}/blabla

[2021-05-18 09:27] chrisdane commented on #341
Ok but pool_dir is already defined earlier:
[code]
this is not possible? Is this a limitation of yaml or pyhton or what? Maybe this information could be included in `docs/yaml.rst`.

[2021-05-18 10:01] #341 closed, assigned to nobody

[2021-05-18 10:14] mandresm opened #343 "esm_master no_motd 'NoneType' object is not subscriptable"
**Describe the bug**
Bug occurs when running `esm_master install-<model>`
[code]

**Expected behavior**
It should work with `esm_master` command without any additional flag.

**System (please complete the following information):**
 - Supercomputer: any
 - Version
[code]

[2021-05-18 10:53] denizural commented on #340
Hi @chrisdane and @pgierz,

I saw this error quite some time ago and decided to refactor all path constructions in esm tools by the `Pathlib` module. Then I realized that this process could be quite error prone and tedious. It is still in my TODO list and I think we can add that later on when the tools become much more stable.

@chrisdane is right and your example actually proves that @pgierz. If

[2021-05-18 11:18] koldunovn commented on #340
Yes, the error @denizural describes is quite common and annoying, you should always have final slash in FESOM paths. Fixing this is in FESOM on my list (low priority however :)), but for the time being it would be nice if `esm_tools` can handle that automatically.

[2021-05-18 11:21] pgierz commented on #340
Maybe another candidate for the long awaited and never programmed "sanity check" plugin 😉

together with: is my JSBACH input file designed for dynveg or not, the ECHAM nproca/nprocb circus, and the first/last restart problem in ECHAM.

[2021-05-18 14:24] denizural commented on #343
https://github.com/esm-tools/esm_runscripts/pull/128 should solve this.

[2021-05-18 14:24] #343 closed, assigned to nobody

[2021-05-19 07:27] chrisdane opened #344 "wish: esm_master get-model on arbitrary machine independent on configs/machines"
**Is your feature request related to a problem? Please describe.**
I wonder if just downloading a model, i.e. `esm_master get-*`, could be possible on an arbitrary machine not defined in `configs/machines`. That would make it easier to, e.g., study model code offline. In the current situation, the error
[code]
stops the call.

**Describe the solution you'd like**
Make the call `esm_master get-*` i

[2021-05-19 07:32] pgierz commented on #344
We used to have a machine called "generic", which pretended it was ollie...not sure if it is still in the configs or not

[2021-05-20 13:03] ackerlar opened #345 "problems installing awiesm-2.1-wiso"
**Describe the bug**
I cannot install or download awiesm-2.1-wiso or awiesm-2.1-recom via `esm_master get-awiesm-2.1-wiso`
This is the error I get:
[code]

When commenting out the `add_export_vars` section in `configs/components/pism/pism.compiletime_env_changes.yaml`, I still get this error:
[code]

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version
[code

[2021-05-20 13:05] mandresm commented on #345
The second error was solved for a newer version of `esm_runscripts`. Could please pull from `esm_runscrtipts` and `esm_rcfile` and do an `esm_versions upgrade`?

[2021-05-20 13:08] ackerlar commented on #345
Thank you for the fast reply! Is there a way to "freeze" my current `esm_tools` setup? It's working fine besides the mentioned error and I am bit afraid to mess up anything with the upgrading...

[2021-05-20 13:21] mandresm commented on #345
The second error should be solved by pulling in `esm_runscripts` so in principle you should be fine just with that without having to do `esm_versions` upgrade.

[2021-05-20 13:27] ackerlar commented on #345
After the pull I get this error:
[code]

[2021-05-20 13:30] mandresm commented on #345
There were a number of bugs fixed this week in different packages. i would strongly suggest you to do `esm_versions upgrade`. Release branches should be relatively stable, at least as you remain inside minor release numbers (5.1 in this case) and the 3rd number are only bug fixes so you probably want them anyway.

[2021-05-20 13:32] mandresm commented on #345
I actually take back what I said, I've seen you have many packages in release 5.0. Better not to upgrade right now.

[2021-05-21 08:57] pgierz commented on #344
Chris, can you put more of that traceback? what exactly is trying to use `computer.name`?

[2021-05-21 10:39] chrisdane commented on #344
I think its easiest if you `esm-master get-fesom-2.0` on you local computer. This is the full error on my local pc:
[code]

[2021-05-21 10:44] denizural commented on #344
It looks like it it getting the current `hostname` (mylocalpc) and can't find the corresponding yaml file obviously. Maybe we can implement the option to use the `generic.yaml` when the current hostname is not in the supported machines list.

[2021-05-25 10:42] akil-hossain opened #346 "error message in the namelist.echam"
Hi there,

After going back to before Conc-Rad version of ECHAM and running esm_versions upgrade (to 5.1.4), I can not run any AWIESM experiment. It shows an error message in the namelist.echam (nprocar/nprocbr) -

`forrtl: severe (19): invalid reference to variable in NAMELIST input, unit 100, file /work/ollie/ahossain/micoene/experiments/MIO_oro_boot_wcr/run_20100101-20101231/work/namelist.echam

[2021-05-25 14:58] pgierz commented on #346
Hey Akil,

just so it's documented here as well, try the following in your YAML:

[code]

That *should* get rid of the entries.

[2021-05-25 15:17] pgierz opened #347 "Version dependence in Setup Yaml"
Moin guys,

I have what may be a bit of a crazy request, but I need to able to set particular namelist settings based upon the git hash of the model. I know that we are already able to differentiate between various tagged versions, but is there any way to get the commit number?

In shell, it'd be easy enough, something like:

[code]

[2021-05-25 15:19] pgierz commented on #347
For added bonus points, it might be useful to see and define settings based on "is that commit as old or newer than X". But I get the feeling we'd need to dig fairly deep into our parse to get that to work.

[2021-05-27 07:14] akil-hossain commented on #346
Hi there,

echam namelist error has gone but a new error is appeared -

`FATAL ERROR in init_lctlib: Error opening landcover library file   FINISH called from PE: 0`

[2021-05-27 07:33] dbarbi commented on #346
Hi, that was a missing file in the echam repository. I added lctlib_nlct21.def now, please use "git pull" in the echam dir to get it.

[2021-05-27 07:33] #346 closed, assigned to nobody

[2021-05-27 08:09] akil-hossain commented on #346
Hi Dirk,

Thanks a lot. There occur another error -

FATAL ERROR in mo_hydrology: set_riverflow_timestep:  The hydrology model should be called at least once a day. hd_calling_interval =        86850  seconds.
FINISH called from PE: 0

Please check out the attached yaml file.

Regards

Akil

________________________________
From: dbarbi ***@***.***>
Sent: Thursday, May 27, 2021 9:33 AM
To: esm-too

[2021-05-27 08:45] dbarbi commented on #346
There is no attached file
can you please provide a path to your experiment?

[2021-05-27 08:51] akil-hossain commented on #346
`/work/ollie/ahossain/micoene/experiments/MIO_boot_w`

[2021-05-28 06:50] dbarbi commented on #346
So far I can't see anything unusual. The error message means that the puthd and gethd timesteps are not in sync with the dt_resume time of day, but all them seem to be the default. I am suspecting something off with one of the echam restart files, and will check now in more detail.

[2021-06-04 11:10] gknorr opened #354 "recompiling fesom2.0 using the new branch pico_cpl fails"
Dear All,

I try to run the new fesom2.0 version pico_cpl: https://github.com/FESOM/fesom2/tree/pico_cpl

On mistral in folder /work/ba0989/a270083/model_codes/fesom-2.0

I execute the following commands esm_tool version 5.0.8:

$ git remote set-url origin https://github.com/FESOM/fesom2.git
$ git  fetch
$ git checkout pico_cpl
$ cd ..
$ esm_master recomp-fesom-2.0

During the recompilation I rece

[2021-06-04 11:51] dbarbi commented on #354
Not an ESM-Tools problem. Compilation of normal fesom-2.0 tag 2.0.2 works, pico_cpl is not supported. I also get a compilation error for pico_cpl and for master. Something in the fesom code probably

[2021-06-04 12:03] dbarbi commented on #354
Ok, compilation of pico_cpl works using fesom build stack, which is the same as esm-tools except for some environment settings

[2021-06-04 12:13] gknorr commented on #354
Would it be possible to align these settings?

[2021-06-04 12:23] dbarbi commented on #354
i am looking into it. until then you can still compile using the fesom build system, which is basically what esm_tools is doing anyway

[2021-06-04 12:26] gknorr commented on #354
okay - thanks!

[2021-06-04 12:42] dbarbi commented on #354
ok, just pushed a patch that includes support for pico_cpl. please 'git pull' the latest version (5.1.7) of esm_tools. Then you can use
esm_master install-fesom-2.0pico
to get what you wanted

[2021-06-04 12:42] #354 closed, assigned to nobody

[2021-06-04 12:55] gknorr commented on #354
shall  I perform:

esm_versions upgrade

?

[2021-06-04 13:02] dbarbi commented on #354
for example. or:
esm_versions upgrade esm_tools
or:
cd your_path_to_esm_tools; git pull

[2021-06-04 13:03] gknorr commented on #354
nice

[2021-06-04 13:21] gknorr commented on #354
I did successfully cd your_path_to_esm_tools; git pull

and now have the following problem after the command: esm_master install-fesom-2.0

Traceback (most recent call last):
  File "/pf/a/a270083/.local/bin/esm_master", line 8, in <module>
    sys.exit(main())
  File "/pf/a/a270083/.local/lib/python3.6/site-packages/esm_master/cli.py", line 76, in main
    main_flow(parsed_args, target)
  File "/

[2021-06-04 13:44] gknorr commented on #354
esm_versions upgrade

hat das problem behoben

[2021-06-04 13:46] dbarbi commented on #354
Ja, da war dann der Rest der ESM-Tools älter als 5.1.0. Passte dann nicht mehr zu den Config Dateien. Gut wenn es jetzt funktioniert.

[2021-06-07 05:10] joakimkjellsson opened #355 "SQL error"
Hi all

I've got an OpenIFS AMIP run on blogin that crashed due to node failure. Then I tried to restart the model again,

[code]

but this fails with the error:

[code]

Does anyone know is happening here and how I might solve it?
I've used ESM-Tools on blogin quite a lot and I've never seen this before.

Cheers
Joakim

[2021-06-07 07:29] chrisdane opened #356 "esm_master options in alphabetical order"
**Is your feature request related to a problem? Please describe.**
It would help if the output of `esm_master`, i.e. all available options, are printed in alphabetical order.

**Describe the solution you'd like**
Print alphabetically within the respective sections (setups, components, ...).

Thanks,
Chris