[2021-06-07 07:59] denizural commented on #356
I think you are reading my mind @chrisdane since I was currently working on that. Otherwise, if you are spying my computer, then it is not polite 😄

[2021-06-07 08:57] chrisdane commented on #356
you never know :>

Thanks for working on this!

[2021-06-07 09:26] chrisdane opened #357 "recompile fesom+recom only in coupled awicm setup"
**Is your feature request related to a problem? Please describe.**
When making a change in the recom code, both recom and fesom need to get recompiled. I am missing a `esm_master recomp-`-command that only recompiles these two models if they are coupled to echam via oasis (i.e. some kind of awicm-setup). Currently I use the setup `awicm-1.0-recom` and I would need to run `esm_master recomp-awicm-1

[2021-06-07 10:43] dbarbi commented on #357
Hi Chris,
in principle, this works, in the following way:
esm_master recomp-awicm-1.0-recom/fesom
would for example only recompile the fesom part

[2021-06-07 10:57] pgierz commented on #356
There's also tab completion for esm-master. You need to teach it to your shell, though. Have a look at the README

[2021-06-07 11:37] chrisdane commented on #357
Great that works, thanks!

In this example, the order is important though:
[code]

Would be nice to have this in the docu.

[2021-06-07 11:37] #357 closed, assigned to nobody

[2021-06-08 10:57] chrisdane opened #358 "print all defined esm variables"
**Is your feature request related to a problem? Please describe.**
Variable definitions via the esm_tools are pretty nested and its sometimes cumbersome to trace them and get the actual value a variable gets in the end. After job submission, I wonder how certain variables are finally defined but there is no way to check.

**Describe the solution you'd like**
When the runscript is submitted (with o

[2021-06-08 11:32] mandresm commented on #358
Hi @chrisdane ,

There are actually several ways to check. The easiest one is, after you ran esm_runscripts, with or without check, you repeat the exact same command but add `--inspect config` at the end (e.g. `esm_runscripts <your_runscript.yaml> -e <exp_id> ... --inspect config`). That will return (in yaml format) the final information put together by the tools from all the yaml files involved (

[2021-06-08 11:49] chrisdane commented on #358
Thanks a lot!

[2021-06-08 14:06] chrisdane commented on #358
Are all of the paths and files written in the result of the `--inspect config`-call checked for existance and reading rights?

[2021-06-09 08:26] clhinrichs opened #359 "gitclone not successful"
Hi,

I just updated to the new tools and tried to install a model with those for the first time. The gitclone did not work, see message below. Any advice?

Best Claudia

esm_master get-fesom-recom-1.4
    Executing commands in this order:
         mkdir -p fesom-recom-1.4
         cd fesom-recom-1.4
         git clone -b oxygen https://a270109@gitlab.dkrz.de/modular_esm/recom.git recom
         gi

[2021-06-09 08:29] dbarbi commented on #359
You don't have access to recom repository. Please contact Judith Hauck or someone else from the Resom developers to be added as user to the repo.

[2021-06-09 08:40] pgierz commented on #355
Hi Joakim,

sorry for the delay. That pops up every now and then (it's an I/O issue), and is related to a database that can be used to keep track of your runs. You can very probably just resubmit your run, and you should be good to go.

If you don't want to use the database, you can comment that part out in your recipe. @dbarbi: maybe we should make the database "opt-in"?

Best
Paul

[2021-06-09 08:41] pgierz commented on #355
Take off this part here: https://github.com/esm-tools/esm_tools/blob/e312e8c65b4eb4488b4527dd125ba3c395fb7092/configs/esm_software/esm_runscripts/esm_runscripts.yaml#L75

[2021-06-09 09:11] mandresm commented on #358
They are checked for existence but not for reading rights. However, if you have not reading rights and it's to be copied, `esm_runscripts` will complain about not being able to copy the file.

[2021-06-09 13:21] clhinrichs commented on #359
Thanks, that was it.

[2021-06-09 13:21] #359 closed, assigned to nobody

[2021-06-09 15:16] clhinrichs opened #361 "Comp-fesom-recom-2.0"
I am trying to use esm_master comp-fesom-recom-2.0 to compile on mistral but the compilation does not finish.

in fesom-recom-2.0 is a fesom folder and a recom folder, I noticed that the offending file recom_extra.F90 shows up in the fesom folder, maybe that is supposed to do this, I don't know. I assumed recom files stay in recom.

Can somebody test comp-fesom-recom-2.0 on mistral please?

Best C

[2021-06-09 15:32] mandresm commented on #361
Hi @clhinrichs ,

I am not sure that fesom-recom-2.0 is supported right now (FESOM-2.0 + RECOM-2.0). The branches for that version are probably not the correct ones, as this implementation was not finished (and to my knowledge, never used). I think what is available right now and working, it's the following (@denizural and @mbutzin , please correct me if I'm wrong):

- fesom-recom-1.4 (FESOM-1.4 +

[2021-06-09 15:57] clhinrichs commented on #361
Hi @mandresm,

ok thanks. As of now I am not sure which fesom-recom-2.0 I need or if I need this at all or rather any of the other versions. So, I guess I can put this request on hold for know.

I tried fesom-recom-1.4, that worked fine. And I'll try with both awicm versions later.

Thanks for now.

[2021-06-10 08:20] clhinrichs opened #362 "Comp-awicm-1.0-recom"
Does not compile completely

------

[ 79%] Building Fortran object fesom_cpl/CMakeFiles/fesom.dir/gen_calcmeans.F90.o
/mnt/lustre01/pf/a/a270109/esm_tools/awicm-1.0-recom/fesom-1.4/fesom_cpl/gen_calcmeans.F90(10): error #7002: Error in opening the compiled module file.  Check INCLUDE paths.   [RECOM_CONFIG]
  use recom_config
------^
/mnt/lustre01/pf/a/a270109/esm_tools/awicm-1.0-recom/fesom-1.4/

[2021-06-10 09:37] clhinrichs commented on #362
+---------------------+-----------+---------------------------------------------------------------+----------+--------+
| package_name        | version   | file                                                          | branch   | tags   |
|---------------------+-----------+---------------------------------------------------------------+----------+--------|
| esm_calendar        | 5.0.0     | /mnt

[2021-06-10 09:50] denizural commented on #362
Dear @clhinrichs, we looked at your problem with @mandresm. There is currently a compiling awicm-recom but you need to checkout to a different branch:
in `esm_tools` directory type `git checkout awicm_recom`

This will allow you to install the awicm with `oxygen` branch on Recom and `co2_coupling` in all others. The setup that Özgür has been using.

Would that help or do you need a different setup

[2021-06-10 10:17] clhinrichs commented on #362
The compilation worked this time, thank you. I will test the model with these branches and afterwards will stay in touch with Özgür and Christopher about the current branches

[2021-06-10 10:17] #362 closed, assigned to denizural

[2021-06-10 11:19] pgierz opened #363 "OASIS produces "Model Runs Backwards""
Hello,

@ackerlar ran into a problem with an LGM simulation with coupled ice-bergs. He is trying to restart the model. However, oasis complains with `1385423262792820437` which translates into:

[code]

The relevant folder is here:
`/work/ollie/lackerma/egu_2021/experiments/lgm/test_no-icb_SPINUP`

[2021-06-10 11:41] dbarbi commented on #363
there seems to be a problem with the virtual environment, one of the first lines of the model output is that the venv-folder doesn't exist, and that is true. I don't think it is related to the backward running model though

[2021-06-10 11:42] pgierz commented on #363
hmmm that should be created automatically if you want to be using it. @ackerlar, do you have `use_venv` set to true in your run?

[2021-06-10 11:54] ackerlar commented on #363
I started a run without the virtual environment. I did not care too much about this as other runs worked fine even though this message occurred `/work/ollie/lackerma/egu_2021/experiments/lgm//test_no-icb_SPINUP/.venv_esmtools/bin/activate: No such file or directory`

[2021-06-10 11:56] pgierz commented on #363
What happens if you have?
[code]

[2021-06-10 12:06] ackerlar commented on #363
The experiment is still running. I will report about what happened. But the broken run `/work/ollie/lackerma/egu_2021/experiments/lgm/test_no-icb_SPINUP` did also run well until the end. But I just realized that the model tried to start with 1st of January after it ran through the whole year (in the same job!):
`line 11513221   0:  Stop model, last prognostic date/time is:  1. Jan     2001 00:00:0

[2021-06-10 12:22] dbarbi commented on #363
As I said, I don't think it is related to the issue, it just raised my interest.
All models seem to agree that it is a leapyear. Actually, everything is ending fine. fesom.clock is already written, echam restarts too. The "Stop model" line is fine.
The error is thrown by a fesom process, trying to work on sst_feom

[2021-06-10 12:59] dbarbi commented on #363
In icb_step it looks as if you are trying to writte something to file icbID_ISM, which is never opened. again, not the cause of this bug.

[2021-06-10 13:09] dbarbi commented on #363
it looks like fesom is trying another coupling, after writing restarts, fesom.clock and everything, without increasing the time step. that's where the "backwards" comes from. I don't see why it is trying that though.

[2021-06-10 14:28] pgierz commented on #363
@ackerlar, can you try the same run config using a Fesom version without your ice bergs? That might give us some hints...

[2021-06-11 04:10] joakimkjellsson commented on #355
Hi @pgierz
Thanks for the help. Turns out that my home dir was full, so that was the "disk error"...
Cleaned up some stuff and now it's running again.

Cheers
Joakim

[2021-06-11 08:54] pgierz commented on #355
Hi Joakim. I added a part that allows the user to opt-out of the database if they don't want to use it. That will go into develop, and, sometime, into the next release.

Keep your home folder tidy -- I get regular emails that my DKRZ folder is too big, it's a pain ;-)

This issue will then be automatically closed when Miguel or Deniz put it into the next release (Or, I hope so, unless I misunderst

[2021-06-11 10:08] dbarbi commented on #363
Bug in the code of fesom-2, branch icb_wiso (probably happened while merging). @ackerlar needs to correct what is broken, this issue is not an ESM-Tools problem

[2021-06-11 10:08] #363 closed, assigned to nobody

[2021-06-11 13:28] #355 closed, assigned to nobody

[2021-06-14 09:53] JanStreffing opened #364 "AWICM3 oasis paths with more degrees of freedom"
After discussion between Miguel and myself it became clear that we need another degree of freedom in the oasis pool directory path. Currently it goes e.g.

`/mnt/lustre01/work/ab0246/a270092/input/oasis/cy43r3/TCO319-D3/2520`

- Base: `/mnt/lustre01/work/ab0246/a270092/input/oasis/`
- OpenIFS version: `cy43r3`
- OpenIFS grid: `TCO319`
- FESOM2 mesh: `D3`
- FESOM2 distribution size: `2520`

The gri

[2021-06-14 10:09] JanStreffing opened #365 "Automatic checking for near 0 K temperature during AWICM3 coupling"
One of the common user mistakes for AWICM3 is a mismatch of OASIS rst and rmp
/grids,areas,masks files. The model will couple 0K skin temperature (SKT), which can result in a wide variety of different model blowups. Miguel and I did some brainstorming and I am writing up what we came up with for later implementation.

The way to diagnose the problem consistently is to do the following in the workf

[2021-06-17 12:58] akil-hossain opened #368 "ERROR model time beyond namcouple maxtime"
Hi there,

I am trying to run a standard PI experiment with the old version of ECHAM and 24x24 for nproca/nprocb. I got an error message -

[code]

I have looked into the OASIS code and found this -
[code]

I am not sure what this error means or how to solve it.

Here is the experiment directory - `/work/ollie/ahossain/micoene/experiments/A/`

Best Regards
Akil

[2021-06-17 13:04] pgierz commented on #368
Hi Akil,

can you also please specify which "old version" of ECHAM? That will help others understand. You can, for instance, copy paste the output from the echam repository:
[code]

If I remember correctly, this was connected to ECHAM-6.3.05p2

[2021-06-17 13:20] akil-hossain commented on #368
Thanks Paul, It's ECHAM-6.3.05p2, no concurrent radiation.

`$ git branch`
[code]
[code]

[2021-06-17 13:30] akil-hossain opened #369 "ERROR: model timestep does not match coupling timestep"
Hi there,

I am trying to run AWI-ESM2.1 with ECHAM-6.3.05p2, no concurrent radiation. to avoid Model blow up I have reduced step_per_day to 32 in the namelist.config. I got an error message -

[code]
I have looked into the OASIS code and found this -

[code]

I have used delta_time = 450. which delta_time should match with fesom timesteps 32?

Here is the experiment directory - `/work/ollie/ahoss

[2021-06-18 06:27] chrisdane commented on #369
Hi Akil

Just to be sure: if you decrease the number of time steps per day, every single time step gets longer, not shorter. To avoid model blow up, normally you want to test a smaller time step, i.e. increase the number of time steps per day.

From my experience you can play with the fesom time step and let the echam time step untouched.

I dont know about the rest, sorry :|

Cheers,
Chris

[2021-06-19 13:15] JanStreffing opened #370 "Not all copied FESOM2 output files are to outdata/fesom in multi years runs"
When running simulations that are more than one year long, only the first your of fesom2 output data is copied to

To reproduce, run a fesom2 simulation that is more than one year long in one slurm job.
[code]
I would expect the files from multiple years to be copied to the output folder. In the work folder we have:
[code]
And in the output folder:
[code]
I've double checked with cdo ntime that th

[2021-06-19 13:28] JanStreffing opened #371 "FESOM2 output files added to the namelist templates are not copied to outdata/fesom"
When I add additional output fields to the namelist.io under `/home/ollie/jstreffi/esm_tools/namelists/fesom2/namelist.io` they are ignored when moving the output to `outdata/fesom` at the end of a run.

To reproduce, just add for example flice in namelist.io. Run a month of FESOM2. The output file flice.fesom.[year].nc is written in the workfolder:

[code]
None of the files make it into the outda

[2021-06-22 11:56] mandresm commented on #347
Hi @pgierz , @JanStreffing and I have been already discussing about the need of ESM-Tools registering the commit ID of the models used. I think this is a fairly simple development that can be added as another step to the `prepare` recipe. We could also add to this step the features you are asking for. What do you think?

In my opinion this potential new step/method should do the following:
1. Writ

[2021-06-22 11:57] mandresm commented on #345
Dear @ackerlar , can this issue be closed now, or are you still confronting problems?

[2021-06-22 12:21] ackerlar commented on #345
@mandresm Yes, I close this issue!

[2021-06-22 12:21] #345 closed, assigned to nobody

[2021-06-22 16:47] mandresm commented on #334
After upgrading to the last patch of `esm_runscripts`, it now notifies displays a nice error if your `account` is not defined in the runscript and it is needed for the system you are using.

[2021-06-22 16:47] #334 closed, assigned to mandresm

[2021-06-22 16:51] mandresm commented on #330
I think this issue is solved, if not please open it again :)

[2021-06-22 16:51] #330 closed, assigned to denizural

[2021-06-23 09:44] mandresm commented on #371
I have just cherry-picked the changes of #372 into `feature/awicm3_prep_merge_geomar`. This should solve both this issue and #370 (I have actually tested it)

[2021-06-23 09:49] #371 closed, assigned to mandresm

[2021-06-23 09:49] #370 closed, assigned to mandresm

[2021-06-23 10:07] pgierz opened #374 "Calendar Ranges"
Hello,

sometimes when building scripts or tools that depend on esm-tools simulations, it is useful to have some sort of thing that allows you create a list of output files for a specific range of dates. For instance, it would be very nice if I could do something like:

[code]

In the background, we would need something like:
[code]

Maybe common analyses could be gathered in these classes.

What

[2021-06-23 11:33] denizural commented on #374
For me it looks nice. I actually implemented a similar data_range and simulation automatizer for another project. I can say that it definitely makes your life easier.

[2021-06-24 06:59] chrisdane opened #375 "esm_runscripts should check for model binary update after recompile"
**Is your feature request related to a problem? Please describe.**
The `esm_runscripts` -call should check if any of the used model binaries were updated since the last model run. I submitted new jobs and was wondering why my changes in the model code do not appear in the logfile. The `--update` argument of esm_runscripts does not help. I assumed the model bins are also checked for updates.

**Des

[2021-06-24 07:09] pgierz commented on #375
I am only 50% happy with this. In principle, it is not a very good idea to update the model binary during a production simulation, as that might induce novice users to have unexpected jumps in their runs (in the worst case) or different formats/contents to their log files (in a more harmless case). There should be clearly stated intent from the user side for this to actually happen.

Default shoul

[2021-06-24 07:12] denizural commented on #375
I was going to say the same thing. I am just formulating a flag like `--update-model`. Of course people should be using it considerably

[2021-06-24 07:44] chrisdane commented on #375
Making production runs and testing new code follow different workflows. For the first you are right. For the latter such an argument for the esm_runscript -call would be very useful!

[2021-06-24 07:48] pgierz commented on #375
`--update-model` sounds good to me! I'd also suggest not making a short option for that one. If someone wants to do this, they should really write it out (for safety) ;-)

[2021-06-24 08:05] denizural commented on #375
Actually, I was also thinking about adding it into the runscripts like
[code]
But, then I gave up because I am 100% sure that someone may forget that open

[2021-06-24 08:48] pgierz commented on #375
@denizural I would actually not allow this at all through the runscript. That needs to be a user flag, and only a flag.

Imagine the following: you put this option in your runscript, and hack away at your model. You already have a few runs online, which are doing "useful" things with an old model programming. Suddenly, you keep running, and without any sort of information, your model binary is cha

[2021-06-24 09:07] denizural commented on #375
Exactly Paul, and I will also implement a print message in capital (with or without verbose open) saying that updated model is used. Also comparing the `MD5 checksums` would also be a good idea. Eg.
[code]
I just made a trial with that. When I add another statement and compile the code the MD5 changes.

[2021-06-24 15:17] mandresm commented on #356
I think this issue is now solved and merged to `develop`. It will make it to release 6.0. Is that right @denizural ? If that's the case then we can close it.

[2021-06-24 15:20] denizural commented on #356
@mandresm, Yes, actually it was in my TODO list. I placed it after the release of v6.0 to close it. But I can also do it now since I already showed the new interface to Christopher.

[2021-06-24 15:20] #356 closed, assigned to denizural

[2021-07-02 09:42] chrisdane opened #378 "how to test model defaults of models own fortran namelist"
**Describe the problem you are facing**
Normally the models (or components) come with their own namelist defaults, e.g. written directly in some fortran file. `esm_runscripts runscript` uses namelist entries provided by esm tools (`esm_tools/namelists/<component>`) to generate namelists which will be used by the model.

Now someone, without thinking of the esm tools, changes the model code, includ

[2021-07-02 11:01] denizural commented on #378
Hi @chrisdane,
in your runscript you can set the `namelist_dir` variable. Suppose that you would like to give a manual directory for Echam namelist instead of the ESM-Tools default namelist directory (eg. `esm_tools/namelists/echam/...`. Then, in your runscript

[code]

Make sure that you first run it with `--check` and `--verbose` and verify that the `namelist.echam` in the experiment work direct

[2021-07-02 13:22] chrisdane commented on #378
Great that seems to work. The runscript entry
[code]
with the empty namelist.recom
[code]
results in the namelist.recom in the work directory after `esm_runscripts -c`
[code]
Question: where do these values come from?

Small issue: path expansion with `~` is not fully supported. If I write
[code]
instead of the absolute path in the runscript, `esm_runscripts -c` wrongly complains that `namelist.re

[2021-07-02 14:48] denizural commented on #378
They are coming from `recom.yaml`:
[code]
ESM-Tools implements a hierarchy of configuration files, where the user file overwrites everything else. Do you want a feature to completely overwrite the default settings?

---

I don't really consider this as an issue since `~` is a _Linux shell expansion_. Only the Linux shell will understand it but Python won't.
So how can we get an environment variabl

[2021-07-04 14:10] chrisdane opened #379 "Implementation histvolcanir not found for filetype forcing of model echam"
Hi

On mistral, running
[code]
yields
[code]
The same happens with `-c`.

This experiment shall be a branching off and redate experiment to start a historical run.

Thanks a lot for help!
Chris

<details>
<summary>esm_versions check</summary>

[code]
</details>

[2021-07-04 16:36] chrisdane commented on #378
Thanks Deniz

Yes, I would like to have that, but its not urgent. Also, this would only make sense if a model is shipped without a namelist, i.e. that all defaults are taken from the model code itself (e.g. some fortran file) during runtime. But most models come with namelists anyway so maybe it was never considered by the model developers to run the model with an empty namelist?

Cheers,
Chris

[2021-07-05 07:09] denizural commented on #379
Hi @chrisdane, I made quite a number of changes to historical runs but they are on a different branch (`esm_tools` and `esm_runscripts`). The main changes are on using more advanced aerosol schemes (iaero=9). They are not merged yet and I need to talk to Echam experts like @pgierz. However you can use the `hist_fixed` branch for the time being.

[2021-07-05 08:32] chrisdane commented on #379
Hi Deniz

With `esm_runscripts` branch `hist_fixed`:
[code]
the same error occurs.

When I additionally change
[code]
as in the `esm_tools` branch `hotfix/echam_volcan`, the error changes to
[code]

[2021-07-05 09:03] pgierz commented on #379
Wait since when am I an echam expert?

[2021-07-05 09:49] pgierz commented on #379
Alright, I need a bit of info to get going. Please confirm

- Machine: mistral
- Model: awiesm 2? Echam only?
- Scenario: historic?
- Missing files: volcano forcing?

Sounds like a pool issue once again

[2021-07-05 09:53] chrisdane commented on #379
Thanks Paul

- machine: mistral
- model: /pf/a/a270073/esm/awicm-1.0-recom
- scenario: historical
- missing files: I dont know if the issue are missing files. There are only the errors above.

[2021-07-05 09:56] pgierz commented on #379
You never needed to change echam for recom, right?

[2021-07-05 10:00] chrisdane commented on #379
You mean changes after the
[code]
command? No.

[2021-07-05 14:42] JanStreffing opened #382 "Installing esm_runscripts package on juwels with python3.6 after uninstalling from python3.8"
Since this issue turned out to be harder to solve than I first imaged I will make an issue out of it. Here is a copy of my chat with Deniz:

Jan Streffing  4:00 PM
Hey everyone, I just switched python versions from 3.8 to 3.6 on juwels, since the intel 2020 compiler was installed with a faulty gcc versions from their side. I have to use intel 2019.
I did an uninstall following https://esm-tools.re

[2021-07-05 15:05] pgierz commented on #382
I shouldn't have renamed it from `esm_versions clean` to `esm_versions nuke`, that was clearly better

[2021-07-05 15:16] pgierz commented on #382
Magical trick: use the `--user` flag. I do not yet know why, exactly, but that worked.

[2021-07-05 15:16] #382 closed, assigned to nobody

[2021-07-06 14:07] ackerlar opened #383 "Invalid hostfile_srun during AWI-ESM-2.1 run"
**Describe the bug**
Starting a job with awi-esm-2.1, the model immediately stops with this error:
[code]

The `hostfile_srun` looks like this:
[code]

The `namelist.echam` parctl like this:
[code]

The run can be found here: `/work/ollie/lackerma/processor-partitioning/experiments/awicm_test01`

**Expected behavior**
The `hostfile_srun` should contain a valid proc range for ECHAM according to `np

[2021-07-06 14:17] mandresm commented on #383
Can you do `git diff` in the `esm_runscripts` package and post here the results of that?

[2021-07-06 14:19] ackerlar commented on #383
Here is the output:

[code]

[2021-07-06 14:22] denizural commented on #383
@ackerlar, maybe it would be better to use `remove_from_namelist` for the `nprocar` and `nprocbr`. I have a feeling that they initialize the hostfile with 0. What do you think @mandresm?

[2021-07-06 14:24] chrisdane opened #384 "need reduced echam and jsbach output for spinup"
Hi

**Is your feature request related to a problem? Please describe.**
The default `namelist.echam` for a `PI-CTRL` experiment, which is (almost always?) also used for spinups, creates a lot of data on a high temporal interval (< month) due to the namelist blocks
[code]
For a spinup, this is unnecessary and bad practice since nobody will ever need this data but the disks are full with it.

**Descr

[2021-07-06 14:28] pgierz commented on #384
Can someone PLEASE PLEASE put this in? It's been on my list for months.

[2021-07-06 14:34] ackerlar commented on #383
@denizural , I tried to remove it from the namelist via:
[code]

(`/work/ollie/lackerma/processor-partitioning/experiments/awicm_test02/run_20000101-20001231/scripts/awicm-ollie-initial-yearly.yaml`)

but it is still in `namelist.echam`
(`/work/ollie/lackerma/processor-partitioning/experiments/awicm_test02/run_20000101-20001231/work/namelist.echam`)

[2021-07-06 14:37] denizural commented on #383
Ah well, this is a bug I found previously. Could you please use `add_namelist_changes` instead of `namelist_changes` and try again with a check run?

[2021-07-06 14:41] mandresm commented on #383
Okay, I think I see what's going on. ESM-Tools doesn't read the `namelists` and uses the information there to create the hostfile. Instead, ESM-Tools reads the yaml files provided. Inside that, `nproca` and `nprocb` variables and also `nprocar` and `nprocbr` in the yaml files have a very specific use in the generation of the hostfile (implemented by @khimstedt ). For that to work correctly you nee

[2021-07-06 14:54] ackerlar commented on #383
I removed `nprocar` and `nprocbr` from the namelist and set `nproca` and `nprocb` within the runscript. Unfortunately, `hostfile_srun` does still not look okay.

`/work/ollie/lackerma/processor-partitioning/experiments/awicm_test06`

[2021-07-06 14:57] pgierz commented on #384
How would this be best solved, Christopher?
[code]
Or rather:
[code]

I think using a new "scenario" may be confusing to some people

[2021-07-06 15:00] mandresm commented on #383
`nproc` vars are all handled inside the `echam.yaml` and set there to go into the namelist_changes already:

https://github.com/esm-tools/esm_tools/blob/e284ce32e3b4e1d37a6f7f4b0a65a35b78c937f8/configs/components/echam/echam.yaml#L595-L622

Can you please try the following in your runscript:
[code]

In this case there is no need for namelist_changes

[2021-07-06 15:10] chrisdane commented on #384
I dont know. Someone of the esm tools heads need to decide that.

Another point I cannot decide is how to distinguish different `streams`-definitions in `echam.yaml` and `jsbach.yaml` in a clean and esm tools-way.

[2021-07-06 15:28] ackerlar commented on #383
The ECHAM setting looks fine now but the FESOM line is still not okay:
[code]

`/work/ollie/lackerma/processor-partitioning/experiments/awicm_test07`

Do I have to include anything in the FESOM section?

[2021-07-06 15:42] mandresm commented on #383
I don't think so, that really looks like a bug. I solved something similar for `awicm2` (no workflow manager) last week. I think the bug might be in a conflict between my bug fix and the workflow implementation. What do you think @dbarbi ?

[2021-07-06 15:44] pgierz commented on #374
Closing, see the newest commit in esm calendar from late last week

[2021-07-06 15:44] #374 closed, assigned to nobody

[2021-07-07 15:16] ackerlar commented on #383
I fixed the issue in `batch_system.py`:
[code]

instead of:
[code]

I cannot push my commit. Do I need to create a new branch in order to be able to push my changes?

[2021-07-07 15:29] denizural commented on #383
Since you are not a developer, you don't have any write access to the repo. What we usually to is make a pull request, review it and then merge it (either as a `hotfix` or `feature`). You can still make a pull request over the fork.

[2021-07-07 15:49] ackerlar commented on #383
Apparently, there already has been a fix for this in one of latest commits. I close this issue now.

[2021-07-07 15:49] #383 closed, assigned to nobody

[2021-07-08 08:46] pgierz commented on #379
OK, I'm using the release branch as a basis. The problem is in the `echam.datasets.yaml` file. You will need to add a new block there for `histvolcanir` files, yet I do not know which ones need to actually be there. You can use the other ones as a template.

I also can't cleanly reproduce everything, I don't have recom access.

For whoever wants to work on this next, all of my stuff is here:
/work

[2021-07-08 08:56] pgierz commented on #379
@chrisdane, can you ask the recom crew to give me access? Just for future.....

[2021-07-08 12:26] ackerlar opened #385 "PISM not running on prep_release"
**Describe the bug**
When I try to run PISM, esm_tools exit with this error:
[code]

**Expected behavior**
The PISM job should start.

**System (please complete the following information):**
 - Supercomputer: ollie
 - Version
[code]

**Additional context**
Add any other context about the problem here.

[2021-07-08 14:38] chrisdane commented on #384
There is one problem to define scenario-dependent output streams of echam/jsbach. The `echam.yaml`-entries
[code]
define which output files will be moved from `work` to `outdata/<model>/`. This way, some files are ignored if I change the stream  definitions in the namelist, or, the other way around, the esm tools complain that there are missing files if the namelist does not define some of these `

[2021-07-09 06:30] chrisdane opened #386 "0: Warning (gribZip) : Compression disabled, szlib or libaec not available!"
**Describe the bug**
When I run echam with the runscript lines
[code]
echam complains with
[code]

**To Reproduce**
Run a default echam experiment with the lines above in the runscript.

**Expected behavior**
Compression should be applied.

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version [Please run `esm_versions check`]
<details>
<summary>esm_versions

[2021-07-09 06:32] pgierz commented on #386
Maybe this is something that needs to be told at compiletime?

[2021-07-09 06:42] pgierz commented on #385
Hi Lars, can you send me your runscript? I can look this afternoon.

[2021-07-09 06:47] pgierz commented on #384
Distinguishing that cleanly isn't really so easy. The Namelist for echam also influences jsbach output, but then we have two different yaml files and also two different namelists even just controlling model behaviour. Confusion lurks around every single corner there.

Ultimately, we need to find some way of getting a single source of truth for the streams, and define that only once and have it pro

[2021-07-09 06:57] mandresm commented on #384
Thanks @chrisdane for this suggestion, I think it's a very good point. About the streams, I would need to have a look again at the echam files. However, even if `scenario` is an extra variable, I think it is a very intuitive one and could help us in the setup of the strings and on the selection of the `namelist_dir`. @pgierz , why do you say `scenario` might be a confusing variable for some people

[2021-07-09 07:00] pgierz commented on #384
"Scenario" controls a lot more than just output, also for example which model features should be active. PI shouldn't have human land use change, a future run should. I would therefore recommend separating output control from the scenario.

[2021-07-09 07:07] chrisdane commented on #384
Thanks Miguel. I agree that having another `scenario` is not confusing.

@pgierz1: Having those `streams` in the `echam.yaml` and `jsbach.yaml` is in my view the source of the confusion. Thats why I suggest to drop them completely. I made a suggestion of an alternative and my question was if this is possible.

@pgierz2: Yes I made a esm_tools branch and wrote that several times in my initial post:

[2021-07-09 07:14] pgierz commented on #384
Chris is correct, that would need a bit of a stronger rewrite.

We could, for example, add one more layer of folders? Or maybe better, merge in the output part of the name list, separate from whatever defines physical behaviour? Do we have a merge feature for namelists yet? They are just dictionaries on the python side.

I would again strongly suggest against making the output dependent on the sce

[2021-07-09 07:16] pgierz commented on #384
Chris, sorry I didn't see your branch in the initial post. Info is obviously there, I just need to learn how to read...

[2021-07-09 07:17] chrisdane commented on #384
Paul, the output definitions for echam/jsbach are not as simple as for fesom. Separating the stream definitions from everything else in the namelist.echam would yield more confusion in my view. For example, `&runctl:default_output`, i.e. a namelist parameter from another chapter within the namelist, affects the output as well.

I dont see a problem in making output dependent on the scenario. In fa

[2021-07-09 07:38] mandresm commented on #384
I think this discussion is very interesting and valuable, but I also think we need to include the main advance users of ECHAM into it if we are going to make a major change that affect the streams. What do you think?

[2021-07-09 09:16] ackerlar commented on #385
@pgierz Here it is: `/work/ollie/lackerma/processor-partitioning/experiments/pism05/scripts/pism-ollie-initial-yearly.yaml`

[2021-07-09 09:22] dbarbi commented on #385
Did you install Pauls esm_pism plugin? That is still needed at this time...

[2021-07-09 09:24] dbarbi commented on #368
Hi Akil,
I think there is something missing from your mo_time_control.f90 . It seems that this file was changed between versions, ruining it for fesom coupling. Kai Himstedt seems to have fixed it in the parallel radiation version. I now moved that into echam-6.3.05p2_untouched_cplfesom and will run a test in a second.

[2021-07-09 09:42] chrisdane commented on #384
Sure please do so =)

[2021-07-09 09:46] dbarbi commented on #384
The original idea was to use the streams and streamsnc arrays to automatically GENERATE the output stream part in the namelist.echam, but we never got there.

[2021-07-09 09:48] ackerlar commented on #385
No, it was not installed... It starts now but runs only for one year and gives this error:
[code]

`/work/ollie/lackerma/processor-partitioning/experiments/pism10/log/pism10_pism_compute_20000101-20001231.log`

There is output in `run_20000101-20001231/work/` but not in `outdata/pism/` and it's only for one time step.

[2021-07-09 09:51] dbarbi commented on #385
That refers to gfw_creator... I have no idea. Do you have that installed?

[2021-07-09 09:55] chrisdane commented on #384
Ok. I dont think this is feasible. How would you specify that e.g. 1) only certain variables from a specfic stream should be saved 2) in a specific temporal interval? If the yaml lists `streams` and `streamsnc` will be extended to support those and more features, I feel you end up having similar entries as in the actual namelist.echam. Why reinventing the wheel?

[2021-07-09 09:57] dbarbi commented on #384
initially, because you could use the same style of writing that to set the output of fesom, openifs, nemo, etc. without having to do it differently for each model.
but it is some amount of work, and noone really called for it, so...

[2021-07-09 10:37] dbarbi commented on #368
yup, that was the problem. let us discuss which echam version you want to use, then i can make that available for you.

[2021-07-09 11:25] chrisdane commented on #386
Adding `libaec` to mistral.yaml
[code]
does not help.

Can you find where in the model code this warning is generated? I cannot find it :(
[code]

[2021-07-09 11:32] denizural commented on #386
The warning message probably comes from the library, not from Echam source code. Add `VERBOSE=1` to `comp script` will turn verbosity on and give more diagnostic messages. Does this make the simulation crash anyways? Warning should not be catastrophic but tells you that the performance might not be optimal.

To @pgierz : I use verbose compilation quite a lot when debugging. I think we might consid

[2021-07-09 11:36] chrisdane commented on #386
Ah it comes from one of
[code]
or
[code]

<br>

Do you know how to enable either `HAVE_LIBSZ` or `HAVE_LIBAEC`?

[2021-07-09 11:45] pgierz commented on #385
I’m afraid I’m stuck here too…. It is trying to use netcdf from Thomas Kleiner, Python 2.7, but the rest of the tools from Python 3.7?

Lars, do you need to do some sort of `module load` for PISM to work?

On Jul 9, 2021, at 11:48 AM, ackerlar ***@***.******@***.***>> wrote:

No, it was not installed... It starts now but runs only for one year and gives this error:

Traceback (most recent call las

[2021-07-09 12:05] denizural commented on #386
On the compilation line having `-DHAVE_LIBSZ` and `-DHAVE_LIBAEC` should turn these flags on.

Compilation of Echam in AWICM is handled by CMake that Jan Hegewald implemented, I guess (confirmation needed). Then, you need to modify CMakelists.txt file.

Maybe setting `SZLIB_LIBS` and `SZLIB_INCLUDE` environment variables could help but I am not sure.

Also look at this:

[code]

So, when you ./con

[2021-07-09 12:09] pgierz commented on #386
Not all ECHAM is built with CMake. The concurrent radiation variant still uses the older configure/make/make install pattern. We were never able to CMake to work with that version.

Chris, if you can figure out how much space this saves, and if it's considerable, I can look into adding those options to the ConcRad version too.

[2021-07-09 12:11] ackerlar commented on #385
@dbarbi Yes, gfw_creator is installed.
@pgierz Yes, it happens when `netCDF4` is imported but when I try to import it within my interactive python shell it is imported from here: `/work/ollie/lackerma/processor-partitioning/.direnv/python-3.7.4/lib/python3.7/site-packages/netCDF4/__init__.py`
I don't have any modules loaded.

[2021-07-09 12:18] chrisdane commented on #386
Great Deniz. Where exactly do I need to put this information so that `esm_master recomp-<model>` takes it into account?

[2021-07-09 12:28] dbarbi commented on #385
module load pism_externals? that module was first built by tkleiner, and once by me, referring to thomas' folders...
yup, does say so in pism.compiletime_env_changes.yaml, "load pism_externals". That's where the tkleiner stuff comes from

[2021-07-09 12:33] denizural commented on #386
Maybe it is better to ask Jan Hegewald first about that. Meanwhile you can add VERBOSE to your `comp-script`, (I hope this file is still there). Eg.
[code]
So that we have a verbose output of the Echam compilation and what it does to CDI.

Don't forget to redirect the output of the compilation. Eg.
`./comp-echam-6.3.04p1_script.sh &>comp_echam.log`

[2021-07-09 12:37] akil-hossain commented on #368
Hi Dirk,

I am currently using version of ECHAM-6.3.05p2 WITHOUT concurrent radiation, branch no_conc_rad.

`git branch`

[code]
I want to use it. Thanks

[2021-07-09 12:43] dbarbi commented on #368
Ok, just added my changes to your branch. Please "git pull" to update your code, and recompile.

[2021-07-09 12:53] dbarbi commented on #369
Hi Akil,
the error message actually says quit clearly what the problem is. You have (at least) three time steps: The fesom time step, the echam time step, and the coupling time step (sometimes more than one coupling time step).
Now you must understand than for example in fesom, the times between two time steps don't have any meaning. If fesom time step is 1 hour, then the model calculates at times

[2021-07-09 13:58] akil-hossain commented on #369
Thanks, Dirk. Where can I change the coupling time step?

[2021-07-09 15:18] chrisdane opened #389 "general nyear and echam restart_unit must fit together"
**Describe the bug**
When I run a default echam experiment with
[code]
in the runscript, the logfile shows after one successfull modeled month
[code]
since the esmtools look for the end of December (`19501231235230`) instead of the end of January: the `restart_somefile_19500131235230` is in work.

Hence, `nyear` and `restart_unit` depend on each other and there are invalid combinations.

**To Repr

[2021-07-09 16:26] ackerlar commented on #385
As a fast workaround I removed the tkleiner paths from the python path in `evaluate` in `esm_runscripts/helpers.py`
https://github.com/esm-tools/esm_runscripts/commit/59918c6c6ceb671687cf783bde66d9dca0789213

[2021-07-09 16:26] #385 closed, assigned to nobody

[2021-07-12 09:12] chrisdane opened #390 "fesom restart only does not work in echam+fesom coupled setup"
**Describe the bug**
In a coupled echam+fesom+recom experiment, I need to restart fesom (and recom) only from a coupled echam+fesom+recom experiment. In the [branching off docu](https://esm-tools.readthedocs.io/en/latest/recipes/how_to_run.html?highlight=restart#how-to-setup-runscripts-for-different-kind-of-experiments) its written that
[code]
needs to be in the runscript.

With
[code]
esm_runscri

[2021-07-12 11:05] pgierz commented on #390
Please try with the branch `awicm_recom_paul` and let me know if it works.

[2021-07-12 11:08] pgierz commented on #390
Note, I would try myself, but until we have "user independent" run scripts, that would take a bit of time....

[2021-07-12 11:17] denizural commented on #390
I solved this issue (in a bit ugly way) by adding

[code]

and adding

[code]
under each model section in the runscript (eg. echam, fesom, recom, oasis, jsbach, hdmodel)

[2021-07-12 12:08] chrisdane commented on #390
@pgierz:
[code]

@denizural
It must be
[code]
instead of
[code]
and the same date issue remains:
[code]
The restart file only has the year, not month and day in it.

I dont understand this. Am I the first person doing a fesom restart with the esm tools? Oo

[2021-07-12 12:12] pgierz commented on #390
Short answer: yes, probably. At least for coupled, and only trying to restart part of the model.

[2021-07-12 12:34] chrisdane commented on #390
@pgierz: when I cherry-pick your changes, it works -_-

@mandresm: pauls [3b7c824](https://github.com/esm-tools/esm_tools/commit/3b7c824bab65fbc5f5a377dd2bbaeaea805555dc) must go into release. With the current version its impossible to restart fesom. *slowly but surely going crazy*

[2021-07-12 12:35] pgierz commented on #390
Be happy it's only slowly ;-)

[2021-07-12 13:10] mandresm commented on #390
I think what Paul did in 3b7c824 was to revert back one change that was made to make daily restarts (for fast testing) with FESOM in ESM-Tools possible. This was done 1 year ago during the implementation of `fesom-recom-1.4`. This change, if implemented in release, has the potential to break things for `fesom-recom-1.4`.

Of course I'm not against it, it's more like a warning that we might fix it

[2021-07-12 15:34] chrisdane commented on #390
Thanks for the tip @mandresm. Yes, I need to restart from old files. But then there should be "one" way of doing this?

Unfortunately I need to reopen: the run was successful but fesom didnt restart:
[code]
Its also visible in the data.

[code]

Thanks for help!

[2021-07-12 15:38] mandresm commented on #390
There are two ways of doing this:
1. add the lines I wrote in the previous post to the runscript
2. or inside the parent expertiment, make a link to the original restarts using the new name convention

[2021-07-12 16:00] mandresm commented on #390
About things not working for the restart, could it be a problem with the `first_initial_year` definition?

If you look at these lines in the `fesom.yaml` file you'll notice that this variable probably needs to be the initial date of the parent experiment:
[code]

[2021-07-12 16:06] chrisdane commented on #390
The generated fesom.clock
[code]
should actually be
[code]
The namelist.config entry looks ok:
[code]
Dont know why the clock file is not correct :( For the restart case, its
[code]
It seems that instead of `${parent_date!sdoy}`, which should be 365, rather `${parent_date!day}`, 31, is used. Also, the parent year is wrong. Where/how is `parent_date` defined? I have `ini_parent_date: "2685-12-31"`

[2021-07-13 07:52] chrisdane commented on #390
I think I get it. @mandresm, you wrote in your comment that
[code]
I think this is not correct or I misunderstand. The condition must rather be `namelist.config:&clockinit:yearnew != first_initial_year`.

When I set
[code]
fesom considers the run as a restart run:
[code]
since
[code]
i.e. `yearnew` and `yearstart` must differ to get a restart (since most often daynew=daystart=1 and timenew=timesta

[2021-07-13 09:02] mandresm commented on #390
I agree this is wrong, and AWICM3 group reported exactly the same problem with branching off from a simulation. Infact @JanStreffing just pointed at the same exact lines of FESOM a few minutes ago on an email. I'm working on it.

[2021-07-13 09:32] dbarbi commented on #379
If I see that correctly, then it is just a type in echam.datasets.yaml. It should be histvolcanir, not histvolcir. I will bugfix that now into release, develop and prep_release. Does it work in the hist branches?

[2021-07-13 09:44] mandresm commented on #390
I've done and tested the fix for the AWICM3 branch here cd474509b352d46ffdf9e83206066b7c649422e0. @denizural , can you cherry-pick it to `recom`'s branch?

[2021-07-13 10:02] mandresm commented on #390
@denizural , you'll also need to cherry-pick 3dc7f62e37cafbc3ad56f041e09b3a0f5f00e308. @chrisdane , the variable `first_initial_year` is not needed anymore and can be removed from the template.

[2021-07-13 10:02] dbarbi commented on #389
They don't have to, that can be done by setting the nocycles var in namelist.echam. I wrote a first try for it, it is in branch echam_nocycles. No test done so far.

[2021-07-13 10:12] denizural commented on #379
@dbarbi, I have that covered. I should get into the release.

[2021-07-13 10:14] dbarbi commented on #379
just pushed it

[2021-07-13 10:33] dbarbi commented on #314
@koldunovn i can show you how to set sync in gitlab. please call me, that doesn't belong here.

[2021-07-13 10:33] #314 closed, assigned to nobody

[2021-07-14 07:18] akil-hossain commented on #369
If I increase step_per_day to 60 or 72, which parameter I should change?

Thanks
Akil

[2021-07-14 07:22] chrisdane commented on #369
`namelist.config:&timestep:step_per_day` determines the time step of fesom via `dt = 86400/step_per_day`. If e.g. `step_per_day = 48`, you end up with a time step of 1800 seconds. I dont think that this is your problem.

[2021-07-14 15:24] hegish commented on #386
Hi there, I am not sure what the actual question is?

[2021-07-14 16:35] pgierz commented on #386
I believe the short question is "how do we add options that would get passed to configure to the cmakelist", but Chris and Deniz may have more precise formulations

[2021-07-16 06:52] chrisdane commented on #386
Exactly Paul. The question is where to put which command in https://gitlab.dkrz.de/modular_esm/echam6/-/tree/master so that echam and/or cdi is compiled with `--with-szlib=path-to-szlib` so that if I run echam with the namelist.echam entries
[code]
the model does not complain with
[code]
but just applies the compression.

[2021-07-16 07:13] denizural commented on #386
Hi Chris,
you can add `--with-szlib=path-to-szlib` of similar configuration and compilation lines to the `conf_command` or `comp_command` sections in the `echam.yaml`

[2021-07-16 07:22] pgierz commented on #386
No Deniz, it uses CMake, not Autotools. There is no conf command

[2021-07-16 10:23] hegish commented on #386
Hi all, I still do not understand. You want to add compiler options? Or cmake options?

[2021-07-16 10:28] denizural commented on #386
I think Chris wants to add an option that would turn on szlib compression. Should that go into CMakelist file?

[2021-07-16 11:18] hegish commented on #386
You could do that in CMakeLists.txt with e.g.
[code]

and then:

[code]

Then set it ON via _ccmake_ or before calling cmake the first time with _cmake -Dszlib_compression=ON ../src_

[2021-07-21 13:41] chrisdane commented on #384
There is related problem with the historical echam namelist, i.e. `namelists/echam/6.3.04p1/HIST/namelist.echam`. The entries
[code]
and
[code]
yield, for annual runs, the variable `temp2` in the annual files
[code]

<br>

The annual (`cdo yearmean`) temp2 anomaly between the `_echam` and the `_g3bid` files looks like this:
<img src="https://user-images.githubusercontent.com/26486859/126494718-1a2

[2021-07-21 14:00] pgierz commented on #384
I can briefly comment on this one: `temp2` in the `default_output = true` is misleading. In fact the entire "default output" is...well, let's go with the description "weird". The file in that case is a mixture of snapshots and means. Christian is currently working on a table to definitively say which is which, but if I remember correctly temp2 was snapshots. I would therefore recommend caution usi

[2021-07-21 14:27] chrisdane commented on #384
Yes. Same variable, same run, different output files.

[2021-07-21 14:42] pgierz commented on #384
Alright, wrong place to complain, but: "ugh....echam....why"

Consider the following more to be "public note taking" (or whatever thinking out loud is for a forum):

For your screenshots, what you have is -- if I understand it correctly -- a yearly (or monthly, or daily) average of snapshots vs a yearly average of daily means. That would (maybe) explain the vertical bands you see there (day/night

[2021-07-21 14:58] chrisdane commented on #384
For someone working with daily data the difference is on the order of 1 K, i.e. super large :p

[2021-07-21 15:02] pgierz commented on #384
Yes, I was more referring to the top two figures. Funny how it is so localized over North America. I would have guessed that if you have 3 hour output and average noon/3pm/6pm/9pm/midnight/3am/6am/9am that there isn't such a clear spatial pattern. Plus you can see waves over Eurasia. Odd....but, as I said, I'd just use the data in the other file, that will be at least clearer.

And still, one for

[2021-07-23 15:14] chrisdane commented on #384
The default stream definitions are printed in every atmout. The `echam:temp2` variable is defined as
[code]
whereas the `gsbid:temp2` variable is defined as
[code]
that means
[code]
In the echam6 docu its written that (p. 119)

the actual values of the field are written. However, if laccu=.true. is specified, the
values are divided by the number of seconds of the output interval before output and

[2021-07-23 16:39] pgierz commented on #384
One note: the outputs seems to be recorded for any **changed** stream. Not sure if the default is also written to the log. If it is, that'd be great to know, please also forward that info to Christian.

At some point, we need to ask Hamburg to clarify. Perhaps that point has been reached. At least on my end, I'm out of expertise. Sorry.

[2021-07-27 15:14] chrisdane opened #409 "different namelist.echam &runctl nproma why"
**Describe the bug**
The namelist.echam entry `nproma` equals either 8 or 72, depending on the used scenario:
[code]
The echam docu says

type: integer
explanation: vector length of calculations in grid point space
default: number of longitudes

**Expected behavior**
If its not clear for the esm tools which value nproma should take, it should not be set as it is very confusing (and potentially wro

[2021-07-27 15:19] chrisdane commented on #384
@mandresm @denizural @dbarbi could you please implement some kind of switch so that switching namelist.echam and/or namelist.jsbach becomes possible? The current workflow via `streams` (and `streamsnc`) makes this impossible as files from user-specific streams will be ignored if they are not set in those echam.yaml or jsbach.yaml lists.

[2021-07-27 15:53] pgierz commented on #384
You could try to implement that yourself. I can take 20 minutes tomorrow and show you the relevant code that would need to be modified.

Open source works best if anyone who wants a feature tries to build it. That also would be good to increase overall knowledge of the code base by more than just the core team.

So, if you want to try, pull develop, and start a new branch from there, open a draft

[2021-07-27 15:55] chrisdane commented on #384
Dropping echam.yaml:streams would be a large modification of the esm tools. I have not enough knowledge and time for this =)

[2021-07-28 07:05] pgierz commented on #409
This is a holdover from when ECHAM was being run primarily on vector based machines. I remember in discussions with Martin Werner that it might not even be clear if this parameter has any meaning in the current ECHAM. I would, however, recommend unifying everything to use `nproma = 8`. I can do two test runs for 3 years to check if there is any sort of climate dependence if you change that number.

[2021-07-29 14:38] ackerlar opened #413 "PISM not compiling on mistral"
**Describe the bug**
 I know this already has been an issue but I could not find a working solution for me. When I try to compile pism-github1.2.1 on mistral, I get the following error:

When I run `esm_master comp-pism-github1.2.1` using `esm_tools` on `release`:

[code]

When I apply the changes from `hotfix/mistral_pism` branch, I get this error:
[code]

**System (please complete the following

[2021-07-29 15:34] PengyangSong opened #414 "FESOM2 namelist outdate"
Dear developers,
I am trying the ESM_tools (version5), and I want to ask how to solve the outdated namelist source in ESM_tools.

I get some errors like this:

[code]

 The opbndpath and tideforcingpath is not in FESOM2. My yaml file looks like this:

[code]

also the namelist.diag is outdated

[2021-07-29 15:37] pgierz commented on #414
Hey @PengyangSong  can you put your code in triple backticks? Then it will be nicely formatted so we can read it more easily.

@denizural this looks a lot like the problem you solved. @PengyangSong, what version are you on? I would recommend updating everything, I think we already fixed this one.

[2021-07-29 15:41] pgierz commented on #413
To refresh my memory, the hot fix pism branch was mine I did sometime in spring, right?

I'll have another look at the build tomorrow. In the very worst case, we just build pism somehow by hand and bind it in. Although that might induce runtime incompatibilities. I'll put it on my todo list.

[2021-07-29 15:44] PengyangSong commented on #414
@pgierz Thanks! I confused backticks with quote marks :-(
I am switching to FESOM2.1 (official release).

[2021-07-29 15:45] ackerlar commented on #413
@pgierz Yes, here is the pull request #276

[2021-07-29 15:46] pgierz commented on #414
It's this one: `
Sometimes, it makes the regular one: '

Fesom 2.1 is not yet really all the way supported. It's on our radar though.

[2021-07-29 15:50] mandresm commented on #414
I'm currently working on it and try it to coordinate it with different groups. These different groups are using fesom-2.1 everywhere under fesom-2.0.yaml so I'm trying to put together a nice fesom-2.1.yaml before chaos takes over. I would recommend at this point @PengyangSong to wait until next week (I am thinking on having that in `develop`, not in `release`).

[2021-07-29 15:52] mandresm commented on #414
And by the way @PengyangSong , I found the exact same problem you are reporting here and it is solved for my branch, but it still needs a lot of extra work.

[2021-07-30 08:17] PengyangSong commented on #414
@mandresm thanks, and I would really appreciate if you can keep me updated with your bug fix.

[2021-07-30 08:26] mandresm commented on #414
@PengyangSong, this is not a bug fix, this is a new development, fesom 2.1 is not yet supported in ESM-Tools and we won't consider it fully supported until it's merged into release branch  in version 6.0 (happening in the coming weeks). This means I would expect a lot of problems if you decide to go ahead and use fesom-2.1 from ESM-Tools before release 6.0, and I would strongly recommend don't run

[2021-08-02 14:32] ackerlar opened #418 "KeyError: 'partitions'"
**Describe the bug**
When trying to run AWICM or PISM on mistral, I get this error:
[code]

**Expected behavior**
The run should start correctly.

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version
[code]

**Additional context**
Add any other context about the problem here.

[2021-08-02 14:52] dbarbi commented on #418
just pushed a bugfix to branch bugfix/mistral_partitions. Please try.

[2021-08-02 15:45] ackerlar commented on #418
it works, thank you!

[2021-08-02 15:45] #418 closed, assigned to nobody

[2021-08-03 09:12] ackerlar commented on #413
I managed to compile a running PISM with the preinstalled dependencies. However, I used my own script (`/pf/a/a270124/pism_build_sebastian02/BuildPismMistral.sh`) for compiling and I had to use a different gcc version in `configs/machines/mistral.yaml`:

`165         LD_LIBRARY_PATH[(1)]: /sw/spack-rhel6/gcc-9.1.0-lsnsye/lib64:$LD_LIBRARY_PATH`

and

`165         LD_LIBRARY_PATH[(1)]: /sw/rhel6-x6

[2021-08-03 09:19] denizural commented on #413
Hi @ackerlar, when you build PISM can you also redirect the output with `&>`. Sometimes models fully compile but there are warning messages which say that there can be runtime issues.

[2021-08-03 09:46] pgierz commented on #413
Alright, my own two cents: I am also able to build a PISM reliably one mistral, but with self-made scripts. @ackerlar, it sounds like you and I are currently in the middle of doing the same thing.

I would recommend the following:

* Lars keeps testing with the self-made variant to get that to run
* We build a "pism" module, which will live in one of the paleoclimate group folders (probably `/work

[2021-08-03 09:58] ackerlar commented on #413
@denizural a log file is here `/pf/a/a270124/pism_build_sebastian02/build_pism.48828.log`. Except for:
[code]
I cannot find any warning. However, I guess this warning shouldn't occur?

@pgierz sounds good! I will do some test runs and keep you updated.

[2021-08-04 14:44] koldunovn opened #422 "Add simple installation/run tests with GitHub actions"
I have added two versions of the tests in #421 :

`esm_tools_actions.yml` - uses the precreated Docker image. The advantage is one can use this Docker image to experiment locally and it's very stable, so you can make sure your model runs, if you decide to add them, will be binary identical. The disadvantage is - it is maybe too stable, and it's only one version of python you can check against.

`e

[2021-08-04 14:51] pgierz commented on #422
Yes, true. but we also aren't doing too many Python-version-specific things. If the docker image is based on Python 3.6, we should be on the safe side.

I agree, and I'll look into that tomorrow. Does it maybe also make sense to store the Dockerfile directly along with the rest of esm-tools? Whenever I build docker/python web stuff, I just dump it in along with the rest of the code. I am unsure if

[2021-08-04 15:04] koldunovn commented on #422
@pgierz I use a separate repository for this for FESOM, but I see some people also include them in the repository. It's not a problem to merge or split afterwards, I guess :)

[2021-08-04 15:09] koldunovn commented on #422
It's actually `3.8.10`

[2021-08-05 07:29] pgierz opened #423 "Bulletproof Runs"
Hello all,

@chrisdane  has been helping me out testing the "output from `echam.namelist`" feature, which will (once ready) allow you to figure out which files to move around based upon both the streams defined in your YAML and on top of that whatever the echam namelist `mvstreams` sets up for you (For details, see the parts of Issue #384)

In the process of testing, he accidentally managed to bre

[2021-08-05 07:34] dbarbi commented on #423
objection... we decided to not have any default for venv because either default will mess with people. i would rather not do that...

[2021-08-05 07:58] chrisdane commented on #423
I dont unterstand you Dirk. What Paul suggests was the default in the old esm tools, right? Everything was copied to the experiment directory and then used from there forever. In my view that made sense and as a user I would like to have that as well in the new esm tools.

[2021-08-05 07:59] pgierz commented on #423
@cdanek, to clarify for you. In principle, if you want to make sure nothing ever changes, always make a virtual environment.

What we currently have implemented is:

| Runscript Option | Command Line Option | Already using a venv at submission time? | Tool Location Used | Tool Version Used |
| - | - | - | - | - |
| unset | unset | No | `~/.local/lib/python-<version>/site-packages/esm-tools` | what

[2021-08-05 08:00] dbarbi commented on #423
No, in the old esm-tools we didn't have any virtual environment. i agree with you it makes a lot of sense to use venv for runs, but as we have also developers to think about, they don't want to use it. that's why we have the interactive question if you don't specify anything - to make you aware that venv exists, and to think about whether you want to use it

[2021-08-05 08:03] pgierz commented on #423
I think I even made that part bright green in the question:
https://github.com/esm-tools/esm_runscripts/blob/9405139c2ddee6eeb7c9454de3cd0be81e65ba2b/esm_runscripts/virtual_env_builder.py#L246

[2021-08-05 08:06] pgierz commented on #423
Chris, how did you launch the run that got messed up? Did it have anything set, or did you use any command flags?

I **could** check if anything is set, and then be pedantic and ask the user even one more time, just to be sure. That would quickly get annoying though. Or @dbarbi we make a secret flag "developer mode" or something that skips the second question if something is already set.

[2021-08-05 08:17] pgierz commented on #423
Something not on my table but probably should be, if both the runscript and the command line are set, the unscript wins. Maybe I should swap that around...

[2021-08-05 08:17] chrisdane commented on #423
What is the reason for the developers not to to so? It takes too long to copy everything? The cp process could run in the backgroud? And if the model needs to be resubmitted before the venv copy is ready (the only problematic case?), the esm_tools could wait until the copy process is finished (btw it takes ~6 minutes on mistral, not ~3).

The problem with this interactive part is that if I submit

[2021-08-05 08:42] pgierz commented on #423
This is a good question. Actually, in the Python world, you should be basically always using a separate environment for each project to avoid version conflicts.

We could require two separate people to double check each runscript used for production. Maybe even with a GPG signature. But this is way waaaaay overkill. I'm sure there is even a python library to check against GPG, but that's one of th

[2021-08-05 08:52] chrisdane commented on #423
In a perfect world I would use the last stable version of the esm_tools. But it never reached a stable state for my simulations: I never made a single run with `release` (please make a survey and realize that I am not the only one).

So the current venv implementation forces me to push a new version/branch of the esm tools even with only one character changed compared to release. This strategy spa

[2021-08-05 08:59] pgierz commented on #423
Isn't any typo you fix good for the overall project?

[2021-08-05 10:29] pgierz commented on #422
OK, so, a few things I discovered already:

* There is a GitHub action to automatically build containers. I had actually hacked together something that might have done this as well, but I would prefer to trust the pros. https://github.com/marketplace/actions/build-and-push-docker-images. So, @koldunovn, if you ever want to automatically have dockerized FESOM, that seems to be do-able. I'm not sure

[2021-08-05 11:00] dbarbi commented on #423
I can't give that any priority.

[2021-08-05 11:26] koldunovn commented on #422
@pgierz

Thanks for the tip! Currently I also hardly see the use case for FESOM, but post processing tasks is a different story, the first candidate would be https://github.com/FESOM/fdiag . Singularity allows to just expose, for example `fdiag` command, that would be running fdiag in the container (well, you create an `fdiag` alias), but will look like a normal command for the user. In general ha

[2021-08-10 08:35] ackerlar opened #425 "Overlapping workflow jobs in coupled model setup"
**Describe the bug**
When I run the coupled setup AWIESM + PISM, bash scripts are executed during the couple in and couple out in order to preprocess the data. In my PISM runscript I say that the couple in job shall be run before `precompute`:
[code]
Sometimes it happens that the execution of the shell script takes a bit longer. So that the `compute` job already started but the shell script has no

[2021-08-10 08:49] pgierz commented on #425
I thought the workflow manager was supposed to be able to figure out when to launch the compute (or, I guess now it is called precompute) job.

I think Lars' second idea is sensible: we can list certain files that need to exist before the next job can start. Whether or not these files are actually digestible by the next model is a different question. But it should not be too difficult to put some

[2021-08-10 09:54] ackerlar commented on #425
This quick fix solved it for me for now [https://github.com/ackerlar/esm_runscripts/commit/5ab0c15c890b74ea80edd767da9f6e5dd8b1c53a](https://github.com/ackerlar/esm_runscripts/commit/5ab0c15c890b74ea80edd767da9f6e5dd8b1c53a)

[2021-08-11 08:33] ackerlar commented on #379
I am trying to run a historical simulation and I have got the same error as @chrisdane got before:
[code]
I have tried `release`, `hotfix/echam_volcan` and `hist_fixed` for `esm_tools` and `esm_runscripts`, respectively.

On `prep_release`, I get this error:
[code]

 Is there a fix for it I didn't recognize?

[2021-08-11 08:44] denizural commented on #379
Hi @ackerlar, did I get it correctly that you tried with `hist_fixed` branch in `esm_runscripts`?

[2021-08-11 08:54] ackerlar commented on #379
Yes, I also tried `hist_fixed` in `esm_runscripts`:

[code]

With this error occuring:
[code]

[2021-08-11 09:30] denizural commented on #379
Ok, I will look at this asap. Could you please provide a path to your runscript

[2021-08-11 09:32] ackerlar commented on #379
@denizural thank you! Here is my runscript: `/pf/a/a270124/for_fernanda/run_hist.yaml`

[2021-08-11 09:33] ackerlar commented on #379
Sorry, closed the issue accidently...

[2021-08-24 09:55] pgierz commented on #423
So, what's the status here? Do we need to include a section in the handbook to clarify things?

[2021-08-24 09:57] pgierz commented on #422
Please see also #435: I added style and syntax checks.

I recommend we go over this at our internal retreat, and then after agreeing on a strategy, we should put Nikolay's stuff in and close the issue.

[2021-08-24 13:20] pgierz commented on #378
Hey, this can be safely closed, right? If not, please re-open.

I am trying to cut down the issues before we start merging for the next release.

[2021-08-24 13:20] #378 closed, assigned to denizural

[2021-08-24 13:21] pgierz commented on #409
Please see the PR #436 and re-open if needed.

[2021-08-24 13:21] #409 closed, assigned to nobody

[2021-08-24 13:22] pgierz commented on #390
Related PR is merged, I am closing this to cut down the issues before the next release. Please re-open if it any extra discussion is needed.

[2021-08-24 13:22] #390 closed, assigned to nobody

[2021-08-24 13:41] pgierz commented on #384
There is a relevant PR that allows you to use the echam namelist to automatically define the streams. You must set it up in your run config. Please see: https://github.com/esm-tools/esm_runscripts/pull/165

Closing for now, re-open if more discussion is needed.

[2021-08-24 13:42] pgierz commented on #263
This never popped up again, who knows what that was. Please re-open if we need, but closing to prepare for the release.

[2021-08-24 13:42] #263 closed, assigned to nobody

[2021-08-24 13:43] pgierz commented on #423
Re-open if needed, please.

[2021-08-24 13:43] #423 closed, assigned to nobody

[2021-08-24 13:46] pgierz commented on #369
As this is not really an esm-tools problem but rather one for echam/fesom/oasis, I will close this issue to start cleaning up for Version 6. Please re-open if further discussion is needed

[2021-08-24 13:46] #369 closed, assigned to nobody

[2021-08-24 13:47] pgierz commented on #368
Closing for now, as we want to clean up for release 6. Please re-open if any extra discussion is needed.

[2021-08-24 13:49] pgierz commented on #344
I'm cleaning up, sorry if this gets "rudely closed"

Why not just do a `git clone` if you need a particular model without compiling?

[2021-08-25 06:52] pgierz commented on #379
Hello, I am going through the issues to clean up before we start preparing everything for version 6. Can this one be closed? Lars, is your stuff running now?

[2021-08-25 06:54] pgierz commented on #2
Hello, I am going through old issues and closing stuff to prepare for version 6. I am going to guess that this is outdated, given that it is over a year old. Joakim, if you need any more discussion for HDF5 stuff, please open a new issue.

[2021-08-25 06:54] #2 closed, assigned to nobody

[2021-08-25 06:55] pgierz commented on #31
Closing this, post-processing can be integrated into Dirk's new workflow manager which will be available for everyone in release 6.

[2021-08-25 06:55] #31 closed, assigned to nobody

[2021-08-25 06:57] pgierz commented on #57
This is actually just looking for the wrong string. We should instead look for "lookup table overflow" in the log file. The following python script may be used as a template for wind speed checks:

https://gitlab.awi.de/paleodyn/Utilities/technical_model_utils/-/blob/master/check_for_windspeed.py

[2021-08-25 06:57] #57 closed, assigned to nobody

[2021-08-25 07:00] pgierz commented on #58
Two things were wrong here:

* `-U` did not work (that has been fixed)
* wind speed updates were not applied correctly: this has also been fixed, but it does not happen automatically.

If there is a desire for an automatic fix and resubmission, please open up a new issue. I am going through the old ones and cleaning up before we start release of version 6.

[2021-08-25 07:00] #58 closed, assigned to nobody

[2021-08-25 07:01] pgierz commented on #115
Closing for now, please open a new issue if we still need to discuss pool problems (I guess, we will need to discuss them still)

[2021-08-25 07:01] #115 closed, assigned to nobody

[2021-08-25 10:02] pgierz commented on #386
@chrisdane: any progress here? Can I close this one?

[2021-08-25 10:14] ackerlar commented on #379
It is not running for me, yet. But maybe there were some updates I am not aware of?

[2021-09-02 20:36] ackerlar opened #445 "Model crash of AWI-ESM-2.1 after PISM coupling"
**Describe the bug**
After the coupling step from PISM to AWI-ESM-2.1 the model sometimes crashes with this error:
[code]
`/work/ba0989/a270124/PalModII/experiments/125ka_awiesm-pism/log/125ka_awiesm-pism_awiesm_compute_20150101-20151231.log`

I don't think the crash is related to the missing restart files as the error ` inquire_rerun_file: restart_125ka_awiesm-pism_spm.nc - No such file or direct

[2021-09-03 11:15] denizural commented on #445
Hi @ackerlar,

# TLDR:

could you please change the line
[code]
to something higher eg. 512 (or even more)
in file `mo_exception.f90` and build Echam again.

---

I looked at your Echam version (`/mnt/lustre01/pf/a/a270124/awiesm-2.1/echam-6.3.05p2-concurrent_radiation-paleodyn/src`). I am able to replicate the same error on a dummy program that I will show you later in the reply.

What I am specu

[2021-09-03 12:58] ackerlar commented on #445
Thank you @denizural Unfortunately, I am in the queue on mistral all day. I will test what you suggested and give an update once the run started.

[2021-09-04 12:01] ackerlar commented on #445
The model crashed not with this error:
[code]
These variables are actually fields in the PISM restart file ...

According to `IO_open` in `mo_io.f90` (which is called by `IO_open_unit`) this error message is called when `fileinfo%opened==.true.` To me it is not clear when and where `fileinfo` (which is `yearnc` in the call of `IO_open_unit` in `mo_clim.f90`) is assigned... So I guess `fileinfo%ope

[2021-09-05 21:44] denizural commented on #445
Hi Lars,
I checked the Echam code in more detail and here are my explanations:

First of all, the line in the log file
`IO_open_unit: unit 92 allready assigned to basal_mass_flux_doubleing, .... # bunch of stuff`
is very suspicious. This line is printed here:

[code]
so `fileinfo%file_name` is not read correctly. I am not very aware of your AWI-ESM simulation setup but you can have a look at this.

[2021-09-06 15:45] jrberlin commented on #344
Hi
I am having exactly the same error, just wanting to do some basic tests, such as getting the code of a given model, even adding a configuration file matching the computer name inside config/machines throws the same error , is there any wiki with information on how to add a new machine properly ?

Thanks !

[2021-09-06 16:23] pgierz commented on #344
Hi, "better errors" is something that has been on our list. Sorry you are running into problems.

Can you push whatever you have so far? One of us can then take a look. If the machine file is good, there might be a bit missing in "known machines" (@Miguel or Deniz am I remembering that wrong?)

[2021-09-07 08:00] ackerlar commented on #445
I think, I finally found the reason for this error: During the coupling (and especially when I had to resubmit the coupling job due to other errors) the latest ECHAM restart file is modified including adding the `history`and `history_of_appended_files` which get extreme long `/work/ba0989/a270124/PalModII/experiments/125ka_awiesm-test/restart/echam/restart_125ka_awiesm-test_10201231_echam.nc.bak`

[2021-09-07 08:00] #445 closed, assigned to nobody

[2021-09-07 09:05] jrberlin commented on #344
Hi, I only did the following:

- copied an existing machine file (mistral.yaml) and renamed to the workstation name (bscearth384.yaml) where I am trying to run in esm_tools/configs/machines, I also added a entry in all_machines.yaml

- I added a new configuration that points to a different git repository, I added such option inside fesom-2.0.yaml: file and then I execute the following line : esm_m

[2021-09-07 09:20] denizural commented on #344
Hi @jrberlin,
I am also working on this feature since I would like to adapt esm-tools for small computing systems such as faculty workstations for teaching purposes.

There is going to be a `--machine <your_machine.yaml>` or
[code]
in esm executables.

Regarding your previous problem, do you have a repository or fork where I can have a look at what you did? I am reopening this issue since it is a

[2021-09-07 09:23] pgierz commented on #344
Can you post your versions: esm-tools should have installed the version checker for you, just try `esm_versions check`, and put whatever you have online? Hopefully you have `$HOME/.local/bin` in your path, and if you do an `ls` there, you should see the various esm programs.

I don't have access to your specific machine, so I will only be able to do "minimal" tests with a dummy machine running Ubu

[2021-09-07 09:27] pgierz commented on #344
Yes I closed it in my "cleanup frenzy"...sorry for that.

[2021-09-07 10:06] jrberlin commented on #344
Hi @pgierz , the workstation in question have suse Linux

[code]

[code]

our goal is to also do some adaptations to use in other HPCs and also be able to point to different repositories where other models are present

[2021-09-08 08:11] ackerlar commented on #148
Are there any updates regarding this error catching? I was not sure whether to open a new issue or bring this one up to the top again.

At the moment I run into quiet a lot of segmentation faults on mistral with AWI-ESM (`/work/ba0989/a270124/PalModII/experiments/125ka_awiesm-test/log/125ka_awiesm-test_awiesm_compute_10300101-10301231.log.bak`). In general, the model continues after resubmitting t

[2021-09-08 08:43] denizural commented on #148
Hi @ackerlar,
I am glad that you bring this issue up again. I actually made a fix for Slurm to handle that. It checks the return code of the previous job and decides to resubmit or exit based on that.

It works on Mistral but not on Ollie since the users don't have direct access to Slurm in Ollie. I talked with the admins but it looks like there won't be a feasible solution on Ollie for now.

I to

[2021-09-13 08:34] ackerlar commented on #148
@denizural Thank you! I tried to implement the changes from [esm-tools/esm_runscripts@3b5ab0e](url) into my `esm_runscripts` versions but it seems to not make any differences. I guess there is more that needs to be changes?

[2021-09-13 14:02] jrberlin commented on #344
Hi,

I think I found one of the problems: the YAML file for the generic machine lacks of the name field, I added it by hand but still having other errors:
[code]

I think maybe that dict is not instantiate in that call ?

[2021-09-13 14:32] fernandadialzira commented on #154
@pgierz I have been having the same problem, but doing a historical simulation under mistral. I will try to install the esm_tools and model under ollie and see if it works

[2021-09-13 19:04] pgierz commented on #154
Hi Fernanda,

I just mailed you about this I believe. If it is the same problem, we can look on Wednesday. Otherwise I would suggest to open a new issue so it's on the radar of more people. I don't think the "closed issues" pop up.

In any case, the problem I described here was with an old version of esm, I would be very surprised if what I had back then is still an active problem with the new ver

[2021-09-14 08:19] #425 closed, assigned to nobody

[2021-09-22 15:07] fernandadialzira opened #453 "Model cannot be compiled if a folder is assigned under .bash_profile"
Machine: mistral
Version: 5.1.6

Steps to reproduce
1. under ~/.bash_profile I added a line to open my work folder directory ("cd /work/...)
2. tried to compile AWI-ESM2.1 under a direnv from git lfs (tutorial from: https://www.youtube.com/watch?v=tz0_tL04c9I&ab_channel=PaulGierz)

Model does not compile giving me the message that the component for oasis is missing. It happens because it is runnin

[2021-09-22 18:34] pgierz commented on #453
So, the quick solution is to temporarily modify the bash login, which we did

I would recommend that we wait until I get the automatic test up and then we try to remove the -l part. Hopefully I will finish that tomorrow.

If everything still works for all the models, we put it in.

[2021-09-24 12:03] vkolatschek opened #455 "fesom_mesh_part install not working"
**Problem**
I'm trying to create the partitioning files for a new mesh for fesom-1.4. To do that I tried to install fesom_mesh_part-1.4. The installation doesn't finish because of a mismatch of directory names.

**To Reproduce**
`esm_master install-fesom_mesh_part-1.4`

**Error message**
[code]
Of course it can't find fesom_mesh_part-1.4/**mesh_part**/build/fesom.x.ini, because that directory does

[2021-09-24 14:56] joakimkjellsson opened #456 "Grouping coupling fields in OASIS3-MCT >= v3"
Hey all

MCT version 3 and above supports grouping of coupling fields, i.e. sending ice fraction and SST together. This means interpolation is done only once for the entire group rather than separately for each field.
In my experience this can reduce run time by 10-20% depending on the model.

The namcouple would normally say e.g.
[code]

but when grouped, it will read something like
[code]

I tri

[2021-09-26 15:08] mandresm commented on #455
Hi @vkolatschek, I have made a fix and applied to `hist_fixed` branch in `esm_tools`. You should be able to don't face this problem anymore after pulling that branch.

Please, let me know if that worked.

[2021-09-26 15:24] mandresm commented on #456
Hi @joakimkjellsson ,

Isn't this what it is done in `AWICM2`? For example, in `configs/setups/awicm/awicm-2.0.yaml`:

https://github.com/esm-tools/esm_tools/blob/195ae01180a7ee41c8a587e4bbc224aed322d96e/configs/setups/awicm/awicm-2.0.yaml#L123-L129

I think that's also the same for `AWICM3`:

https://github.com/esm-tools/esm_tools/blob/d1e9a1b92527524a7893728ba7500cfa8b4cf8b3/configs/setups/awicm

[2021-09-26 15:59] mandresm commented on #456
Hi @joakimkjellsson,

I think this feature is implemented since quite a while in ESM-Tools. This is something we normally do in `AWICM2` and `AWICM3`. I don't understand very well why is not working for you.

I tried the following on `mistral`:
1. I checked out `geomar` branch in `esm_tools`
2. Modified the `focioifs.yaml`
[code]
3. And then I got the following in the `namcouple` running `esm_runs

[2021-09-27 07:46] vkolatschek commented on #455
Yes, that look good. Thank you @mandresm !

[2021-09-27 07:48] mandresm commented on #455
Great! Thanks for reporting. I'll close the issue now.

[2021-09-27 07:48] #455 closed, assigned to nobody

[2021-09-27 17:03] joakimkjellsson commented on #456
Hmm. Strange that I did not get this...
Well, I'll investigate and make sure I'm on the right esm versions.

Cheers
Joakim

[2021-10-11 12:55] mandresm opened #468 "Better error handling of problems in the namelists"
**Is your feature request related to a problem? Please describe.**
When users submit a simulation with `namelist_changes` in the runscript that are missing either a section inside the namelist, or the name of the namelist they are trying to modify (but still specifying the variables), they get (the case for @sveta-loza who reported the problem) a criptic error:
[code]

Error handling for incorrect

[2021-10-12 10:39] khimstedt opened #469 "Problems when extending a component configuration in echam.yaml in connection with "choose_computer.name""
In connection with modifying .../esm_tools/configs/echam/echam.yaml for building a version of the proglacial lake extension "6.3.05p2-concurrent_radiation-paleodyn-plake" of ECHAM6 on the Mistral cluster two problems occurred.

I added the following lines:
[code]

Trying to build on Mistral gives the following result:
[code]

I placed the entry for "6.3.05p2-concurrent_radiation-paleodyn-plake:" t

[2021-10-14 07:42] #456 closed, assigned to nobody

[2021-10-14 07:43] joakimkjellsson commented on #456
I've determined that this can be done in ESM-Tools. The problem seems to be with my OASIS config instead. I'll close the issue now.

[2021-10-14 10:02] chrisdane opened #470 "slurm batch configs ignored by esm tools"
**Describe the bug**
The esm_tools on release ignore the runscript entries
[code]
The resulting .sad file has the mistral default values:
[code]

See runscript and .sad file:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
User parameters should always win if valid.

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version

[2021-10-14 10:06] mandresm commented on #470
Hi @chrisdane , all these variables belong to the section `computer`, not `general`. If you add a `computer` section and place the variables there that should do the job.

[2021-10-14 10:24] denizural commented on #470
Hi @chrisdane, regarding the email part, that was something I already fixed before, but as @mandresm says, these variables should go under `computer` section instead. We can close the issue after you can verify them.

[2021-10-14 10:55] pgierz commented on #470
@denizural, if it is fixed, are you sure it was also merged?

[2021-10-14 10:58] denizural commented on #470
Yes, @paul that was a long time ago when Nadine found that. She saw that Slurm was not sending an e-mail. Here:
https://github.com/esm-tools/esm_tools/issues/232

[2021-10-14 11:03] chrisdane commented on #470
Thanks for your help

1. In my view it does not make sense to split SBATCH arguments over different yaml sections. Why does `account` belong to `general` but `mail_type` (which actually is called `mail-type` for slurm) in the `computer` section? As a user I find that counter-intuitive.

2. The runscript entry
[code]
results in
[code]
i.e. in one line and not two lines in the .sad file.

3. The run

[2021-10-14 13:46] chrisdane commented on #470
Regarding 3): using
[code]
works and yields
[code]
in the .sad file, i.e. the same batch args as the default:
[code]

This also works for the `awicm-1.0-recom` setup (resulting `--ntasks=864`).

[2021-10-14 13:59] pgierz commented on #470
For 3, that needs to be added to the available possible partitions in several places in the configuration yamls...
https://github.com/esm-tools/esm_tools/blob/564d6874b5236ef599721ed37dd9649cbccc0dc6/configs/machines/mistral.yaml

Be aware that mixing up compute and compute2 may yield to non-reproducible results!

[2021-10-14 14:02] chrisdane opened #471 "gitstatus of .venv_esmtools"
**Is your feature request related to a problem? Please describe.**
Without a gitstatus or similar in an arbitrary `.venv_esmtools` directory, its hard to see which branches/tags/versions were used.

**Describe the solution you'd like**
A gitstatus or similar of every bin in a `.venv_esmtools` dir.

[2021-10-14 14:13] chrisdane opened #472 "copy model source code to experiment directory"
**Is your feature request related to a problem? Please describe.**
By using branches instead of directories, the model code used for an experiment might change although its path stays constant. This may cause confusion when comparing model simulations with different model code but the same path to the model code (at least it happened to me).

**Describe the solution you'd like**
One solution would

[2021-10-14 14:27] mandresm commented on #470
1. That can be easily included. I'll have a look at that tomorrow.

2. Is there a technical problem with having it in the same line in the .sad file?

[2021-10-14 14:29] chrisdane commented on #470
2. No, just very unusual.

[2021-10-14 14:34] chrisdane opened #473 "TypeError: '>=' not supported between instances of 'int' and 'NoneType' if job resubmitted with venv"
**Describe the bug**
When I continue a run that already has a `.venv_esmtools` dir, the following error occurs at the end of the `esm_runscripts runscript.yaml -e expid`-call:
[code]

**To Reproduce**
Complete a run with venv. Continue the run.

**Expected behavior**
No error.

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version [Please run `esm_versions ch

[2021-10-14 14:59] chrisdane commented on #384
The PR does not work.

The following workaround quasi-works:

1. specify an individual namelist.echam and further reading files via
[code]
2. similarly as for Fesom, put the echam and jsbach streams to be created by the special namelist.echam:
[code]
and
[code]
3. Run the model

The following does not work yet:

1. Only January outdata files are moved to the respective `outdata/<model>` dirs. The

[2021-10-14 15:06] denizural commented on #473
Hi @chrisdane, could you please try again with `use_database: false` under the `general` section.

[2021-10-14 15:21] denizural commented on #470
I made a detailed discussion of these issues with @chrisdane and here are our agreements:

- multiple options of a SBATCH line are fine for Slurm but some people may find them confusing. Later on, we may consider writing each Slurm option on a separate SBATCH line
- Having some options going to `computer` and some going to `general` is confusing like in the case of `partition`. Users can't memoriz

[2021-10-15 06:33] mandresm commented on #470
I am already working on your third point, modifying the slurm.yaml

[2021-10-15 06:51] chrisdane commented on #473
same

[2021-10-15 07:40] EnricoDeg opened #474 "esm_runscript long run issue"
Hello,

I'm trying to set up a **2 years** run of AWI-CM with the ESM-tools but when the second year starts, the simulation crashes because some input files are missing. I think that the problem is with the ```esm_runscript``` command or with my ```yaml``` file.

The experiment is based on this Gitlab project:

https://gitlab.awi.de/paleodyn/Projects/technical/processor-partitioning

You can find

[2021-10-15 08:17] denizural commented on #474
Hi @EnricoDeg could you also paste the output of the `esm_versions check` command so that we can see which version you are using.

[2021-10-15 08:59] pgierz commented on #384
I would not say the PR does not work. I would say it does not work *yet* ;-)

Can you send me the path to your experiment? I will have a look.

[2021-10-15 09:12] EnricoDeg commented on #474
Here is the result of ```esm_version check```

esm_calendar
├─ version: 5.0.0
├─ path: /mnt/lustre01/pf/k/k202136/.local/lib/python3.6/site-packages
├─ branch:
└─ tags:

esm_database
├─ version: 5.0.0
├─ path: /mnt/lustre01/pf/k/k202136/.local/lib/python3.6/site-packages
├─ branch:
└─ tags:

esm_environment
├─ version: 5.1.1
├─ path: /mnt/lustre01/pf/k/k202136/.local/lib/python3.6/site-packages
├─

[2021-10-15 09:59] chrisdane commented on #384
`/work/ba1103/a270073/out/awicm-1.0-recom/awi-esm-1-1-lr_kh800/historical2`

Correction: the 2 problems affect jsbach files only.

[2021-10-15 15:29] mandresm commented on #470
Points 1 and 3 are resolved and merge. I think point 2 is more a matter of personal preference, I prefer to have all the info about the email in one single line, but I also don't have a strong opinion about it... I don't think this needs to be changed now as there are more pressing issues going on, so @chrisdane, feel free to keep this open if you want to further discuss point 2 and we add it to w

[2021-10-15 15:55] mandresm commented on #469
Hi @khimstedt,

What you are seeing here is a safety feature to avoid conflicts of environment variables with the same names, that could be accesses simultaneously. However, in your case those environments cannot be accessed simultaneously as they are under different versions and therefore, this is a bug. I'll be working on a solution. In the mean time, another possible work around is to substitut

[2021-10-18 07:38] chrisdane commented on #470
Thanks a lot.

The changes you made only affect the mail and cores per node in case of compute,compute2.
What will happen if I add/edit any of the huge number of SLURM sbatch arguments (https://slurm.schedmd.com/sbatch.html)? Where do I have to enter these? Why do I have to call it mail_type although the actual sbatch argument is called mail-type? Still not intuitive at all.

I'm afraid the real s

[2021-10-18 10:29] EnricoDeg commented on #474
You can have a look at the log file. Here you can find the error at line 65044:

```/work/bk0993/k202136/processor-partitioning/experiments/2y/scripts/2y_compute_20000101-20011231_32709913.log ```

The problem is that at the beginning of a new year, the file ```aero_coarse``` is read at the previous, current and next year. In the work folder, you can see that only the files for 1999, 2000 and 2001

[2021-10-18 11:37] mandresm commented on #470
I could change `mail-type` and `mail-user` if that's a problem, and hope people are not using already the underscore version and get annoyed that stop working...

For your general suggestion, I think that belongs to the cleanup phase, but we are not yet there. We are working on version 6.0 and I don't see a place for big changes right now. However, `computer.additional_flags` allows you to setup a

[2021-10-18 12:29] pgierz commented on #470
My 2 cents: I agree with Chris that we should replicate the slurm flag names as best we can. Since yaml allows `-` in variable names (Python does not, but we can convert in the background), that should not be a problem.

Not for the "To do right now" list, but, perhaps we just make an entirely new chapter for the batch system? e.g.:

[code]

that could then map directly to slurm flags. We can do s

[2021-10-18 13:34] chrisdane commented on #470
Thanks for the additional_flags Miguel, that is indeed helpful.

I would keep this open as enhancement =)

[2021-10-21 18:10] JanStreffing opened #483 "Model names cannot contain hyphen."
This bug just lead a bit of confusion for me. When the name of a component of a setup contains a hyphen, esm_master cuts of the name is some instances and crashes:

[code]

I double checked that there was no place where the model was called `amip`. only `amip-forcing` everywhere. Downloading and installing of the standalone component works, but I guess when it's part of a setup the name runs throu

[2021-10-21 19:00] denizural commented on #483
Hi @JanStreffing,
I think I am able replicate it to some degree but to make my life easier could you please give a more detailed example. Eg. added yaml files and directories and the command that you used.

Edit: Ok, I am not totally able to replicate the bug with dummy data.

[2021-10-21 20:16] JanStreffing commented on #483
Hey Deniz, sure! Those can be found in https://github.com/esm-tools/esm_tools/tree/e1528015e49d3e839eb47a0ce26c96e47f72472b. Although what I committed in the end was the version where I did not use the hyphen for obvious reasons.

To reproduce, you could just rename amip to amip-reader here:
https://github.com/esm-tools/esm_tools/blob/e1528015e49d3e839eb47a0ce26c96e47f72472b/configs/setups/oifsami

[2021-10-21 22:29] denizural commented on #483
OK, the bugfix seems to work with my dummy data. Tomorrow (actually today 😄), I will try it with your branch.
Since the part that breaks the code is quite fragile, I need to test it for other models and setups as well.
I will give more detail in the following pull request. Thanks for the bug report 👏

[2021-10-22 08:09] mandresm commented on #483
@denizural, let me know if you want me to run the testing once you finish with the bugfix, it's just one command line

[2021-10-22 09:32] JanStreffing opened #484 "Error handeling in case of empty yaml block."
This error handling was a bit confusing while setting up oifsamip setup.
I erroneously added an empty block for the amip component to my first runscript, thinking that it would be good to show other users that the possibility to add custom amip options exists. Even though I did not have any right now.
[code]
This is not correct yaml syntax. However instead of getting an error about wrong yaml synt

[2021-10-22 09:33] mandresm commented on #484
Thanks @JanStreffing, I'll work on this throughout the day.

[2021-10-22 19:18] denizural commented on #483
Hi @JanStreffing,
Although I am able to fix the error with my dummy data, I could not do it with the files that you provided. Probably, I did something wrong.
I pushed the new branch `jan_hyphen_bug` to `esm_master` and `esm_parser`. Could you please switch to these and try it. Alternatively, as you mentioned before, you can push a buggy branch and I can try it.

[2021-10-24 21:03] chrisdane opened #485 "TypeError: argument of type 'NoneType' is not iterable"
**Describe the bug**
A resubmitted job suddenly throws this error:
[code]
Everything was ok before, nothing changed.

**To Reproduce**
[code]
will immediately yield the error.

**Expected behavior**
No error.

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version [Please run `esm_versions check`]
<details>
<summary>Click to expand</summary>

esm_analysis
├─ v

[2021-10-25 06:43] denizural commented on #485
I will have a look at this now.

[2021-10-26 15:09] JanStreffing opened #486 "Numbering of waminfo file"
@mandresm and I found that the OpenIFS Wave model restart control file waminfo is tagged with a date when copied to the restart file folder. We could not see a reason as to why. This made some trouble for  @mathanase in an edge case, using an OpenIFS restart that was not made with esm_tools.

Issue is low prio.

[2021-10-27 10:02] mandresm commented on #484
Fixes took place on `prep_release` branches of `esm_rusncripts` and `esm_parser`, and it'll be part of release 6.0.

Now it displays the following message when a component is empty in a yaml file:
[code]

[2021-10-27 10:20] mandresm commented on #484
I was to fast to closing the issue, there are problems with the fix. I reverted the fix to a status where things where working, and I'll make it work later.

[2021-10-27 16:12] JanStreffing opened #487 "Error treatment with invalid fortran namelist"
Another issue from the error handling wishlist: I accidentally provided an invalid fortran namelist, which esm_tools tries to parse.  At the moment ones gets the following error message:

[code]

While it is fairly clear from the message that something went wrong with f90nml/parser, it's not clear that invalid namelist format was the problem, nor which namelist was affected. I would suggest an err

[2021-10-27 16:31] denizural commented on #487
Hi @JanStreffing,
could you please provide an excerpt from the buggy namelist so that we can replicate the issue. Maybe we can even point this out to `f90nml` developers

[2021-10-27 21:06] JanStreffing commented on #487
Hey Deniz, sure thing! The namelist template was missing the final `/` in the last line:
[code]

[2021-10-28 07:20] pgierz commented on #487
Not sure if this pops up automatically, but in case not, please see: https://github.com/esm-tools/esm_tools/commit/202f2b592308143d4c00aa8ce228be450253e104. I am not particularly happy with `f90nml` giving `StopIteration`, but, now it should at least print something slightly less cryptic.

[2021-10-28 12:45] denizural commented on #484
I am writing a fix for this error which will also serve as a feature.

[2021-10-28 14:30] JanStreffing opened #488 "Suggestion to rename input_in_work and input_files to make functionality obvious from name"
Here is another small issue I stumbled over in my experiment of implementing a new setup with minimal esm_tools developer help. I forgot to add `input_files` in the following code block, because I thought I only need to give one list of files and one list of sources:

[code]

After talking to Miguel, I understand that `input_in_work` and `input_sources` are lists of all potential input files & sor

[2021-11-02 08:56] xshi-awi opened #490 "reading in the forcing from the transient forcing table"
**Describe the problem you are facing**
There was a problem with reading in the forcing from the transient forcing table

**To Reproduce**
Steps to reproduce the behavior:
submit /pf/a/a270064/bb1029/awiesm_exp/test.yaml

**Runscrip and other relevant files**
 /pf/a/a270064/bb1029/awiesm_exp/test.yaml
/pf/a/a270064/bb1029/awiesm_exp/data_6-0k/forcing_table.txt

**Screenshots**
- NOTE: removing the

[2021-11-02 17:39] pgierz commented on #488
This is something I had been hoping to redesign. I may post a suggestion tomorrow. Right now we are basically making a linked list , but it could be nicer...

[2021-11-02 17:40] pgierz commented on #485
Expected behaviour: No error. I love it ❤️

[2021-11-03 14:03] #490 closed, assigned to nobody

[2021-11-05 10:00] pgierz commented on #485
Ok I have some time to look now. Please confirm the following:

- [x] You are on a development branch, hist fixed
- [x] You are using a virtual environment and should be shielded from outside changes
- [x] the run works in one year, and suddenly stops in the next
- [x] The cleanup step is what is messing up
- [x] Your Esmtoolsrc file in the home folder does not contain any paths, just your user na

[2021-11-05 10:16] chrisdane commented on #485
Point one is not precise. As given in my initial post, there are different non-release branches involved:
[code]

Point 4 is not clear to me. The runscript says
[code]
before the error. So no cleanup but next compute job submission?

[2021-11-05 10:19] pgierz commented on #485
Well, cleanup and send next job are the same step, so that one is also a checkmark...

To clarify here, "step" is (on my side) a misleading term. Perhaps "phase" is better. Effectively you always have something like "Python part: build the next job" --> "Slurm part: run the model" --> "Python part: clean up and build the next job"

[2021-11-05 10:31] pgierz commented on #485
OK, the version of esm_master is (for this problem) completely irrelevant. I am more confused as to what (if anything) changed in `esm_tools`. Something must have. That means, though, that the virtual environment isn't behaving properly, which would be bad news.

[2021-11-08 09:36] mandresm commented on #486
There was actually a reason for that:

Let's say you are doing a branch off experiment, and you want to restart at some point that is not the final leg of your experiment. Then you setup the correct restart dates in your runscript for restarting, and ESM-Tools automatically gets the correct oifs restart files for you, except the `waminfo` file, in which case it gets the last one. I am not 100% sur

[2021-11-08 09:53] mandresm commented on #486
@mathanase , I know we found a solution for this problem through out the runscript. Can you provide the solution?

Also, can you describe what the problem was a bit more in detail? Was the problem for restarting and ESM-Tools ksh simulation?

[2021-11-09 09:19] mathanase commented on #486
The problem was that with ESM-Tools, oifs restart folders are organised such as:
`/parent_exp_folder/restart/oifs/yyyymmdd/`
Where `yyyymmdd` is the last date of a given leg.

With the ksh-scripts, the folder structure was slightly different, such as:
`/parent_exp_folder/restart/oifs/leg_number/`
Where `leg_number` can go from 00001 to 99999.

The solution is to add the following lines in the ESM-

[2021-11-09 09:44] mandresm commented on #486
Thanks a lot @mathanase for this very detailed explanation. Is also good to have it in one place so that we can remember.

So the lines that are specific to this issue are:
[code]

I think that the benefits of time stamping the `waminfo` file exceed those of not doing it. However, we could always include an option for restarting from a ksh experiment, including all the lines @mathanase has reporte

[2021-11-15 14:04] JanStreffing opened #499 "More flexible name for loading data into pyfesom2 or adapting esm_tools to pyfesom2 nameing convention"
Currently esm_tools move FESOM2 output files into an output folder and rename them from eg.
ist.fesom.1992.nc to ist.fesom.199201.01.nc. The reason is that FESOM2 normally keeps everything in the work folder in between runs. Thus if a run is less than one year long, FESOM2 just keeps adding timesteps to the output files. Esm_tools on the other hand moves all files into outdata/fesom/. Therefore it

[2021-11-15 14:09] mandresm commented on #499
This is already taken care in `monorepo` branch:

https://github.com/esm-tools/esm_tools/blob/c5a4acb038e1f4cc48d9d56c2278f47d23fef935/configs/components/fesom/fesom-2.0.yaml#L154-L157

If you need it now for AWICM3 branches you can go ahead and change it there too.

[2021-11-15 14:27] JanStreffing commented on #499
That's great to hear.
@tsemmler05 Maybe you can try this out for your next simulation. This would save us the script usage.

[2021-11-16 08:13] seb-wahl opened #501 "Variables in nested choose blocks cannot be changed from runscript"
**Describe the bug**
Variables in nested choose blocks in e.g. component yamls cannot be changed directly in the runscript. Example
I'd like to change the variable `global_tag` in nemo.yaml (with the relevant parts extracted).
nemo.yaml:
[code]
runscript:
[code]
the variable `nn_msh: 0` can be changed from the runscript while `global_tag` does not work
**To Reproduce**
Steps to reproduce the behav

[2021-11-16 15:06] seb-wahl commented on #501
You are both right and wrong, Miguel:
if I use `global_tag: "this_is_funny"` it works as expected. If I try to set `global_tag: "" ` it does not. So it looks like the parser does not like to set the default value (which is `""`) for `global_tag`. However it works if I use
[code]

[2021-11-18 13:28] mandresm commented on #501
I am not going to have time to look at this before my holiday, so I have unassigned from myself, in case @denizural can take over. I think he was also involve in a similar issue not so long ago.

[2021-11-25 10:00] seb-wahl opened #505 "Using venv on glogin works, but displays confusing error message."
**Describe the bug**
[code]
**To Reproduce**
Run any model in a venv on glogin.

**Expected behavior**
Well... No error message even though everything seems to work ok

**System (please complete the following information):**
HLRN4 Göttingen (glogin)
[code]

**Additional context**
Add any other context about the problem here.

[2021-11-25 10:18] denizural commented on #505
Hi Sebastian,
Do you have `use_database: false` in your finished config? In a recent commit, I made it `false` by default.

[2021-11-25 10:25] seb-wahl commented on #505
yes

[2021-11-25 10:27] seb-wahl commented on #505
In the run with the venv yes, in another test run from yesterday there is no entry `use_database: `

[2021-11-25 17:39] pgierz commented on #505
This actually isn't linked to `venv`, I think, but rather how the database is being disconnected from. I unfortunately don't have access to glogin, so I can't look at your log files in detail. Do you know who I can get in contact with for that?

Also, just to note: I'm visiting my parents, so I'm 9 hours behind European time, and might respond at strange times.

[2021-11-26 07:45] seb-wahl commented on #505
We can have a look at this once you are back.

[2021-11-29 16:49] chrisdane opened #506 "non-default namelists not copied to experiment dir if use_venv true"
**Describe the bug**
When a run is submitted with `use_venv=true`, non-default namelists provided via `namelist_dir:` are NOT copied to the `expid/.venv` directory. Hence, when those files are changed during a run, the run will change as well.

**To Reproduce**
Submit a default experiment and provide a non-default namelist via `namelist_dir:`. Change this file during the run. The next run will be

[2021-11-30 01:00] pgierz opened #508 "Fix Reusable Action in CI"
In the reusable workflows in the CI system, we specify a certain branch from which the action template is taken:

[code]

In context, that looks like this:

[code]

After the merge, this will need to be moved to the release branch, or perhaps a tagged version.

[2021-11-30 12:51] christian-stepanek opened #509 "ESM parser seems not to fully support ECHAM6 mvstreamctl syntax"
I have added a mvstreamctl definition that is legal and valid according to ECHAM6 namelist standards. Yet, with esm-tools the submission process is interrupted, it seems due to the fact that ECHAM6 legal syntax is in this case interpreted as invalid, or just not understood, by the parser.

**To Reproduce**
Add the following mvstream definition to a working namelist to trigger the above described e

[2021-11-30 12:55] denizural commented on #509
Hi @christian-stepanek, I am having a look at this now

[2021-11-30 13:11] chrisdane commented on #509
Missing ' in
[code]

The ">"-notation works in the esmtools.

[2021-11-30 14:04] denizural commented on #509
Hi @christian-stepanek, here is the vimdiff of the previous vs the fixed one. Is this what you are looking for:
![image](https://user-images.githubusercontent.com/51913535/144061520-8fac9514-c4af-4553-8c80-94e10f6a41b2.png)

[2021-11-30 14:57] christian-stepanek commented on #509
@chrisdane @denizural So it seems that indeed the problem was a missing closing quote. My sincere apologies for that. I had checked the syntax several times, but overlooked that.

Is there any (easy) way to have the parser provide more easy-to-understand error messages that would point to such a mistake in the YAML-namelist syntax, like "check for missing quotes"? When I saw the long list of pytho

[2021-11-30 16:05] JanStreffing opened #510 "fesom.clock created with current rather than last run timestep"
**Describe the bug**
When restarting a FESOM (1 or 2) simulation, the esm_tools are generating a fesom.clock file based on the current simulation timestep. The correct behavior would be to either
a) generate the fesom.clock file based on the previous simulations timestep or
b) use the fesom.clock from the previous simulation.

As a result the FESOM2 does not start up after reading the restart file

[2021-11-30 16:12] JanStreffing opened #511 "Modification of XML files from within esm_tools yaml files"
**Is your feature request related to a problem? Please describe.**
We are starting to use AWI-CM3 with the XIOS IO server. The output is no longer configured in f90 namelist files, but in xml files. It would be nice to be able to modify the xml files from within esm_tools, so as to not have to make new xml template files for every small change.

**Describe the solution you'd like**
Something that

[2021-11-30 18:30] joakimkjellsson commented on #511
Hi @JanStreffing

This is definitely on my wishlist for Christmas.
I looked into this, and it's pretty easy to translate yaml to xml. That means we could define our XIOS output using yaml files and then let ESM-Tools do the modification.
A typical file_def.yaml could be:

[code]
which would make the following file_def.xml
[code]
which would feed into XIOS.

Furthermore, XIOS supports grouping of f

[2021-12-01 10:21] mandresm commented on #510
Hi @JanStreffing,

Can you try this?:
[code]

[2021-12-01 10:33] mandresm commented on #509
Hi @christian-stepanek ,

I think it is possible, but I also think this is something for the cleanup phase after release 6 (indeed, there is a similar request from @JanStreffing already #487).

Noted in our Jira [ESM-149]

[ESM-149]: https://esm-tools.atlassian.net/browse/ESM-149?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-12-01 10:39] mandresm commented on #487
[ESM-149]

[ESM-149]: https://esm-tools.atlassian.net/browse/ESM-149?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-12-01 12:19] denizural commented on #509
Hi @christian-stepanek,
thanks for your feedback. Here is the changes I made to the runscript that generates the desired difference (the figure above):
[code]

`add_namelist_changes` command adds the desired section into the namelist. In this case to the echam `namelist.echam`.
We don't recommend to directly change the namelist.echam by hand. Here is how `esm-tools` operate:
* loads the default na

[2021-12-01 15:13] JanStreffing commented on #510
Does this work with simulations where the FESOM2 standalone spinup run was not made with esm_tools?

I'm currently using:

[code]

My current timestep is 240s. The timestep of the previous simulation was 360s. In my fesom.clock i get
`86160 365 1989` but i want `86040 365 1989`
I just tired it with  `ini_parent_date: "1989-12-31T23:54:00"` but saw no change. Still 86160

[2021-12-01 22:34] mandresm opened #512 "deleteme"

[2021-12-01 22:34] mandresm commented on #512
ESM-149

[2021-12-01 22:42] mandresm commented on #512
[ESM-149] #comment hello world!

[2021-12-01 23:04] #512 closed, assigned to nobody

[2021-12-02 08:50] mandresm commented on #510
Hi @JanStreffing ,

My bad... look at this:
[code]

FESOM restart had worked before for old ksh experiments probably because they were run with the same step. In this particular case, you want to manually define `lasttime` inside your `choose_general.run_number`:
[code]

[2021-12-02 09:11] JanStreffing commented on #510
Ty, @xyepes and I will give this a try. @tsemmler05 This might also be of interest for your TCO319-DART simulations

[2021-12-02 09:29] chrisdane opened #513 "model bin not updated on esm_runscripts -U -update"
**Describe the bug**
Continuing a run with `esm_runscripts runscript -e expname -U` updates the esm-* files but not the - potentially changed - model binaries.

**To Reproduce**
Stop a run. Recompile the model. Continue the run with `esm_runscripts runscript -e expname -U -c`. The experiment will continue with the old model binaries.

**Expected behavior**
The new model binaries should be used whe

[2021-12-02 09:49] tsemmler05 commented on #510
Now the fesom.clock looks strange - not sure if this will work:
[semmler1@jwlogin05 work]$ more fesom.clock
1989-12-31T23:54:00 365 1989
0.0000000000000 1 1990

Normally it should look like:
86040 365 1989
0.0000000000000 1 1990

[2021-12-02 09:53] tsemmler05 commented on #510
Maybe better to define lasttime manually like this:

choose_general.run_number:
        1:
                lasttime: "86040"

[2021-12-02 11:36] mandresm commented on #510
Totally agreed. Thanks for your input @tsemmler05

[2021-12-02 11:45] JanStreffing commented on #510
Looks like we have a partial solution to the problem. It is manual right now, but maybe that's good enough for the time being. An  automated one can be worked on at a later stage.

I will add those lines to all of our existing DART scripts.

[2021-12-02 18:37] mandresm commented on #513
This will be solved in version 6. We have stop making changes to release 5.

[2021-12-02 21:57] pgierz opened #515 "Feature: Unified Utility Functions"
Certain small things are used all over the code, and now that we are migrating to a monorepo structure, we could unify them into one place.

For example:

+ [ ] Custom Exceptions
+ [ ] User Messages (as in `esm_parser.user_error`)

Feel free to add to the list.

An example usage of the finished extraction would be:

[code]

Initial recommendation was here

_Originally posted by @pgierz in https://

[2021-12-03 11:52] tsemmler05 commented on #510
Mmh, I had tested my idea but I got the following as fesom.clock:

   86160.0000000000               31        1990
   86400.0000000000               31        1990

The model still ran but with the wrong time I guess.

You can check:

/p/scratch/chhb19/semmler1/runtime/awicm3-frontiers-xios/XIOSU/run_19900101-19921231/work

The script is here:

/p/project/chhb19/semmler1/esm_tools/runscripts/awic

[2021-12-03 12:31] mandresm commented on #510
Hi Tido,

If you look in the finished config file (the one that contains all the baked information by ESM-Tools) `/p/scratch/chhb19/semmler1/runtime/awicm3-frontiers-xios/XIOSU/run_19900101-19921231/config/XIOSU_finished_config.yaml` and you search for `create_config` you'll see that the `fesom.clock` information is as you wanted it, so ESM-Tools should be writing the correct `fesom.clock`.

Also,

[2021-12-03 13:04] JanStreffing commented on #510
For me the solution worked, i got 86040 in my first clock file when I started a new AWICM3 simulation based on the standalone DART simulation. Maybe you can try this with a check run.

[2021-12-09 08:59] chrisdane commented on #505
similar but different behavior on mistral: #473

[2021-12-15 06:26] mandresm commented on #513
This functionality has been fully developed and integrated by now into what is going to be release 6.0. Therefore, I think we can now close this issue.

[2021-12-15 08:14] pgierz commented on #511
XLM is in the Python standard library: https://docs.python.org/3/library/xml.dom.html

But somehow from Joakim's comment I do not think that is what you need, at least not without some logic around it. The nice thing about the namelist package was that it just directly converted everything to a dictionary, which made further use super easy. That was purely heading, key, value. XML looks like it ha

[2021-12-15 17:54] AhmadrezaMasoum opened #529 "Error in installing of awiesm-2.1-wiso"
I was installing 'awiesm-2.1-wiso' on my Ollie, but the below errors came up:
............................................................................................................................
echam/control.o: In function `control_':
control.f90:(.text+0x4d9): undefined reference to `readtagmap_'
make[2]: *** [echam6] Error 1
make[2]: Leaving directory `/work/ollie/amasoum/esm_tools/awie

[2021-12-16 08:44] mandresm commented on #529
Hi @AhmadrezaMasoum, I got also this problem doing some testing yesterday. I think this is not a problem with ESM-Tools but with the last change that happened in this branch of ECHAM: I tried getting the previous commit to the last and I could compile it, with the last commit I get the same error as you did.

@xshi-awi , do you know what's the problem?

[2021-12-16 12:34] mandresm commented on #529
Hi again, I think @xshi-awi has already fix it. I recommend that you delete the `awiesm-2.1-wiso` folder and try the compilation again. Please, close the issue if it works now.

[2021-12-16 17:05] AhmadrezaMasoum commented on #529
Hi,
Thank you. I have installed it successfully.
Best

[2021-12-16 17:05] #529 closed, assigned to nobody

[2021-12-17 11:39] #508 closed, assigned to pgierz

[2021-12-17 15:19] pgierz opened #533 "Failing CI after Release 6"
Hello,

This issue is for discussion and does not really report a "problem", but maybe something we should be aware of. The following models and components are currently failing the compile tests. In some cases, it is because my CI dummy account doesn't have access everywhere, in others, I am a bit confused:

## Full Setups
**AWIESM**
+ [x] `AWIESM 2.1`: Could not read username (but why then does

[2021-12-17 15:21] pgierz commented on #533
Here are also links to the various CI jobs:

AWIESM: https://github.com/esm-tools/esm_tools/actions/runs/1591738747

ECHAM: https://github.com/esm-tools/esm_tools/actions/runs/1591738748

PISM: https://github.com/esm-tools/esm_tools/actions/runs/1591738749

FESOM: https://github.com/esm-tools/esm_tools/runs/4559260911

[2022-01-17 16:15] ackerlar opened #543 "esm_tools 6: Problem to start PISM "Invalid numeric value 0 for --ntasks""
**Describe the bug**
I get this error message when I want to submit a PISM job:

[code]

**System (please complete the following information):**
 - Supercomputer: mistral
 - Version: esm_tools version 6

**Additional context**
Here is a path to an experiment: `/work/ba0989/a270124/PalModII/experiments/pism_test03`

[2022-01-17 16:24] mandresm commented on #543
Hi @ackerlar ,

Could you please let me know in which branch are you currently trying this? Then I'll try to debug it, basically the problem is for some reason it is calculating the wrong number of tasks (0 tasks in total).

[2022-01-17 16:31] ackerlar commented on #543
It is on the `release` branch.

[2022-01-17 16:33] mandresm commented on #543
`ackerlar:release` after you merged `ackerlar:release` <- `ackerlar:prep_release_wiso`?

[2022-01-17 16:36] ackerlar commented on #543
I tried with both: `release` and `feature/awiesm-pism` where I merge `ackerlar:prep_release_wiso` into.

[2022-01-17 16:37] mandresm commented on #543
okay, thanks

[2022-01-17 18:59] mandresm commented on #543
I think commit acffcfa should fix the problem: choices inside a choose should be strings. I guess this is not a nice behavior as many users will fall (and are already falling) into this trap. So I am working on a more permanent fix for this.

[2022-01-17 19:45] ackerlar commented on #543
Thanks, it works!

[2022-01-17 19:45] #543 closed, assigned to mandresm

[2022-01-18 10:42] mandresm commented on #533
**AWIESM**

Many of the AWIESM versions use an `ECHAM` version that is retrieved from the `gitlab.awi` instead of the `gitlab.dkrz`, and when you manually install, you not only need to provide the password for `awi` (as you'll do for `dkrz`), but also your `awi` user (ESM-Tools only asks you for your `dkrz` user during installation and it never saves your awi-user).

[2022-01-18 10:50] pgierz commented on #533
I think we should at some point entirely remove this esmtoolsrc file and get everything from env variables if (and only if) it does not exist. @seb-wahl will hopefully approve.

I need to test by hand, but I have the feeling that something during `git clone` messes up with tokens as a replacement for the password. The failing AWI-ESM test never happens to anyone in real life, but I think it would

[2022-01-20 11:25] JanStreffing opened #548 "Logfiles of crashed runs are overwritten in release 6"
With release 6 the stdout stderr  logfiles produced by the queueing system no longer end up in scripts/ but in log/, and their names changed. They used to have the queueing systems jobid in the name, now they dont.

Old: `paleo_speedtest_8_compute_19900101-19901231_11778301.log`
New: `defuse_sea_alb_005_awicm3_observe_compute_20100101-20191231.log`

If a job crashes, and I restart it via e.g. `sba

[2022-01-20 11:33] JanStreffing commented on #548
I just tested this. It does not actually overwrite. But it wont start up either:

[code]

[2022-01-20 11:48] pgierz commented on #548
Seems like the relevant lines to append the PID/Slurm ID were commented:

https://github.com/esm-tools/esm_tools/blob/64834b0a23b84cc9604857e0fdb5bf7b8145127f/src/esm_runscripts/observe.py#L47-L48

git blame says I did that, but that was also probably happening at some point via the `black` code formatting, so I am unsure if that was actually me or me just cleaning up...

[2022-01-20 11:50] mandresm commented on #548
Yeah, I think that was part of the workflow rework done by Dirk. I'm wondering if it got commented out because it was giving problems with the workflow manager... In any case, I will try bringing those lines back.

[2022-01-22 16:35] pgierz opened #553 "Automation Idea"
Hello,

it's Saturday, I know. But while I wait for my father to park his car and call me back from the other side of the world, I browse GitHub...

Random idea, could be noted here before it gets forgotten:

We could find a way to have the github automatization do all the tag/bump/publish-to-pypi stuff whenever something is merged into release. The publish step is already at least partially there

[2022-01-22 20:19] denizural commented on #553
Well, this is a full CI/CD pipeline. I hope one day we can reach such IT maturity. The problematic step is testing. Many big IT companies have a completely working CICD practice where a new version gets deployed with a commit. I heard that Facebook rolls upto 50 versions in a day. Deploying software is not difficult but what we don't want is receiving issues that something is broken. So, rather th

[2022-01-24 07:27] seb-wahl opened #554 "multiple postprocessing scripts screw script generation"
**Describe the bug**
If I add a postprocessing section for two components (echam and nemo in foci.yaml) of a coupled setup (see
https://github.com/esm-tools/esm_tools/blob/ab2e86ead81a83e6f043ff8d403056378cf8c9d1/configs/setups/foci/foci.yaml#L281-L299
and
https://github.com/esm-tools/esm_tools/blob/ab2e86ead81a83e6f043ff8d403056378cf8c9d1/configs/setups/foci/foci.yaml#L385-L403
then, one postproc

[2022-01-24 07:55] mandresm commented on #554
Hi @seb-wahl ,

This is indeed weird. I would have expected that naming the two `subjobs` the same (`postprocessing`) would have resulted into running one or the other, not both in the same script. Can you try changing the names of the subjobs? `postprocessing_echam` and `postprocessing_nemo`, or something on those lines?

Once we have a clue on how this really works then I'll add some error handl

[2022-01-24 13:31] seb-wahl commented on #554
If I change the name of the subjobs it works as expected. I guess somewhere in the code of the workflow manager all scripts behind a name are concatenated.

[2022-01-25 09:30] seb-wahl opened #557 "running esm_runscript -t post does not work"
**Describe the bug**
If I type `esm_runscrpts -h` it lists
[code]
However if I do (I thought I can use this to run my postprocessing scripts after changing `postprocessing: false` to `postprocessing: true`), I get an error message:
[code]
**To Reproduce**
run `esm_runscripts -e expo -t post my_runscript.yaml`

**Expected behavior**
Well, at least not a crash :-)

**System (please complete the foll

[2022-01-25 09:47] mandresm commented on #557
On version 5, although not fully functional, postprocessing was a step on the recipe. But now postprocessing is something you control through the workflow manager in a more generic way: you can insert jobs after any standard esm_runscripts step, and although this is normally used to do postprocessing, you could virtually insert any type of job and name it anyway you wanted.

What I suggest here is

[2022-01-26 08:23] pgierz commented on #557
I can have a look at this. @seb-wahl I will work directly on your branch. @mandresm, I know you are busy, but I may need to spontaneously call you for some hints with the workflow manager, you are much deeper into that than I am...

[2022-01-26 09:58] seb-wahl commented on #557
Suggestion: To be clean I would first merge my developments into release or develop and then continue with a fresh branch. Otherwise we have too many things in one branch, and I'd like to tell my folks that postprocessing is now available in release for FOCI. I don't want my users to work on feature branches that constantly change.

[2022-01-26 10:16] mandresm commented on #557
Okay @seb-wahl , then I will merge #556 now.

[2022-01-26 10:40] pgierz commented on #557
OK, I had branched off anyway for my fixes of the post flag, so we will just make a new PR from that.

[2022-01-26 11:45] #554 closed, assigned to nobody

[2022-01-27 12:38] fernandadialzira opened #560 "esm-tools 6: long waiting time for job submission with esm_runscripts"
With esm tools 6 I am experiencing a long waiting time to submit an experiment either in check mode [esm_runscripts -c], or for a real submission. The waiting time ranges from 15 min up to 2 hours, mostly during prepcompute phase.

Machine: ollie
Esm-tools branch: wiso-pico
Model: awiesm-2.1-gamma

The path to the experiment is /work/ollie/fmatos/mis3/run_configs_testing/glac1d21_classic.yaml

[2022-01-27 12:59] mandresm commented on #560
An important note here, is that this only happens when you use release 6 from `direnv` with the specifical `.envrc` you are using. I could not reproduce this error on a normal situation where I use `ESM-Tools` from the local environments. So my suspicion is that the problem is in the `.envrc`.

[2022-01-27 14:42] pgierz commented on #560
....that sounds like it is linked to my "construction site". The HPC friends have not yet said that there are any strange disk issues. A few questions:

1. Is it intermittent?
1. Is is only if you have `direnv` on?
1. Can we get a copy of the actual copy commands being done, to try them by hand?

[2022-01-27 14:44] pgierz commented on #560
For question 1., Fernanda has often told me that she has slow start times, so I do not believe it is intermittent....

[2022-01-27 15:43] fernandadialzira commented on #560
In terms of the `.envrc` file, at least now esm tools is installed in the environment itself not in the `~/.local/`. Now regarding the questions:

1. The lower waiting time I had was 15 min, so it is definitely not an intermittent issue...
2. I am not sure if I understood the question correctly, but to my knowledge direnv is always on. I only turn `use_venv` to `False` in the yaml file
3. Perhaps

[2022-01-28 10:00] pgierz commented on #560
For number 2, can you check please what happens if you rename the `.envrc` file to something else? In that case, the shell will not start the local environment. I am not sure if that will have any other side-effects (e.g. your tools might be on a different version suddenly). But, then we have one less thing to have as a problem candidate....

[code]

[2022-01-31 09:05] #284 closed, assigned to JanStreffing, mandresm

[2022-01-31 09:06] JanStreffing commented on #284
closing old issues that are part of https://github.com/esm-tools/esm_tools/projects/2

[2022-01-31 09:09] JanStreffing commented on #313
We no longer use HPC admin installed netcdf libraries. Instead I install things quickly with: https://github.com/aWI-CM3/install_libs

Closing here.

[2022-01-31 09:09] #313 closed, assigned to nobody

[2022-01-31 09:22] JanStreffing commented on #511
This came up in discussion again today. The feature is still on the TODO list, and one of the applications would be to change the splitting frequency of XIOS output files:
```file_def.xml:        split_freq="1y"```
 based on the restart frequency of the esm_tools:
[code]

[2022-01-31 09:44] fernandadialzira commented on #560
I changed the name of `.envrc` and adapted the run script to the path without setting the environment. The submission job took 15 minutes which for me is good given the number of files to be read. So perhaps we continue without the `.envrc`? No error messages regarding the submission process were there. I also checked the version and path for esm_toos/runscripts/master and they are all pointing to

[2022-02-03 09:52] #560 closed, assigned to nobody

[2022-02-04 13:20] mandresm opened #569 "recom not compiling on awicm-1.0-recom"
**Describe the bug**
`recom` does not compile for the `awicm-1.0-recom` setup

**To Reproduce**
In version 5:
[code]
In version 6:
[code]

**ERROR message**:
[code]

**Expected behavior**
That it compiles

**System (please complete the following information):**
 - Supercomputer: mistral

**Additional context**
I suspect that the problem is that it is using the `oxygen` branch of `REcoM`. I don't k

[2022-02-04 15:25] chrisdane commented on #569
The installer loads the `co2_coupling` branch:
[code]

I fowarded the question which default branch should be used to the recom group.

In the meantime could you please try with the `oxygen` or `awicm1_wip_cd` branch?

[2022-02-06 15:41] JudithHauck commented on #569
Hi Miguel, there was a typo in the latest commit that you found.
I fixed it here:
https://gitlab.dkrz.de/modular_esm/REcoM/-/commit/c7183fe4c2691161e763e8eff494f4e0f508c627
Can you try again?

[2022-02-07 10:15] mandresm commented on #569
That solved it. Thanks!

[2022-02-07 10:15] #569 closed, assigned to chrisdane, denizural

[2022-02-15 22:21] pgierz opened #578 "Levante Experiences"
Please post any info and updates about using any of our models on the new DKRZ Levante system here!

[2022-02-16 17:11] ackerlar commented on #413
solved in #547

[2022-02-16 17:11] #413 closed, assigned to nobody

[2022-02-18 11:28] christian-stepanek opened #582 "esm_parser fails because of missing fesom destination"
**Describe the bug**
With fresh install of esm-tools v6 and awiesm-2.1-wiso calling esm_runscript on a pretty standard simulation YAML fails with the following error message:
[code]

**To Reproduce**
See above

**Expected behavior**
Fesom2 should know its destination

**Code change to fix this issue (to be included into esm-tools as a bugfix)**
Add the following line to the fesom-2.0.yaml in esm t

[2022-02-18 11:36] mandresm commented on #582
Hi @christian-stepanek,

Does this mean that there is a bugfix for this already?

Otherwise, can you also provide the runscript you are using?

[2022-02-18 11:39] mandresm commented on #582
Also please note that it is very important, that if you installed `awiesm-2.1-wiso`, the `general.version` or `awiesm.version` in the runscript needs to be `2.1-wiso`. You will also need to remove all the versions inside the model components:

[code]

[2022-02-18 11:40] christian-stepanek commented on #582
@mandresm @pgierz
No, the bugfix is only local yet, I implemented it in my installation of esm-tools v6.

I think @pgierz wanted to introduce it in the esm-tools repository, but maybe I am mistaken.

The runscript is available at:
[code]

[2022-02-18 11:47] mandresm commented on #582
Please see the comments on the runscript:

[code]

[2022-02-18 11:47] christian-stepanek commented on #582
Actually, putting there version information 2.1-wiso lead to another issue as a coupling field was then not found. @pgierz knows more about the background. To overcome this issue I have set the settings as follows (see above mentioned yaml for more info if necessary):
[code]
The version for fesom (2.0) looks quite inconsistent with the other settings, but I was notified by @pgierz that this is the

[2022-02-18 11:49] mandresm commented on #582
If you remove the versions in all the components, and you only leave the version for `awiesm` the coupling issue should go away.

[2022-02-18 11:53] mandresm commented on #582
To deactivate wiso, you need to set `with_wiso: False` in the `general` section once, not in the components (there's a mistake in the `awiesm-2.1.yaml` documentation). There is also an explanation on how to use this different versions and variables at the beginning of the `awisem-2.1.yaml` file. Please, let us know if this documentation needs to be improved.

[2022-02-18 12:07] pgierz commented on #582
To make a long story short, on my next AWI-ESM Support Day, I will spent all day going through the example run scripts to make sure it all works...

[2022-02-18 13:34] chrisdane opened #584 "v6 venv Failed building wheel for numpy"
Hi

At mistral, running
[code]
yields the error
[code]

The esm_tools are copied to the expid though:
[code]

 - Supercomputer: mistral
 - esm_tools:
[code]

Edit: `$PATH`:
[code]

Thanks for any help,
Chris

[2022-02-18 13:49] pgierz commented on #584
Thanks for reporting.

venv is my stuff, but you may need to additionally contact DKRZ support. I will do a manual test and get back to you later in the afternoon.

One background questions: did this "suddenly" appear? Mistral is running into more and more issues as the machine is being decommissioned soon...

[2022-02-18 13:52] chrisdane commented on #584
Not 100% sure but its likely related to the jump from esm_tools v5 to v6.

[2022-02-18 13:52] denizural commented on #584
This could also be a path issue. There are several different Pythons in Mistral

[2022-02-18 14:04] pgierz commented on #582
As the PR relevant to this has been merged in, I will close this issue. @mandresm and I have planned to get in touch with the AWI-ESM users and do sort of "hack-week" to ensure that AWI-ESM (with all the bells and whistles) are easy to use. This shall result in a new version number, `6.2.0`. Version number semantics are a thing I should at some point maybe just give a talk on....

[2022-02-18 14:08] pgierz commented on #584
Well, there is one specific one that he uses in his runscript. I will start with that one.

@chrisdane, another way (in my mind easier to read) to print out `PATH` step by step:
[code]

Why 3 `<`? From the [bash handbook](https://tldp.org/LDP/abs/html/x17837.html):
[code]

[2022-02-18 14:24] pgierz commented on #584
Alright that's a DKRZ problem, ask them. Here is my reproduction (which is a slimmed down version of what esm-tools does):
[code]

Python of Chris: `/sw/spack-rhel6/miniforge3-4.9.2-3-Linux-x86_64-pwdbqi/lib/python3.8`
Python of Paul:  `/sw/spack-rhel6/miniforge3-4.9.2-3-Linux-x86_64-pwdbqi/lib/python3.8`

So, that's the same.

@chrisdane, sorry, but I am going to close this for now to not keep ou

[2022-02-18 14:27] denizural commented on #584
I am getting closer to the solution. I can build numpy now. I will edit this message when it finishes.

[2022-02-18 15:30] pgierz commented on #584
So, the hint is:

@denizural, that has absolutely nothing to do with `setuptools` bugs or `pip`.

This works fine, both times already in `venv`:
[code]

I'm having a closer look at @chrisdane run script and produced run file.

[2022-02-18 15:37] pgierz commented on #584
Here is what happens if I use the exact modules listed in Chris' runscript (not the yaml, the generated run script submitted to slurm):
[code]

So, now comes the evil question: what modules do you have loaded on the login node when you do your very first run? I suspect there, you do not have a compiler. So, that is, in a way, "user error" in so far as all the required modules needed to install a d

[2022-02-18 15:51] denizural commented on #584
This is how I solved the issue (now Chris is repeating that):
[code]

The key point is loading gcc module. I used `9.1.0` because it is the closest one to `9.3.0` that `/sw/spack-rhel6/miniforge3-4.9.2-3-Linux-x86_64-pwdbqi/bin/python` is built with.

Here is the problematic part:
`WARN: don't know how to compile Fortran code on platform 'posix'`
It looks like Python package manager can't find the

[2022-02-18 15:55] pgierz commented on #584
Yes, but it must be loaded **before** one starts the very first run. Remember, the venv is bootstrapped on the login node, which is using whatever the current user has loaded. The cleanest solution is to ensure the bootstrapping of the venv uses whatever will be used on the slurm node afterwards. Doing this in a clean way will not be so simple (well, really, very simple, but given the absolute mes

[2022-02-18 15:55] denizural commented on #584
By the way it took over 30 minutes compared to what it says in esm-tools:
`Building virtual env, please be patient (this takes about 3 minutes)...` 🤣
I think it is better to write `this takes about 3*10^N minutes`.

[2022-02-18 15:56] pgierz commented on #584
It took about 3 minutes when I first clocked it...no idea why it takes so long this time. Perhaps the manual download induces overhead as it no longer can access cached packages, perhaps?

[2022-02-18 15:56] chrisdane commented on #584
Yes it works now, DKRZ also suggested the same solution. Thanks a lot to all!

The venv building took half an hour and the resulting `.venv_esmtools` directory is 532M in size (`/work/ba1103/a270073/out/awicm-1.0-recom/awi-esm-1-1-lr_kh800/esm-piControl2/.venv_esmtools`). Is it really necessary to build/install that much stuff?

Yes, the long-term solution is that the esm_tools take care that the

[2022-02-18 15:57] pgierz commented on #584
...yes, I just did the "cleanest" reproduction of the problem possible.

[2022-02-18 15:58] denizural commented on #584
Well, you need set some modules and environmental modules any way. For example LANG, LC_ALL, Python, and Git modules. The login nodes will read your `.bash_profile`, right?

It looks like everything including NetCDF got compiled. This is why it took so long.

[2022-02-18 16:02] pgierz commented on #584
In any case, the docs are wrong. We claim that you need on mistral to have:

[code]

If someone has done a module purge and loaded custom stuff, it clearly does not work, as the above discussion reveals. And `anaconda3` is anyway outdated. Maybe the very first solution is simply to update the readme while we work on a more robust answer.

[2022-02-18 16:10] denizural commented on #584
Yes, I am working on the documentation right now. This is one of the parts that I fixed. I did not push it yet.

[2022-02-18 16:13] pgierz commented on #584
I would in that case always recommend small, incremental pushes. As soon as something is correctly written down, put it online. Do not wait until it is "picture perfect". Even small one line changes can save our users headaches :-)

[2022-02-20 22:19] christian-stepanek commented on #154
"In any case, the problem I described here was with an old version of esm, I would be very surprised if what I had back then is still an active problem with the new version you have."

Well, it just happened to me @pgierz, compiled on mistral with esm tools v 6.1.8
[code]
Maybe the issue should be reopened? If so, I do not have sufficient authority to do so.

[2022-02-21 07:28] denizural commented on #154
Good morning @christian-stepanek,
I just reopened the issue and checked the echam binary via `$ ldd echam6 | grep --color "not found"`
[code]
As you can see, it is not only libsupport but other libraries too. I will have a quick look now.

PS: could you also write how you built Echam with ESM-Tools? (eg. the exact `esm_master` command)

[2022-02-21 07:48] christian-stepanek commented on #154
@denizural Here the details:

In esm-tools v6.1.8 I first downloaded the source code with the command
[code]
Then I applied source code changes necessary for my simulation. Thereafter I compiled the modified model source code with the following command:
[code]
Thanks a lot for your help with this issue.

[2022-02-21 10:03] christian-stepanek commented on #154
@denizural Just to note something that I forgot to mention: The executables were build with esm-tools_v6, whereas I tried to run the simulation with the predecessor version v5. The reason for this slightly alternative approach is that I have problems with esm_runscripts in esm-tools_v6.

[2022-02-21 13:40] pgierz commented on #584
@denizural once you have updated the documentation, you make a pull request for that and we can close this one.

[2022-02-21 14:36] denizural commented on #154
Hi @christian-stepanek ,
I managed to solve the Echam missing library issue on Mistral. Here you can find a compile script to build echam:
`/mnt/lustre01/pf/a/a271096/Solutions/Christian_Stepanek/comp-echam-6.3.05p2-wiso_script_BACKUP.sh`

The resulting Echam binary contains all missing libraries:
[code]

Could you please tell me what problems you are having so that you can't run AWIESM with Relea

[2022-02-21 22:23] christian-stepanek commented on #582
@mandresm @pgierz

With various trials I have found only one way to get esm_runscripts beyond the error message "Coupling var not found:  o18w_oce":
[code]
No further mentions of any wiso-related settings in submodels.

Though, that leads to lctlib not being found anymore as esm_runscripts is searching for that file at model_codes/awiesm-2.1-wiso_ref/echam-6.3.05p2-concurrent_radiation-paleodyn/lc

[2022-02-22 11:30] christian-stepanek opened #585 "Add documentation to alternative method of esm-tools installation devised by @pgierz"
**Request/contribution description**
Paul Gierz devised an alternative way of downloading and installing esm-tools that may be particularly appropriate if one is focused on using the tools and not so much focused on working under the hood. As far as I understand, a lot of the configuration is compiled and cannot be easily modified (which has advantages and disadvantages, but the advantage is certa

[2022-02-22 11:48] christian-stepanek commented on #154
Dear @denizural,

thanks a lot for your effort. I tried to recompile with the updated script, but run into the following error:
[code]
I do not really understand what is happening here as the directory /mnt/lustre01/pf/a/a270061/esm_tools_v6/model_codes/awiesm-2.1-wiso/echam-6.3.05p2-wiso/lib exists and is, as far as I can see, writable.

Should I fully clean the previous installation before compi

[2022-02-22 12:33] denizural commented on #154
Hi @christian-stepanek,
I just built awiesm-2.1-wiso on Mistral via `esm_master install-awiesm-2.1-wiso` using the esm-tools release 6. Let's check the Echam binary:
[code]

So, it looks like awiesm is OK.

Could you please show me how you are building awicm? Also what are the changes you are making on Echam? If you are changing the Makefiles then I need to have a look at that.

[2022-02-22 13:58] pgierz commented on #585
Alright I tried to reply directly to the bot in Webex with the hope that my comment would appear here, but I guess not, so:

“compiled” is perhaps a misnomer here. It’s just a pip install and rather than pointing to a local folder, you point to the PyPI repository online. The source is still there in plain text, it is just hidden in Python’s library of site-packages This is typically well enough h

[2022-02-22 13:58] pgierz commented on #585
I particularly enjoy:

😁

[2022-02-22 14:03] christian-stepanek commented on #585
@pgierz  " agree that this should be documented, but I am unsure when there shall be time for this." - Do you mean this should be further tested before being documented? Or do you think there is no time for writing the documentation? If the latter, then maybe my few lines can be added to the docu as a start, and one can elaborate when there is time.

@pgierz To your remark to "Consequently, they c

[2022-02-22 14:20] pgierz commented on #585
That's a good start. See #586

[2022-02-22 15:45] mandresm commented on #585
Just a note to that, we are aware of this problem, and the first step for solving it was to put all the packages in the same repository for version 6, so if you decide to go for example, for using esm_tools 6.1.0, then all the packages are the ones for that version. The next step is to have a better strategy for virtual environments or `direnv`. For that we still need some time to think about the

[2022-02-22 15:52] mandresm commented on #548
This is solved now, so I'll proceed to close it.

[2022-02-22 15:52] #548 closed, assigned to mandresm

[2022-02-22 23:30] christian-stepanek commented on #154
Dear @denizural,
yes, in principle I follow your example for installation of the model. The only difference is that I split the install command into two parts - a get part and a compile part - reason is that I need to modify the source code prior to compiling.

I also figured out now what is the source of the problem. It is actually quite stupid, but - well.

To explain what I am doing: I have to

[2022-02-22 23:44] christian-stepanek commented on #154
Addendum: There is only a small number of shared libraries in awiesm-2.1-wiso that are afflicted by the above described problem. These are:

- libsupport.so.0
- libcdi.so.0
- libyaxt.so.1
- libyaxt_c.so.1

All the other shared libraries reside further down the file system tree in system-related paths and will not be moved together with the model.

libpnetcdf.so seems to be an interesting case in t

[2022-02-23 16:29] fernandadialzira commented on #154
Dear @pgierz and @denizural,

I am also just now working with `awiesm-2.1-wiso` and I followed initially the same approach as @christian-stepanek, with the difference that I am working on ollie and only using esm-tools 6 branch release. So I started the installation by using `esm_master get-awiesm-2.1-wiso`, changing just one line from `<echam_folder>/src/src_jsbach3/mo_hydrology.F90` and running

[2022-02-24 12:33] denizural commented on #154
@fernandadialzira, I am looking at this right now. I will edit this message later on

[2022-02-24 12:55] mandresm commented on #154
That's very strange, I just got `awiesm-2.1-wiso` to build and run a monthly simulation with 3 restarts:
Path to experiment: /work/ollie/mandresm/testing/run/awiesm/PI_ctrl_awiesm-2.1-wiso/restart/
Path to the freshly compiled awiesm: /work/ollie/mandresm/testing/comp/awiesm/awiesm-2.1-wiso

[2022-02-24 12:57] mandresm commented on #154
@fernandadialzira , can you let me know which branch of `esm_tools` are you using? I'm on `fix/awiesm_default_variant`, which is almost identical to `release`, with the difference of the `variant` fixes, which should not affect compilation.

[2022-02-24 13:03] fernandadialzira commented on #154
I tried the experiments still when on release, but judging by the error I got with the missing libraries, I have not tried a run with the `fix/awiesm_default_variant` branch. Deniz told me he is looking into it and will probably give me some insight soon.
How did you build `awiesm-2.1-wiso`? With `esm_master get and comp` or `install`? I tried both ways and I got the same missing libraries and the

[2022-02-24 13:07] mandresm commented on #154
I built using `get` and then `comp` cause that's the way my testing software works, but I have built one week ago with `install` and that was not a problem either.

[2022-02-24 13:12] denizural commented on #154
Ok, I successfully built `awiesm-2.1-wiso` on Ollie (esm_tools, version 6.1.10)
The missing libraries on Ollie could be an exceptional case since as Dirk said earlier, dynamic linking is not possible on this architecture. But no worries, here is the solution:

[code]
So, all you need to do is loading the correct environment and this is what `esm_runscripts` does.

PS: build commands:
[code]

[2022-02-24 13:14] mandresm commented on #154
So it also compiles for you out of the box @denizural ? you did not need to change anything right?

[2022-02-24 13:16] mandresm commented on #154
Maybe there is a conflict with an already loaded module? When I run `module list` I get:
[code]

So very minimal output. @fernandadialzira , @denizural can you post yours?

[2022-02-24 13:26] denizural commented on #154
@mandresm, mine is
[code]
But this should not change anything since `esm_master` calls `module purge` at the top and unloads everything. Yes, I did not change anything and also verified that `mo_couple.f90` that failed in @fernandadialzira 's case actually compiles. The variable `nfldo2a` should come from `mo_control.f90` because `mo_couple.f90` takes when it is compiled with FESOM:
[code]

[2022-02-24 13:29] pgierz commented on #154
Alright, so, before I dive too deep into this: @denizural you are working on the library issue? Then I will hold back. My only hint is: we should think about statically linking everything unless there are good reasons (memory overhead, wall time, usw) not to do this.

[2022-02-24 13:31] mandresm commented on #154
I am starting to suspect this might be a problem with the `direnv`, although @denizural is right, we purge the modules so that should not be a problem. @fernandadialzira , can you let us know the path to your `.envrc`?

I'll hold as well if @denizural is working on it.

[2022-02-24 13:34] pgierz commented on #154
As info for @denizural: `direnv` does not really do any magic. It just starts a subshell, which should inherit everything from above, the fact that you can trick this thing into creating a unique Python environment should (hopefully) not have an influence on compile-time things, but admittedly, it is one extra layer of complication to be aware of.

[2022-02-24 13:47] pgierz commented on #154
The fact that variables required for a coupling routine designed specifically to couple to "any" ocean is hidden behind a compiler directive specifying `FESOM` still eludes my own personal sense of logic, but na ja, that's how it is I guess. Let's not go into the weeds of FORTRAN too much.

[2022-02-24 14:20] fernandadialzira commented on #154
Hi! Sorry for the late response

@mandresm
Mine is only:
[code]
As of this:

I am not using direnv anymore, as it seemed to be the cause of some issues last time. To do so I just renamed my `.envrc` file. However, should I have done something else to actually delete the `direnv`? @pgierz do you suggest something?

@denizural

I will try then a clean installation with these commands and I will run

[2022-02-24 14:42] pgierz commented on #154
Renaming the `.envrc` file should turn off the `direnv`, and therefore revert to whichever `esm-tools` you have installed in `${HOME}/.local/`

[2022-02-24 14:58] denizural commented on #154
@pgierz and all,
I made a toy matrix multiplication example using Intel MKL on both Ollie and Mistral to see how these different systems behave. Here are the observations:

- When you compile a code with dynamic libraries (.so), they run straightforward on Mistral but you need to load the required modules (which set `LD_LIBRARY_PATH`, ...) on Ollie. Otherwise, they don't run on Ollie.
- It is poss

[2022-02-24 15:05] pgierz commented on #154
@denizural excellent, we are then one step closer. This for me does not however explain the issue @christian-stepanek and @fernandadialzira reported: simply renaming or moving the binary leads to errors.

For point 1: Not sure I fully understand. Shouldn't the `LD_LIBRARY_PATH` behave identically on both machines?

For point 2: increasing the binary size is suboptimal, I would say. This *might* be

[2022-02-24 15:27] fernandadialzira commented on #154
@denizural so I rebuilt the model and the log of compilation process you can find in `/work/ollie/fmatos/mis3/run_configs_testing/compile_1.log`

After compiling I went to the binary folder and used `ldd echam6 | grep --color "not found"` and no missing libraries were found.

However, after running the simulation I get the same error still (`/work/ollie/fmatos/mis3/bootstrap_testing/glac1d21_class

[2022-02-24 15:31] pgierz commented on #154
Well, if I have learned nothing else in my life, it is "turn it off, hit it with a hammer, turn it on, try again" 😉 (Please don't hit your computer with a hammer, even if this may feel very satisfying in the moment)

Fernanda, did I show you how to turn on tracebacks yet? You need to add `-g -traceback` to the compile time flags. That will give more info than just some random memory address

[2022-02-24 15:34] denizural commented on #154
@pgierz,
What I see is that Mistral and Ollie behave differently in runtime (maybe you can ask Natalja or Malte about that). When `LD_LIBRARY_PATH` is empty Mistral shows the dynamically linked libraries in `ldd`. Ollie says `not found` but only shows the location of the library when you set `LD_LIBRARY_PATH`. Eg.

[code]

[2022-02-24 15:40] pgierz commented on #154
@denizural: Good to know, but not particularly surprising. A toy example is not really useful here, since we want to see what happens when a user actually tries to run the model. The `module load intel.compiler` should anyway be happening in the generated run file. The question remains: why does it break when a user simply renames their binary (or more precisely, their model folder)

[2022-02-24 16:19] christian-stepanek commented on #154
I think the reason "why" has been answered by me at these posts:
https://github.com/esm-tools/esm_tools/issues/154#issuecomment-1048309591
https://github.com/esm-tools/esm_tools/issues/154#issuecomment-1048316929
Let me know if there is more help needed from my side.

If one can solve this issue with a set LD_LIBRARY_PATH, then okay. I am just not knowledgeable enough to foresee if this is practic

[2022-02-25 08:17] fernandadialzira commented on #154
@pgierz

Yes, I did it as I detailed in this [post](https://github.com/esm-tools/esm_tools/issues/154#issuecomment-1048969256) and Deniz also commented about it [here](https://github.com/esm-tools/esm_tools/issues/154#issuecomment-1049859392) and you [here](https://github.com/esm-tools/esm_tools/issues/154#issuecomment-1049877157).

As a last trial of this, I will try to run `$FCFLAGS="-g -traceba

[2022-02-25 11:31] mandresm commented on #582
Hi @christian-stepanek ,

I cannot reproduce the `Coupling var not found: o18w_oce` issue with the following configuration on my runscript:
[code]

Would you provide the path to the runscript so that I can try to reproduce the error?

[2022-02-28 17:57] shijian0702 opened #593 "Problem on AWICM3 installation on JUWELS"
Hi all,

I have some problems when installing AWICM3 on JUWELS, which I think may be related to the netcdf-Fortran configuration.
I will be grateful if anyone can have a look at it. By the way, this issue cannot be reproduced in other HPCs, like ollie, mistral.

Best,
Jian

**System**
 - Supercomputer: JUWELS (Stages 2022, Python/3.9.6, netCDF-Fortran/4.5.3-serial)
 - ESM-Tools 6.1**

I used the c

[2022-03-01 07:45] mandresm commented on #593
Hi @shijian0702 ,

I thought that the `deck` version was going to be discontinued. @JanStreffing is that right? In that case what version should @shijian0702 be using?

[2022-03-01 09:14] JanStreffing commented on #593
Yes, the DECK version is indeed not the version used for the DECK paper. Instead it is what we started with a year and a half ago. It is out of date and contains many errors we fixed for v3.0. I suggest we delete it asap.

@shijian0702 please try to install either awicm3-v3.0 for the version I use in my DECK paper, or awicm3-frontiers-xios for the version that @tsemmler05 is currently tuning, and

[2022-03-01 09:25] mandresm commented on #593
When removing `deck`, can I also remove the following versions from their respective yamls?
  - oifs-43r3-awicm-deck
  - fesom-2.0-jio
  - oasis3mct-4.0-oifsdeck

[2022-03-01 09:28] JanStreffing commented on #593
I checked, they don't seem to be used anywhere else. I think they are good for removal as well.

[2022-03-01 14:52] ackerlar commented on #593
Hi all,
I get the same error when trying to install awiesm-2.1 on JUWELS

[code]

 - loaded modules:
[code]
 - esm_tools version 6.1

[2022-03-01 15:04] mandresm commented on #593
@ackerlar , I'm afraid AWI-ESM is not supported in Juwels. If you'd like to have support there I suggest you open an independent issue for that, but I think as long as we have to solve all the versioning issues of AWIESM currently going on, we cannot handle the implementation of AWIESM in Juwels due to lack of person time. If you want to give it a try please go ahead, but I think it's gonna be dif

[2022-03-01 15:19] JanStreffing commented on #593
I just chatted with Lars. The problem from him was that in `juwels.yaml` we set a default:
`compiler_mpi: intel2019_impi2019`
For awi-esm-2.1 this is never overwritten and we never define the NetCDF env vars for `intel2019_impi2019` `awi_libs` (only for `geomar_libs`)
For awi-cm3 this is not a problem cause we overwrite with
`compiler_mpi: intel2022_ompi2022` in the `awicm3.yaml`. And for that we

[2022-03-01 15:29] mandresm commented on #593
Thanks @JanStreffing , I don't think is going to be necessary to "split" the libs. In the end it's only one section of the path that changes there right? Maybe we can handle this easily with a variable there, for example:
[code]
and then for all the paths containing `chhb19` changing them to:
[code]

[2022-03-01 15:48] JanStreffing commented on #593
Jup that works. I should probably remove my name from that path. It's not required. I could install in e.g.

`/p/project/${project}/HPC_libraries/intel-2021.4.0_openmpi-4.1.2_20220129`

Probably best done with links for now. This way others, like Jan Hegewald can also install libs.

[2022-03-01 15:50] mandresm commented on #593
Should we do this in the branch of the open PR #594?

[2022-03-01 16:02] JanStreffing commented on #593
It's a different issue, but sure, we can. I'm installing the libs on chhb20 now, and will make the links. Once they are both available I will post them.

[2022-03-02 08:37] seb-wahl commented on #593
I would avoid moving or linking the libraries from `/p/project/${project}/streffing1/software/HPC_libraries/intel-2021.4.0_openmpi-4.1.2_20220129` to `/p/project/${project}/HPC_libraries/intel-2021.4.0_openmpi-4.1.2_20220129` but instead completely re-install in the new path `/p/project/${project}/HPC_libraries/intel-2021.4.0_openmpi-4.1.2_20220129` I have had issues in the past when moving libs a

[2022-03-02 08:39] JanStreffing commented on #593
Good advice. I will install a new set for chhb19. I already installed the ones in chhb20 right in the new location.

[2022-03-02 09:57] shijian0702 commented on #593
yes, @JanStreffing, @mandresm, @seb-wahl,  I've tried other awicm3 version, and the problems remains. I‘m indeed in chhb20. Thanks for your efforts:)

[2022-03-02 10:09] mandresm commented on #593
@JanStreffing let me know when I can proceed with the `${project}` modifications. All the tests passed for #594 in Ollie and Aleph. I'll do the same in Juwels once I have the new commits.

[2022-03-02 10:27] seb-wahl commented on #593
To avoid conflicts in `juwels.yaml` later on, you may want to merge #595 into your dev branch first. #595 adds new sections for Stage/2022 with ParaStationMPI

[2022-03-02 10:56] ackerlar commented on #593
I still get the same error:
[code]

I changed the default in `juwels.yaml` to `compiler_mpi: intel2022_ompi2022` and this to:
[code]

[2022-03-02 11:34] JanStreffing commented on #593
The folders should be ready by now. @mandresm

[2022-03-02 12:53] mandresm commented on #593
@ackerlar what esm_master command are you using to compile?

[2022-03-02 13:04] ackerlar commented on #593
I use `esm_master comp-awiesm-2.1` but I also tried from scratch with `esm_master install-awiesm-2.1` after removing the old awiesm-2.1 directory

[2022-03-03 15:50] JanStreffing commented on #593
@shijian0702 I installed the libraries in a path that is accessible to you (`/p/project/chhb19/HPC_libraries/intel-2021.4.0_openmpi-4.1.2_20220129`)
@mandresm Can we potentially extract the users group information via:
[code]
All AWI projects are called chhb?? so far.

If not we maybe have to rely on the user setting a variable $PROJECT for us in this manner in the .bash_rc.
: https://esm-tools.re

[2022-03-03 16:04] mandresm commented on #593
I think the user has to specify it with an environment variable because a user can be in more than one project (that's my case)

[2022-03-03 16:43] JanStreffing commented on #593
Through some bash magic we can extract the first group name that starts with chhb. It's not fool-proof, but it will cover 95% of cases. And it allows us not to make the readthedocs any more complicated that in should be.

@shijian0702 & @ackerlar: You can test out https://github.com/esm-tools/esm_tools/tree/fix/awi_libs_and_project_juwels, or wait for the merge, as you wish. No guarantee for AWI-E

[2022-03-03 16:54] shijian0702 commented on #593
@JanStreffing

I totally clean the old eam_tools and install the latest version, then the esm_master says:

**[shi4@jwlogin02 model_codes]$ esm_master**

**No targets found for keyword nemo-ORCA05_LIM2_KCM_AOW_FS+echam-6.3.05p2-foci. Type 'esm_master' to get a full list
of available targets.**

Though try again, esm_master won't get a full list of available models.

[2022-03-03 17:01] JanStreffing commented on #593
That's one for the esm_tools devs. Probably something went wrong during the uninstall & reinstall.

[2022-03-03 17:04] ackerlar commented on #593
I could overcome this by just commenting out the corresponding lines in `esm_tools/configs/setups/foci/foci.yaml`
[code]

Of course not nice but for testing okay, I guess

[2022-03-03 17:07] JanStreffing commented on #593
May be caused by this recent merge? https://github.com/esm-tools/esm_tools/pull/599 @seb-wahl @pgierz

[2022-03-03 17:11] ackerlar commented on #593
Is `PROJECT_ID` supposed to be set automatically?

In any case, I run:
[code]

and get the same error as before:

[code]

[2022-03-03 17:14] JanStreffing commented on #593
Only if you follow the updated user guide: https://github.com/esm-tools/esm_tools/commit/5407c3733162379d3ebfd91fc57d7d0dfe53b7ee
Just to make sure it's not an awi-esm-2.1 related issue, can you install awicm3-frontiers?

[2022-03-03 17:30] ackerlar commented on #593
No, but I guess it is because I don't have access to the repositories?

[code]

[2022-03-03 17:32] JanStreffing commented on #593
I've added you.

[2022-03-03 17:45] shijian0702 commented on #593
After commenting out these lines @ackerlar suggested, I succeed to install awicm3-v3.0 with esm-tools/fix/awi_libs_and_project_juwels

Thanks a lot guys!

[2022-03-03 17:45] ackerlar commented on #593
Thanks @JanStreffing ! At least, it compiled without errors. I see how far I come with awiesm

[2022-03-04 07:38] seb-wahl commented on #593
This has been fixed in #601 that will be merged today. During the merge of "my" branch into release git decided not to add certain file. Sorry for the trouble.

[2022-03-04 07:49] JanStreffing commented on #593
Thanks for taking care of it quickly!

[2022-03-10 10:51] #593 closed, assigned to JanStreffing

[2022-03-16 14:05] mwerner-awi opened #612 "Bug for new switch with_wiso in awiesm-2.1-wiso for esm_tools 6.x"
There seems to be a severe bug with the new switch `with_wiso`, which was introduced for awiesm-2.1-wiso in esm_tools 6.x:

My yaml file for running awiesm-2.1-wiso does not contain an entry for `with_wiso` in the block `general`. But I switch off water isotopes with `lwiso: False` entries in both the `echam` and `fesom` block.

In esm_tools version 5.x, calling esm_runscripts resulted in a correc

[2022-03-16 14:12] mandresm commented on #612
Yesterday, while working on awiesm-2.1.yaml improvements I also detected this bug. I am working already in a solution.

[2022-03-16 15:55] chrisdane opened #614 "default fesom and recom *_outputs not combined if no further_reading"
**Describe the bug**
When I run the setup `awicm-1.0-recom` I must provide
[code]
in the runscript to specify both fesom and recom output variables.

If I do not provide this further reading file, fesom crashes in the first time step since the recom variable bgc01 (and all other recom variables) is not defined in the default variable list of fesoms OutputSchedulerManager.cpp:
[code]

**To Reproduc

[2022-03-16 16:03] mandresm commented on #612
@mwerner-awi , I am also doing some cleanup of the wiso switches (`wiso_code` and `with_wiso`). It would be useful for me to have the path of your runscript so that I can test it after I fix the bug and add your suggestions to the yamls. Could you please provide that path?

[2022-03-16 23:15] mwerner-awi commented on #612
@mandresm: You can use the following yaml files for testing:
/home/ollie/mwerner/runscripts/awiesm-2.1-wiso/PI_ctrl_awiesm-2.1-wiso_ollie.10nodes.yaml
/home/ollie/mwerner/runscripts/awiesm-2.1-wiso/PI_ctrl_awiesm-2.1-wiso_ollie.10nodes.no_wiso.yaml

[2022-03-17 10:58] mandresm commented on #612
Thanks a lot @mwerner-awi. We are working on a bug fix and some cleanups on the `awiesm-2.1.yaml`. These developments are taking place in the branch `feat/awiesm_final`. This will include among other things:
- activating/deactivating wiso using `with_wiso` out-of-the-box, both for the wiso development version `awiesm-2.1-wiso` and standard `awiesm-2.1`
- `with_wiso` will be define `false` as defau

[2022-03-18 10:15] Mccino commented on #582
Hi,
I solved this problem by changing the Fesom version to "2.1-wiso".
`fesom:
    version: "2.1-wiso"`

[2022-03-18 10:15] denizural opened #616 "It is not possible to use a manual Recom namelist"
**Describe the bug**
It is described in the documentation (https://esm-tools.readthedocs.io/en/latest/recipes/use_own_namelist.html?highlight=namelist_dir) that it should be possible to use a manual namelist via the required changes in the runscript.

**To Reproduce**
`esm_runscripts -e test fesom-recom-ollie-initial-control.yaml`
Same behavior during `Fesom-Recom` or `AWICM-Recom` on both `Mistra

[2022-03-18 10:17] mandresm commented on #582
Okay, then I'll proceed to close this issue.

[2022-03-18 10:17] #582 closed, assigned to mandresm

[2022-03-18 12:52] denizural commented on #614
Hi @chrisdane,

Fesom requires the list of output variables along with the output frequency (eg. daily, hourly, ...). Fesom is very strict with that.

We separete the main runscript and the output list into two yaml files and link the output yaml file into the main one via `further_reading`. The advantage is your runscript is shorter and less cluttered.

If you want to drop the output yaml file th

[2022-03-18 14:09] chrisdane commented on #614
No.

The problem is that the default is not working: if the user does not provide the output at all, neither via runscript, nor via further_reading, the defaults from the fesom.yaml and recom.yaml should be used. Both of them. The union. I wrote exactly that in "expected behavior".

This does not happen. The recom defaults get lost.

[2022-03-23 11:23] mandresm commented on #612
Hi @mwerner-awi,

When testing your runscripts with the new branch that include the fixes I am encountering the following problem with the running of ECHAM. Do you know what the problem might be?

[code]

[2022-03-23 12:55] mwerner-awi commented on #612
Hi @mandresm,

No, this error is unfamiliar to me. From the error message it seems that the JSBACH file lctlib.def is not installed properly.

I have just tested a fresh installation of awiesm-2.1.-wiso with the latest esm_tools version (see below) and everything works file. A file named lctlib_nlct21.def is installed in /home/ollie/mwerner/codes/awiesm-2.1-wiso/echam-6.3.05p2-wiso/ and copied/lin

[2022-03-23 13:06] mandresm commented on #612
Hi @mwerner-awi , thanks for the clarification. I think the problem is that I am trying to use as `model_dir` your model directory, and I don't have execution permissions for the file `/home/ollie/mwerner/codes/awiesm-2.1-wiso/echam-6.3.05p2-wiso/lctlib_nlct21.def`. That's why it's not working for me. I will compile my own model and the problem should be solved after that, and I can continue testi

[2022-03-23 14:07] denizural commented on #614
The commit f7ebe98cf1d047139385d600378376e3563f01d2 should solve this issue. I added the required fields to `awicm_recom` configuration and tested them against previous runs.

[2022-03-24 15:53] mandresm commented on #612
Hi @mwerner-awi ,

I have managed to run your scripts successfully, making use of the `with_wiso` switch. The branch containing the fixes is `feat/awiesm_final` (#623) which is currently on a testing phase. This branch will be soon merged into `release` and will include the `with_wiso` switch for all the WISO-code versions of AWIESM, plus some additional switches, such as for icebergs, in those ve

[2022-03-25 10:56] seb-wahl opened #624 "Order of choose blocks matters in machine.yaml"
**Describe the bug**
I'm pretty sure this is a bug and not a feature: If I place the `choose_compiler_mpi:` block
[code]
block in e.g. `blogin.yaml` **AFTER** the `choose_iolibraries` block such as
[code]
the `add_module_actions` and `add_export_vars` from the
[code]
block are not used. This really puzzles me as I was always convinced that the order of statements in a yaml file does not matter.

*

[2022-03-25 11:02] pgierz commented on #624
This sounds like an excellent case for writing basic unit tests...

My understanding is as follows: yaml ends up in a Python (unordered) dictionary. You can force it to be an ordered dictionary, but we didn't need that so far (?)

However, the order that the Python interpretation then goes over the dictionary keys to solve the choose blocks (might be?) is then random. So, testable question: does t

[2022-03-25 11:17] mandresm commented on #624
Just a comment: the order is not random, but the order of reading is difficult to predict if you have many chooses and adds.
 That being said, this is a very bad bug, and one that needs to be look at carefully. I do this kind of stuff very often without problems, so there must be something specific that is triggering the bug.

[2022-03-25 12:23] mandresm commented on #624
I think I know what's happening. On one side we have this `choose_compiler_mpi`:

https://github.com/esm-tools/esm_tools/blob/9d2752dd80a584256abfeb791de9f73a77a17494/configs/machines/blogin.yaml#L98-L105

On the other side we have a double nested choose:
https://github.com/esm-tools/esm_tools/blob/9d2752dd80a584256abfeb791de9f73a77a17494/configs/machines/blogin.yaml#L141-L158

The problem here is

[2022-03-25 19:49] tsemmler05 opened #626 "1.5 hours of moving files on aleph"
Running the DART mesh coupled to TCO319 1 year simulation is finished after 6.5 hours. However, afterwards 1.5 hours are spent just moving files into the appropriate directories.

This can be seen for example towards the end of the following log file:

/scratch/awiiccp5/DARTN/log/DARTN_awicm3_observe_compute_20500101-20501231.log

This is on aleph. The command "esm_versions check" doesn't work. I'

[2022-03-27 08:28] mandresm commented on #626
Hi @tsemmler05 ,

`esm_versions check` does not work anymore since version 6. That's because all the packages are now included inside `esm_tools`. To check the version you can now write `esm_tools --version`.

I'll be having a look at the moving issue through out the week.

[2022-03-28 06:49] seb-wahl commented on #624
Thanks for you detailed answer. I prefer the solution with the env variables at the moment. But that would mean, that we have to rewrite the yaml's for juwels, blogin and glogin as well. In the "correct" order the other yaml files work flawlessly since month's now.

[2022-03-28 08:26] mandresm commented on #616
This is not a bug.

EDIT: @denizural proposed a more specific solution below.

`namelist_changes` is doing here what it supposed to do: changing the namelist, no matter where it comes from.

@chrisdane , if you wish to change this behaviour it is already possible by using the `remove` feature in the runscript:
[code]
This will remove all the default changes ESM-Tools do in `section1` and `section2

[2022-03-28 08:28] denizural commented on #616
Adding these lines to the user runscript (to `Recom` section) solves the issue:
[code]

[2022-03-28 15:51] mandresm opened #627 "Improve behaviour of compile_infos during runtime or simply eliminate this feature"
**NOTE: This is something to be fixed ONLY when we cleanup esm_master**

**Describe the bug**
`choose_version`, and in general all `choose`s included in `compile_infos` dictionary are not resolved during runtime. This makes variables such as the destination for ECHAM `${echam.destination}` not callable, but instead, they stayed inside the unresolved choose: `${echam.compile_infos.choose_version.6.

[2022-03-28 15:53] mandresm commented on #627
https://github.com/esm-tools/esm_tools/pull/623#discussion_r836539786

Once fix, we can use again `${echam.destination}` for the `model_codes` in `awiesm-2.1.yaml`.

[2022-03-28 16:16] pgierz commented on #626
We should update the issue template to reflect the change in esm versions.

@tsemmler05: is this problem intermittent? Just brainstorming: lustre file systems occasionally have (for lack of a better word) "hiccups" where the filesystem just gets slow. It is also possible to specify file moving operations: copy, link, move. Link will always be fastest, move depends on if you are switching between d

[2022-03-28 16:22] tsemmler05 commented on #626
This problem is not intermittent but happens all the time since February.

[2022-03-28 16:24] pgierz commented on #626
Sorry, silly question: Feb in the model, or Feb in the real world?

[2022-03-28 16:34] tsemmler05 commented on #626
Feb in the real world :-)

[2022-03-29 12:23] mandresm commented on #626
Hi @tsemmler05 ,

I've put together a summary of the the more time consuming copying tasks:
[code]

There are 2 problems here:

1. **Old version of ESM-Tools does not include handling of XIOS-OpenIFS output files**

    In release, the xios xml configuration file `file_def.xml` makes the OpenIFS output be `atm`, in your experiment the name starts with `awi3_atm`. @JanStreffing changed the name of

[2022-03-29 12:27] tsemmler05 commented on #626
Very good, this will already be a huge saving of computing time!

[2022-03-30 08:17] pgierz opened #630 "AWI-ESM: Identify what is currently being used"
In the end, the `ECHAM` branch will be `echam-6.3.05p2-awiesm-2.1` and the `FESOM` branch will be `2.1-awiesm-2.1` (always written as `<model_number>-<setup_name>-<setup_number>`. To give correct update instructions, we need to see what people currently have and double check if all the merges went through correctly on the `FORTRAN` side.

Currently, the following is being used:

| User | ECHAM | F

[2022-03-30 08:20] pgierz opened #631 "Combine Echam Versions"
A combined version of all the various `ECHAM-6.3.05p2` versions will be needed in order to ship one unified `AWIESM-2.1`.

This has been finished and the model may be found here:
https://gitlab.awi.de/paleodyn/Models/echam6

[2022-03-30 08:21] pgierz commented on #631
Already finished.

[2022-03-30 08:21] #631 closed, assigned to pgierz

[2022-03-30 08:33] fernandadialzira commented on #630
Oasis currently does not have a branch, I guess... And my tools is `fix/awiesm_default_variant` :)

[2022-03-30 08:39] pgierz commented on #630
Thanks @fernandadialzira. We are almost done testing the unified AWIESM stuff (see #623), and the last stage will be to figure out who is using what so I can write adequate update instructions.

[2022-03-30 09:36] seb-wahl commented on #631
well but we still need to keep the GEOMAR version `ECHAM-6.3.05p2`!!! I'm sure it differs in various places from yours.

[2022-03-30 09:41] mandresm commented on #630
Looking at the table, I'm a bit confused. Wasn't it the case that almost everything (except for REcoM) was merged into the `2.1-awiesm` branches?

[2022-03-30 09:41] pgierz commented on #631
Hi @seb-wahl: sorry, this was perhaps unclear: here I **only** mean ECHAM versions relevant for out AWI-ESM. If we start doing cross-setup one single ECHAM only I am sure all hell would break lose 😉

[2022-03-30 09:44] pgierz commented on #630
yes, that's where people should be going to. Here, I just want to find out what people are using right now before we show them how to switch.

[2022-03-30 09:46] pgierz commented on #630
I updated the main description, hopefully it is now clearer.

[2022-03-30 10:19] pgierz commented on #578
# AWIESM 2.1

I will edit this comment here over time to provide updates.

I have made a branch based on `feat/awiesm-final` and merged (most) of the `feat/levante` in. There were some conflicts, in particular with `fesom-2.1` that we will need to examine by hand.

So far, compile tests:
* oasis: no problem
* fesom: no problem
* echam: Fails

[code]

[2022-03-30 10:24] seb-wahl commented on #578
# FOCI

I made a lot of changes (cleanup, ...) to the levante.yaml to be able to include FOCI. I structured it in the same way as we did for e.g. `glogin.yaml`. This stuff is not yet committed.
Current status: FOCI (ECHAM6 + OASIS + NEMO) compiles (intelmpi) but crashes right upon startup with error messages that don't give me a hint what's going on. I contacted DKRZ and got the following reply:

[2022-03-30 12:21] seb-wahl commented on #578
Just pushed my changes to `feat/levante`. FOCI is still not running but that might be due to the issues as MPI mentioned above.

[2022-03-30 13:29] niceniulu commented on #630
For me, I use
ECHAM: ice-addhosing,  FESOM: wiso , OASIS: ?? , Tools: pre_release_wiso from Lars, Machine: Ollie
Thanks!
Lu

[2022-03-30 13:40] pgierz commented on #630
@xshi-awi or @lackerma could you let me know which remote you have for your FESOM version? It does not seem to be the GitHub repo.

[2022-03-30 14:48] mandresm commented on #578
AWICM3
=======

IO library problems
-------------------
- module's ECCODES compiled without OMP_THREADS option. Submitted a support request but no answer yet.
- the solution to that will be to use Sebastian's IO libs

Compilation
------------
- compiles all models with Open MPI with dkrz modules
    - problems in the linking of ECCODES
- TODO: compile with @seb-wahl IO libraries. @seb-wahl can you

[2022-03-30 19:49] seb-wahl commented on #578
Sorry I missed this one (I promised to do this on Monday). I just recompiled eccodes with
`-DENABLE_ECCODES_OMP_THREADS=ON`. This version is now available at `/work/bb0519/HPC_libraries/intel2022.0.1_impi2021.5.0_20220318/`

[2022-03-31 06:43] mandresm commented on #578
Thanks a lot Sebastian!

[2022-03-31 06:49] seb-wahl opened #633 "workaround for bug in f90nml package"
**Describe the bug**
The package f90nml (https://github.com/marshallward/f90nml) used by ESM-Tools has a bug (https://github.com/marshallward/f90nml/issues/110) which means it cannot handle certain types of namelists correctly. Unfortunately we have such namelists (which are valid fortran namelists) sometimes with NEMO in FOCI and
[code]
is turned into
[code]
by f90nml together with warnings (see

[2022-03-31 08:40] seb-wahl commented on #633
FYI @pgierz @mandresm @JanStreffing in case you hit the same bug...

[2022-03-31 08:48] pgierz commented on #633
Hi @seb-wahl, yeah I saw this. I don't think anything in ECHAM or FESOM currently uses this style of namelist. Out of curiosity, what does this translate to? A 3x4 array?
[code]

The namelist parser should certainly be able to handle that somehow, but I do not have time to look into it (plus it is foreign code, so it would take me even longer 😞

[2022-03-31 09:04] seb-wahl commented on #633
I even thought having a go at this myself, but reading the comments in https://github.com/marshallward/f90nml/issues/110 I realised that this might not be that easy.

[2022-03-31 11:50] mandresm commented on #626
The suggestions above seems to have cut down substantially the time spent in ESM-Tools tidy-up, from 1 h and 30 min to a few minutes.

I'll leave the issue open because we need to address the long term solution of the fesom parallel restarts (to be done in some point in spring)

[2022-04-01 08:50] xshi-awi commented on #630
commit e53d57d42ab135db14790254f624360798c14a23 (HEAD -> paleodyn/awiesm-2.1-gamma, origin/paleodyn/awiesm-2.1-gamma)
Merge: adc6b79 c123277
Author: lackerma <lars.ackermann@awi.de>
Date:   Tue Mar 8 23:47:00 2022 +0100

    Merge branch 'paleodyn/awiesm-2.1-gamma' of https://gitlab.dkrz.de/FESOM/fesom2 into paleodyn/awiesm-2.1-gamma

[2022-04-01 09:00] pgierz commented on #630
Thanks Xiaoxu! I am almost done with the ECHAM problem, too. I will solve that first and then see if the merge causes any difficulties. I might be in touch with you or with @ackerlar later in the afternoon.

[2022-04-01 09:11] ackerlar commented on #630
Hi @pgierz
Sorry, this is my version: `https://gitlab.dkrz.de/FESOM/fesom2/-/tree/paleodyn/awiesm-2.1-gamma`

[2022-04-01 09:24] pgierz commented on #630
Hi @ackerlar,

thanks. Are there unstaged changes, or is everything pushed?

[2022-04-01 09:26] ackerlar commented on #630
Now, everything is pushed. The last commit is some minutes ago, though.

[2022-04-01 09:26] pgierz commented on #630
OK, I still have some echam things to work out at the moment, so I won't get to FESOM until after lunch break anyway. Thanks!

[2022-04-05 06:40] JanStreffing commented on #130
It seems that the original issue as solved.

[2022-04-05 06:40] #130 closed, assigned to pgierz, dbarbi

[2022-04-05 06:48] JanStreffing commented on #142
This was on release 5.0 todo, but was not completed. It did not get revived for release 6.0. Interest does not seem too high. We are trying to sort which issues are still relevant @chrisdane @pgierz I would suggest to implement of close. You decide.

[2022-04-05 06:52] JanStreffing commented on #487
We picked up on this at the esm_tools retreat. Working on more less verbose more useful error handling is still high on the priority list.

[2022-04-05 06:54] JanStreffing commented on #488
I would still consider this a nice and possibly easy to implement improvement.

[2022-04-05 07:03] JanStreffing commented on #142
I found multiple issues with similar topics, keeping only #148 open.

[2022-04-05 07:03] #142 closed, assigned to pgierz

[2022-04-05 07:03] JanStreffing commented on #262
I found multiple issues with similar topics, keeping only #148 open.

[2022-04-05 07:03] #262 closed, assigned to nobody

[2022-04-05 07:05] JanStreffing commented on #148
The sanity checks never fully worked and were never implemented in the end. The issue remains unresolved but is currently not high on the priority list. I found other issues on similar topics (#142 #262 #365).

I will keep only this one open. The take away is that there is user demand for this feature still.

[2022-04-05 07:17] JanStreffing commented on #215
I just did a test run with:
[code]
The empty add block did not trip up esm_tools. I assume the issue is solved. Closing here. If it reappears, reopen please.

[2022-04-05 07:17] #215 closed, assigned to nobody

[2022-04-05 07:19] JanStreffing commented on #236
Seems to have been solved in #130 Closing here.

[2022-04-05 07:19] #236 closed, assigned to dbarbi

[2022-04-05 07:21] JanStreffing commented on #237
Issue about specific runs from a year and a half ago. Likely not relevant anymore. The server that gave us the library problems that seem to have been the root of it all is shutting down soon. Closing here.

[2022-04-05 07:21] #237 closed, assigned to nobody

[2022-04-05 07:23] JanStreffing commented on #246
Old issue about specific runs that crashed. Likely not relevant to esm_tools development anymore. Closing here.

[2022-04-05 07:23] #246 closed, assigned to nobody

[2022-04-05 07:25] JanStreffing commented on #316
Mistral is on the way out and no new projects are starting on it anymore. Likely not relevant anymore. Closing here.

[2022-04-05 07:25] #316 closed, assigned to pgierz

[2022-04-05 07:29] JanStreffing commented on #324
The feature showing all the namelist changes is part of the finished config yaml. I got more confident manipulating namelists via yaml. The overwriting of default namelist that was happening in every fesom2 simulation is no longer taking place as of release 6. I consider this issue solved.

[2022-04-05 07:29] #324 closed, assigned to koldunovn, mandresm

[2022-04-05 07:29] JanStreffing commented on #331
Sounds like this issue was solved a long time ago. Closing here.

[2022-04-05 07:29] #331 closed, assigned to nobody

[2022-04-05 07:31] JanStreffing commented on #333
Sound like this issue was solved. Better error handling is still high on the priority list.

[2022-04-05 07:31] #333 closed, assigned to mandresm

[2022-04-05 07:35] JanStreffing commented on #339
A workaround was provided. Solving the original issue is down to the pool maintainer. This used to be Thomas Rackow, but went to ECMWF. I'm unsure who is responsible now. But I think this is an internal discussion not for this forum. Closing here.

[2022-04-05 07:35] #339 closed, assigned to nobody

[2022-04-05 07:41] JanStreffing commented on #340
I think the sanity check feature is working mainly at runtime, catching errors from the logfile. While the feature described here would be nice, it does not have high priority, as a fix on the user side is rather simple. (add the trailing slash). It also seems that there is a willingness to solve this on the FESOM side. I suggest to add it to https://github.com/FESOM/fesom2/projects/7

Closing her

[2022-04-05 07:41] #340 closed, assigned to nobody

[2022-04-05 07:48] JanStreffing commented on #347
I suggest to define a choose version that contains the git commit id as the branch name. You can then set your namelist settings based on that version. e.g. replace `awicm-3-frontiers` in
[code]

There seems to have been little movement on this issue. Closing here for now.

[2022-04-05 07:48] #347 closed, assigned to nobody

[2022-04-05 07:49] JanStreffing commented on #361
This issue seem be have been about a particular model run on mistral a year ago. It is likely no longer relevant for esm_tools development. Closing here.

[2022-04-05 07:49] #361 closed, assigned to nobody

[2022-04-05 07:53] JanStreffing commented on #364
Esm tools is capable of renaming the oasis restart files while linking them from pool dir to the work dir. Thus we can provide this flexibility by just having muplitly restart files with different names in the same pool dir. We can then link in with:

[code]
A larger rework is thus not needed. Closing here.

[2022-04-05 07:53] #364 closed, assigned to mandresm

[2022-04-05 07:55] JanStreffing commented on #365
I found multiple issues with similar topics, keeping only #148 open.

[2022-04-05 07:55] #365 closed, assigned to mandresm

[2022-04-05 07:57] JanStreffing commented on #375
We talked about this during the retreat again. My suggestion is to make the -U flag update not only the runscript but also the binarys. In addition the namelist templates from $HOME/esm_tools/namelist should only overwrite what's in the run folder when -U is used too.

[2022-04-05 07:58] JanStreffing commented on #379
Is this solved in release 6?

[2022-04-05 08:00] chrisdane commented on #379
Yes

[2022-04-05 08:00] #379 closed, assigned to chrisdane

[2022-04-05 08:01] JanStreffing commented on #384
Catching up on this: Does the reduced output look realistic in release 6?

[2022-04-05 08:03] JanStreffing commented on #386
It seems we have a good idea of how to solve this, and how to avoid such error on Levante. If it does reappear there I would suggest opening a new issue for that. Closing here.

[2022-04-05 08:03] #386 closed, assigned to nobody

[2022-04-05 08:19] chrisdane commented on #384
Due to the totally different output strategies of the individual models, I think a general out of-the-box implementation in the esm_tools is difficult.

For fesom it works quite well via fesoms output scheduler and a yaml file listing all wanted variables in the wanted output frequencies.

For echam/jsbach its more complicated. I found a workflow that suits for me, it works using
1. namelists of e

[2022-04-05 08:58] JanStreffing commented on #389
echam_nocycles was never merged. Have you tried the solution proposed @chrisdane. Did it work? Is there still interest in this feature?

[2022-04-05 09:04] JanStreffing commented on #414
I recently ran the latest refactoring branch of FESOM2 with esm_tools. The "trick" is that instead of using the namelist templates from the `esm_tools/namelist/fesom2` folder you use:

[code]

If you run a coupled model, don't forget to add:
[code]
With this you can run any version of FESOM2 you like, using the namelist templates that come with the FESOM2 source code.

Closing this issue here.

[2022-04-05 09:04] #414 closed, assigned to nobody

[2022-04-05 09:05] JanStreffing commented on #422
Any update on this issue after the last retreat?

[2022-04-05 09:07] JanStreffing commented on #453
Is this issue still open?

[2022-04-05 09:13] JanStreffing commented on #471
This issue was not picked up. Is there any interest? @pgierz @mandresm @denizural ?

[2022-04-05 09:23] JanStreffing commented on #472
I'm not sure the safety we gain is worth copying a few hundred to a few thousand files into every run dir. We seem to be running in full disks (in terms of file count) on some machines already, and we are actually trying to reduce the number of files produced by esm_tools.

I agree pointing to the same source code folder that you compared different branches in can be confusing. But I would also sa

[2022-04-05 09:23] #472 closed, assigned to nobody

[2022-04-05 09:28] fernandadialzira commented on #453
@JanStreffing I am not sure whether it is still open, but I have to modify my bash profile whenever I want to compile any model still (either on ollie or mistral).

Normally, at the end of my `.bash_profile` I have:

[code]
and in order to compile any model I have to comment the 4 first lines...

[2022-04-05 09:32] JanStreffing commented on #474
This seems to have been a pool issue.

[code]
There has been no movement on this issue for half a year. It seems the user has given up on trying to run a 2y awi-esm-2.1 simulation due to lack of support on pool issues from our side. I will internally raise the issue of who is responsible for pool dir support after the departure of the previous maintainer a while ago. I think this issue can not be

[2022-04-05 09:32] #474 closed, assigned to nobody

[2022-04-05 09:37] EnricoDeg commented on #474
From my understanding, this is not a pool issue but a lack of flexibility in the run script. It is sufficient to have a loop where for each simulated year, the correct files are copied to the work folder, and then everything should work.

[2022-04-05 09:45] JanStreffing commented on #483
The branch `jan_hyphen_bug` was not merged. If this problem still persist we should include it in known-problem in the documentation and catch the error via better error handling. Once this is done we can close the issue

[2022-04-05 09:49] JanStreffing commented on #485
I checked the run folder on mistral. It seems that @chrisdane was able to fix this error and continue a few weeks after the last comment here. Closing issue here. If you think the solution might be of interest for others, feel free to document it here.

[2022-04-05 09:49] #485 closed, assigned to denizural

[2022-04-05 09:54] JanStreffing commented on #486
@mandresm  @mathanase Would you consider this issue solved? It seems we found a solution for this specific case. And since no one uses ksh esm_tools anymore, all new runs from which to branch off should be done with the python tools, containing the new folder nameing scheme. I vaguely remember, that wam stores the restart date (or timestep?) insider the binary restart file, which gave us further t

[2022-04-05 09:55] #499 closed, assigned to nobody

[2022-04-05 09:56] JanStreffing commented on #501
This issue has no one assigned. How high is this on the priority list?

[2022-04-05 09:57] mathanase commented on #486
This worked consistently for all the experiments I made branching-off your (ksh esm_tools-ran) historical run.
So I would consider this issue solved. It could be good to keep this solution in mind in case anyone else needs this in the future.

[2022-04-05 09:58] JanStreffing commented on #486
ty, closing here

[2022-04-05 09:58] #486 closed, assigned to mandresm

[2022-04-05 10:13] chrisdane commented on #472
Ok but information about the used model(s), at least `git status`, could be included here: https://github.com/esm-tools/esm_tools/issues/471.

[2022-04-05 16:04] JanStreffing commented on #472
yes git status and perhaps a git diff too would be much less extra data. @pgierz @denizural @mandresm

[2022-04-07 07:55] pgierz commented on #422
This can be closed. The standard CI currently does an install test on ubuntu and checks if `esm_master` works. There are ideas to expand it to include style checks, listing, and maybe run actual mini jobs on Ollie. I didn't get a chance to talk about that at the retreat, but I would rather do that in a new post.

[2022-04-07 07:55] #422 closed, assigned to nobody

[2022-04-14 08:02] #612 closed, assigned to mandresm

[2022-04-21 08:38] chrisdane commented on #614
Yep

[2022-04-21 08:38] #614 closed, assigned to denizural

[2022-04-22 11:57] seb-wahl commented on #578
After helpful input from Enrico from DKRZ (worked with him on the workshop) I was to run FOCI with OpenMP at top speed. As we have the cmake compile for ECHAM6 here are the compile flags (the most important ones are -`march` and `-mtune`:
`-O3 -fp-model source -qoverride-limits -assume realloc_lhs -align array64byte -no-prec-sqrt -no-prec-div -fast-transcendentals -m64 -march=core-avx2 -mtune=core

[2022-04-25 07:47] #578 closed, assigned to nobody

[2022-04-25 08:18] denizural opened #646 "choose different namelist.recom depending on setup"
### Discussed in https://github.com/esm-tools/esm_tools/discussions/644

<div type='discussions-op-text'>

<sup>Originally posted by **chrisdane** April 21, 2022</sup>
Hi

The default behavior of
[code]
needs to be changed depending on the setup in which recom is used: If the setup is awicm-1.0-recom (i.e. fesom+recom+echam), a specific namelist.recom should be used. If the setup is fesom-recom (i

[2022-04-28 11:38] seb-wahl opened #649 "infinite loop with esm_runscripts when using a relative path for base_dir"
**Describe the bug**
If you use `base_dir: ./test` (or any other relative path) `esm_runscripts` will enter an endless loop
**To Reproduce**
Add `base_dir: ./test` to a runscript (e.g runscript.yaml) and do `esm_runscripts -e infinite_loop runscript.yaml -c`

**Expected behavior**
Either reject relative paths or make them work (which does not really make sense)

**Screenshots**
If applicable, add

[2022-05-02 07:50] JanStreffing opened #652 "Virtual env on juwels"
I would like to make a longer production run on juwels. I got the following error message:

[code]

[2022-05-02 08:02] pgierz commented on #652
Some notes before I forget them:

That no longer needs to be a question.

This file:

exists, correct? If not, well, then the answer is obvious. If it does, something is deeply messed up with the venv and unless @mandresm want's to go on a deep bug hunt that is something I will need to look at.

[2022-05-02 08:03] pgierz commented on #652
But, it's Monday and not Tuesday, so @mandresm good luck ;-) hand off to me tomorrow and I will make some time in the afternoon

[2022-05-02 08:03] JanStreffing commented on #652
That path is not complete it seems to me:
`packages/esm_tools/configsesm_software/esm_runscripts/esm_runscripts.yaml`

`/p/scratch/chhb19/streffing1/runtime/awicm3-frontiers-xios/pi_controll_3-1-TCO95_CORE2/.venv_esmtools/lib/python3.9/site `
does not exist. But
`/p/scratch/chhb19/streffing1/runtime/awicm3-frontiers-xios/pi_controll_3-1-TCO95_CORE2/.venv_esmtools/lib/python3.9/site-packages `
does

[2022-05-02 08:05] pgierz commented on #652
that may have been me messing up the copy/paste with the GitHub "quote previous answer" syntax, sorry

[2022-05-02 08:20] denizural commented on #652
I think I found the error. Have a look at this:
`esm_tools/configsesm_software/esm_runscripts/esm_runscripts.yaml`
There should be a slash in between.

[2022-05-02 08:20] denizural commented on #652
Ops sorry, Jan already mentioned that 🤦‍♂️

[2022-05-02 09:00] denizural commented on #652
Ok, this might be a problem. It is trying to reach the `FUNCTION_PATH`. If you have an `.esmtoolsrc` file that contains a line like `/path/to/esm_tools/configs`. Note that the there is no trailing slash. One solution is simply deleting `FUNCTION_PATH` and the other paths.
@JanStreffing, could you try that if this apply to you?

[2022-05-02 09:02] mandresm commented on #652
OKay, I thought we agreed on not replicating work by assigning support days... And today was my day. We can invent as many systems as we want to be efficient. If we don't follow them we will keep failing.

[2022-05-02 09:16] mandresm commented on #652
The `.esmtoolsrc` file was removed in the latest version of ESM-Tools. @JanStreffing , what version of ESM-Tools are you using?

[2022-05-02 09:18] JanStreffing commented on #652
I guess its a bit older on juwels:
b9e40401b6a0eca66f2849764329bd771d2ab257 which comes from 2891235e2807160ad31ad2b06ea5841825948ecb

[2022-05-02 09:19] mandresm commented on #652
Then, @denizural solution is the one to go for.

[2022-05-02 09:23] JanStreffing commented on #652
`FUNCTION_PATH` seems to be in a lot of places. where shall I delete it?

alternatively, would an update from release branch do the trick?

[2022-05-02 09:27] mandresm commented on #652
I'm having the same problem with the latest release, and I don't have a `.esmtoolsrc` file. I'll be calling you.